<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SeanceCoursCreateDlg" widgetVar="SeanceCoursCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateCoursTitle}" closeOnEscape="true">

            <h:form id="SeanceCoursCreateForm">

                <h:panelGroup id="display" >
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateCoursLabel_codecours}" for="codecours" />
                        <p:inputText id="codecours" value="#{seanceCoursCtl.seanceCours.codecours}" title="#{myBundle.CreateCoursTitle_codecours}" required="true" requiredMessage="#{myBundle.CreateCoursRequiredMessage_codecours}" size="30" maxlength="254"/>
                        

                        <p:outputLabel value="DateSeanceCours" for="dateseanceCours" />
                        <p:calendar id="dateseanceCours" pattern="MM/dd/yyyy" value="#{seanceCoursCtl.seanceCours.cours.datecours}" title="#{myBundle.CreateCoursTitle_dateseanceCours}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateCoursLabel_heureDebut}" for="heureDebut" />
                        <p:inputText id="heureDebut" value="#{seanceCoursCtl.seanceCours.cours.heureDebut}" title="#{myBundle.CreateCoursTitle_heureDebut}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateCoursLabel_heureFin}" for="heureFin" />
                        <p:inputText id="heureFin" value="#{seanceCoursCtl.seanceCours.cours.heureFin}" title="#{myBundle.CreateCoursTitle_heureFin}" size="30" maxlength="254"/>

                       <p:outputLabel value="Matiere" for="codematiere" />
                       <p:selectOneMenu id="codematiere" value="#{seanceCoursCtl.seanceCours.cours.ec}" required="true" requiredMessage="#{myBundle.CreateCoursRequiredMessage_codematiere}" converter="ecConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{ecCtl.ecs}"
                                           var="matiereItem"
                                           itemValue="#{matiereItem}"
                                           itemLabel="#{matiereItem.libelleMatiere}"
                                           />

                        </p:selectOneMenu>
                       
                       <p:outputLabel value="Enseignant" for="enseignant" />
                       <p:selectOneMenu id="enseignant" value="#{seanceCoursCtl.seanceCours.cours.enseignant.utilisateur.nom}" required="true" requiredMessage="#{myBundle.CreateCoursRequiredMessage_codematiere}" converter="ecConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{enseignantCtl.enseignants}"
                                           var="codeenseignantItem"
                                           itemValue="#{codeenseignantItem}"
                                           itemLabel="#{codeenseignantItem.utilisateur.prenom} #{codeenseignantItem.utilisateur.nom}"
                                           />

                        </p:selectOneMenu>
                       
                        <p:outputLabel value="EmploisDuTemps" for="empts" />
                        <p:selectOneMenu id="empts" value="#{seanceCoursCtl.seanceCours.cours.emploisDuTemps}" required="true" requiredMessage="#{myBundle.CreateCoursRequiredMessage_codematiere}" converter="ecConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{emploisDuTempsCtl.emploisDuTempses}"
                                           var="codematiereItem"
                                           itemValue="#{codematiereItem}"
                                           itemLabel="#{codematiereItem.codeEmploisdutemps}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{seanceCoursCtl.enregistrerSeanceCours()}" value="#{myBundle.Save}" update="display,:SeanceCoursListForm:datalist,SeanceCoursListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('CoursCreateDialog'));">
                       
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('SeanceCoursCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
