<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="SeanceCoursEditDlg" widgetVar="SeanceCoursEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditCoursTitle}" closeOnEscape="true">

            <h:form id="SeanceCoursEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column">


                        <h:outputLabel value="DateCours" for="codeseanceCours" />
                        <h:outputText id="codeseanceCours" value="#{seanceCoursCtl.selectedSeanceCours.cours.codecours}" />

                        <p:outputLabel value="#{myBundle.EditCoursLabel_dateseanceCours}" for="dateseanceCours" />
                        <p:calendar id="dateseanceCours" pattern="MM/dd/yyyy" value="#{seanceCoursCtl.selectedSeanceCours.cours.datecours}" title="#{myBundle.EditCoursTitle_dateseanceCours}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditCoursLabel_heureDebut}" for="heureDebut" />
                        <p:inputText id="heureDebut" value="#{seanceCoursCtl.selectedSeanceCours.cours.heureDebut}" title="#{myBundle.EditCoursTitle_heureDebut}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditCoursLabel_heureFin}" for="heureFin" />
                        <p:inputText id="heureFin" value="#{seanceCoursCtl.selectedSeanceCours.cours.heureFin}" title="#{myBundle.EditCoursTitle_heureFin}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditCoursLabel_codematiere}" for="codematiere" />
                        <p:selectOneMenu id="codematiere" value="#{seanceCoursCtl.selectedSeanceCours.cours.ec}" required="true" requiredMessage="#{myBundle.EditCoursRequiredMessage_codematiere}" converter="ecConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{ecCtl.ecs}"
                                           var="codematiereItem"
                                           itemValue="#{codematiereItem}"
                                           itemLabel="#{codematiereItem.libelleMatiere.toString()}"
                                           />

                        </p:selectOneMenu>
                        
                        <p:outputLabel value="Enseignant" for="enseignant" />
                       <p:selectOneMenu id="enseignant" value="#{seanceCoursCtl.selectedSeanceCours.cours.enseignant}" required="true" requiredMessage="#{myBundle.CreateCoursRequiredMessage_codematiere}" converter="enseignantConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{enseignantCtl.enseignants}"
                                           var="codeenseignantItem"
                                           itemValue="#{codeenseignantItem}"
                                           itemLabel="#{codeenseignantItem.utilisateur.prenom} #{codeenseignantItem.utilisateur.nom}"
                                           />

                        </p:selectOneMenu>

                        
                        
                         <p:outputLabel value="EmploisDuTemps" for="empts" />
                        <p:selectOneMenu id="empts" value="#{seanceCoursCtl.selectedSeanceCours.cours.emploisDuTemps}" required="true" requiredMessage="Veuillez remplir le code emplois du temps" converter="emploisDuTempsConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{emploisDuTempsCtl.emploisDuTempses}"
                                           var="emptsItem"
                                           itemValue="#{emptsItem}"
                                           itemLabel="#{emptsItem.codeEmploisdutemps}"
                                           />


                        </p:selectOneMenu>
                        
                    </p:panelGrid>
                    <p:commandButton actionListener="#{seanceCoursCtl.modifierSeanceCours()}" value="#{myBundle.Save}" update="display,:SeanceCoursListForm:datalist,:SeanceCoursListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('CoursEditDialog'));">
                       
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('CoursEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
