<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SeanceCoursViewDlg" widgetVar="CoursViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewCoursTitle}" closeOnEscape="true">

            <h:form id="SeanceCoursViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <h:outputText value="#{myBundle.ViewCoursLabel_codecours}"/>
                        <h:outputText value="#{seanceCoursCtl.selectedSeanceCours.codecours}" title="#{myBundle.ViewCoursTitle_codecours}"/>

                        <h:outputText value="#{myBundle.ViewCoursLabel_datecours}"/>
                        <h:outputText value="#{seanceCoursCtl.selectedSeanceCours.cours.datecours}" title="#{myBundle.ViewCoursTitle_datecours}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewCoursLabel_heureDebut}"/>
                        <h:outputText value="#{seanceCoursCtl.selectedSeanceCours.cours.heureDebut}" title="#{myBundle.ViewCoursTitle_heureDebut}"/>

                        <h:outputText value="#{myBundle.ViewCoursLabel_heureFin}"/>
                        <h:outputText value="#{seanceCoursCtl.selectedSeanceCours.cours.heureFin}" title="#{myBundle.ViewCoursTitle_heureFin}"/>

                        <h:outputText value="Matiere"/>
                        <h:outputText value="#{seanceCoursCtl.selectedSeanceCours.cours.ec.libelleMatiere}"/>

                        <h:outputText value="Enseignant"/>
                        <h:outputText value="#{seanceCoursCtl.selectedSeanceCours.cours.enseignant.utilisateur.nom}"/>
                        
                         <h:outputText value="EmploisDuTemps"/>
                         <h:outputText value="#{seanceCoursCtl.selectedSeanceCours.cours.emploisDuTemps}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('CoursViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
