<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="AnneeScolaireEditDlg" widgetVar="AnneeScolaireEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditAnneeScolaireTitle}" closeOnEscape="true">

            <h:form id="AnneeScolaireEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.EditAnneeScolaireLabel_annee}" for="annee" />
                        <p:inputText id="annee" value="#{anneeCtrl.selectedAnnee.annee}" title="#{myBundle.EditAnneeScolaireTitle_annee}" required="true" requiredMessage="#{myBundle.EditAnneeScolaireRequiredMessage_annee}"/>

                        <p:outputLabel value="#{myBundle.EditAnneeScolaireLabel_semestre}" for="semestre" />
                        <p:inputText id="semestre" value="#{anneeCtrl.selectedAnnee.semestre}" title="#{myBundle.EditAnneeScolaireTitle_semestre}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{myBundle.EditAnneeScolaireLabel_etat}" for="etat" />
                        <p:selectBooleanCheckbox id="etat" value="#{anneeCtrl.selectedAnnee.etat}" required="true" requiredMessage="#{myBundle.EditAnneeScolaireRequiredMessage_etat}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{anneeCtrl.modifier()}" value="#{myBundle.Save}" update="display,:AnneeScolaireListForm:datalist,AnneeScolaireListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('AnneeScolaireEditDialog'));">
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('AnneeScolaireEditDialog').hide()" />
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
