<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AnneeScolaireViewDlg" widgetVar="AnneeScolaireViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewAnneeScolaireTitle}" closeOnEscape="true">

            <h:form id="AnneeScolaireViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <h:outputText value="#{myBundle.ViewAnneeScolaireLabel_annee}"/>
                        <h:outputText value="#{anneeCtrl.selectedAnnee.annee}" title="#{myBundle.ViewAnneeScolaireTitle_annee}">
                           
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewAnneeScolaireLabel_semestre}"/>
                        <h:outputText value="#{anneeCtrl.selectedAnnee.semestre}" title="#{myBundle.ViewAnneeScolaireTitle_semestre}"/>

                        <h:outputText value="#{myBundle.ViewAnneeScolaireLabel_etat}"/>
                        <p:selectBooleanCheckbox id="etat" value="#{anneeCtrl.selectedAnnee.etat}" title="#{myBundle.EditAnneeScolaireTitle_etat}" required="true" requiredMessage="#{myBundle.EditAnneeScolaireRequiredMessage_etat}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('AnneeScolaireViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
