<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="actionsForm">
        <p:fieldset legend="Actions" toggleable="true" toggleSpeed="300">
            <div class="footer-section">
                <p:commandButton id="creer" 
                                 icon="ui-icon-plus"   
                                 value="Create" 
                                 update=":ClasseCreateForm, :ClasseListForm:growl" 
                                 oncomplete="PF('ClasseCreateDialog').show()"/>
                <p:commandButton id="detail"   
                                 icon="ui-icon-search" 
                                 value="View" 
                                 update=":ClasseViewForm" 
                                 oncomplete="PF('ClasseViewDialog').show()" 
                                 disabled="#{classeCtl.detail }"/>
                <p:commandButton id="modifier"   
                                 icon="ui-icon-pencil" 
                                 value="Edit" 
                                 update=":ClasseEditDlg" 
                                 oncomplete="PF('ClasseEditDialog').show()" 
                                 disabled="#{classeCtl.modifier}"/>

                <p:commandButton id="supprimer" 
                                 icon="ui-icon-trash"  
                                 value="Delete" 
                                 update=":ClasseListForm:growl,:ClasseListForm:datalist,:actionsForm"
                                 disabled="#{classeCtl.supprimer}"
                                 actionListener="#{classeCtl.supprimerClasse()}">
                    <p:confirm header="titre"
                               message="Supprimer"
                               icon="ui-icon-alert"/>
                </p:commandButton>
                <p:commandButton value="PDF"
                                 update=":pdfPrintForm, PdfPrintDlg"
                                 actionListener="#{classeCtl.imprimerClassePdf()}"
                                 oncomplete="PF('PdfPrintDialog').show();"
                                 class="btn btn-success btn-danger btn-lg"  />

            </div>
        </p:fieldset>
    </h:form>
</ui:composition>
