<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ClasseCreateDlg" widgetVar="ClasseCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateClasseTitle}" closeOnEscape="true">

            <h:form id="ClasseCreateForm">

                <h:panelGroup id="display" >
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="LbelleClasse" for="lbelleClasse" />
                        <p:inputText id="lbelleClasse" value="#{classeCtl.classe.lbelleClasse}" title="#{myBundle.CreateClasseTitle_lbelleClasse}" size="30" maxlength="254"/>

                        <p:outputLabel value="Effectif" for="nombreeEtudiant" />
                        <p:inputText id="nombreeEtudiant" value="#{classeCtl.classe.nombreeEtudiant}" title="#{myBundle.CreateClasseTitle_nombreeEtudiant}"/>

                        <p:outputLabel value="Type" for="type" />
                        <p:inputText id="type" value="#{classeCtl.classe.type}" title="#{myBundle.CreateClasseTitle_type}" size="30" maxlength="254"/>

                        <p:outputLabel value="Filiere" for="codefiliere" />
                        <p:selectOneMenu id="codefiliere" value="#{classeCtl.classe.filiere}" required="true" requiredMessage="#{myBundle.CreateClasseRequiredMessage_codefiliere}" converter="filiereConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{filiereCtl.filieres}"
                                           var="codefiliereItem"
                                           itemValue="#{codefiliereItem}"
                                           itemLabel="#{codefiliereItem.libelleFiliere.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="Niveau" for="idniveau" />
                        <p:selectOneMenu id="idniveau" value="#{classeCtl.classe.niveau}" required="true" requiredMessage="#{myBundle.CreateClasseRequiredMessage_idniveau}" converter="niveauConverter" >
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{niveauCtl.niveaux}"
                                           var="idniveauItem"
                                           itemValue="#{idniveauItem}"
                                           itemLabel="#{idniveauItem.libelle.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{classeCtl.enregistrerClasse()}" 
                                     value="#{myBundle.Save}"
                                     update="display,:ClasseListForm:datalist,ClasseListForm:growl" 
                                     oncomplete="handleSubmit(xhr,status,args,PF('ClasseCreateDialog'));">
                        
                    </p:commandButton>

                    <p:commandButton value="Cancel"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
