<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="ClasseEditDlg" widgetVar="ClasseEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditClasseTitle}" closeOnEscape="true">

            <h:form id="ClasseEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column">


                        <p:outputLabel value="codeclasse" for="codeclasse" />
                        <p:inputText id="codeclasse" value="#{classeCtl.selectedClasse.codeclasse}" title="#{myBundle.CreateClasseTitle_codeclasse}" required="true" requiredMessage="#{myBundle.CreateClasseRequiredMessage_codeclasse}" size="30" maxlength="254"/>

                        <p:outputLabel value="LbelleClasse" for="lbelleClasse" />
                        <p:inputText id="lbelleClasse" value="#{classeCtl.selectedClasse.lbelleClasse}" title="#{myBundle.CreateClasseTitle_lbelleClasse}" size="30" maxlength="254"/>

                        <p:outputLabel value="Effectif" for="nombreeEtudiant" />
                        <p:inputText id="nombreeEtudiant" value="#{classeCtl.selectedClasse.nombreeEtudiant}" title="#{myBundle.CreateClasseTitle_nombreeEtudiant}"/>

                        <p:outputLabel value="Type" for="type" />
                        <p:inputText id="type" value="#{classeCtl.selectedClasse.type}" title="#{myBundle.CreateClasseTitle_type}" size="30" maxlength="254"/>

                        <p:outputLabel value="Filiere" for="codefiliere" />
                        <p:selectOneMenu id="codefiliere" value="#{classeCtl.selectedClasse.filiere}" required="true" requiredMessage="#{myBundle.CreateClasseRequiredMessage_codefiliere}" converter="filiereConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{filiereCtl.filieres}"
                                           var="codefiliereItem"
                                           itemValue="#{codefiliereItem}"
                                           itemLabel="#{codefiliereItem.libelleFiliere.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="Niveau" for="idniveau" />
                        <p:selectOneMenu id="idniveau" value="#{classeCtl.selectedClasse.niveau}" required="true" requiredMessage="#{myBundle.CreateClasseRequiredMessage_idniveau}" converter="niveauConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{niveauCtl.niveaux}"
                                           var="idniveauItem"
                                           itemValue="#{idniveauItem}"
                                           itemLabel="#{idniveauItem.libelle.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{classeCtl.modifierClasse()}" 
                                    value="#{myBundle.Save}" 
                                     update="display,:ClasseListForm:datalist,:ClasseListForm:growl" 
                                     oncomplete="handleSubmit(xhr,status,args,PF('ClasseEditDialog'));">
                       
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('ClasseEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
