<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="ClasseListForm">
        
        <p:messages id="growl" closable="true">
            <p:effect type="pulsate" event="load" delay="50" />
        </p:messages>

        <p:panel header="#{myBundle.ListClasseTitle}">
            <p:contextMenu id="ClasseDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('ClasseListForm:creer').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('ClasseListForm:detail').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('ClasseListForm:modifier').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('ClasseListForm:supprimer').click();" icon="ui-icon-trash"/>
                <p:separator/>
                
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{classeCtl.classes}"
                         lazy="false"
                         rowKey="#{item.codeclasse}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{classeCtl.selectedClasse}">


               <p:ajax event="rowSelect"   update=":ClasseListForm:ClasseDataTableContextMenu, :actionsForm"/>
               <p:ajax event="rowUnselect" update=":ClasseListForm:ClasseDataTableContextMenu, :actionsForm"/>
               <p:ajax event="contextMenu" update=":ClasseListForm:ClasseDataTableContextMenu, :actionsForm"/>
               <p:ajax event="rowDblselect" onsuccess="document.getElementById('ClasseListForm:viewButton').click();"/>
               
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListClasseTitle_codeclasse}"/>
                    </f:facet>
                    <h:outputText value="#{item.codeclasse}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListClasseTitle_lbelleClasse}"/>
                    </f:facet>
                    <h:outputText value="#{item.lbelleClasse}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Effectif"/>
                    </f:facet>
                    <h:outputText value="#{item.nombreeEtudiant}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListClasseTitle_type}"/>
                    </f:facet>
                    <h:outputText value="#{item.type}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Filiere"/>
                    </f:facet>
                    <h:outputText value="#{item.filiere.libelleFiliere}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Niveau"/>
                    </f:facet>
                    <h:outputText value="#{item.niveau.libelle}"/>
                </p:column>


            </p:dataTable>
            
        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>