<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ClasseViewDlg" widgetVar="ClasseViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewClasseTitle}" closeOnEscape="true">

            <h:form id="ClasseViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <h:outputText value="#{myBundle.ViewClasseLabel_codeclasse}"/>
                        <h:outputText value="#{classeCtl.selectedClasse.codeclasse}" title="#{myBundle.ViewClasseTitle_codeclasse}"/>

                        <h:outputText value="#{myBundle.ViewClasseLabel_lbelleClasse}"/>
                        <h:outputText value="#{classeCtl.selectedClasse.lbelleClasse}" title="#{myBundle.ViewClasseTitle_lbelleClasse}"/>

                        <h:outputText value="#{myBundle.ViewClasseLabel_nombreeEtudiant}"/>
                        <h:outputText value="#{classeCtl.selectedClasse.nombreeEtudiant}" title="#{myBundle.ViewClasseTitle_nombreeEtudiant}"/>

                        <h:outputText value="#{myBundle.ViewClasseLabel_type}"/>
                        <h:outputText value="#{classeCtl.selectedClasse.type}" title="#{myBundle.ViewClasseTitle_type}"/>

                        <h:outputText value="#{myBundle.ViewClasseLabel_codefiliere}"/>
                        <h:outputText value="#{classeCtl.selectedClasse.filiere.libelleFiliere}"/>

                        <h:outputText value="#{myBundle.ViewClasseLabel_idniveau}"/>
                        <h:outputText value="#{classeCtl.selectedClasse.niveau.libelle}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('ClasseViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
