<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PaiementCreateDlg" widgetVar="PaiementCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreatePaiementTitle}" closeOnEscape="true">

            <h:form id="PaiementCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreatePaiementLabel_codepaiement}" for="codepaiement" />
                        <p:inputText id="codepaiement" value="#{paiementCtl.paiement.codepaiement}" title="#{myBundle.CreatePaiementTitle_codepaiement}" required="true" requiredMessage="#{myBundle.CreatePaiementRequiredMessage_codepaiement}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreatePaiementLabel_couverture}" for="couverture" />
                        <p:inputText id="couverture" value="#{paiementCtl.paiement.couverture}" title="#{myBundle.CreatePaiementTitle_couverture}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreatePaiementLabel_scolarite}" for="scolarite" />
                        <p:inputText id="scolarite" value="#{paiementCtl.paiement.scolarite}" title="#{myBundle.CreatePaiementTitle_scolarite}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreatePaiementLabel_typedepaiement}" for="typedepaiement" />
                        <p:inputText id="typedepaiement" value="#{paiementCtl.paiement.typedepaiement}" title="#{myBundle.CreatePaiementTitle_typedepaiement}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreatePaiementLabel_datePaiement}" for="datePaiement" />
                        <p:inputText id="datePaiement" value="#{paiementCtl.paiement.datePaiement}" title="#{myBundle.CreatePaiementTitle_datePaiement}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreatePaiementLabel_annee}" for="annee" />
                        <p:inputText id="annee" value="#{paiementCtl.paiement.annee}" title="#{myBundle.CreatePaiementTitle_annee}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreatePaiementLabel_codeutilisateur}" for="codeutilisateur" />
                        <p:selectOneMenu id="codeutilisateur" value="#{paiementCtl.paiement.etudiant}"  converter="etudiantConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{etudiantCtl.etudiants}"
                                           var="codeutilisateurItem"
                                           itemValue="#{codeutilisateurItem}"
                                           itemLabel="#{codeutilisateurItem.utilisateur.nom.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreatePaiementLabel_codefacture}" for="codefacture" />
                        <p:selectOneMenu id="codefacture" value="#{paiementCtl.paiement.facture}" required="true" requiredMessage="#{myBundle.CreatePaiementRequiredMessage_codefacture}" converter="factureConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{factureCtl.factures}"
                                           var="codefactureItem"
                                           itemValue="#{codefactureItem}"
                                           itemLabel="#{codefactureItem.codefacture.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{paiementCtl.enregistrerPaiement()}" value="#{myBundle.Save}" update="display,:PaiementListForm:datalist,PaiementListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('PaiementCreateDialog'));">
                        
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('PaiementCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
