<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="PaiementEditDlg" widgetVar="PaiementEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditPaiementTitle}" closeOnEscape="true">

            <h:form id="PaiementEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column">


                        <h:outputLabel value="#{myBundle.EditPaiementLabel_codepaiement}" for="codepaiement" />
                        <h:outputText id="codepaiement" value="#{paiementCtl.selectedPaiement.codepaiement}" />

                        <p:outputLabel value="#{myBundle.EditPaiementLabel_couverture}" for="couverture" />
                        <p:inputText id="couverture" value="#{paiementCtl.selectedPaiement.couverture}" title="#{myBundle.EditPaiementTitle_couverture}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditPaiementLabel_scolarite}" for="scolarite" />
                        <p:inputText id="scolarite" value="#{paiementCtl.selectedPaiement.scolarite}" title="#{myBundle.EditPaiementTitle_scolarite}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditPaiementLabel_typedepaiement}" for="typedepaiement" />
                        <p:inputText id="typedepaiement" value="#{paiementCtl.selectedPaiement.typedepaiement}" title="#{myBundle.EditPaiementTitle_typedepaiement}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditPaiementLabel_datePaiement}" for="datePaiement" />
                        <p:inputText id="datePaiement" value="#{paiementCtl.selectedPaiement.datePaiement}" title="#{myBundle.EditPaiementTitle_datePaiement}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditPaiementLabel_annee}" for="annee" />
                        <p:inputText id="annee" value="#{paiementCtl.selectedPaiement.annee}" title="#{myBundle.EditPaiementTitle_annee}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditPaiementLabel_codeutilisateur}" for="codeutilisateur" />
                        <p:selectOneMenu id="codeutilisateur" value="#{paiementCtl.selectedPaiement.etudiant}"  converter="etudiantConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{etudiantCtl.etudiants}"
                                           var="codeutilisateurItem"
                                           itemValue="#{codeutilisateurItem}"
                                           itemLabel="#{codeutilisateurItem.utilisateur.nom.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditPaiementLabel_codefacture}" for="codefacture" />
                        <p:selectOneMenu id="codefacture" value="#{paiementCtl.selectedPaiement.facture}" required="true" requiredMessage="#{myBundle.EditPaiementRequiredMessage_codefacture}" converter="factureConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{factureCtl.factures}"
                                           var="codefactureItem"
                                           itemValue="#{codefactureItem}"
                                           itemLabel="#{codefactureItem.codefacture.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{paiementCtl.modifierPaiement()}" value="#{myBundle.Save}" update="display,:PaiementListForm:datalist,:PaiementListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('PaiementEditDialog'));">
                        
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('PaiementEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
