<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="PaiementListForm">
        
        <p:messages id="growl" closable="true">
            <p:effect type="pulsate" event="load" delay="50" />
        </p:messages>

        <p:panel header="#{myBundle.ListPaiementTitle}">
            <p:contextMenu id="PaiementDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('PaiementListForm:creer').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('PaiementListForm:detail').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('PaiementListForm:modifier').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('PaiementListForm:supprimer').click();" icon="ui-icon-trash"/>
                <p:separator/>
               
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{paiementCtl.paiements}"
                         lazy="false"
                         rowKey="#{item.codepaiement}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{paiementCtl.selectedPaiement}"
                         >
                

                <p:ajax event="rowSelect"   update=":PaiementListForm:PaiementDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowUnselect" update=":PaiementListForm:PaiementDataTableContextMenu, :actionsForm"/>
                <p:ajax event="contextMenu" update=":PaiementListForm:PaiementDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('PaiementListForm:viewButton').click();"/>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPaiementTitle_codepaiement}"/>
                    </f:facet>
                    <h:outputText value="#{item.codepaiement}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPaiementTitle_couverture}"/>
                    </f:facet>
                    <h:outputText value="#{item.couverture}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPaiementTitle_scolarite}"/>
                    </f:facet>
                    <h:outputText value="#{item.scolarite}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPaiementTitle_typedepaiement}"/>
                    </f:facet>
                    <h:outputText value="#{item.typedepaiement}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPaiementTitle_datePaiement}"/>
                    </f:facet>
                    <h:outputText value="#{item.datePaiement}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPaiementTitle_annee}"/>
                    </f:facet>
                    <h:outputText value="#{item.annee}"/>
                </p:column>

                <ui:remove>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListPaiementTitle_codeutilisateur}"/>
                        </f:facet>
                        <h:outputText value="#{item.etudiant.utilisateur.nom}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListPaiementTitle_codefacture}"/>
                        </f:facet>
                        <h:outputText value="#{item.facture.codefacture}"/>
                    </p:column>
                </ui:remove>

            </p:dataTable>

         
        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>