<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PaiementViewDlg" widgetVar="PaiementViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewPaiementTitle}" closeOnEscape="true">

            <h:form id="PaiementViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <h:outputText value="#{myBundle.ViewPaiementLabel_codepaiement}"/>
                        <h:outputText value="#{paiementCtl.selectedPaiement.codepaiement}" title="#{myBundle.ViewPaiementTitle_codepaiement}"/>

                        <h:outputText value="#{myBundle.ViewPaiementLabel_couverture}"/>
                        <h:outputText value="#{paiementCtl.selectedPaiement.couverture}" title="#{myBundle.ViewPaiementTitle_couverture}"/>

                        <h:outputText value="#{myBundle.ViewPaiementLabel_scolarite}"/>
                        <h:outputText value="#{paiementCtl.selectedPaiement.scolarite}" title="#{myBundle.ViewPaiementTitle_scolarite}"/>

                        <h:outputText value="#{myBundle.ViewPaiementLabel_typedepaiement}"/>
                        <h:outputText value="#{paiementCtl.selectedPaiement.typedepaiement}" title="#{myBundle.ViewPaiementTitle_typedepaiement}"/>

                        <h:outputText value="#{myBundle.ViewPaiementLabel_datePaiement}"/>
                        <h:outputText value="#{paiementCtl.selectedPaiement.datePaiement}" title="#{myBundle.ViewPaiementTitle_datePaiement}"/>

                        <h:outputText value="#{myBundle.ViewPaiementLabel_annee}"/>
                        <h:outputText value="#{paiementCtl.selectedPaiement.annee}" title="#{myBundle.ViewPaiementTitle_annee}"/>

                        <h:outputText value="#{myBundle.ViewPaiementLabel_codeutilisateur}"/>
                        <h:outputText value="#{paiementCtl.selectedPaiement.etudiant.utilisateur.nom}"/>

                        <h:outputText value="#{myBundle.ViewPaiementLabel_codefacture}"/>
                        <h:outputText value="#{paiementCtl.selectedPaiement.facture.codefacture}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('PaiementViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
