<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SecretaireCreateDlg" widgetVar="SecretaireCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateSecretaireTitle}" closeOnEscape="true">

            <h:form id="SecretaireCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">
                        
                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_prenom}" for="prenom" />
                        <p:inputText id="prenom" value="#{secretaireCtl.utilisateur.prenom}" title="#{myBundle.CreateUtilisateurTitle_prenom}" size="30" maxlength="254"/>
                        
                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_datedenaissance}" for="datedenaissance" />
                        <p:calendar id="datedenaissance" pattern="MM/dd/yyyy" value="#{secretaireCtl.utilisateur.datedenaissance}" title="#{myBundle.CreateUtilisateurTitle_datedenaissance}"  showOn="button"/>

                        
                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_situationMatrimonial}" for="situationMatrimonial" />
                        <p:inputText id="situationMatrimonial" value="#{secretaireCtl.utilisateur.situationMatrimonial}" title="#{myBundle.CreateUtilisateurTitle_situationMatrimonial}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_telephone}" for="telephone" />
                        <p:inputText id="telephone" value="#{secretaireCtl.utilisateur.telephone}" title="#{myBundle.CreateUtilisateurTitle_telephone}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_adresse}" for="adresse" />
                        <p:inputText id="adresse" value="#{secretaireCtl.utilisateur.adresse}" title="#{myBundle.CreateUtilisateurTitle_adresse}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_ville}" for="ville" />
                        <p:inputText id="ville" value="#{secretaireCtl.utilisateur.ville}" title="#{myBundle.CreateUtilisateurTitle_ville}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_pays}" for="pays" />
                        <p:inputText id="pays" value="#{secretaireCtl.utilisateur.pays}" title="#{myBundle.CreateUtilisateurTitle_pays}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_email}" for="email" />
                        <p:inputText id="email" value="#{secretaireCtl.utilisateur.email}" title="#{myBundle.CreateUtilisateurTitle_email}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_boitePostale}" for="boitePostale" />
                        <p:inputText id="boitePostale" value="#{secretaireCtl.utilisateur.boitePostale}" title="#{myBundle.CreateUtilisateurTitle_boitePostale}"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_cin}" for="cin" />
                        <p:inputText id="cin" value="#{secretaireCtl.utilisateur.cin}" title="#{myBundle.CreateUtilisateurTitle_cin}" required="true" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_login}" for="login" />
                        <p:inputText id="login" value="#{secretaireCtl.utilisateur.login}" title="#{myBundle.CreateUtilisateurTitle_login}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_password}" for="password" />
                        <p:inputText id="password" value="#{secretaireCtl.utilisateur.password}" title="#{myBundle.CreateUtilisateurTitle_password}" size="30" maxlength="254"/>

                    </p:panelGrid>
                    <p:commandButton actionListener="#{secretaireCtl.enregistrerSecretaire()}" value="#{myBundle.Save}" update="display,:SecretaireListForm:datalist,SecretaireListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('SecretaireCreateDialog'));">
                       
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('SecretaireCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
