#wowslider-container { 
/*	overflow: hidden; */
	zoom: 1; 
	position: relative; 
	width:970px;
	height:370px;
	margin:0 auto 37px auto;
	z-index:100;
	background-image: url(./bg.png);
}
#wowslider-container #wowslider-frame{
	display:block;
	position: absolute;
	left:5px;
	top:5px;
	width:944px;
	height:344px;
	border:solid 8px black;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	opacity:0.3;
}
#wowslider-shadow{
	width:100%;
	background: url(./shadow.png) left 100%;
	height:93px;
	position: absolute;
	left:0;
	bottom:-37px;
	z-index:-1;
}
#wowslider-images{
	position: absolute;
	left:5px;
	top:5px;
	width:960px;
	height:360px;
}
#wowslider-images a{
	color:transparent;
}

#wowslider-images img{
	position:absolute;
	visibility:hidden;
	top:0;
	left:0;
	border:none 0;
	border: 0;
}
#wowslider-container a{ 
	text-decoration: none; 
	outline: none; 
	border: none; 
}

#wowslider-container  .ss_bullets { 
	font-size: 0px; 
	padding: 10px; 
	float: left;
	position:absolute;
    right: 10px;
    top: 5px;
	z-index:1001;
}
#wowslider-container .ss_bullets a { 
	margin: 0;
	width:16px;
	height:15px;
	background: url(./bullet.png) left top;
	float: left; 
	text-indent: -1000px; 
}
#wowslider-container .ss_bullets a:hover{ 
	background-position: -16px 0;
}
#wowslider-container .ss_bullets a.ss_selbull{
	background-position: right top;
}
#wowslider-container a.ss_next, #wowslider-container a.ss_prev {
	position:absolute;
	display:block;
	top:50%;
	margin-top:-28px;
	position:absolute;
	z-index:1001;
	height: 56px;
	width: 29px;
	background-image: url(./arrows.png);
}
#wowslider-container a.ss_next{
	background-position: 100% 0; 
	right:-24px;
}
#wowslider-container a.ss_prev {
	left:-24px;
	background-position: 0 0; 
}
#wowslider-container .ws-title{
	position: absolute;
	bottom:18px;
	left: 18px;
	margin-right:23px;
	z-index: 50;
	padding:5px;
	opacity:0.6;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);	
	color: #FFF;
	background:#000;
    font-family: Tahoma,Arial,Helvetica;
	font-size: 14px;
}
#wowslider-container .ws-title div{
	padding-top:5px;
	font-size: 12px;
}