<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PrivilegepersoCreateDlg" widgetVar="PrivilegepersoCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreatePrivilegepersoTitle}" closeOnEscape="true">

            <h:form id="PrivilegepersoCreateForm">

                <h:panelGroup id="display" rendered="#{privilegepersoController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreatePrivilegepersoLabel_personnel}" for="personnel" />
                        <p:selectOneMenu id="personnel" value="#{privilegepersoController.selected.personnel}" required="true" requiredMessage="#{myBundle.CreatePrivilegepersoRequiredMessage_personnel}" converter="personnelConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{personnelController.items}"
                                           var="personnelItem"
                                           itemValue="#{personnelItem}"
                                           itemLabel="#{personnelItem.id.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreatePrivilegepersoLabel_privilege}" for="privilege" />
                        <p:selectOneMenu id="privilege" value="#{privilegepersoController.selected.privilege}" required="true" requiredMessage="#{myBundle.CreatePrivilegepersoRequiredMessage_privilege}" converter="privilegeConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{privilegeController.items}"
                                           var="privilegeItem"
                                           itemValue="#{privilegeItem}"
                                           itemLabel="#{privilegeItem.description.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{privilegepersoController.saveNew}" value="#{myBundle.Save}" update="display,:PrivilegepersoListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('PrivilegepersoCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('PrivilegepersoCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
