<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="PrivilegepersoEditDlg" widgetVar="PrivilegepersoEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditPrivilegepersoTitle}" closeOnEscape="true">

            <h:form id="PrivilegepersoEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{privilegepersoController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditPrivilegepersoLabel_id}" for="id" />
                        <h:outputText id="id" value="#{privilegepersoController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditPrivilegepersoLabel_personnel}" for="personnel" />
                        <p:selectOneMenu id="personnel" value="#{privilegepersoController.selected.personnel}" required="true" requiredMessage="#{myBundle.EditPrivilegepersoRequiredMessage_personnel}" converter="personnelConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{personnelController.items}"
                                           var="personnelItem"
                                           itemValue="#{personnelItem}"
                                           itemLabel="#{personnelItem.id.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditPrivilegepersoLabel_privilege}" for="privilege" />
                        <p:selectOneMenu id="privilege" value="#{privilegepersoController.selected.privilege}" required="true" requiredMessage="#{myBundle.EditPrivilegepersoRequiredMessage_privilege}" converter="privilegeConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{privilegeController.items}"
                                           var="privilegeItem"
                                           itemValue="#{privilegeItem}"
                                           itemLabel="#{privilegeItem.description.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{privilegepersoController.save}" value="#{myBundle.Save}" update="display,:PrivilegepersoListForm:datalist,:PrivilegepersoListForm:PrivilegepersoDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('PrivilegepersoEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('PrivilegepersoEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
