<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="PrivilegepersoListForm">

        <p:panel header="#{myBundle.ListPrivilegepersoTitle}">
            <p:contextMenu id="PrivilegepersoDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('PrivilegepersoListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('PrivilegepersoListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('PrivilegepersoListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('PrivilegepersoListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.PrivilegepersoMenuItem_personnel}" icon="ui-icon-search"  actionListener="#{privilegepersoController.preparePersonnel}" update=":PersonnelViewForm" oncomplete="PF('PersonnelViewDialog').show()" disabled="#{empty privilegepersoController.selected.personnel}"/>  
                <p:menuitem value="#{myBundle.PrivilegepersoMenuItem_privilege}" icon="ui-icon-search"  actionListener="#{privilegepersoController.preparePrivilege}" update=":PrivilegeViewForm" oncomplete="PF('PrivilegeViewDialog').show()" disabled="#{empty privilegepersoController.selected.privilege}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{privilegepersoController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{privilegepersoController.selected}"
                         filteredValue="#{privilegepersoController.filteredItems}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{privilegepersoController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:PrivilegepersoDataTableContextMenu" listener="#{privilegepersoController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:PrivilegepersoDataTableContextMenu" listener="#{privilegepersoController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{privilegepersoController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('PrivilegepersoListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPrivilegepersoTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.personnel.id}" filterBy="#{item.personnel.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPrivilegepersoTitle_personnel}"/>
                    </f:facet>
                    <h:outputText value="#{item.personnel.id}"/>
                </p:column>


                <p:column sortBy="#{item.privilege.description}" filterBy="#{item.privilege.description}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPrivilegepersoTitle_privilege}"/>
                    </f:facet>
                    <h:outputText value="#{item.privilege.description}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{privilegepersoController.prepareCreate}" update=":PrivilegepersoCreateForm" oncomplete="PF('PrivilegepersoCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":PrivilegepersoViewForm" oncomplete="PF('PrivilegepersoViewDialog').show()" disabled="#{empty privilegepersoController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":PrivilegepersoEditForm" oncomplete="PF('PrivilegepersoEditDialog').show()" disabled="#{empty privilegepersoController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{privilegepersoController.delete}" update=":growl,datalist" disabled="#{empty privilegepersoController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>