<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PrivilegepersoViewDlg" widgetVar="PrivilegepersoViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewPrivilegepersoTitle}" closeOnEscape="true">

            <h:form id="PrivilegepersoViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{privilegepersoController.selected != null}">

                        <h:outputText value="#{myBundle.ViewPrivilegepersoLabel_id}"/>
                        <h:outputText value="#{privilegepersoController.selected.id}" title="#{myBundle.ViewPrivilegepersoTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewPrivilegepersoLabel_personnel}"/>
                        <h:outputText value="#{privilegepersoController.selected.personnel.id}"/>

                        <h:outputText value="#{myBundle.ViewPrivilegepersoLabel_privilege}"/>
                        <h:outputText value="#{privilegepersoController.selected.privilege.description}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('PrivilegepersoViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
