<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EnseignantResponsableCreateDlg" widgetVar="EnseignantResponsableCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateEnseignantResponsableTitle}" closeOnEscape="true">

            <h:form id="EnseignantResponsableCreateForm">

                <h:panelGroup id="display" rendered="#{enseignantResponsableController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateEnseignantResponsableLabel_codeutilisateur}" for="codeutilisateur" />
                        <p:inputText id="codeutilisateur" value="#{enseignantResponsableController.selected.codeutilisateur}" title="#{myBundle.CreateEnseignantResponsableTitle_codeutilisateur}" required="true" requiredMessage="#{myBundle.CreateEnseignantResponsableRequiredMessage_codeutilisateur}" size="254" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateEnseignantResponsableLabel_enseignant}" for="enseignant" />
                        <p:selectOneMenu id="enseignant" value="#{enseignantResponsableController.selected.enseignant}" required="true" requiredMessage="#{myBundle.CreateEnseignantResponsableRequiredMessage_enseignant}" converter="enseignantConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{enseignantController.items}"
                                           var="enseignantItem"
                                           itemValue="#{enseignantItem}"
                                           itemLabel="#{enseignantItem.codeutilisateur.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{enseignantResponsableController.saveNew}" value="#{myBundle.Save}" update="display,:EnseignantResponsableListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('EnseignantResponsableCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('EnseignantResponsableCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
