<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="EnseignantResponsableEditDlg" widgetVar="EnseignantResponsableEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditEnseignantResponsableTitle}" closeOnEscape="true">

            <h:form id="EnseignantResponsableEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{enseignantResponsableController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditEnseignantResponsableLabel_codeutilisateur}" for="codeutilisateur" />
                        <h:outputText id="codeutilisateur" value="#{enseignantResponsableController.selected.codeutilisateur}" />

                        <p:outputLabel value="#{myBundle.EditEnseignantResponsableLabel_enseignant}" for="enseignant" />
                        <p:selectOneMenu id="enseignant" value="#{enseignantResponsableController.selected.enseignant}" required="true" requiredMessage="#{myBundle.EditEnseignantResponsableRequiredMessage_enseignant}" converter="enseignantConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{enseignantController.items}"
                                           var="enseignantItem"
                                           itemValue="#{enseignantItem}"
                                           itemLabel="#{enseignantItem.codeutilisateur.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{enseignantResponsableController.save}" value="#{myBundle.Save}" update="display,:EnseignantResponsableListForm:datalist,:EnseignantResponsableListForm:EnseignantResponsableDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('EnseignantResponsableEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('EnseignantResponsableEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
