<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="EnseignantResponsableListForm">

        <p:panel header="#{myBundle.ListEnseignantResponsableTitle}">
            <p:contextMenu id="EnseignantResponsableDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('EnseignantResponsableListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('EnseignantResponsableListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('EnseignantResponsableListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('EnseignantResponsableListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.EnseignantResponsableMenuItem_enseignant}" icon="ui-icon-search"  actionListener="#{enseignantResponsableController.prepareEnseignant}" update=":EnseignantViewForm" oncomplete="PF('EnseignantViewDialog').show()" disabled="#{empty enseignantResponsableController.selected.enseignant}"/>  
                <p:menuitem value="#{myBundle.EnseignantResponsableMenuItem_filiereList}" icon="ui-icon-search"  action="#{enseignantResponsableController.navigateFiliereList}" disabled="#{enseignantResponsableController.isFiliereListEmpty}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{enseignantResponsableController.items}"
                         lazy="false"
                         rowKey="#{item.codeutilisateur}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{enseignantResponsableController.selected}"
                         filteredValue="#{enseignantResponsableController.filteredItems}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{enseignantResponsableController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.codeutilisateur}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:EnseignantResponsableDataTableContextMenu" listener="#{enseignantResponsableController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:EnseignantResponsableDataTableContextMenu" listener="#{enseignantResponsableController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{enseignantResponsableController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('EnseignantResponsableListForm:viewButton').click();"/>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEnseignantResponsableTitle_codeutilisateur}"/>
                    </f:facet>
                    <h:outputText value="#{item.codeutilisateur}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEnseignantResponsableTitle_enseignant}"/>
                    </f:facet>
                    <h:outputText value="#{item.enseignant.codeutilisateur}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{enseignantResponsableController.prepareCreate}" update=":EnseignantResponsableCreateForm" oncomplete="PF('EnseignantResponsableCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":EnseignantResponsableViewForm" oncomplete="PF('EnseignantResponsableViewDialog').show()" disabled="#{empty enseignantResponsableController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":EnseignantResponsableEditForm" oncomplete="PF('EnseignantResponsableEditDialog').show()" disabled="#{empty enseignantResponsableController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{enseignantResponsableController.delete}" update=":growl,datalist" disabled="#{empty enseignantResponsableController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>