<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EnseignantResponsableViewDlg" widgetVar="EnseignantResponsableViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewEnseignantResponsableTitle}" closeOnEscape="true">

            <h:form id="EnseignantResponsableViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{enseignantResponsableController.selected != null}">

                        <h:outputText value="#{myBundle.ViewEnseignantResponsableLabel_codeutilisateur}"/>
                        <h:outputText value="#{enseignantResponsableController.selected.codeutilisateur}" title="#{myBundle.ViewEnseignantResponsableTitle_codeutilisateur}"/>

                        <h:outputText value="#{myBundle.ViewEnseignantResponsableLabel_enseignant}"/>
                        <h:outputText value="#{enseignantResponsableController.selected.enseignant.codeutilisateur}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('EnseignantResponsableViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
