<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RolePrivilegeCreateDlg" widgetVar="RolePrivilegeCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateRolePrivilegeTitle}" closeOnEscape="true">

            <h:form id="RolePrivilegeCreateForm">

                <h:panelGroup id="display" rendered="#{rolePrivilegeController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateRolePrivilegeLabel_privilege}" for="privilege" />
                        <p:selectOneMenu id="privilege" value="#{rolePrivilegeController.selected.privilege}" required="true" requiredMessage="#{myBundle.CreateRolePrivilegeRequiredMessage_privilege}" converter="privilegeConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{privilegeController.items}"
                                           var="privilegeItem"
                                           itemValue="#{privilegeItem}"
                                           itemLabel="#{privilegeItem.description.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateRolePrivilegeLabel_roles}" for="roles" />
                        <p:selectOneMenu id="roles" value="#{rolePrivilegeController.selected.roles}" required="true" requiredMessage="#{myBundle.CreateRolePrivilegeRequiredMessage_roles}" converter="rolesConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{rolesController.items}"
                                           var="rolesItem"
                                           itemValue="#{rolesItem}"
                                           itemLabel="#{rolesItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{rolePrivilegeController.saveNew}" value="#{myBundle.Save}" update="display,:RolePrivilegeListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('RolePrivilegeCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('RolePrivilegeCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
