<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="RolePrivilegeEditDlg" widgetVar="RolePrivilegeEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditRolePrivilegeTitle}" closeOnEscape="true">

            <h:form id="RolePrivilegeEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{rolePrivilegeController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditRolePrivilegeLabel_id}" for="id" />
                        <h:outputText id="id" value="#{rolePrivilegeController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditRolePrivilegeLabel_privilege}" for="privilege" />
                        <p:selectOneMenu id="privilege" value="#{rolePrivilegeController.selected.privilege}" required="true" requiredMessage="#{myBundle.EditRolePrivilegeRequiredMessage_privilege}" converter="privilegeConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{privilegeController.items}"
                                           var="privilegeItem"
                                           itemValue="#{privilegeItem}"
                                           itemLabel="#{privilegeItem.description.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditRolePrivilegeLabel_roles}" for="roles" />
                        <p:selectOneMenu id="roles" value="#{rolePrivilegeController.selected.roles}" required="true" requiredMessage="#{myBundle.EditRolePrivilegeRequiredMessage_roles}" converter="rolesConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{rolesController.items}"
                                           var="rolesItem"
                                           itemValue="#{rolesItem}"
                                           itemLabel="#{rolesItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{rolePrivilegeController.save}" value="#{myBundle.Save}" update="display,:RolePrivilegeListForm:datalist,:RolePrivilegeListForm:RolePrivilegeDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('RolePrivilegeEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('RolePrivilegeEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
