<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="RolePrivilegeListForm">

        <p:panel header="#{myBundle.ListRolePrivilegeTitle}">
            <p:contextMenu id="RolePrivilegeDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('RolePrivilegeListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('RolePrivilegeListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('RolePrivilegeListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('RolePrivilegeListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.RolePrivilegeMenuItem_privilege}" icon="ui-icon-search"  actionListener="#{rolePrivilegeController.preparePrivilege}" update=":PrivilegeViewForm" oncomplete="PF('PrivilegeViewDialog').show()" disabled="#{empty rolePrivilegeController.selected.privilege}"/>  
                <p:menuitem value="#{myBundle.RolePrivilegeMenuItem_roles}" icon="ui-icon-search"  actionListener="#{rolePrivilegeController.prepareRoles}" update=":RolesViewForm" oncomplete="PF('RolesViewDialog').show()" disabled="#{empty rolePrivilegeController.selected.roles}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{rolePrivilegeController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{rolePrivilegeController.selected}"
                         filteredValue="#{rolePrivilegeController.filteredItems}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{rolePrivilegeController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:RolePrivilegeDataTableContextMenu" listener="#{rolePrivilegeController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:RolePrivilegeDataTableContextMenu" listener="#{rolePrivilegeController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{rolePrivilegeController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('RolePrivilegeListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListRolePrivilegeTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.privilege.description}" filterBy="#{item.privilege.description}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListRolePrivilegeTitle_privilege}"/>
                    </f:facet>
                    <h:outputText value="#{item.privilege.description}"/>
                </p:column>


                <p:column sortBy="#{item.roles.id}" filterBy="#{item.roles.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListRolePrivilegeTitle_roles}"/>
                    </f:facet>
                    <h:outputText value="#{item.roles.id}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{rolePrivilegeController.prepareCreate}" update=":RolePrivilegeCreateForm" oncomplete="PF('RolePrivilegeCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":RolePrivilegeViewForm" oncomplete="PF('RolePrivilegeViewDialog').show()" disabled="#{empty rolePrivilegeController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":RolePrivilegeEditForm" oncomplete="PF('RolePrivilegeEditDialog').show()" disabled="#{empty rolePrivilegeController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{rolePrivilegeController.delete}" update=":growl,datalist" disabled="#{empty rolePrivilegeController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>