<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RolePrivilegeViewDlg" widgetVar="RolePrivilegeViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewRolePrivilegeTitle}" closeOnEscape="true">

            <h:form id="RolePrivilegeViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{rolePrivilegeController.selected != null}">

                        <h:outputText value="#{myBundle.ViewRolePrivilegeLabel_id}"/>
                        <h:outputText value="#{rolePrivilegeController.selected.id}" title="#{myBundle.ViewRolePrivilegeTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewRolePrivilegeLabel_privilege}"/>
                        <h:outputText value="#{rolePrivilegeController.selected.privilege.description}"/>

                        <h:outputText value="#{myBundle.ViewRolePrivilegeLabel_roles}"/>
                        <h:outputText value="#{rolePrivilegeController.selected.roles.id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('RolePrivilegeViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
