<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templatemodel/templateParametrage.xhtml">

    <ui:define name="title">
        <h:outputText value="#{myBundle.UniteenseignementsTitle}"/>
    </ui:define>

    <ui:define name="content">
        <h:form id="msgForm">
            <p:growl id="growl" life="5000"/>
        </h:form>

        <h1> Gestion des Unités d'enseignement</h1>  <p:separator/>
        <ui:include src="/WEB-INF/include/entity/uniteenseignements/Action.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/uniteenseignements/List.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/uniteenseignements/View.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/uniteenseignements/ManageLessons.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/uniteenseignements/Edit.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/uniteenseignements/Create.xhtml"/>
        <!--<ui:include src="/WEB-INF/include/entity/filieres/View.xhtml"/>-->

    </ui:define>

</ui:composition>