<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="actionsForm">
        <p:fieldset legend="Actions" toggleable="true" toggleSpeed="300">
            <div class="footer-section">
                <p:commandButton id="creer" 
                                 icon="ui-icon-plus"   
                                 value="Create" 
                                 update=":EtudiantCreateForm, :EtudiantListForm:growl" 
                                 oncomplete="PF('EtudiantCreateDialog').show()"/>
                
                <p:commandButton id="detail"   
                                 icon="ui-icon-search" 
                                 value="View" 
                                 update=":EtudiantViewForm" 
                                 oncomplete="PF('EtudiantViewDialog').show()" 
                                 disabled="#{etudiantCtl.detail }"/>
                <p:commandButton id="modifier"   
                                 icon="ui-icon-pencil" 
                                 value="Edit" 
                                 update=":EtudiantEditDlg" 
                                 oncomplete="PF('EtudiantEditDialog').show()" 
                                 disabled="#{etudiantCtl.modifier}"/>

                <p:commandButton id="supprimer" 
                                 icon="ui-icon-trash"  
                                 value="Delete" 
                                 update=":EtudiantListForm:growl,:EtudiantListForm:datalist,:actionsForm"
                                 disabled="#{etudiantCtl.supprimer}"
                                 actionListener="#{etudiantCtl.supprimerEtudiant()}">
                    <p:confirm header="titre"
                               message="Supprimer"
                               icon="ui-icon-alert"/>
                </p:commandButton>
                
                
            </div>
        </p:fieldset>
    </h:form>
</ui:composition>
