<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="EtudiantEditDlg" widgetVar="EtudiantEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditEtudiantTitle}" closeOnEscape="true">

            <h:form id="EtudiantEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{etudiantCtl.selectedUtilisateur != null}">
                      
                        <p:outputLabel value="Matricule" for="code" />
                        <p:inputText id="code" value="#{etudiantCtl.selectedEtudiant.codeutilisateur}" title="#{myBundle.EditUtilisateurTitle_nom}" size="30" maxlength="254"/>
                       
                        <p:outputLabel value="Nom" for="nom" />
                        <p:inputText id="nom" value="#{etudiantCtl.selectedEtudiant.utilisateur.nom}" title="#{myBundle.EditUtilisateurTitle_password}" size="30" maxlength="254"/>
                        
                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_prenom}" for="prenom" />
                        <p:inputText id="prenom" value="#{etudiantCtl.selectedEtudiant.utilisateur.prenom}" title="#{myBundle.CreateUtilisateurTitle_prenom}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_datedenaissance}" for="datedenaissance" />
                        <p:calendar id="datedenaissance" pattern="MM/dd/yyyy" value="#{etudiantCtl.selectedEtudiant.utilisateur.datedenaissance}" title="#{myBundle.CreateUtilisateurTitle_datedenaissance}"  showOn="button"/>

                    
                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_situationMatrimonial}" for="situationMatrimonial" />
                        <p:inputText id="situationMatrimonial" value="#{etudiantCtl.selectedEtudiant.utilisateur.situationMatrimonial}" title="#{myBundle.CreateUtilisateurTitle_situationMatrimonial}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_telephone}" for="telephone" />
                        <p:inputText id="telephone" value="#{etudiantCtl.selectedEtudiant.utilisateur.telephone}" title="#{myBundle.CreateUtilisateurTitle_telephone}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_adresse}" for="adresse" />
                        <p:inputText id="adresse" value="#{etudiantCtl.selectedEtudiant.utilisateur.adresse}" title="#{myBundle.CreateUtilisateurTitle_adresse}" size="30" maxlength="254"/>
                        
                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_ville}" for="ville" />
                        <p:inputText id="ville" value="#{etudiantCtl.selectedEtudiant.utilisateur.ville}" title="#{myBundle.CreateUtilisateurTitle_ville}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_pays}" for="pays" />
                        <p:inputText id="pays" value="#{etudiantCtl.selectedEtudiant.utilisateur.pays}" title="#{myBundle.CreateUtilisateurTitle_pays}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_email}" for="email" />
                        <p:inputText id="email" value="#{etudiantCtl.selectedEtudiant.utilisateur.email}" title="#{myBundle.CreateUtilisateurTitle_email}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_boitePostale}" for="boitePostale" />
                        <p:inputText id="boitePostale" value="#{etudiantCtl.selectedEtudiant.utilisateur.boitePostale}" title="#{myBundle.CreateUtilisateurTitle_boitePostale}"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_cin}" for="cin" />
                        <p:inputText id="cin" value="#{etudiantCtl.selectedEtudiant.utilisateur.cin}" title="#{myBundle.CreateUtilisateurTitle_cin}" required="true" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_login}" for="login" />
                        <p:inputText id="login" value="#{etudiantCtl.selectedEtudiant.utilisateur.login}" title="#{myBundle.CreateUtilisateurTitle_login}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_password}" for="password" />
                        <p:inputText id="password" value="#{etudiantCtl.selectedEtudiant.utilisateur.password}" title="#{myBundle.CreateUtilisateurTitle_password}" size="30" maxlength="254"/>
                        

                        <p:outputLabel value="#{myBundle.EditEtudiantLabel_responsableclasse}" for="responsableclasse" />
                        <p:inputText id="responsableclasse" value="#{etudiantCtl.selectedEtudiant.responsableclasse}" title="#{myBundle.EditEtudiantTitle_responsableclasse}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditEtudiantLabel_codeclasse}" for="codeclasse" />
                        <p:selectOneMenu id="codeclasse" value="#{etudiantCtl.selectedEtudiant.classe}" required="true" requiredMessage="#{myBundle.EditEtudiantRequiredMessage_codeclasse}" converter="classeConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{classeCtl.classes}"
                                           var="codeclasseItem"
                                           itemValue="#{codeclasseItem}"
                                           itemLabel="#{codeclasseItem.lbelleClasse.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{etudiantCtl.modifierEtudiant()}" value="#{myBundle.Save}" update="display,:EtudiantListForm:datalist,:EtudiantListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('EtudiantEditDialog'));">
                        
                    </p:commandButton>
                    
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
