<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FactureCreateDlg" widgetVar="FactureCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateFactureTitle}" closeOnEscape="true">

            <h:form id="FactureCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateFactureLabel_codefacture}" for="codefacture" />
                        <p:inputText id="codefacture" value="#{factureCtl.facture.codefacture}" title="#{myBundle.CreateFactureTitle_codefacture}" required="true" requiredMessage="#{myBundle.CreateFactureRequiredMessage_codefacture}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateFactureLabel_dateFacture}" for="dateFacture" />
                        <p:calendar id="dateFacture" pattern="MM/dd/yyyy" value="#{factureCtl.facture.dateFacture}" title="#{myBundle.CreateFactureTitle_dateFacture}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateFactureLabel_arriere}" for="arriere" />
                        <p:inputText id="arriere" value="#{factureCtl.facture.arriere}" title="#{myBundle.CreateFactureTitle_arriere}"/>

                        <p:outputLabel value="#{myBundle.CreateFactureLabel_montant}" for="montant" />
                        <p:inputText id="montant" value="#{factureCtl.facture.montant}" title="#{myBundle.CreateFactureTitle_montant}" required="true" requiredMessage="#{myBundle.CreateFactureRequiredMessage_montant}"/>

                        <p:outputLabel value="#{myBundle.CreateFactureLabel_anneeScolaire}" for="anneeScolaire" />
                        <p:inputText id="anneeScolaire" value="#{factureCtl.facture.anneeScolaire}" title="#{myBundle.CreateFactureTitle_anneeScolaire}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateFactureLabel_codeutilisateur}" for="codeutilisateur" />
                        <p:selectOneMenu id="codeutilisateur" value="#{factureCtl.facture.comptable}"  converter="comptableConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{comptableCtl.comptables}"
                                           var="codeutilisateurItem"
                                           itemValue="#{codeutilisateurItem}"
                                           itemLabel="#{codeutilisateurItem.utilisateur.nom.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateFactureLabel_codepaiement}" for="codepaiement" />
                        <p:selectOneMenu id="codepaiement" value="#{factureCtl.facture.paiement}" required="true" requiredMessage="#{myBundle.CreateFactureRequiredMessage_codepaiement}" converter="paiementConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{paiementCtl.paiements}"
                                           var="codepaiementItem"
                                           itemValue="#{codepaiementItem}"
                                           itemLabel="#{codepaiementItem.codepaiement.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{factureCtl.enregistrerFacture()}" value="#{myBundle.Save}" update="display,:FactureListForm:datalist,FactureListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('FactureCreateDialog'));">
                        
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('FactureCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
