<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="FactureEditDlg" widgetVar="FactureEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditFactureTitle}" closeOnEscape="true">

            <h:form id="FactureEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column">


                        <h:outputLabel value="#{myBundle.EditFactureLabel_codefacture}" for="codefacture" />
                        <h:outputText id="codefacture" value="#{factureCtl.selectedFacture.codefacture}" />

                        <p:outputLabel value="#{myBundle.EditFactureLabel_dateFacture}" for="dateFacture" />
                        <p:calendar id="dateFacture" pattern="MM/dd/yyyy" value="#{factureCtl.selectedFacture.dateFacture}" title="#{myBundle.EditFactureTitle_dateFacture}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditFactureLabel_arriere}" for="arriere" />
                        <p:inputText id="arriere" value="#{factureCtl.selectedFacture.arriere}" title="#{myBundle.EditFactureTitle_arriere}"/>

                        <p:outputLabel value="#{myBundle.EditFactureLabel_montant}" for="montant" />
                        <p:inputText id="montant" value="#{factureCtl.selectedFacture.montant}" title="#{myBundle.EditFactureTitle_montant}" required="true" requiredMessage="#{myBundle.EditFactureRequiredMessage_montant}"/>

                        <p:outputLabel value="#{myBundle.EditFactureLabel_anneeScolaire}" for="anneeScolaire" />
                        <p:inputText id="anneeScolaire" value="#{factureCtl.selectedFacture.anneeScolaire}" title="#{myBundle.EditFactureTitle_anneeScolaire}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditFactureLabel_codeutilisateur}" for="codeutilisateur" />
                        <p:selectOneMenu id="codeutilisateur" value="#{factureCtl.selectedFacture.comptable}"  converter="comptableConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{comptableCtl.comptables}"
                                           var="codeutilisateurItem"
                                           itemValue="#{codeutilisateurItem}"
                                           itemLabel="#{codeutilisateurItem.codeutilisateur.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditFactureLabel_codepaiement}" for="codepaiement" />
                        <p:selectOneMenu id="codepaiement" value="#{factureCtl.selectedFacture.paiement}" required="true" requiredMessage="#{myBundle.EditFactureRequiredMessage_codepaiement}" converter="paiementConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{paiementCtl.paiements}"
                                           var="codepaiementItem"
                                           itemValue="#{codepaiementItem}"
                                           itemLabel="#{codepaiementItem.codepaiement.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{factureCtl.modifierFacture()}" value="#{myBundle.Save}" update="display,:FactureListForm:datalist,:FactureListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('FactureEditDialog'));">
                       
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('FactureEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
