<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="FactureListForm">
        
         <p:messages id="growl" closable="true">
            <p:effect type="pulsate" event="load" delay="50" />
        </p:messages>


        <p:panel header="#{myBundle.ListFactureTitle}">
            <p:contextMenu id="FactureDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('FactureListForm:creer').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('FactureListForm:detail').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('FactureListForm:modifier').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('FactureListForm:supprimer').click();" icon="ui-icon-trash"/>
                <p:separator/>
               
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{factureCtl.factures}"
                         lazy="false"
                         rowKey="#{item.codefacture}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{factureCtl.selectedFacture}"
                         >
                

                <p:ajax event="rowSelect"   update=":FactureListForm:FactureDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowUnselect" update=":FactureListForm:FactureDataTableContextMenu, :actionsForm"/>
                <p:ajax event="contextMenu" update=":FactureListForm:FactureDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('FactureListForm:viewButton').click();"/>
                
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListFactureTitle_codefacture}"/>
                    </f:facet>
                    <h:outputText value="#{item.codefacture}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListFactureTitle_dateFacture}"/>
                    </f:facet>
                    <h:outputText value="#{item.dateFacture}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListFactureTitle_arriere}"/>
                    </f:facet>
                    <h:outputText value="#{item.arriere}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListFactureTitle_montant}"/>
                    </f:facet>
                    <h:outputText value="#{item.montant}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListFactureTitle_anneeScolaire}"/>
                    </f:facet>
                    <h:outputText value="#{item.anneeScolaire}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListFactureTitle_codeutilisateur}"/>
                    </f:facet>
                    <h:outputText value="#{item.comptable.utilisateur.nom}"/>
                </p:column>

                <ui:remove>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListFactureTitle_codepaiement}"/>
                        </f:facet>
                        <h:outputText value="#{item.paiement.codepaiement}"/>
                    </p:column>
                </ui:remove>

            </p:dataTable>

            
        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>