<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FactureViewDlg" widgetVar="FactureViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewFactureTitle}" closeOnEscape="true">

            <h:form id="FactureViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" >

                        <h:outputText value="#{myBundle.ViewFactureLabel_codefacture}"/>
                        <h:outputText value="#{factureCtl.selectedFacture.codefacture}" title="#{myBundle.ViewFactureTitle_codefacture}"/>

                        <h:outputText value="#{myBundle.ViewFactureLabel_dateFacture}"/>
                        <h:outputText value="#{factureCtl.selectedFacture.dateFacture}" title="#{myBundle.ViewFactureTitle_dateFacture}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewFactureLabel_arriere}"/>
                        <h:outputText value="#{factureCtl.selectedFacture.arriere}" title="#{myBundle.ViewFactureTitle_arriere}"/>

                        <h:outputText value="#{myBundle.ViewFactureLabel_montant}"/>
                        <h:outputText value="#{factureCtl.selectedFacture.montant}" title="#{myBundle.ViewFactureTitle_montant}"/>

                        <h:outputText value="#{myBundle.ViewFactureLabel_anneeScolaire}"/>
                        <h:outputText value="#{factureCtl.selectedFacture.anneeScolaire}" title="#{myBundle.ViewFactureTitle_anneeScolaire}"/>

                        <h:outputText value="#{myBundle.ViewFactureLabel_codeutilisateur}"/>
                        <h:outputText value="#{factureCtl.selectedFacture.comptable.utilisateur.nom}"/>

                        <h:outputText value="#{myBundle.ViewFactureLabel_codepaiement}"/>
                        <h:outputText value="#{factureCtl.selectedFacture.paiement.codepaiement}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('FactureViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
