<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="PostepersonnelEditDlg" widgetVar="PostepersonnelEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditPostepersonnelTitle}" closeOnEscape="true">

            <h:form id="PostepersonnelEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column">
                        
                        <p:outputLabel value="#{myBundle.EditPostepersonnelLabel_nom}" for="nom" />
                        <p:inputText id="nom" value="#{postepersonnelCtrl.selectedPostepersonnel.nom}" title="#{myBundle.EditPostepersonnelTitle_nom}" required="true" requiredMessage="#{myBundle.EditPostepersonnelRequiredMessage_nom}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditPostepersonnelLabel_description}" for="description" />
                        <p:inputText id="description" value="#{postepersonnelCtrl.selectedPostepersonnel.description}" title="#{myBundle.EditPostepersonnelTitle_description}" size="30" maxlength="254"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{postepersonnelCtrl.modifier()}" value="#{myBundle.Save}" 
                                     update="display,:PostepersonnelListForm:datalist,:PostepersonnelListForm:growl" 
                                     oncomplete="handleSubmit(xhr,status,args,PF('PostepersonnelEditDialog'));">
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('PostepersonnelEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
