<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="PostepersonnelListForm">
        <p:messages id="growl" closable="true">
            <p:effect type="pulsate" event="load" delay="50" />
        </p:messages>

        <p:panel header="#{myBundle.ListPostepersonnelTitle}">
            <p:contextMenu id="PostepersonnelDataTableContextMenu" for="datalist">  
                 <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('actionsForm:creer').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('actionsForm:detail').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('actionsForm:modifier').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('actionsForm:supprimer').click();" icon="ui-icon-trash"/>
                <p:separator/>
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{postepersonnelCtrl.postepersonnels}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{postepersonnelCtrl.selectedPostepersonnel}">
                         


                <p:ajax event="rowSelect"   update=":PostepersonnelListForm:PostepersonnelDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowUnselect" update=":PostepersonnelListForm:PostepersonnelDataTableContextMenu, :actionsForm"/>
                <p:ajax event="contextMenu" update=":PostepersonnelListForm:PostepersonnelDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('PostepersonnelListForm:viewButton').click();"/>
                
                <p:column sortBy="#{item.nom}" filterBy="#{item.nom}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPostepersonnelTitle_nom}"/>
                    </f:facet>
                    <h:outputText value="#{item.nom}"/>
                </p:column>


                <p:column sortBy="#{item.description}" filterBy="#{item.description}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPostepersonnelTitle_description}"/>
                    </f:facet>
                    <h:outputText value="#{item.description}"/>
                </p:column>

            </p:dataTable>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>