<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PostepersonnelViewDlg" widgetVar="PostepersonnelViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewPostepersonnelTitle}" closeOnEscape="true">

            <h:form id="PostepersonnelViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">
                        
                        <h:outputText value="#{myBundle.ViewPostepersonnelLabel_nom}"/>
                        <h:outputText value="#{postepersonnelCtrl.selectedPostepersonnel.nom}" title="#{myBundle.ViewPostepersonnelTitle_nom}"/>

                        <h:outputText value="#{myBundle.ViewPostepersonnelLabel_description}"/>
                        <h:outputText value="#{postepersonnelCtrl.selectedPostepersonnel.description}" title="#{myBundle.ViewPostepersonnelTitle_description}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('PostepersonnelViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
