<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EtablissementCreateDlg" widgetVar="EtablissementCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateEtablissementTitle}" closeOnEscape="true">

            <h:form id="EtablissementCreateForm">

                <h:panelGroup id="display" >
                    <p:panelGrid columns="2" columnClasses="column">

                        
                        <p:outputLabel value="#{myBundle.CreateEtablissementLabel_libelleEtablissemant}" for="libelleEtablissemant" />
                        <p:inputText id="libelleEtablissemant" value="#{etablissementCtl.etablissement.libelleEtablissemant}" title="#{myBundle.CreateEtablissementTitle_libelleEtablissemant}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateEtablissementLabel_codeutilisateur}" for="codeutilisateur" />
                        <p:selectOneMenu id="codeutilisateur" value="#{etablissementCtl.etablissement.responsable}" required="true" requiredMessage="#{myBundle.CreateEtablissementRequiredMessage_codeutilisateur}" converter="responsableConverter">
                            <f:selectItems value="#{responsableCtl.responsables}"
                                           var="codeutilisateurItem"
                                           itemValue="#{codeutilisateurItem}"
                                           itemLabel="#{codeutilisateurItem.utilisateur.nom}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{etablissementCtl.enregistrerEtablissement()}" value="#{myBundle.Save}"
                                     update="display,:EtablissementListForm:datalist,:EtablissementListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('EtablissementCreateDialog'));">
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('EtablissementCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
