<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="EtablissementEditDlg" widgetVar="EtablissementEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditEtablissementTitle}" closeOnEscape="true">

            <h:form id="EtablissementEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column">


                        <h:outputLabel value="#{myBundle.EditEtablissementLabel_codeetablissement}" for="codeetablissement" />
                        <h:outputText id="codeetablissement" value="#{etablissementCtl.selectedEtablissement.codeetablissement}" />

                        <p:outputLabel value="#{myBundle.EditEtablissementLabel_libelleEtablissemant}" for="libelleEtablissemant" />
                        <p:inputText id="libelleEtablissemant" value="#{etablissementCtl.selectedEtablissement.libelleEtablissemant}" title="#{myBundle.EditEtablissementTitle_libelleEtablissemant}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditEtablissementLabel_codeutilisateur}" for="codeutilisateur" />
                        <p:selectOneMenu id="codeutilisateur" value="#{etablissementCtl.selectedEtablissement.responsable}" required="true" requiredMessage="#{myBundle.EditEtablissementRequiredMessage_codeutilisateur}" converter="responsableConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{responsableCtl.responsables}"
                                           var="codeutilisateurItem"
                                           itemValue="#{codeutilisateurItem}"
                                           itemLabel="#{codeutilisateurItem.utilisateur.nom}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{etablissementCtl.modifierEtablissement()}" value="#{myBundle.Save}" update="display,:EtablissementListForm:datalist,
                                     :EtablissementListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('EtablissementEditDialog'));">
                        
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('EtablissementEditDialog').hide()" />
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
