<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EtablissementViewDlg" widgetVar="EtablissementViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewEtablissementTitle}" closeOnEscape="true">

            <h:form id="EtablissementViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <h:outputText value="#{myBundle.ViewEtablissementLabel_codeetablissement}"/>
                        <h:outputText value="#{etablissementCtl.selectedEtablissement.codeetablissement}" title="#{myBundle.ViewEtablissementTitle_codeetablissement}"/>

                        <h:outputText value="#{myBundle.ViewEtablissementLabel_libelleEtablissemant}"/>
                        <h:outputText value="#{etablissementCtl.selectedEtablissement.libelleEtablissemant}" title="#{myBundle.ViewEtablissementTitle_libelleEtablissemant}"/>

                        <h:outputText value="#{myBundle.ViewEtablissementLabel_codeutilisateur}"/>
                        <h:outputText value="#{etablissementCtl.selectedEtablissement.responsable.utilisateur.nom}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('EtablissementViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
