<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SallesCreateDlg" widgetVar="SallesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateSallesTitle}" closeOnEscape="true">

            <h:form id="SallesCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateSallesLabel_nomsalle}" for="nomsalle" />
                        <p:inputText id="nomsalle" value="#{salleCtrl.salle.nomsalle}" title="#{myBundle.CreateSallesTitle_nomsalle}" required="true" requiredMessage="#{myBundle.CreateSallesRequiredMessage_nomsalle}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateSallesLabel_etat}" for="etat" />
                        <p:selectBooleanCheckbox id="etat" value="#{salleCtrl.salle.etat}" required="true" requiredMessage="#{myBundle.CreateSallesRequiredMessage_etat}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{salleCtrl.enregistrerSalle()}" value="#{myBundle.Save}" update="display,:SallesListForm:datalist,:SallesListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('SallesCreateDialog'));">
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('SallesCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
