<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="SallesEditDlg" widgetVar="SallesEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditSallesTitle}" closeOnEscape="true">

            <h:form id="SallesEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column">


                        <p:outputLabel value="#{myBundle.EditSallesLabel_nomsalle}" for="nomsalle" />
                        <p:inputText id="nomsalle" value="#{salleCtrl.selectedSalle.nomsalle}" title="#{myBundle.EditSallesTitle_nomsalle}" required="true" requiredMessage="#{myBundle.EditSallesRequiredMessage_nomsalle}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditSallesLabel_etat}" for="etat" />
                        <p:selectBooleanCheckbox id="etat" value="#{salleCtrl.selectedSalle.etat}" required="true" requiredMessage="#{myBundle.EditSallesRequiredMessage_etat}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{salleCtrl.modifierSalle()}" value="#{myBundle.Save}" update="display,:SallesListForm:datalist,:SallesListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('SallesEditDialog'));">
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('SallesEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
