<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SallesViewDlg" widgetVar="SallesViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewSallesTitle}" closeOnEscape="true">

            <h:form id="SallesViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <h:outputText value="#{myBundle.ViewSallesLabel_nomsalle}"/>
                        <h:outputText value="#{salleCtrl.selectedSalle.nomsalle}" title="#{myBundle.ViewSallesTitle_nomsalle}"/>

                        <h:outputText value="#{myBundle.ViewSallesLabel_etat}"/>
                        <p:selectBooleanCheckbox id="etat" value="#{salleCtrl.selectedSalle.etat}" title="#{myBundle.EditSallesTitle_etat}" required="true" requiredMessage="#{myBundle.EditSallesRequiredMessage_etat}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('SallesViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
