<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
               template="/templatemodel/templateParametrage.xhtml">

    <ui:define name="title">
        <h:outputText value="#{myBundle.SeancecoursTitle}"/>
    </ui:define>

    <ui:define name="content">
    <h1> Les séances de cours</h1>  
    <p:separator/>
      <h:form id="SeancecoursCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="4" columnClasses="column">


                        <p:outputLabel value="#{myBundle.CreateSeancecoursLabel_jour}" for="jour" />
                        <p:calendar id="jour" pattern="MM/dd/yyyy" value="#{seancecoursCtrl.seancecours.jour}" title="#{myBundle.CreateSeancecoursTitle_jour}" required="true" requiredMessage="#{myBundle.CreateSeancecoursRequiredMessage_jour}" showOn="button"/>
                        
                        <p:outputLabel value="#{myBundle.CreateSeancecoursLabel_emploidetemps}" for="emploidetemps" />
                        <p:selectOneMenu id="emploidetemps" value="#{seancecoursCtrl.seancecours.emploidetemps}" required="true" requiredMessage="#{myBundle.CreateSeancecoursRequiredMessage_emploidetemps}" converter="emploidetempsConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{emploiDeTpsCrtl.emplois}"
                                           var="emploidetempsItem"
                                           itemValue="#{emploidetempsItem}"
                                           itemLabel="#{emploidetempsItem.titre}"
                                           />

                        </p:selectOneMenu>
                        
                        <p:outputLabel value="#{myBundle.CreateSeancecoursLabel_classes}" for="classes" />
                        <p:selectOneMenu id="classes" value="#{seancecoursCtrl.seancecours.classes}" required="true" requiredMessage="#{myBundle.CreateSeancecoursRequiredMessage_classes}" converter="classesConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{classeCtrl.classes}"
                                           var="classesItem"
                                           itemValue="#{classesItem}"
                                           itemLabel="#{classesItem.denomination}"
                                           />

                        </p:selectOneMenu>

                        

                        <p:outputLabel value="#{myBundle.CreateSeancecoursLabel_enseignants}" for="enseignants" />
                        <p:selectOneMenu id="enseignants" value="#{seancecoursCtrl.seancecours.enseignants}" required="true" requiredMessage="#{myBundle.CreateSeancecoursRequiredMessage_enseignants}" converter="enseignantsConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{enseignantCtrl.listEnseignant}"
                                           var="enseignantsItem"
                                           itemValue="#{enseignantsItem}"
                                           itemLabel="#{enseignantsItem.nom} #{enseignantsItem.premon}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateSeancecoursLabel_horaires}" for="horaires" />
                        <p:selectOneMenu id="horaires" value="#{seancecoursCtrl.seancecours.horaires}" required="true" requiredMessage="#{myBundle.CreateSeancecoursRequiredMessage_horaires}" converter="horairesConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{horaireCtrl.horaires}"
                                           var="horairesItem"
                                           itemValue="#{horairesItem}"
                                           itemLabel="#{horairesItem.heuredebut}h #{horairesItem.heurefin}h"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateSeancecoursLabel_matiersmodule}" for="matiersmodule" />
                        <p:selectOneMenu id="matiersmodule" value="#{seancecoursCtrl.seancecours.matiersmodule}" required="true" requiredMessage="#{myBundle.CreateSeancecoursRequiredMessage_matiersmodule}" converter="matiersmoduleConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{matiersmoduleCtrl.matiersmodules}"
                                           var="matiersmoduleItem"
                                           itemValue="#{matiersmoduleItem}"
                                           itemLabel="#{matiersmoduleItem.nommatiere}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateSeancecoursLabel_salles}" for="salles" />
                        <p:selectOneMenu id="salles" value="#{seancecoursCtrl.seancecours.salles}" required="true" requiredMessage="#{myBundle.CreateSeancecoursRequiredMessage_salles}" converter="sallesConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{salleCtrl.listSalle}"
                                           var="sallesItem"
                                           itemValue="#{sallesItem}"
                                           itemLabel="#{sallesItem.nomsalle}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{seancecoursCtrl.enregistrerSeancecours()}" value="#{myBundle.Save}" update="display,:SeancecoursListForm:datalist,:SeancecoursListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('SeancecoursCreateDialog'));">
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('SeancecoursCreateDialog').hide()" />
                </h:panelGroup>

            </h:form>
    <p:separator/>
        <ui:include src="/WEB-INF/include/entity/seancecours/Action.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/seancecours/List.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/seancecours/View.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/seancecours/Edit.xhtml"/>
        <!--<ui:include src="/WEB-INF/include/entity/seancecours/Create.xhtml"/>-->
<!--        <ui:include src="/WEB-INF/include/entity/emploidetemps/View.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/horaires/View.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/enseignants/View.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/salles/View.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/matiersmodule/View.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/classes/View.xhtml"/>-->

    </ui:define>

</ui:composition>