<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templatemodel/templateParametrage.xhtml">

    <ui:define name="title">
        <h:outputText value="#{myBundle.NotesTitle}"/>
    </ui:define>

    <ui:define name="content">
        <h1> Gestion des Notes</h1>  
        <p:separator/>

        <h:form id="NotesCreateForm">

            <h:panelGroup id="display">
                <p:outputLabel value="#{myBundle.CreateEtudiantsLabel_classe}" for="classe" />
                <p:selectOneMenu id="classe" value="#{etudiantCtrl.etudiant.classe}" required="true" requiredMessage="#{myBundle.CreateEtudiantsRequiredMessage_classe}" converter="classesConverter">
                    <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                    <f:selectItems value="#{classeCtrl.classes}"
                                   var="classeItem"
                                   itemValue="#{classeItem}"
                                   itemLabel="#{classeItem.denomination}"
                                   />
                    

                </p:selectOneMenu>

                <p:separator/>
                <p:separator/>
                <p:panelGrid columns="4" columnClasses="column">


                    <p:outputLabel value="#{myBundle.CreateNotesLabel_matiere}" for="matiere" />
                    <p:selectOneMenu id="matiere" value="#{noteCtrl.note.matiere}" required="true" requiredMessage="#{myBundle.CreateNotesRequiredMessage_matiere}" converter="matiersmoduleConverter">
                        <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                        <f:selectItems value="#{matiersmoduleCtrl.matiersmodules}"
                                       var="matiereItem"
                                       itemValue="#{matiereItem}"
                                       itemLabel="#{matiereItem.nommatiere}"
                                       />

                    </p:selectOneMenu>
                    <p:outputLabel value="#{myBundle.CreateNotesLabel_etudiant}" for="etudiant" />
                    <p:selectOneMenu id="etudiant" value="#{noteCtrl.note.etudiant}" required="true" requiredMessage="#{myBundle.CreateNotesRequiredMessage_etudiant}" converter="etudiantsConverter">
                        <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                        <f:selectItems value="#{etudiantCtrl.etudiants}"
                                       var="etudiantItem"
                                       itemValue="#{etudiantItem}"
                                       itemLabel="#{etudiantItem.nom}"
                                       />

                    </p:selectOneMenu>

                    <p:outputLabel value="#{myBundle.CreateNotesLabel_note}" for="note" />
                    <p:inputText id="note" value="#{noteCtrl.note.note}" title="#{myBundle.CreateNotesTitle_note}" required="true" requiredMessage="#{myBundle.CreateNotesRequiredMessage_note}"/>

                    <p:outputLabel value="#{myBundle.CreateNotesLabel_notedeliberer}" for="notedeliberer" />
                    <p:inputText id="notedeliberer" value="#{noteCtrl.note.notedeliberer}" title="#{myBundle.CreateNotesTitle_notedeliberer}" required="true" requiredMessage="#{myBundle.CreateNotesRequiredMessage_notedeliberer}"/>

                    <p:outputLabel value="#{myBundle.CreateNotesLabel_credit}" for="credit" />
                    <p:inputText id="credit" value="#{noteCtrl.note.credit}" title="#{myBundle.CreateNotesTitle_credit}" required="true" requiredMessage="#{myBundle.CreateNotesRequiredMessage_credit}"/>

                    
                     <p:outputLabel value="Validation" for="REsutatue" />
                     <p:selectOneMenu id="REsutatue" value="#{noteCtrl.note.resultatue}">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{noteCtrl.resultatUE}"
                                           var="resultat"
                                           itemValue="#{resultat}"
                                           itemLabel="#{resultat}"
                                           />

                        </p:selectOneMenu>
                    
                    <p:outputLabel value="#{myBundle.CreateNotesLabel_enseignant}" for="enseignant" />
                    <p:selectOneMenu id="enseignant" value="#{noteCtrl.note.enseignant}" required="true" requiredMessage="#{myBundle.CreateNotesRequiredMessage_enseignant}" converter="enseignantsConverter">
                        <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                        <f:selectItems value="#{enseignantCtrl.listEnseignant}"
                                       var="enseignantItem"
                                       itemValue="#{enseignantItem}"
                                       itemLabel="#{enseignantItem.nom}"
                                       />

                    </p:selectOneMenu>

                </p:panelGrid>
                <p:commandButton actionListener="#{noteCtrl.enregistrerNote()}" value="#{myBundle.Save}" update="display,:NotesListForm:datalist,:NotesListForm:growl,NotesCreateForm" oncomplete="handleSubmit(xhr,status,args,PF('NotesCreateDialog'));">
                </p:commandButton>

                <p:commandButton value="#{myBundle.Cancel}" onclick="PF('NotesCreateDialog').hide()"/>
            </h:panelGroup>

        </h:form>

        <p:separator/>

        <ui:include src="/WEB-INF/include/entity/notes/Action.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/notes/List.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/notes/View.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/notes/Edit.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/notes/Imprimer.xhtml" />
        <!--<ui:include src="/WEB-INF/include/entity/notes/Create.xhtml"/>-->
        <!--        <ui:include src="/WEB-INF/include/entity/enseignants/View.xhtml"/>
                <ui:include src="/WEB-INF/include/entity/etudiants/View.xhtml"/>
                <ui:include src="/WEB-INF/include/entity/matiersmodule/View.xhtml"/>-->

    </ui:define>

</ui:composition>