<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="HorairesCreateDlg" widgetVar="HorairesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateHorairesTitle}" closeOnEscape="true">

            <h:form id="HorairesCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateHorairesLabel_heuredebut}" for="heuredebut" />
                        <p:inputText id="heuredebut" value="#{horaireCtrl.horaire.heuredebut}" title="#{myBundle.CreateHorairesTitle_heuredebut}"/>

                        <p:outputLabel value="#{myBundle.CreateHorairesLabel_heurefin}" for="heurefin" />
                        <p:inputText id="heurefin" value="#{horaireCtrl.horaire.heurefin}" title="#{myBundle.CreateHorairesTitle_heurefin}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{horaireCtrl.enregistrerHoraire()}" value="#{myBundle.Save}" update="display,:HorairesListForm:datalist,HorairesListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('HorairesCreateDialog'));">
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('HorairesCreateDialog').hide()" />
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
