<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="HorairesEditDlg" widgetVar="HorairesEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditHorairesTitle}" closeOnEscape="true">

            <h:form id="HorairesEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.EditHorairesLabel_heuredebut}" for="heuredebut" />
                        <p:inputText id="heuredebut" value="#{horaireCtrl.selectedHoraire.heuredebut}" title="#{myBundle.EditHorairesTitle_heuredebut}"/>

                        <p:outputLabel value="#{myBundle.EditHorairesLabel_heurefin}" for="heurefin" />
                        <p:inputText id="heurefin" value="#{horaireCtrl.selectedHoraire.heurefin}" title="#{myBundle.EditHorairesTitle_heurefin}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{horaireCtrl.modifierHoraire()}" value="#{myBundle.Save}" update="display,:HorairesListForm:datalist,:HorairesListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('HorairesEditDialog'));">
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('HorairesEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
