<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="HorairesViewDlg" widgetVar="HorairesViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewHorairesTitle}" closeOnEscape="true">

            <h:form id="HorairesViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <h:outputText value="#{myBundle.ViewHorairesLabel_heuredebut}"/>
                        <h:outputText value="#{horaireCtrl.selectedHoraire.heuredebut}" title="#{myBundle.ViewHorairesTitle_heuredebut}"/>

                        <h:outputText value="#{myBundle.ViewHorairesLabel_heurefin}"/>
                        <h:outputText value="#{horaireCtrl.selectedHoraire.heurefin}" title="#{myBundle.ViewHorairesTitle_heurefin}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('HorairesViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
