<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <h:form id="menuForm">
            <p:menubar>
                <p:menuitem value="#{myBundle.Home}" outcome="/index" icon="ui-icon-home"/>
                <p:submenu label="#{myBundle.Maintenance}">
                    <p:menuitem value="#{myBundle.AnneeScolaireHeading}..." outcome="/app/anneeScolaire/index" />
                    <p:menuitem value="#{myBundle.ClassematiereHeading}..." outcome="/app/classematiere/index" />
                    <p:menuitem value="#{myBundle.ClassesHeading}..." outcome="/app/classes/index" />
                    <p:menuitem value="#{myBundle.ComptabiliteHeading}..." outcome="/app/comptabilite/index" />
                    <p:menuitem value="#{myBundle.CompteuserHeading}..." outcome="/app/compteuser/index" />
                    <p:menuitem value="#{myBundle.DepartementHeading}..." outcome="/app/departement/index" />
                    <p:menuitem value="#{myBundle.EmploidetempsHeading}..." outcome="/app/emploidetemps/index" />
                    <p:menuitem value="#{myBundle.EnseignantsHeading}..." outcome="/app/enseignants/index" />
                    <p:menuitem value="#{myBundle.EtudiantsHeading}..." outcome="/app/etudiants/index" />
                    <p:menuitem value="#{myBundle.FilieresHeading}..." outcome="/app/filieres/index" />
                    <p:menuitem value="#{myBundle.HistoriquedeliberationHeading}..." outcome="/app/historiquedeliberation/index" />
                    <p:menuitem value="#{myBundle.HorairesHeading}..." outcome="/app/horaires/index" />
                    <p:menuitem value="#{myBundle.MatiersmoduleHeading}..." outcome="/app/matiersmodule/index" />
                    <p:menuitem value="#{myBundle.MoisHeading}..." outcome="/app/mois/index" />
                    <p:menuitem value="#{myBundle.NotesHeading}..." outcome="/app/notes/index" />
                    <p:menuitem value="#{myBundle.PersonnelHeading}..." outcome="/app/personnel/index" />
                    <p:menuitem value="#{myBundle.PostepersonnelHeading}..." outcome="/app/postepersonnel/index" />
                    <p:menuitem value="#{myBundle.PrivilegeHeading}..." outcome="/app/privilege/index" />
                    <p:menuitem value="#{myBundle.PrivilegepersoHeading}..." outcome="/app/privilegeperso/index" />
                    <p:menuitem value="#{myBundle.RolePrivilegeHeading}..." outcome="/app/rolePrivilege/index" />
                    <p:menuitem value="#{myBundle.RolepersonnelHeading}..." outcome="/app/rolepersonnel/index" />
                    <p:menuitem value="#{myBundle.RolesHeading}..." outcome="/app/roles/index" />
                    <p:menuitem value="#{myBundle.SallesHeading}..." outcome="/app/salles/index" />
                    <p:menuitem value="#{myBundle.SeancecoursHeading}..." outcome="/app/seancecours/index" />
                    <p:menuitem value="#{myBundle.UniteenseignementsHeading}..." outcome="/app/uniteenseignements/index" />
                </p:submenu>
            </p:menubar>
        </h:form>
    </ui:composition>

</html>