<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pu="http://primefaces.org/ultima">

    <h:form id="menuform"> 
        <div class="layout-menu #{guestPreferences.menuClass}">
            <div class="nano">
                <div class="nano-content menu-scroll-content">
                    <ui:fragment rendered="#{guestPreferences.profileMode == 'inline' and guestPreferences.menuLayout != 'menu-layout-static menu-layout-horizontal'}">
                            <div class="profile">
                                <div class="profile-image"></div>
                                <a id="profile-options" href="#">
                                    <span class="profile-name">Fanta</span>
                                    <i class="material-icons">&#xE313;</i>
                                </a>
                            </div>

                            <ul id="profile-menu" class="ultima-menu">
                                <li role="menuitem">
                                    <a href="#" class="ripplelink">
                                        <i class="material-icons">&#xE7FD;</i>
                                        <span>Profile</span>
                                    </a>
                                </li>
                                <li role="menuitem">
                                    <a href="#" class="ripplelink">
                                        <i class="material-icons">&#xE32A;</i>
                                        <span>Privacy</span>
                                    </a>
                                </li>
                                <li role="menuitem">
                                    <a href="#" class="ripplelink">
                                        <i class="material-icons">&#xE8B9;</i>
                                        <span>Paramètre</span>
                                    </a>
                                </li>
                                <li role="menuitem">
                                    <p:commandLink onstart="javascript:submitform()" class="ripplelink">
                                        <i class="material-icons">&#xE8AC;</i>
                                        <span>Déconnexion</span>
                                        <p:confirm header="Déconnexion" message="Fermeture de session: Continuer?" icon="ui-icon-alert" />
                                    </p:commandLink>
                                </li>
                            </ul>
                    </ui:fragment>

                    <pu:menu widgetVar="me">
                        <p:menuitem id="um_dashboard" value="Dashboard" icon="&#xE871;" outcome="/dashboard"/>

                        <p:submenu  label="Paramétrage" icon="&#xE8B8;">
         
                            <p:menuitem id="um_mois" value="Etablissement" icon="&#xE0C9;" outcome="/app/etablissement/etablissement" />
                            <p:menuitem id="um_menus" value="Domaines" icon="&#xE5D2;" outcome="/app/domaine/domaine" />
                            <p:menuitem id="um_overlays" value="Filières" icon="&#xE14D;" outcome="/app/filiere/filiere" />
                            <p:menuitem id="um_panels" value="niveau" icon="&#xE14F;" outcome="/app/niveau/niveau" />
                            <p:menuitem id="um_samples" value="Classes" icon="&#xE30B;" outcome="/app/classe/classe" />
                            <p:menuitem id="um_peronnel" value="Maquettes" icon="&#xE0C9;" outcome="/app/maquette/maquette" />
                            <p:menuitem id="um_compteuser" value="Semestre" icon="&#xE0C9;" outcome="/app/semestre/semestre" />
                            <p:menuitem id="um_overlay" value="Unitès d'enseignement" icon="&#xE14D;" outcome="/app/ue/ue" />
                        </p:submenu>
                        
                        <p:submenu id="um_default" label="Gestion des enseignements" icon="&#9783;">
                           <p:menuitem id="um_post" value="Matieres" icon="&#xE0C9;" outcome="/app/ec/ec" />
                           <p:menuitem id="um_forms" value="Cours" icon="&#xE890;" outcome="/app/cours/cours" />
                           <p:menuitem id="um_ens" value="Enseignants" icon="&#xE0C9;" outcome="/app/enseignant/enseignant" />
                           <p:menuitem id="um_classe_matiere" value="Etudiants" icon="&#xE890;" outcome="/app/etudiant/etudiant" />
                           <p:menuitem id="um_sample" value="Dossiers" icon="&#xE30B;" outcome="/app/dossier/dossier" />
                           <p:menuitem id="um_data" value="Absences" icon="&#xE3EC;" outcome="/app/absence/absence" /> 
                           <p:menuitem id="um_evaluer" value="Evaluations" icon="&#xE24B;" outcome="/app/evaluer/evaluer" />
                        </p:submenu>

                        <p:submenu id="um_component" label="Gestion des utilisateurs" icon="&#xE896;">
                            <p:menuitem id="um_admin" value="Administrateurs" icon="&#xE0C9;" outcome="/app/administrateur/administrateur" />
                            <p:menuitem id="um_resp" value="Responsables" icon="&#xE24B;" outcome="/app/responsable/responsable" />
                            <p:menuitem id="um_secretaire" value="Secretaires" icon="&#xE24B;" outcome="/app/secretaire/secretaire" />
                            <p:menuitem id="um_comptable" value="Comptables" icon="&#xE0C9;" outcome="/app/comptable/comptable" />
                            <p:menuitem id="um_chart" value="Messages" icon="&#xE24B;" outcome="/app/message/message" />
                             
                       </p:submenu>


                        <p:submenu id="um_defaulte" label="Gestion Emplois Du Temps" icon="&#9783;">
                            <p:menuitem id="um_pts" value="Emplois Du temps" icon="&#xE24B;" outcome="/app/emploisDuTemps/emploisDuTemps" />
                            <p:menuitem id="um_sc_cours" value="SeanceCours" icon="&#xE24B;" outcome="/app/seanceCours/seanceCours" />
                            <p:menuitem id="um_formes" value="Cours" icon="&#xE890;" outcome="/app/cours/cours" />
                            
                        </p:submenu>
                        
                         <p:submenu id="um_paiement" label="Gestion Emplois Du Temps" icon="&#9783;">
                           <p:menuitem id="um_facture" value="Factures" icon="&#xE3EC;" outcome="/app/facture/facture" />
                           <p:menuitem id="um_paiement1" value="Paiements" icon="&#xE3EC;" outcome="/app/paiement/paiement" />
                        </p:submenu>
                        
                        <p:menuitem id="um_doc" value="Aide" icon="&#xE880;" outcome="/docs"/>
                        <p:submenu id="themes" label="Themes" icon="&#xE40A;">
                            <p:menuitem id="theme1" value="Indigo - Pink" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('indigo')}" ajax="false" />
                            <p:menuitem id="theme2" value="Brown - Green" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('brown')}" ajax="false" />
                            <p:menuitem id="theme3" value="Blue - Amber" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('blue')}" ajax="false" />
                            <p:menuitem id="theme4" value="Blue Grey - Green" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('blue-grey')}" ajax="false" />
                            <p:menuitem id="theme5" value="Dark - Blue" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('dark-blue')}" ajax="false" />
                            <p:menuitem id="theme6" value="Dark - Green" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('dark-green')}" ajax="false" />
                            <p:menuitem id="theme7" value="Green - Yellow" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('green')}" ajax="false" />
                            <p:menuitem id="theme8" value="Purple - Cyan" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('purple-cyan')}" ajax="false" />
                            <p:menuitem id="theme9" value="Purple - Amber" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('purple-amber')}" ajax="false" />
                            <p:menuitem id="theme10" value="Teal - Lime" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('teal')}" ajax="false" />
                            <p:menuitem id="theme11" value="Cyan - Amber" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('cyan')}" ajax="false" />
                            <p:menuitem id="theme12" value="Grey - Deep Orange" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('grey')}" ajax="false" />
                        </p:submenu>
                        
                        <p:submenu id="um_hierarchy" label="Orientation du Menu" icon="&#xE5D2;">
                            <p:submenu id="um_sm1" label="Submenu 1" icon="&#xE8D2;">
                                <p:submenu id="um_sm11" label="Submenu 1.1" icon="&#xE8D2;">
                                    <p:menuitem id="um_lnk111" value="Compact Size" icon="&#xE061;" actionListener="#{guestPreferences.setCompact(true)}" ajax="false"/>
                                    <p:menuitem id="um_lnk112" value="Material Size" icon="&#xE062;" actionListener="#{guestPreferences.setCompact(false)}" ajax="false"/>
                                    <p:menuitem id="um_lnk113" value="Static Menu" icon="&#xE5D2;" actionListener="#{guestPreferences.setMenuLayout('static')}" ajax="false"/>
                                    <p:menuitem id="um_lnk114" value="Overlay Menu" icon="&#xE879;" actionListener="#{guestPreferences.setMenuLayout('overlay')}" ajax="false"/>
                                    <p:menuitem id="um_lnk115" value="Horizontal Menu" icon="&#xE22C;" actionListener="#{guestPreferences.setMenuLayout('horizontal')}" ajax="false"/>
                                    <p:menuitem id="um_lnk116" value="Light Menu" icon="&#xE893;" actionListener="#{guestPreferences.setLightMenu}" ajax="false" />
                                    <p:menuitem id="um_lnk117" value="Dark Menu" icon="&#xE892;" actionListener="#{guestPreferences.setDarkMenu}" ajax="false"/>
                                    <p:menuitem id="um_lnk118" value="Inline Profile" icon="&#xE0BA;" actionListener="#{guestPreferences.setProfileMode('inline')}" ajax="false" />
                                    <p:menuitem id="um_lnk119" value="Top Profile" icon="&#xE55A;" actionListener="#{guestPreferences.setProfileMode('overlay')}" ajax="false"/>
                                </p:submenu>          
                            </p:submenu>
                        </p:submenu>
                        <p:submenu id="um_orientation" label="Orientationb du sibar" icon="&#xE237;">
                            <p:menuitem id="um_ltr" value="Gauche" icon="&#xE236;" actionListener="#{guestPreferences.setOrientationRTL(false)}" ajax="false" />
                            <p:menuitem id="um_rtl" value="Droite" icon="&#xE237;" actionListener="#{guestPreferences.setOrientationRTL(true)}" ajax="false" />
                        </p:submenu>

                    </pu:menu>
                </div>
            </div>
        </div>
    </h:form>

    <form action="#{request.contextPath}/app/logoutProcess.xhtml" id="appLogoutForm" method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
    <script type="text/javascript">
        function submitform()
        {
            $('#appLogoutForm').submit();
        }
    </script>
</ui:composition>
