<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CompteuserCreateDlg" widgetVar="CompteuserCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateCompteuserTitle}" closeOnEscape="true">

            <h:form id="CompteuserCreateForm">

                <h:panelGroup id="display" >
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateCompteuserLabel_login}" for="login" />
                        <p:inputText id="login" value="#{compteuserCtrl.compteuser.login}" title="#{myBundle.CreateCompteuserTitle_login}" required="true" requiredMessage="#{myBundle.CreateCompteuserRequiredMessage_login}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateCompteuserLabel_motdepass}" for="motdepass" />
                        <p:inputText id="motdepass" value="#{compteuserCtrl.compteuser.motdepass}" title="#{myBundle.CreateCompteuserTitle_motdepass}" required="true" requiredMessage="#{myBundle.CreateCompteuserRequiredMessage_motdepass}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateCompteuserLabel_etat}" for="etat" />
                        <p:selectBooleanCheckbox id="etat" value="#{compteuserCtrl.compteuser.etat}" required="true" requiredMessage="#{myBundle.CreateCompteuserRequiredMessage_etat}"/>

                        <p:outputLabel value="#{myBundle.CreateCompteuserLabel_personnel}" for="personnel" />
                        <p:selectOneMenu id="personnel" value="#{compteuserCtrl.compteuser.personnel}" required="true" requiredMessage="#{myBundle.CreateCompteuserRequiredMessage_personnel}" converter="personnelConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{personnelCtrl.personnels}"
                                           var="personnelItem"
                                           itemValue="#{personnelItem}"
                                           itemLabel="#{personnelItem.nom}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{compteuserCtrl.enregistrerCompteuser()}" value="#{myBundle.Save}" 
                                     update="display,:CompteuserListForm:datalist,:CompteuserListForm:growl" 
                                     oncomplete="handleSubmit(xhr,status,args,PF('CompteuserCreateDialog'));">
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('CompteuserCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
