<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="CompteuserEditDlg" widgetVar="CompteuserEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditCompteuserTitle}" closeOnEscape="true">

            <h:form id="CompteuserEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" >

                        <p:outputLabel value="#{myBundle.EditCompteuserLabel_login}" for="login" />
                        <p:inputText id="login" value="#{compteuserCtrl.selectedCompteuser.login}" title="#{myBundle.EditCompteuserTitle_login}" required="true" requiredMessage="#{myBundle.EditCompteuserRequiredMessage_login}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditCompteuserLabel_motdepass}" for="motdepass" />
                        <p:inputText id="motdepass" value="#{compteuserCtrl.selectedCompteuser.motdepass}" title="#{myBundle.EditCompteuserTitle_motdepass}" required="true" requiredMessage="#{myBundle.EditCompteuserRequiredMessage_motdepass}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditCompteuserLabel_etat}" for="etat" />
                        <p:selectBooleanCheckbox id="etat" value="#{compteuserCtrl.selectedCompteuser.etat}" required="true" requiredMessage="#{myBundle.EditCompteuserRequiredMessage_etat}"/>

                        <p:outputLabel value="#{myBundle.EditCompteuserLabel_personnel}" for="personnel" />
                        <p:selectOneMenu id="personnel" value="#{compteuserCtrl.selectedCompteuser.personnel}" required="true" requiredMessage="#{myBundle.EditCompteuserRequiredMessage_personnel}" converter="personnelConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{personnelCtrl.personnels}"
                                           var="personnelItem"
                                           itemValue="#{personnelItem}"
                                           itemLabel="#{personnelItem.nom}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{compteuserCtrl.modifierCompteuser()}" value="#{myBundle.Save}" update="display,:CompteuserListForm:datalist,:CompteuserListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('CompteuserEditDialog'));">
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('CompteuserEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
