<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CompteuserViewDlg" widgetVar="CompteuserViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewCompteuserTitle}" closeOnEscape="true">

            <h:form id="CompteuserViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" >
                        <h:outputText value="#{myBundle.ViewCompteuserLabel_login}"/>
                        <h:outputText value="#{compteuserCtrl.selectedCompteuser.login}" title="#{myBundle.ViewCompteuserTitle_login}"/>

                        <h:outputText value="#{myBundle.ViewCompteuserLabel_motdepass}"/>
                        <h:outputText value="#{compteuserCtrl.selectedCompteuser.motdepass}" title="#{myBundle.ViewCompteuserTitle_motdepass}"/>

                        <h:outputText value="#{myBundle.ViewCompteuserLabel_etat}"/>
                        <p:selectBooleanCheckbox id="etat" value="#{compteuserCtrl.selectedCompteuser.etat}" title="#{myBundle.EditCompteuserTitle_etat}" required="true" requiredMessage="#{myBundle.EditCompteuserRequiredMessage_etat}"/>

                        <h:outputText value="#{myBundle.ViewCompteuserLabel_personnel}"/>
                        <h:outputText value="#{compteuserCtrl.selectedCompteuser.personnel.nom}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('CompteuserViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
