<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <h:form id="menuForm">
            <p:menubar>
                <p:menuitem value="#{myBundle.Home}" outcome="/dashboard" icon="ui-icon-home"/>
                <p:submenu label="#{myBundle.Maintenance}">
                    <p:menuitem value="#{myBundle.AbsenceHeading}..." outcome="/app/absence/index" />
                    <p:menuitem value="#{myBundle.AdministrateurHeading}..." outcome="/app/administrateur/index" />
                    <p:menuitem value="#{myBundle.ClasseHeading}..." outcome="/app/classe/index" />
                    <p:menuitem value="#{myBundle.ComptableHeading}..." outcome="/app/comptable/index" />
                    <p:menuitem value="#{myBundle.CoursHeading}..." outcome="/app/cours/index" />
                    <p:menuitem value="#{myBundle.DomaineHeading}..." outcome="/app/domaine/index" />
                    <p:menuitem value="#{myBundle.DossierHeading}..." outcome="/app/dossier/index" />
                    <p:menuitem value="#{myBundle.EcHeading}..." outcome="/app/ec/index" />
                    <p:menuitem value="#{myBundle.EmploisDuTempsHeading}..." outcome="/app/emploisDuTemps/index" />
                    <p:menuitem value="#{myBundle.EnseignantHeading}..." outcome="/app/enseignant/index" />
                    <p:menuitem value="#{myBundle.EnseignantResponsableHeading}..." outcome="/app/enseignantResponsable/index" />
                    <p:menuitem value="#{myBundle.EtablissementHeading}..." outcome="/app/etablissement/index" />
                    <p:menuitem value="#{myBundle.EtudiantHeading}..." outcome="/app/etudiant/index" />
                    <p:menuitem value="#{myBundle.EvaluerHeading}..." outcome="/app/evaluer/index" />
                    <p:menuitem value="#{myBundle.FactureHeading}..." outcome="/app/facture/index" />
                    <p:menuitem value="#{myBundle.FiliereHeading}..." outcome="/app/filiere/index" />
                    <p:menuitem value="#{myBundle.MaquetteHeading}..." outcome="/app/maquette/index" />
                    <p:menuitem value="#{myBundle.MessageHeading}..." outcome="/app/message/index" />
                    <p:menuitem value="#{myBundle.NiveauHeading}..." outcome="/app/niveau/index" />
                    <p:menuitem value="#{myBundle.PaiementHeading}..." outcome="/app/paiement/index" />
                    <p:menuitem value="#{myBundle.ResponsableHeading}..." outcome="/app/responsable/index" />
                    <p:menuitem value="#{myBundle.SecretaireHeading}..." outcome="/app/secretaire/index" />
                    <p:menuitem value="#{myBundle.SemestreHeading}..." outcome="/app/semestre/index" />
                    <p:menuitem value="#{myBundle.UeHeading}..." outcome="/app/ue/index" />
                    <p:menuitem value="#{myBundle.UtilisateurHeading}..." outcome="/app/utilisateur/index" />
                </p:submenu>
            </p:menubar>
        </h:form>
    </ui:composition>

</html>