<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ClassesCreateDlg" widgetVar="ClassesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateClassesTitle}" closeOnEscape="true">

            <h:form id="ClassesCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateClassesLabel_denomination}" for="denomination" />
                        <p:inputText id="denomination" value="#{classeCtrl.classe.denomination}" title="#{myBundle.CreateClassesTitle_denomination}" required="true" requiredMessage="#{myBundle.CreateClassesRequiredMessage_denomination}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateClassesLabel_nbreetudiant}" for="nbreetudiant" />
                        <p:inputText id="nbreetudiant" value="#{classeCtrl.classe.nbreetudiant}" title="#{myBundle.CreateClassesTitle_nbreetudiant}" required="true" requiredMessage="#{myBundle.CreateClassesRequiredMessage_nbreetudiant}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{classeCtrl.enregistrerClasse()}" value="#{myBundle.Save}" update="display,:ClassesListForm:datalist,:ClassesListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('ClassesCreateDialog'));">
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('ClassesCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
