<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="ClassesEditDlg" widgetVar="ClassesEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditClassesTitle}" closeOnEscape="true">

            <h:form id="ClassesEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.EditClassesLabel_denomination}" for="denomination" />
                        <p:inputText id="denomination" value="#{classeCtrl.selectedClasse.denomination}" title="#{myBundle.EditClassesTitle_denomination}" required="true" requiredMessage="#{myBundle.EditClassesRequiredMessage_denomination}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditClassesLabel_nbreetudiant}" for="nbreetudiant" />
                        <p:inputText id="nbreetudiant" value="#{classeCtrl.selectedClasse.nbreetudiant}" title="#{myBundle.EditClassesTitle_nbreetudiant}" required="true" requiredMessage="#{myBundle.EditClassesRequiredMessage_nbreetudiant}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{classeCtrl.modifier()}" value="#{myBundle.Save}" update="display,:ClassesListForm:datalist,:ClassesListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('ClassesEditDialog'));">
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick ="PF('ClassesEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
