<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ClassesViewDlg" widgetVar="ClassesViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewClassesTitle}" closeOnEscape="true">

            <h:form id="ClassesViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" >

                        <h:outputText value="#{myBundle.ViewClassesLabel_denomination}"/>
                        <h:outputText value="#{classeCtrl.selectedClasse.denomination}" title="#{myBundle.ViewClassesTitle_denomination}"/>

                        <h:outputText value="#{myBundle.ViewClassesLabel_nbreetudiant}"/>
                        <h:outputText value="#{classeCtrl.selectedClasse.nbreetudiant}" title="#{myBundle.ViewClassesTitle_nbreetudiant}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('ClassesViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
