<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h1> Formulaire Responsable</h1><br/><br/>
        
        
        <h:form>          
           <h:panelGrid columns="2" cellpadding="5">
               <h:outputText value=" Matricule: " />
               <p:keyboard id="default" value="#{responsableCtl.utilisateur.codeutilisateur}" />

               <h:outputText value="Nom: " />
               <p:keyboard id="qwerty" value="#{responsableCtl.utilisateur.nom}" />
               
               
               <h:outputText value="Prenom " />
               <p:keyboard id="nom" value="#{responsableCtl.utilisateur.prenom}" />

               <h:outputText value="Email: " />
               <p:keyboard id="alphabetic" value="#{responsableCtl.utilisateur.email}" />

               <h:outputText value="Cin: " />
               <p:keyboard id="custom1" value="#{responsableCtl.utilisateur.cin}" layoutTemplate="prime-back,faces-clear,rocks-close" />
               
           </h:panelGrid>

            <p:commandButton value="Submit" action="#{responsableCtl.enregistrerResponsable()}"  oncomplete="PF('dlg').show()" />

       </h:form>
       
        <h1> Liste des responsables</h1><br/><br/>
        
            
        <p:dataTable var="car" value="#{responsableCtl.responsables}" scrollable="true" scrollHeight="150">
            <p:column headerText="Matricule" footerText="Matricule">
                <h:outputText value="#{car.codeutilisateur}" />
            </p:column>
           
      </p:dataTable>       
        
        <h1>Listes Des responsables</h1>
        
        <p:dataTable var="car" value="#{utilisateurCtl.utilisateurs}" scrollable="true" scrollWidth="50%" scrollHeight="150">
        <p:column headerText="Matricule" footerText="Matricule" width="200">
            <h:outputText value="#{car.codeutilisateur}" />
        </p:column>
        <p:column headerText="Nom" footerText="Nom" width="200">
            <h:outputText value="#{car.nom}" />
        </p:column>
        <p:column headerText="Prenom" footerText="Prenom" width="200">
            <h:outputText value="#{car.prenom}" />
        </p:column>
        <p:column headerText="DateNaissance" footerText="DateNaissance" width="200">
            <h:outputText value="#{car.datedenaissance}" />
        </p:column>
        <p:column headerText="Pays" footerText="Pays" width="200">
            <h:outputText value="#{car.pays}" />
        </p:column>
        <p:column headerText="Cin" footerText="Cin" width="200">
            <h:outputText value="#{car.cin}" />
        </p:column>
        <p:column headerText="Password" footerText="Password" width="200">
            <h:outputText value="#{car.password}" />
        </p:column>
        <p:column headerText="Adresse" footerText="Adresse" width="200">
            <h:outputText value="#{car.adresse}" />
        </p:column>
        <p:column headerText="Login" footerText="Login" width="200">
            <h:outputText value="#{car.login}" />
        </p:column>
        <p:column headerText="BP" footerText="Bp" width="200">
            <h:outputText value="#{car.boitePostale}" />
        </p:column>
      
    </p:dataTable>
        
        
        
    </h:body>
</html>

