<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="ResponsableEditDlg" widgetVar="ResponsableEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditResponsableTitle}" closeOnEscape="true">

            <h:form id="ResponsableEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column">
                        
                        <p:outputLabel value="Matricule" for="code" />
                        <p:inputText id="code" value="#{responsableCtl.selectedResponsable.codeutilisateur}" title="#{myBundle.EditUtilisateurTitle_nom}" size="30" maxlength="254"/>
                       
                        <p:outputLabel value="Nom" for="nom" />
                        <p:inputText id="nom" value="#{responsableCtl.selectedResponsable.utilisateur.nom}" title="#{myBundle.EditUtilisateurTitle_password}" size="30" maxlength="254"/>
                        
                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_prenom}" for="prenom" />
                        <p:inputText id="prenom" value="#{responsableCtl.selectedResponsable.utilisateur.prenom}" title="#{myBundle.CreateUtilisateurTitle_prenom}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_datedenaissance}" for="datedenaissance" />
                        <p:calendar id="datedenaissance" pattern="MM/dd/yyyy" value="#{responsableCtl.selectedResponsable.utilisateur.datedenaissance}" title="#{myBundle.CreateUtilisateurTitle_datedenaissance}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_situationMatrimonial}" for="situationMatrimonial" />
                       
                        <p:inputText id="situationMatrimonial" value="#{responsableCtl.selectedResponsable.utilisateur.situationMatrimonial}" title="#{myBundle.CreateUtilisateurTitle_situationMatrimonial}" size="254" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_telephone}" for="telephone" />
                        <p:inputText id="telephone" value="#{responsableCtl.selectedResponsable.utilisateur.telephone}" title="#{myBundle.CreateUtilisateurTitle_telephone}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_adresse}" for="adresse" />
                        <p:inputText id="adresse" value="#{responsableCtl.selectedResponsable.utilisateur.adresse}" title="#{myBundle.CreateUtilisateurTitle_adresse}" size="30" maxlength="254"/>
                        
                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_ville}" for="ville" />
                        <p:inputText id="ville" value="#{responsableCtl.selectedResponsable.utilisateur.ville}" title="#{myBundle.CreateUtilisateurTitle_ville}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_pays}" for="pays" />
                        <p:inputText id="pays" value="#{responsableCtl.selectedResponsable.utilisateur.pays}" title="#{myBundle.CreateUtilisateurTitle_pays}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_email}" for="email" />
                        <p:inputText id="email" value="#{responsableCtl.selectedResponsable.utilisateur.email}" title="#{myBundle.CreateUtilisateurTitle_email}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_boitePostale}" for="boitePostale" />
                        <p:inputText id="boitePostale" value="#{responsableCtl.selectedResponsable.utilisateur.boitePostale}" title="#{myBundle.CreateUtilisateurTitle_boitePostale}"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_cin}" for="cin" />
                        <p:inputText id="cin" value="#{responsableCtl.selectedResponsable.utilisateur.cin}" title="#{myBundle.CreateUtilisateurTitle_cin}" required="true" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_login}" for="login" />
                        <p:inputText id="login" value="#{responsableCtl.selectedResponsable.utilisateur.login}" title="#{myBundle.CreateUtilisateurTitle_login}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_password}" for="password" />
                        <p:inputText id="password" value="#{responsableCtl.selectedResponsable.utilisateur.password}" title="#{myBundle.CreateUtilisateurTitle_password}" size="30" maxlength="254"/>

                    </p:panelGrid>
                    <p:commandButton actionListener="#{responsableCtl.modifierResponsable()}" 
                                     value="#{myBundle.Save}" update="display,:ResponsableListForm:datalist,
                                     :ResponsableListForm:growl" 
                                     oncomplete="handleSubmit(xhr,status,args,PF('ResponsableEditDialog'));"/>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('ResponsableEditDialog').hide()" />
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
