<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EnseignantsCreateDlg" widgetVar="EnseignantsCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateEnseignantsTitle}" closeOnEscape="true">

            <h:form id="EnseignantsCreateForm">

                <h:panelGroup id="display" >
                    <p:panelGrid columns="4" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateEnseignantsLabel_matricule}" for="matricule" />
                        <p:inputText id="matricule" value="#{enseignantCtrl.enseignant.matricule}" title="#{myBundle.CreateEnseignantsTitle_matricule}" required="true" requiredMessage="#{myBundle.CreateEnseignantsRequiredMessage_matricule}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateEnseignantsLabel_premon}" for="premon" />
                        <p:inputText id="premon" value="#{enseignantCtrl.enseignant.premon}" title="#{myBundle.CreateEnseignantsTitle_premon}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateEnseignantsLabel_nom}" for="nom" />
                        <p:inputText id="nom" value="#{enseignantCtrl.enseignant.nom}" title="#{myBundle.CreateEnseignantsTitle_nom}" required="true" requiredMessage="#{myBundle.CreateEnseignantsRequiredMessage_nom}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateEnseignantsLabel_age}" for="age" />
                        <p:inputText id="age" value="#{enseignantCtrl.enseignant.age}" title="#{myBundle.CreateEnseignantsTitle_age}"/>

                       
                        <!--<p:inputText id="sexe" value="#{enseignantCtrl.enseignant.sexe}" title="#{myBundle.CreateEnseignantsTitle_sexe}" required="true" requiredMessage="#{myBundle.CreateEnseignantsRequiredMessage_sexe}" size="30" maxlength="254"/>-->

                        
                    <p:outputLabel value="#{myBundle.CreateEnseignantsLabel_sexe}" for="sexe" />
                       <p:selectOneMenu id="sexe" value="#{enseignantCtrl.enseignant.sexe}" required="true" requiredMessage="#{myBundle.CreateEnseignantsRequiredMessage_sexe}">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{enseignantCtrl.sexes}"
                                           var="sexe"
                                           itemValue="#{sexe}"
                                           itemLabel="#{sexe}"
                                           />

                        </p:selectOneMenu>
                        
                        <p:outputLabel value="#{myBundle.CreateEnseignantsLabel_datenais}" for="datenais" />
                        <p:calendar id="datenais" pattern="MM/dd/yyyy" value="#{enseignantCtrl.enseignant.datenais}" title="#{myBundle.CreateEnseignantsTitle_datenais}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateEnseignantsLabel_lieunais}" for="lieunais" />
                        <p:inputText id="lieunais" value="#{enseignantCtrl.enseignant.lieunais}" title="#{myBundle.CreateEnseignantsTitle_lieunais}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateEnseignantsLabel_paysnais}" for="paysnais" />
                        <p:inputText id="paysnais" value="#{enseignantCtrl.enseignant.paysnais}" title="#{myBundle.CreateEnseignantsTitle_paysnais}" required="true" requiredMessage="#{myBundle.CreateEnseignantsRequiredMessage_paysnais}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateEnseignantsLabel_nationalite}" for="nationalite" />
                        <p:inputText id="nationalite" value="#{enseignantCtrl.enseignant.nationalite}" title="#{myBundle.CreateEnseignantsTitle_nationalite}" required="true" requiredMessage="#{myBundle.CreateEnseignantsRequiredMessage_nationalite}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateEnseignantsLabel_situationmatrimoniale}" for="situationmatrimoniale" />
                        <p:inputText id="situationmatrimoniale" value="#{enseignantCtrl.enseignant.situationmatrimoniale}" title="#{myBundle.CreateEnseignantsTitle_situationmatrimoniale}" required="true" requiredMessage="#{myBundle.CreateEnseignantsRequiredMessage_situationmatrimoniale}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateEnseignantsLabel_telephone}" for="telephone" />
                        <p:inputText id="telephone" value="#{enseignantCtrl.enseignant.telephone}" title="#{myBundle.CreateEnseignantsTitle_telephone}" required="true" requiredMessage="#{myBundle.CreateEnseignantsRequiredMessage_telephone}"/>

                        <p:outputLabel value="#{myBundle.CreateEnseignantsLabel_email1}" for="email1" />
                        <p:inputText id="email1" value="#{enseignantCtrl.enseignant.email1}" title="#{myBundle.CreateEnseignantsTitle_email1}" required="true" requiredMessage="#{myBundle.CreateEnseignantsRequiredMessage_email1}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateEnseignantsLabel_email}" for="email" />
                        <p:inputText id="email" value="#{enseignantCtrl.enseignant.email}" title="#{myBundle.CreateEnseignantsTitle_email}" size="30" maxlength="254"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{enseignantCtrl.enregistrerEnseignant()}" value="#{myBundle.Save}" update="display,:EnseignantsListForm:datalist,:EnseignantsListForm:EnseignantsDataTableContextMenu,:EnseignantsListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('EnseignantsCreateDialog'));">
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('EnseignantsCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
