<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="EnseignantsEditDlg" widgetVar="EnseignantsEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditEnseignantsTitle}" closeOnEscape="true">

            <h:form id="EnseignantsEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" >


                        <p:outputLabel value="#{myBundle.EditEnseignantsLabel_matricule}" for="matricule" />
                        <p:inputText id="matricule" value="#{enseignantCtrl.selectedEnseignant.matricule}" title="#{myBundle.EditEnseignantsTitle_matricule}" required="true" requiredMessage="#{myBundle.EditEnseignantsRequiredMessage_matricule}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditEnseignantsLabel_premon}" for="premon" />
                        <p:inputText id="premon" value="#{enseignantCtrl.selectedEnseignant.premon}" title="#{myBundle.EditEnseignantsTitle_premon}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditEnseignantsLabel_nom}" for="nom" />
                        <p:inputText id="nom" value="#{enseignantCtrl.selectedEnseignant.nom}" title="#{myBundle.EditEnseignantsTitle_nom}" required="true" requiredMessage="#{myBundle.EditEnseignantsRequiredMessage_nom}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditEnseignantsLabel_age}" for="age" />
                        <p:inputText id="age" value="#{enseignantCtrl.selectedEnseignant.age}" title="#{myBundle.EditEnseignantsTitle_age}"/>
<!--
                        <p:outputLabel value="#{myBundle.EditEnseignantsLabel_sexe}" for="sexe" />
                        <p:inputText id="sexe" value="#{enseignantCtrl.selectedEnseignant.sexe}" title="#{myBundle.EditEnseignantsTitle_sexe}" required="true" requiredMessage="#{myBundle.EditEnseignantsRequiredMessage_sexe}" size="30" maxlength="254"/>-->

                        
                       <p:outputLabel value="#{myBundle.EditEnseignantsLabel_sexe}" for="sexe" />
                       <p:selectOneMenu id="sexe" value="#{enseignantCtrl.selectedEnseignant.sexe}" required="true" requiredMessage="#{myBundle.EditEnseignantsRequiredMessage_sexe}">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{enseignantCtrl.sexes}"
                                           var="sexe"
                                           itemValue="#{sexe}"
                                           itemLabel="#{sexe}"
                                           />

                        </p:selectOneMenu>
                        <p:outputLabel value="#{myBundle.EditEnseignantsLabel_datenais}" for="datenais" />
                        <p:calendar id="datenais" pattern="MM/dd/yyyy" value="#{enseignantCtrl.selectedEnseignant.datenais}" title="#{myBundle.EditEnseignantsTitle_datenais}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditEnseignantsLabel_lieunais}" for="lieunais" />
                        <p:inputText id="lieunais" value="#{enseignantCtrl.selectedEnseignant.lieunais}" title="#{myBundle.EditEnseignantsTitle_lieunais}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditEnseignantsLabel_paysnais}" for="paysnais" />
                        <p:inputText id="paysnais" value="#{enseignantCtrl.selectedEnseignant.paysnais}" title="#{myBundle.EditEnseignantsTitle_paysnais}" required="true" requiredMessage="#{myBundle.EditEnseignantsRequiredMessage_paysnais}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditEnseignantsLabel_nationalite}" for="nationalite" />
                        <p:inputText id="nationalite" value="#{enseignantCtrl.selectedEnseignant.nationalite}" title="#{myBundle.EditEnseignantsTitle_nationalite}" required="true" requiredMessage="#{myBundle.EditEnseignantsRequiredMessage_nationalite}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditEnseignantsLabel_situationmatrimoniale}" for="situationmatrimoniale" />
                        <p:inputText id="situationmatrimoniale" value="#{enseignantCtrl.selectedEnseignant.situationmatrimoniale}" title="#{myBundle.EditEnseignantsTitle_situationmatrimoniale}" required="true" requiredMessage="#{myBundle.EditEnseignantsRequiredMessage_situationmatrimoniale}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditEnseignantsLabel_telephone}" for="telephone" />
                        <p:inputText id="telephone" value="#{enseignantCtrl.selectedEnseignant.telephone}" title="#{myBundle.EditEnseignantsTitle_telephone}" required="true" requiredMessage="#{myBundle.EditEnseignantsRequiredMessage_telephone}"/>

                        <p:outputLabel value="#{myBundle.EditEnseignantsLabel_email1}" for="email1" />
                        <p:inputText id="email1" value="#{enseignantCtrl.selectedEnseignant.email1}" title="#{myBundle.EditEnseignantsTitle_email1}" required="true" requiredMessage="#{myBundle.EditEnseignantsRequiredMessage_email1}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditEnseignantsLabel_email}" for="email" />
                        <p:inputText id="email" value="#{enseignantCtrl.selectedEnseignant.email}" title="#{myBundle.EditEnseignantsTitle_email}" size="30" maxlength="254"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{enseignantCtrl.modifierEnseignant()}" value="#{myBundle.Save}" update="display,:EnseignantsListForm:datalist,:EnseignantsListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('EnseignantsEditDialog'));">
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('EnseignantsEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
