<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EnseignantsViewDlg" widgetVar="EnseignantsViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewEnseignantsTitle}" closeOnEscape="true">

            <h:form id="EnseignantsViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <h:outputText value="#{myBundle.ViewEnseignantsLabel_matricule}"/>
                        <h:outputText value="#{enseignantCtrl.selectedEnseignant.matricule}" title="#{myBundle.ViewEnseignantsTitle_matricule}"/>

                        <h:outputText value="#{myBundle.ViewEnseignantsLabel_premon}"/>
                        <h:outputText value="#{enseignantCtrl.selectedEnseignant.premon}" title="#{myBundle.ViewEnseignantsTitle_premon}"/>

                        <h:outputText value="#{myBundle.ViewEnseignantsLabel_nom}"/>
                        <h:outputText value="#{enseignantCtrl.selectedEnseignant.nom}" title="#{myBundle.ViewEnseignantsTitle_nom}"/>

                        <h:outputText value="#{myBundle.ViewEnseignantsLabel_age}"/>
                        <h:outputText value="#{enseignantCtrl.selectedEnseignant.age}" title="#{myBundle.ViewEnseignantsTitle_age}"/>

                        <h:outputText value="#{myBundle.ViewEnseignantsLabel_sexe}"/>
                        <h:outputText value="#{enseignantCtrl.selectedEnseignant.sexe}" title="#{myBundle.ViewEnseignantsTitle_sexe}"/>

                        <h:outputText value="#{myBundle.ViewEnseignantsLabel_datenais}"/>
                        <h:outputText value="#{enseignantCtrl.selectedEnseignant.datenais}" title="#{myBundle.ViewEnseignantsTitle_datenais}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewEnseignantsLabel_lieunais}"/>
                        <h:outputText value="#{enseignantCtrl.selectedEnseignant.lieunais}" title="#{myBundle.ViewEnseignantsTitle_lieunais}"/>

                        <h:outputText value="#{myBundle.ViewEnseignantsLabel_paysnais}"/>
                        <h:outputText value="#{enseignantCtrl.selectedEnseignant.paysnais}" title="#{myBundle.ViewEnseignantsTitle_paysnais}"/>

                        <h:outputText value="#{myBundle.ViewEnseignantsLabel_nationalite}"/>
                        <h:outputText value="#{enseignantCtrl.selectedEnseignant.nationalite}" title="#{myBundle.ViewEnseignantsTitle_nationalite}"/>

                        <h:outputText value="#{myBundle.ViewEnseignantsLabel_situationmatrimoniale}"/>
                        <h:outputText value="#{enseignantCtrl.selectedEnseignant.situationmatrimoniale}" title="#{myBundle.ViewEnseignantsTitle_situationmatrimoniale}"/>

                        <h:outputText value="#{myBundle.ViewEnseignantsLabel_telephone}"/>
                        <h:outputText value="#{enseignantCtrl.selectedEnseignant.telephone}" title="#{myBundle.ViewEnseignantsTitle_telephone}"/>

                        <h:outputText value="#{myBundle.ViewEnseignantsLabel_email1}"/>
                        <h:outputText value="#{enseignantCtrl.selectedEnseignant.email1}" title="#{myBundle.ViewEnseignantsTitle_email1}"/>

                        <h:outputText value="#{myBundle.ViewEnseignantsLabel_email}"/>
                        <h:outputText value="#{enseignantCtrl.selectedEnseignant.email}" title="#{myBundle.ViewEnseignantsTitle_email}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('EnseignantsViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
