<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EmploisDuTempsCreateDlg" widgetVar="EmploisDuTempsCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateEmploisDuTempsTitle}" closeOnEscape="true">

            <h:form id="EmploisDuTempsCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateEmploisDuTempsLabel_codeEmploisdutemps}" for="codeEmploisdutemps" />
                        <p:inputText id="codeEmploisdutemps" value="#{emploisDuTempsCtl.emploisDuTemps.codeEmploisdutemps}" title="#{myBundle.CreateEmploisDuTempsTitle_codeEmploisdutemps}" required="true" requiredMessage="#{myBundle.CreateEmploisDuTempsRequiredMessage_codeEmploisdutemps}" size="34" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateEmploisDuTempsLabel_datedebut}" for="datedebut" />
                        <p:inputText id="datedebut" value="#{emploisDuTempsCtl.emploisDuTemps.fichier}" title="#{myBundle.CreateEmploisDuTempsTitle_datedebut}" size="34" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateEmploisDuTempsLabel_datefin}" for="datefin" />
                        <p:inputText id="datefin" value="#{emploisDuTempsCtl.emploisDuTemps.datefin}" title="#{myBundle.CreateEmploisDuTempsTitle_datefin}" size="34" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateEmploisDuTempsLabel_codeclasse}" for="codeclasse" />
                        <p:selectOneMenu id="codeclasse" value="#{emploisDuTempsCtl.emploisDuTemps.classe}" required="true" requiredMessage="#{myBundle.CreateEmploisDuTempsRequiredMessage_codeclasse}" converter="classeConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{classeCtl.classes}"
                                           var="codeclasseItem"
                                           itemValue="#{codeclasseItem}"
                                           itemLabel="#{codeclasseItem.lbelleClasse.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="Semestre" for="codeutilisateur" />
                        <p:selectOneMenu id="codeutilisateur" value="#{emploisDuTempsCtl.emploisDuTemps.semestre}" required="true" requiredMessage="#{myBundle.CreateEmploisDuTempsRequiredMessage_codeutilisateur}" converter="semestreConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{semestreCtl.semestres}"
                                           var="codesemestreItem"
                                           itemValue="#{codesemestreItem}"
                                           itemLabel="#{codesemestreItem.libelleSemestre.toString()}"
                                           />

                        </p:selectOneMenu>

                       
                    </p:panelGrid>
                    <p:commandButton actionListener="#{emploisDuTempsCtl.enregistrerEmploisDuTemps()}" value="#{myBundle.Save}" update="display,:EmploisDuTempsListForm:datalist,EmploisDuTempsListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('EmploisDuTempsCreateDialog'));">
                       
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('EmploisDuTempsCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
