<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="EmploisDuTempsEditDlg" widgetVar="EmploisDuTempsEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditEmploisDuTempsTitle}" closeOnEscape="true">

            <h:form id="EmploisDuTempsEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column">


                       
                        <p:outputLabel value="#{myBundle.EditEmploisDuTempsLabel_datedebut}" for="datedebut" />
                        <p:inputText id="datedebut" value="#{emploisDuTempsCtl.selectedEmploisDuTemps.fichier}" title="#{myBundle.EditEmploisDuTempsTitle_datedebut}" size="34" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditEmploisDuTempsLabel_datefin}" for="datefin" />
                        <p:inputText id="datefin" value="#{emploisDuTempsCtl.selectedEmploisDuTemps.datefin}" title="#{myBundle.EditEmploisDuTempsTitle_datefin}" size="34" maxlength="254"/>

                        <p:outputLabel value="Classe" for="codeclasse" />
                        <p:selectOneMenu id="codeclasse" value="#{emploisDuTempsCtl.selectedEmploisDuTemps.classe}" required="true" requiredMessage="#{myBundle.EditEmploisDuTempsRequiredMessage_codeclasse}" converter="classeConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{classeCtl.classes}"
                                           var="codeclasseItem"
                                           itemValue="#{codeclasseItem}"
                                           itemLabel="#{codeclasseItem.lbelleClasse.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="Semestre" for="codesemestre" />
                        <p:selectOneMenu id="codesemestre" value="#{emploisDuTempsCtl.selectedEmploisDuTemps.semestre}" required="true" requiredMessage="#{myBundle.EditEmploisDuTempsRequiredMessage_codesemestre}" converter="semestreConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{semestreCtl.semestres}"
                                           var="codesemestreItem"
                                           itemValue="#{codesemestreItem}"
                                           itemLabel="#{codesemestreItem.libelleSemestre.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{emploisDuTempsCtl.modifierEmploisDuTemps()}" value="#{myBundle.Save}" update="display,:EmploisDuTempsListForm:datalist,:EmploisDuTempsListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('EmploisDuTempsEditDialog'));">
                        
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('EmploisDuTempsEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
