<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="actionsForm1">
        <p:fieldset legend="Filtre Pour Impression" toggleable="true" toggleSpeed="300">
            <div class="footer-section">
                
                 <p:outputLabel value="Etablissement" for="etablissement" />
                 <p:selectOneMenu id="etablissement" value="#{emploisDuTempsCtl.selectedEtablissement}"
                                 required="true"
                                 requiredMessage="#{myBundle.CreateEtudiantsRequiredMessage_etablissement}" 
                                 converter="etablissementConverter">
                    <f:selectItem itemValue="" itemLabel="" />
                    <f:selectItems value="#{emploisDuTempsCtl.etablissements}"
                                   var="etablissementItem"
                                   itemValue="#{etablissementItem}"
                                   itemLabel="#{etablissementItem.libelleEtablissemant}"
                                   />

                    <p:ajax listener="#{emploisDuTempsCtl.listeDomainesEtablissement()}" update="domaine"/>
                </p:selectOneMenu> 
                
                
                 <p:outputLabel value="Domaine" for="domaine" />
                 <p:selectOneMenu id="domaine" value="#{emploisDuTempsCtl.selectedDomaine}"
                                 required="true"
                                 requiredMessage="#{myBundle.CreateEtudiantsRequiredMessage_domaine}" 
                                 converter="domaineConverter">
                    <f:selectItem itemValue="" itemLabel="" />
                    <f:selectItems value="#{emploisDuTempsCtl.domaines}"
                                   var="domaineItem"
                                   itemValue="#{domaineItem}"
                                   itemLabel="#{domaineItem.nomDomaine}"
                                   />

                    <p:ajax listener="#{emploisDuTempsCtl.listeFilieresDomaine()}" update="filiere"/>
                </p:selectOneMenu> 
                
                <p:outputLabel value="Filiere" for="filiere" />
                <p:selectOneMenu id="filiere" value="#{emploisDuTempsCtl.selectedFiliere}"
                                 required="true"
                                 requiredMessage="#{myBundle.CreateEtudiantsRequiredMessage_filiere}" 
                                 converter="filiereConverter">
                    <f:selectItem itemValue="" itemLabel="" />
                    <f:selectItems value="#{emploisDuTempsCtl.filieres}"
                                   var="filiereItem"
                                   itemValue="#{filiereItem}"
                                   itemLabel="#{filiereItem.libelleFiliere}"
                                   />

                    <p:ajax listener="#{emploisDuTempsCtl.listeClassesFiliere()}" update="classe"/>
                </p:selectOneMenu> 
                
               
                <p:outputLabel value="Classe" for="classe" />
                <p:selectOneMenu id="classe" value="#{emploisDuTempsCtl.selectedClasse}"
                                 required="true"
                                 requiredMessage="Veuiller selectionner la classe pour filtrer ses emplois emplois du temps" 
                                 converter="classeConverter">
                    <f:selectItem itemValue="" itemLabel="" />
                    <f:selectItems value="#{emploisDuTempsCtl.classes}"
                                   var="classeItem"
                                   itemValue="#{classeItem}"
                                   itemLabel="#{classeItem.lbelleClasse}"
                                   />

                    <p:ajax listener="#{emploisDuTempsCtl.listeEmploisDuTempsClasse()}" update="EmploisDuTempsListForm"/>

                </p:selectOneMenu> 


                <p:commandButton id="imprimer" icon="ui-icon-print"  
                                 value="Imprimer" actionListener="#{emploisDuTempsCtl.imprimerEmploisDuTempsHtml()}"
                                 update=":EmploisDuTempsListForm:growl" disabled="#{emploisDuTempsCtl.imprimer}" 
                                 oncomplete="PF('EmploisDuTempsImprimerDialog').show()"/>

            </div>
        </p:fieldset>
    </h:form>
</ui:composition>
