<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="EmploisDuTempsListForm">
        
         <p:messages id="growl" closable="true">
            <p:effect type="pulsate" event="load" delay="50" />
        </p:messages>

        <p:panel header="#{myBundle.ListEmploisDuTempsTitle}">
            <p:contextMenu id="EmploisDuTempsDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('EmploisDuTempsListForm:creer').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('EmploisDuTempsListForm:detail').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('EmploisDuTempsListForm:modifier').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('EmploisDuTempsListForm:supprimer').click();" icon="ui-icon-trash"/>
               
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{emploisDuTempsCtl.emploisDuTempses}"
                         lazy="false"
                         rowKey="#{item.codeEmploisdutemps}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{emploisDuTempsCtl.selectedEmploisDuTemps}"
                        >
                

                <p:ajax event="rowSelect"   update=":EmploisDuTempsListForm:EmploisDuTempsDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowUnselect" update=":EmploisDuTempsListForm:EmploisDuTempsDataTableContextMenu, :actionsForm"/>
                <p:ajax event="contextMenu" update=":EmploisDuTempsListForm:EmploisDuTempsDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('EmploisDuTempsListForm:viewButton').click();"/>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEmploisDuTempsTitle_codeEmploisdutemps}"/>
                    </f:facet>
                    <h:outputText value="#{item.codeEmploisdutemps}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEmploisDuTempsTitle_datedebut}"/>
                    </f:facet>
                    <h:outputText value="#{item.fichier}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEmploisDuTempsTitle_datefin}"/>
                    </f:facet>
                    <h:outputText value="#{item.datefin}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEmploisDuTempsTitle_codeclasse}"/>
                    </f:facet>
                    <h:outputText value="#{item.classe.lbelleClasse}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEmploisDuTempsTitle_codesemestre}"/>
                    </f:facet>
                    <h:outputText value="#{item.semestre.libelleSemestre}"/>
                </p:column>


            </p:dataTable>
        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>