<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EmploisDuTempsViewDlg" widgetVar="EmploisDuTempsViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewEmploisDuTempsTitle}" closeOnEscape="true">

            <h:form id="EmploisDuTempsViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <h:outputText value="#{myBundle.ViewEmploisDuTempsLabel_codeEmploisdutemps}"/>
                        <h:outputText value="#{emploisDuTempsCtl.selectedEmploisDuTemps.codeEmploisdutemps}" title="#{myBundle.ViewEmploisDuTempsTitle_codeEmploisdutemps}"/>

                        <h:outputText value="#{myBundle.ViewEmploisDuTempsLabel_datedebut}"/>
                        <h:outputText value="#{emploisDuTempsCtl.selectedEmploisDuTemps.fichier}" title="#{myBundle.ViewEmploisDuTempsTitle_datedebut}"/>

                        <h:outputText value="#{myBundle.ViewEmploisDuTempsLabel_datefin}"/>
                        <h:outputText value="#{emploisDuTempsCtl.selectedEmploisDuTemps.datefin}" title="#{myBundle.ViewEmploisDuTempsTitle_datefin}"/>

                        <h:outputText value="#{myBundle.ViewEmploisDuTempsLabel_codeclasse}"/>
                        <h:outputText value="#{emploisDuTempsCtl.selectedEmploisDuTemps.classe.lbelleClasse}"/>

                        <h:outputText value="#{myBundle.ViewEmploisDuTempsLabel_codesemestre}"/>
                        <h:outputText value="#{emploisDuTempsCtl.selectedEmploisDuTemps.semestre.libelleSemestre}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('EmploisDuTempsViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
