<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templatemodel/templateParametrage.xhtml">

   <ui:define name="title">Misc</ui:define>
    
    <ui:define name="content">
        <h1>je suis dans le parametrage</h1>
    </ui:define>

</ui:composition>
