<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
               template="/templatemodel/templateParametrage.xhtml">

    <ui:define name="title">
        <h:outputText value="#{myBundle.ClassematiereTitle}"/>
    </ui:define>

    <ui:define name="content">
        
          <h1><i> Liste des matières par classe</i></h1> 
        <p:separator/>
            <h:form id="ClassematiereCreateForm1">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateClassematiereLabel_classe}" for="classe" />
                        <p:selectOneMenu id="classe" value="#{classematiereCtrl.classematiereModifiee.classe}" required="true" requiredMessage="#{myBundle.CreateClassematiereRequiredMessage_classe}" converter="classesConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{classeCtrl.classes}"
                                           var="classeItem"
                                           itemValue="#{classeItem}"
                                           itemLabel="#{classeItem.denomination}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateClassematiereLabel_matiere}" for="matiere" />
                        <p:selectOneMenu id="matiere" value="#{classematiereCtrl.selectedClassematiere.classe}" required="true" requiredMessage="#{myBundle.CreateClassematiereRequiredMessage_matiere}" converter="matiersmoduleConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{matiersmoduleCtrl.matiersmodules}"
                                           var="matiereItem"
                                           itemValue="#{matiereItem}"
                                           itemLabel="#{matiereItem.nommatiere}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{classematiereCtrl.enregistrerClassematiere()}"
                                     value="#{myBundle.Save}" 
                                     update="display,:ClassematiereListForm:datalist,:ClassematiereListForm:growl" 
                                     oncomplete="handleSubmit(xhr,status,args,PF('ClassematiereCreateDialog'));">
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('ClassematiereCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        <ui:include src="/WEB-INF/include/entity/classematiere/Action.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/classematiere/Filtre.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/classematiere/View.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/classematiere/Edit.xhtml"/>
<!--        <ui:include src="/WEB-INF/include/entity/classematiere/Create.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/matiersmodule/View.xhtml"/>-->

    </ui:define>

</ui:composition>