<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PrivilegeCreateDlg" widgetVar="PrivilegeCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreatePrivilegeTitle}" closeOnEscape="true">

            <h:form id="PrivilegeCreateForm">

                <h:panelGroup id="display" rendered="#{privilegeController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreatePrivilegeLabel_nomprivilege}" for="nomprivilege" />
                        <p:inputText id="nomprivilege" value="#{privilegeController.selected.nomprivilege}" title="#{myBundle.CreatePrivilegeTitle_nomprivilege}" size="254" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreatePrivilegeLabel_description}" for="description" />
                        <p:inputText id="description" value="#{privilegeController.selected.description}" title="#{myBundle.CreatePrivilegeTitle_description}" size="254" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreatePrivilegeLabel_hierarchie}" for="hierarchie" />
                        <p:inputText id="hierarchie" value="#{privilegeController.selected.hierarchie}" title="#{myBundle.CreatePrivilegeTitle_hierarchie}" size="254" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreatePrivilegeLabel_etat}" for="etat" />
                        <p:selectBooleanCheckbox id="etat" value="#{privilegeController.selected.etat}" required="true" requiredMessage="#{myBundle.CreatePrivilegeRequiredMessage_etat}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{privilegeController.saveNew}" value="#{myBundle.Save}" update="display,:PrivilegeListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('PrivilegeCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('PrivilegeCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
