<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="PrivilegeEditDlg" widgetVar="PrivilegeEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditPrivilegeTitle}" closeOnEscape="true">

            <h:form id="PrivilegeEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{privilegeController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditPrivilegeLabel_id}" for="id" />
                        <h:outputText id="id" value="#{privilegeController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditPrivilegeLabel_nomprivilege}" for="nomprivilege" />
                        <p:inputText id="nomprivilege" value="#{privilegeController.selected.nomprivilege}" title="#{myBundle.EditPrivilegeTitle_nomprivilege}" size="254" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditPrivilegeLabel_description}" for="description" />
                        <p:inputText id="description" value="#{privilegeController.selected.description}" title="#{myBundle.EditPrivilegeTitle_description}" size="254" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditPrivilegeLabel_hierarchie}" for="hierarchie" />
                        <p:inputText id="hierarchie" value="#{privilegeController.selected.hierarchie}" title="#{myBundle.EditPrivilegeTitle_hierarchie}" size="254" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditPrivilegeLabel_etat}" for="etat" />
                        <p:selectBooleanCheckbox id="etat" value="#{privilegeController.selected.etat}" required="true" requiredMessage="#{myBundle.EditPrivilegeRequiredMessage_etat}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{privilegeController.save}" value="#{myBundle.Save}" update="display,:PrivilegeListForm:datalist,:PrivilegeListForm:PrivilegeDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('PrivilegeEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('PrivilegeEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
