<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="PrivilegeListForm">

        <p:panel header="#{myBundle.ListPrivilegeTitle}">
            <p:contextMenu id="PrivilegeDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('PrivilegeListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('PrivilegeListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('PrivilegeListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('PrivilegeListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.PrivilegeMenuItem_rolePrivilegeList}" icon="ui-icon-search"  action="#{privilegeController.navigateRolePrivilegeList}" disabled="#{privilegeController.isRolePrivilegeListEmpty}" ajax="false"/>  
                <p:menuitem value="#{myBundle.PrivilegeMenuItem_privilegepersoList}" icon="ui-icon-search"  action="#{privilegeController.navigatePrivilegepersoList}" disabled="#{privilegeController.isPrivilegepersoListEmpty}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{privilegeController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{privilegeController.selected}"
                         filteredValue="#{privilegeController.filteredItems}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{privilegeController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:PrivilegeDataTableContextMenu"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:PrivilegeDataTableContextMenu"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('PrivilegeListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPrivilegeTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.nomprivilege}" filterBy="#{item.nomprivilege}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPrivilegeTitle_nomprivilege}"/>
                    </f:facet>
                    <h:outputText value="#{item.nomprivilege}"/>
                </p:column>


                <p:column sortBy="#{item.description}" filterBy="#{item.description}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPrivilegeTitle_description}"/>
                    </f:facet>
                    <h:outputText value="#{item.description}"/>
                </p:column>


                <p:column sortBy="#{item.hierarchie}" filterBy="#{item.hierarchie}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPrivilegeTitle_hierarchie}"/>
                    </f:facet>
                    <h:outputText value="#{item.hierarchie}"/>
                </p:column>


                <p:column sortBy="#{item.etat}" filterBy="#{item.etat}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPrivilegeTitle_etat}"/>
                    </f:facet>
                    <h:selectBooleanCheckbox id="etat" value="#{item.etat}" title="#{myBundle.EditPrivilegeTitle_etat}" required="true" requiredMessage="#{myBundle.EditPrivilegeRequiredMessage_etat}" disabled="true"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{privilegeController.prepareCreate}" update=":PrivilegeCreateForm" oncomplete="PF('PrivilegeCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":PrivilegeViewForm" oncomplete="PF('PrivilegeViewDialog').show()" disabled="#{empty privilegeController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":PrivilegeEditForm" oncomplete="PF('PrivilegeEditDialog').show()" disabled="#{empty privilegeController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{privilegeController.delete}" update=":growl,datalist" disabled="#{empty privilegeController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>