<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PrivilegeViewDlg" widgetVar="PrivilegeViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewPrivilegeTitle}" closeOnEscape="true">

            <h:form id="PrivilegeViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{privilegeController.selected != null}">

                        <h:outputText value="#{myBundle.ViewPrivilegeLabel_id}"/>
                        <h:outputText value="#{privilegeController.selected.id}" title="#{myBundle.ViewPrivilegeTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewPrivilegeLabel_nomprivilege}"/>
                        <h:outputText value="#{privilegeController.selected.nomprivilege}" title="#{myBundle.ViewPrivilegeTitle_nomprivilege}"/>

                        <h:outputText value="#{myBundle.ViewPrivilegeLabel_description}"/>
                        <h:outputText value="#{privilegeController.selected.description}" title="#{myBundle.ViewPrivilegeTitle_description}"/>

                        <h:outputText value="#{myBundle.ViewPrivilegeLabel_hierarchie}"/>
                        <h:outputText value="#{privilegeController.selected.hierarchie}" title="#{myBundle.ViewPrivilegeTitle_hierarchie}"/>

                        <h:outputText value="#{myBundle.ViewPrivilegeLabel_etat}"/>
                        <p:selectBooleanCheckbox id="etat" value="#{privilegeController.selected.etat}" title="#{myBundle.EditPrivilegeTitle_etat}" required="true" requiredMessage="#{myBundle.EditPrivilegeRequiredMessage_etat}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('PrivilegeViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
