<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="DossierEditDlg" widgetVar="DossierEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditDossierTitle}" closeOnEscape="true">

            <h:form id="DossierEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column">


                        <p:outputLabel value="#{myBundle.EditDossierLabel_dateCreation}" for="dateCreation" />
                        <p:calendar id="dateCreation" pattern="MM/dd/yyyy" value="#{dossierCtl.selectedDossier.dateCreation}" title="#{myBundle.EditDossierTitle_dateCreation}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditDossierLabel_url}" for="url" />
                        <p:inputText id="url" value="#{dossierCtl.selectedDossier.url}" title="#{myBundle.EditDossierTitle_url}" size="30" maxlength="254"/>

                        <p:outputLabel value="Etudiant" for="etuCodeutilisateur" />
                        <p:selectOneMenu id="etuCodeutilisateur" value="#{dossierCtl.selectedDossier.etudiant}" required="true" requiredMessage="#{myBundle.EditDossierRequiredMessage_etuCodeutilisateur}" converter="etudiantConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{etudiantCtl.etudiants}"
                                           var="etuCodeutilisateurItem"
                                           itemValue="#{etuCodeutilisateurItem}"
                                           itemLabel="#{etuCodeutilisateurItem.utilisateur.prenom.toString()} #{etuCodeutilisateurItem.utilisateur.nom.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="Secretaire" for="codeutilisateur" />
                        <p:selectOneMenu id="codeutilisateur" value="#{dossierCtl.selectedDossier.secretaire}" required="true" requiredMessage="#{myBundle.EditDossierRequiredMessage_codeutilisateur}" converter="secretaireConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{secretaireCtl.secretaires}"
                                           var="codeutilisateurItem"
                                           itemValue="#{codeutilisateurItem}"
                                           itemLabel="#{codeutilisateurItem.utilisateur.prenom.toString()} #{codeutilisateurItem.utilisateur.nom.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{dossierCtl.modifierDossier()}" value="Update" 
                                     update="display,:DossierListForm:datalist,:DossierListForm:growl"
                                     oncomplete="handleSubmit(xhr,status,args,PF('DossierEditDialog'));">
                    </p:commandButton>
                    <p:commandButton value="Cancel" onclick="PF('DossierEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>
        

    </ui:composition>

</html>
