<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DossierViewDlg" widgetVar="DossierViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewDossierTitle}" closeOnEscape="true">

            <h:form id="DossierViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <h:outputText value="#{myBundle.ViewDossierLabel_codedossier}"/>
                        <h:outputText value="#{dossierCtl.selectedDossier.codedossier}" title="#{myBundle.ViewDossierTitle_codedossier}"/>

                        <h:outputText value="#{myBundle.ViewDossierLabel_dateCreation}"/>
                        <h:outputText value="#{dossierCtl.selectedDossier.dateCreation}" title="#{myBundle.ViewDossierTitle_dateCreation}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewDossierLabel_url}"/>
                        <h:outputText value="#{dossierCtl.selectedDossier.url}" title="#{myBundle.ViewDossierTitle_url}"/>

                        <h:outputText value="#{myBundle.ViewDossierLabel_etuCodeutilisateur}"/>
                        <h:outputText value="#{dossierCtl.selectedDossier.etudiant.codeutilisateur}"/>

                        <h:outputText value="Secretaire"/>
                        <h:outputText value="#{dossierCtl.selectedDossier.secretaire.codeutilisateur}"/>
                    </p:panelGrid>
                    <p:commandButton value="Close" onclick="PF('DossierViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
