<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="actionsForm">
        <p:fieldset legend="Actions" toggleable="true" toggleSpeed="300">
            <div class="footer-section">
                <p:commandButton id="creer" 
                                 icon="ui-icon-plus"   
                                 value="#{myBundle.Create}" 
                                 update=":UniteenseignementsCreateForm, :UniteenseignementsListForm:growl" 
                                 oncomplete="PF('UniteenseignementsCreateDialog').show()"/>
                <p:commandButton id="detail"   
                                 icon="ui-icon-search" 
                                 value="#{myBundle.View}" 
                                 update=":UniteenseignementsViewForm" 
                                 oncomplete="PF('UniteenseignementsViewDialog').show()" 
                                 disabled="#{uniteenseignementCtrl.detail }"/>
                <p:commandButton id="modifier"   
                                 icon="ui-icon-pencil" 
                                 value="#{myBundle.Edit}" 
                                 update=":UniteenseignementsEditDlg" 
                                 oncomplete="PF('UniteenseignementsEditDialog').show()" 
                                 disabled="#{uniteenseignementCtrl.modifier}"/>
                
                <p:commandButton id="gestMatieres"   
                                 icon="ui-icon-pencil" 
                                 value="#{myBundle.GestMatieresBtn}" 
                                 update=":UniteenseignementsLessonsDlg" 
                                 oncomplete="PF('UniteenseignementsLessonsDialog').show()" 
                                 disabled="#{uniteenseignementCtrl.modifier}"/>

                <p:commandButton id="supprimer" 
                                 icon="ui-icon-trash"  
                                 value="#{myBundle.Delete}" 
                                 update=":UniteenseignementsListForm:growl,:UniteenseignementsListForm:datalist,:actionsForm"
                                 disabled="#{uniteenseignementCtrl.supprimer}"
                                 actionListener="#{uniteenseignementCtrl.supprimer()}">
                    <p:confirm header="titre"
                               message="Supprimer"
                               icon="ui-icon-alert"/>
                </p:commandButton>

            </div>
        </p:fieldset>
    </h:form>
</ui:composition>
