<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UniteenseignementsCreateDlg" widgetVar="UniteenseignementsCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateUniteenseignementsTitle}" closeOnEscape="true">

            <h:form id="UniteenseignementsCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateUniteenseignementsLabel_nom}" for="nom" />
                        <p:inputText id="nom" value="#{uniteenseignementCtrl.uniteenseignement.nom}" title="#{myBundle.CreateUniteenseignementsTitle_nom}" required="true" requiredMessage="#{myBundle.CreateUniteenseignementsRequiredMessage_nom}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUniteenseignementsLabel_description}" for="description" />
                        <p:inputText id="description" value="#{uniteenseignementCtrl.uniteenseignement.description}" title="#{myBundle.CreateUniteenseignementsTitle_description}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUniteenseignementsLabel_credit}" for="credit" />
                        <p:inputText id="credit" value="#{uniteenseignementCtrl.uniteenseignement.credit}" title="#{myBundle.CreateUniteenseignementsTitle_credit}" required="true" requiredMessage="#{myBundle.CreateUniteenseignementsRequiredMessage_credit}"/>

                        <p:outputLabel value="#{myBundle.CreateUniteenseignementsLabel_etat}" for="etat" />
                        <p:selectBooleanCheckbox id="etat" value="#{uniteenseignementCtrl.uniteenseignement.etat}" required="true" requiredMessage="#{myBundle.CreateUniteenseignementsRequiredMessage_etat}"/>

                        <p:outputLabel value="#{myBundle.CreateUniteenseignementsLabel_filiere}" for="filiere" />
                        <p:selectOneMenu id="filiere" value="#{uniteenseignementCtrl.uniteenseignement.filiere}" required="true" requiredMessage="#{myBundle.CreateUniteenseignementsRequiredMessage_filiere}" converter="filieresConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{filiereCtrl.filieres}"
                                           var="filiereItem"
                                           itemValue="#{filiereItem}"
                                           itemLabel="#{filiereItem.nomfiliere}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{uniteenseignementCtrl.enregistrerUniteenseignements()}" 
                                     value="#{myBundle.Save}" update="display,:UniteenseignementsListForm:datalist,
                                     :UniteenseignementsListForm:growl"
                                     oncomplete="handleSubmit(xhr,status,args,PF('UniteenseignementsCreateDialog'));">
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('UniteenseignementsCreateDialog').hide()" />
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
