<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="UniteenseignementsEditDlg" widgetVar="UniteenseignementsEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditUniteenseignementsTitle}" closeOnEscape="true">

            <h:form id="UniteenseignementsEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.EditUniteenseignementsLabel_nom}" for="nom" />
                        <p:inputText id="nom" value="#{uniteenseignementCtrl.selectedUniteenseignements.nom}" title="#{myBundle.EditUniteenseignementsTitle_nom}" required="true" requiredMessage="#{myBundle.EditUniteenseignementsRequiredMessage_nom}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditUniteenseignementsLabel_description}" for="description" />
                        <p:inputText id="description" value="#{uniteenseignementCtrl.selectedUniteenseignements.description}" title="#{myBundle.EditUniteenseignementsTitle_description}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditUniteenseignementsLabel_credit}" for="credit" />
                        <p:inputText id="credit" value="#{uniteenseignementCtrl.selectedUniteenseignements.credit}" title="#{myBundle.EditUniteenseignementsTitle_credit}" required="true" requiredMessage="#{myBundle.EditUniteenseignementsRequiredMessage_credit}"/>

                        <p:outputLabel value="#{myBundle.EditUniteenseignementsLabel_etat}" for="etat" />
                        <p:selectBooleanCheckbox id="etat" value="#{uniteenseignementCtrl.selectedUniteenseignements.etat}" required="true" requiredMessage="#{myBundle.EditUniteenseignementsRequiredMessage_etat}"/>

                        <p:outputLabel value="#{myBundle.EditUniteenseignementsLabel_filiere}" for="filiere" />
                        <p:selectOneMenu id="filiere" value="#{uniteenseignementCtrl.selectedUniteenseignements.filiere}" required="true" requiredMessage="#{myBundle.EditUniteenseignementsRequiredMessage_filiere}" converter="filieresConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{filiereCtrl.filieres}"
                                           var="filiereItem"
                                           itemValue="#{filiereItem}"
                                           itemLabel="#{filiereItem.nomfiliere}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{uniteenseignementCtrl.modifier()}" value="#{myBundle.Save}" update="display,:UniteenseignementsListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('UniteenseignementsEditDialog'));">
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('UniteenseignementsEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
