<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition>

        <p:dialog id="UniteenseignementsLessonsDlg" width="800" 
                  showEffect="fade" hideEffect="fade"
                  widgetVar="UniteenseignementsLessonsDialog" closeOnEscape="true"
                  modal="true" resizable="false"  appendTo="@(body)"
                  header="Gestion des matières de l'UE" >

            <h:form id="UniteenseignementsLessonsForm">
                <p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank form-group">
                    <h:panelGroup styleClass="md-inputfield">
                        <p:inputText id="nommatiere" value="#{uniteenseignementCtrl.matiersmodule.nommatiere}"
                                     required="true"/>
                        <p:outputLabel value="Nom de la matière:" for="nommatiere" />
                    </h:panelGroup>

                    <h:panelGroup styleClass="md-inputfield">
                        <p:inputText id="guotahoraire" 
                                     value="#{uniteenseignementCtrl.matiersmodule.guotahoraire}"
                                     required="true" />
                        <p:outputLabel value="Quota horaire:" for="guotahoraire" />
                    </h:panelGroup>

                    <h:panelGroup styleClass="md-inputfield">
                        <p:inputText id="guotahorairerestant" value="#{uniteenseignementCtrl.matiersmodule.guotahorairerestant}"
                                     required="true" />
                        <p:outputLabel value="Quota horaire restant:" for="guotahorairerestant" />
                    </h:panelGroup>

                    <h:panelGroup styleClass="md-inputfield">
                        <p:inputText id="credit" value="#{uniteenseignementCtrl.matiersmodule.credit}"
                                     required="true" />
                        <p:outputLabel value="Crédits:" for="credit" />
                    </h:panelGroup>

                    <h:panelGroup styleClass="md-inputfield">
                        <p:commandButton value="jouter" update="formListMatieres, UniteenseignementsLessonsForm, :msgForm:growl" 
                                         actionListener="#{uniteenseignementCtrl.addNewMatiere()}" />
                    </h:panelGroup>
                </p:panelGrid>
            </h:form>
            <h:form id="formListMatieres">
                <p:dataTable value="#{uniteenseignementCtrl.euMatiersmodules}"
                             var="item" rowIndexVar="index" id="matieres">

                    <f:facet name="header">
                        Liste des matières de l'UE
                    </f:facet>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="No"/>
                        </f:facet>
                        <h:outputText value="#{index+1}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Nommatiere"/>
                        </f:facet>
                        <h:outputText value="#{item.nommatiere}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Guotahoraire"/>
                        </f:facet>
                        <h:outputText value="#{item.guotahoraire}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Guotahorairerestant"/>
                        </f:facet>
                        <h:outputText value="#{item.guotahorairerestant}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Credit"/>
                        </f:facet>
                        <h:outputText value="#{item.credit}"/>
                    </p:column>
                    <p:column style="width:32px;text-align: center">
                        <p:commandButton icon="ui-icon-trash" title="Supprimer" update="matieres, :msgForm:growl"
                                         actionListener="#{uniteenseignementCtrl.delMatiere(item)}">
                            <p:confirm header="Confirmation" message="êtes vous sûr?" icon="ui-icon-warning" />
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
                <p:commandButton value="Fermer" onclick="PF('UniteenseignementsLessonsDialog').hide();" />
            </h:form>

        </p:dialog>

    </ui:composition>

</html>
