<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UniteenseignementsViewDlg" widgetVar="UniteenseignementsViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewUniteenseignementsTitle}" closeOnEscape="true">

            <h:form id="UniteenseignementsViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2">

                        <h:outputText value="#{myBundle.ViewUniteenseignementsLabel_nom}"/>
                        <h:outputText value="#{uniteenseignementCtrl.selectedUniteenseignements.nom}" title="#{myBundle.ViewUniteenseignementsTitle_nom}"/>

                        <h:outputText value="#{myBundle.ViewUniteenseignementsLabel_description}"/>
                        <h:outputText value="#{uniteenseignementCtrl.selectedUniteenseignements.description}" title="#{myBundle.ViewUniteenseignementsTitle_description}"/>

                        <h:outputText value="#{myBundle.ViewUniteenseignementsLabel_credit}"/>
                        <h:outputText value="#{uniteenseignementCtrl.selectedUniteenseignements.credit}" title="#{myBundle.ViewUniteenseignementsTitle_credit}"/>

                        <h:outputText value="#{myBundle.ViewUniteenseignementsLabel_etat}"/>
                        <p:selectBooleanCheckbox id="etat" value="#{uniteenseignementCtrl.selectedUniteenseignements.etat}" title="#{myBundle.EditUniteenseignementsTitle_etat}" required="true" requiredMessage="#{myBundle.EditUniteenseignementsRequiredMessage_etat}"/>

                        <h:outputText value="#{myBundle.ViewUniteenseignementsLabel_filiere}"/>
                        <h:outputText value="#{uniteenseignementCtrl.selectedUniteenseignements.filiere.description}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('UniteenseignementsViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
