<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="HistoriquedeliberationCreateDlg" widgetVar="HistoriquedeliberationCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateHistoriquedeliberationTitle}" closeOnEscape="true">

            <h:form id="HistoriquedeliberationCreateForm">

                <h:panelGroup id="display" rendered="#{historiquedeliberationController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateHistoriquedeliberationLabel_pv}" for="pv" />
                        <p:inputText id="pv" value="#{historiquedeliberationController.selected.pv}" title="#{myBundle.CreateHistoriquedeliberationTitle_pv}" size="254" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateHistoriquedeliberationLabel_etat}" for="etat" />
                        <p:selectBooleanCheckbox id="etat" value="#{historiquedeliberationController.selected.etat}" required="true" requiredMessage="#{myBundle.CreateHistoriquedeliberationRequiredMessage_etat}"/>

                        <p:outputLabel value="#{myBundle.CreateHistoriquedeliberationLabel_seuil}" for="seuil" />
                        <p:inputText id="seuil" value="#{historiquedeliberationController.selected.seuil}" title="#{myBundle.CreateHistoriquedeliberationTitle_seuil}"/>

                        <p:outputLabel value="#{myBundle.CreateHistoriquedeliberationLabel_note}" for="note" />
                        <p:selectOneMenu id="note" value="#{historiquedeliberationController.selected.note}" required="true" requiredMessage="#{myBundle.CreateHistoriquedeliberationRequiredMessage_note}" converter="notesConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{notesController.items}"
                                           var="noteItem"
                                           itemValue="#{noteItem}"
                                           itemLabel="#{noteItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{historiquedeliberationController.saveNew}" value="#{myBundle.Save}" update="display,:HistoriquedeliberationListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('HistoriquedeliberationCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('HistoriquedeliberationCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
