<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="HistoriquedeliberationEditDlg" widgetVar="HistoriquedeliberationEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditHistoriquedeliberationTitle}" closeOnEscape="true">

            <h:form id="HistoriquedeliberationEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{historiquedeliberationController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditHistoriquedeliberationLabel_id}" for="id" />
                        <h:outputText id="id" value="#{historiquedeliberationController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditHistoriquedeliberationLabel_pv}" for="pv" />
                        <p:inputText id="pv" value="#{historiquedeliberationController.selected.pv}" title="#{myBundle.EditHistoriquedeliberationTitle_pv}" size="254" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditHistoriquedeliberationLabel_etat}" for="etat" />
                        <p:selectBooleanCheckbox id="etat" value="#{historiquedeliberationController.selected.etat}" required="true" requiredMessage="#{myBundle.EditHistoriquedeliberationRequiredMessage_etat}"/>

                        <p:outputLabel value="#{myBundle.EditHistoriquedeliberationLabel_seuil}" for="seuil" />
                        <p:inputText id="seuil" value="#{historiquedeliberationController.selected.seuil}" title="#{myBundle.EditHistoriquedeliberationTitle_seuil}"/>

                        <p:outputLabel value="#{myBundle.EditHistoriquedeliberationLabel_note}" for="note" />
                        <p:selectOneMenu id="note" value="#{historiquedeliberationController.selected.note}" required="true" requiredMessage="#{myBundle.EditHistoriquedeliberationRequiredMessage_note}" converter="notesConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{notesController.items}"
                                           var="noteItem"
                                           itemValue="#{noteItem}"
                                           itemLabel="#{noteItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{historiquedeliberationController.save}" value="#{myBundle.Save}" update="display,:HistoriquedeliberationListForm:datalist,:HistoriquedeliberationListForm:HistoriquedeliberationDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('HistoriquedeliberationEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('HistoriquedeliberationEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
