<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="HistoriquedeliberationListForm">

        <p:panel header="#{myBundle.ListHistoriquedeliberationTitle}">
            <p:contextMenu id="HistoriquedeliberationDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('HistoriquedeliberationListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('HistoriquedeliberationListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('HistoriquedeliberationListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('HistoriquedeliberationListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.HistoriquedeliberationMenuItem_note}" icon="ui-icon-search"  actionListener="#{historiquedeliberationController.prepareNote}" update=":NotesViewForm" oncomplete="PF('NotesViewDialog').show()" disabled="#{empty historiquedeliberationController.selected.note}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{historiquedeliberationController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{historiquedeliberationController.selected}"
                         filteredValue="#{historiquedeliberationController.filteredItems}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{historiquedeliberationController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:HistoriquedeliberationDataTableContextMenu" listener="#{historiquedeliberationController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:HistoriquedeliberationDataTableContextMenu" listener="#{historiquedeliberationController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{historiquedeliberationController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('HistoriquedeliberationListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListHistoriquedeliberationTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.pv}" filterBy="#{item.pv}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListHistoriquedeliberationTitle_pv}"/>
                    </f:facet>
                    <h:outputText value="#{item.pv}"/>
                </p:column>


                <p:column sortBy="#{item.etat}" filterBy="#{item.etat}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListHistoriquedeliberationTitle_etat}"/>
                    </f:facet>
                    <h:selectBooleanCheckbox id="etat" value="#{item.etat}" title="#{myBundle.EditHistoriquedeliberationTitle_etat}" required="true" requiredMessage="#{myBundle.EditHistoriquedeliberationRequiredMessage_etat}" disabled="true"/>
                </p:column>


                <p:column sortBy="#{item.seuil}" filterBy="#{item.seuil}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListHistoriquedeliberationTitle_seuil}"/>
                    </f:facet>
                    <h:outputText value="#{item.seuil}"/>
                </p:column>


                <p:column sortBy="#{item.note.id}" filterBy="#{item.note.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListHistoriquedeliberationTitle_note}"/>
                    </f:facet>
                    <h:outputText value="#{item.note.id}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{historiquedeliberationController.prepareCreate}" update=":HistoriquedeliberationCreateForm" oncomplete="PF('HistoriquedeliberationCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":HistoriquedeliberationViewForm" oncomplete="PF('HistoriquedeliberationViewDialog').show()" disabled="#{empty historiquedeliberationController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":HistoriquedeliberationEditForm" oncomplete="PF('HistoriquedeliberationEditDialog').show()" disabled="#{empty historiquedeliberationController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{historiquedeliberationController.delete}" update=":growl,datalist" disabled="#{empty historiquedeliberationController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>