<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="HistoriquedeliberationViewDlg" widgetVar="HistoriquedeliberationViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewHistoriquedeliberationTitle}" closeOnEscape="true">

            <h:form id="HistoriquedeliberationViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{historiquedeliberationController.selected != null}">

                        <h:outputText value="#{myBundle.ViewHistoriquedeliberationLabel_id}"/>
                        <h:outputText value="#{historiquedeliberationController.selected.id}" title="#{myBundle.ViewHistoriquedeliberationTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewHistoriquedeliberationLabel_pv}"/>
                        <h:outputText value="#{historiquedeliberationController.selected.pv}" title="#{myBundle.ViewHistoriquedeliberationTitle_pv}"/>

                        <h:outputText value="#{myBundle.ViewHistoriquedeliberationLabel_etat}"/>
                        <p:selectBooleanCheckbox id="etat" value="#{historiquedeliberationController.selected.etat}" title="#{myBundle.EditHistoriquedeliberationTitle_etat}" required="true" requiredMessage="#{myBundle.EditHistoriquedeliberationRequiredMessage_etat}"/>

                        <h:outputText value="#{myBundle.ViewHistoriquedeliberationLabel_seuil}"/>
                        <h:outputText value="#{historiquedeliberationController.selected.seuil}" title="#{myBundle.ViewHistoriquedeliberationTitle_seuil}"/>

                        <h:outputText value="#{myBundle.ViewHistoriquedeliberationLabel_note}"/>
                        <h:outputText value="#{historiquedeliberationController.selected.note.id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('HistoriquedeliberationViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
