<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RolesCreateDlg" widgetVar="RolesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateRolesTitle}" closeOnEscape="true">

            <h:form id="RolesCreateForm">

                <h:panelGroup id="display" rendered="#{rolesController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateRolesLabel_nom}" for="nom" />
                        <p:inputText id="nom" value="#{rolesController.selected.nom}" title="#{myBundle.CreateRolesTitle_nom}" size="254" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateRolesLabel_etat}" for="etat" />
                        <p:selectBooleanCheckbox id="etat" value="#{rolesController.selected.etat}" required="true" requiredMessage="#{myBundle.CreateRolesRequiredMessage_etat}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{rolesController.saveNew}" value="#{myBundle.Save}" update="display,:RolesListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('RolesCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('RolesCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
