<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="RolesEditDlg" widgetVar="RolesEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditRolesTitle}" closeOnEscape="true">

            <h:form id="RolesEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{rolesController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditRolesLabel_id}" for="id" />
                        <h:outputText id="id" value="#{rolesController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditRolesLabel_nom}" for="nom" />
                        <p:inputText id="nom" value="#{rolesController.selected.nom}" title="#{myBundle.EditRolesTitle_nom}" size="254" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditRolesLabel_etat}" for="etat" />
                        <p:selectBooleanCheckbox id="etat" value="#{rolesController.selected.etat}" required="true" requiredMessage="#{myBundle.EditRolesRequiredMessage_etat}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{rolesController.save}" value="#{myBundle.Save}" update="display,:RolesListForm:datalist,:RolesListForm:RolesDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('RolesEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('RolesEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
