<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="RolesListForm">

        <p:panel header="#{myBundle.ListRolesTitle}">
            <p:contextMenu id="RolesDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('RolesListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('RolesListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('RolesListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('RolesListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.RolesMenuItem_rolepersonnelList}" icon="ui-icon-search"  action="#{rolesController.navigateRolepersonnelList}" disabled="#{rolesController.isRolepersonnelListEmpty}" ajax="false"/>  
                <p:menuitem value="#{myBundle.RolesMenuItem_rolePrivilegeList}" icon="ui-icon-search"  action="#{rolesController.navigateRolePrivilegeList}" disabled="#{rolesController.isRolePrivilegeListEmpty}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{rolesController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{rolesController.selected}"
                         filteredValue="#{rolesController.filteredItems}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{rolesController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:RolesDataTableContextMenu"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:RolesDataTableContextMenu"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('RolesListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListRolesTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.nom}" filterBy="#{item.nom}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListRolesTitle_nom}"/>
                    </f:facet>
                    <h:outputText value="#{item.nom}"/>
                </p:column>


                <p:column sortBy="#{item.etat}" filterBy="#{item.etat}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListRolesTitle_etat}"/>
                    </f:facet>
                    <h:selectBooleanCheckbox id="etat" value="#{item.etat}" title="#{myBundle.EditRolesTitle_etat}" required="true" requiredMessage="#{myBundle.EditRolesRequiredMessage_etat}" disabled="true"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{rolesController.prepareCreate}" update=":RolesCreateForm" oncomplete="PF('RolesCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":RolesViewForm" oncomplete="PF('RolesViewDialog').show()" disabled="#{empty rolesController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":RolesEditForm" oncomplete="PF('RolesEditDialog').show()" disabled="#{empty rolesController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{rolesController.delete}" update=":growl,datalist" disabled="#{empty rolesController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>