<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RolesViewDlg" widgetVar="RolesViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewRolesTitle}" closeOnEscape="true">

            <h:form id="RolesViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{rolesController.selected != null}">

                        <h:outputText value="#{myBundle.ViewRolesLabel_id}"/>
                        <h:outputText value="#{rolesController.selected.id}" title="#{myBundle.ViewRolesTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewRolesLabel_nom}"/>
                        <h:outputText value="#{rolesController.selected.nom}" title="#{myBundle.ViewRolesTitle_nom}"/>

                        <h:outputText value="#{myBundle.ViewRolesLabel_etat}"/>
                        <p:selectBooleanCheckbox id="etat" value="#{rolesController.selected.etat}" title="#{myBundle.EditRolesTitle_etat}" required="true" requiredMessage="#{myBundle.EditRolesRequiredMessage_etat}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('RolesViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
