<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <h:outputStylesheet library="resources/engine" name="resources/engine/style.css" />
            <style type="text/css">a#vlb{display:none}</style>
            <h:outputScript library="resources/engine" name="resources/engine/jquery.js" />
            <!-- End WOWSlider.com HEAD section -->
        </f:facet>
        <title>University</title>
        <h:outputScript name="js/ripple.js" library="ultima-layout" />
        <script type="text/javascript">
            $(function () {
                $('#menu-button').on('click', function (e) {
                    var menu = $('#menu');
                    if (menu.hasClass('lmenu-active')) {
                        menu.addClass('fadeOutUp');

                        setTimeout(function () {
                            menu.removeClass('fadeOutUp fadeInDown lmenu-active');
                        }, 500);
                    } else {
                        menu.addClass('lmenu-active fadeInDown');
                    }
                    e.preventDefault();
                });
            });
        </script>
    </h:head>

    <h:body styleClass="landing-body">
        <div class="landing-wrapper">
            <div id="header">
                <div class="header-top clearfix">
                    <span class="logo"></span>
                    <ul id="menu1" class="animated">

                        <!--<li><a href="landing.xhtml"><i class="ui-icon ui-icon-home"></i><span>Accueil</span></a></li>-->
                        <p:megaMenu orientation="#{megaMenuView.orientation}"  style="color: black">
                            <p:submenu label="Accueil" icon="ui-icon-check">
                                <p:menuitem value="Accueil" url="landing.xhtml" />
                            </p:submenu>
                            <p:submenu label="Formation" icon="ui-icon-check">
                                <p:column>
                                    <p:submenu label="Arts, Lettres et Langues">
                                        <p:menuitem value="Licence" url="#" icon="ui-icon-cloud-queue"/>
                                        <p:menuitem value="Licence Pro" url="#" icon="ui-icon-cloud-queue" />
                                        <p:menuitem value="Master" url="#" icon="ui-icon-cloud-queue" />
                                        <p:menuitem value="Maquette" url="#" icon="ui-icon-cloud-queue" />
                                    </p:submenu>
                                    <p:submenu label="Sciences Humaines et Sociales">
                                        <p:menuitem value="Licence" url="#" icon="ui-icon-cloud-queue"/>
                                        <p:menuitem value="Licence Pro" url="#" icon="ui-icon-cloud-queue" />
                                        <p:menuitem value="Master" url="#" icon="ui-icon-cloud-queue" />
                                        <p:menuitem value="Maquette" url="#" icon="ui-icon-cloud-queue" />
                                    </p:submenu>
                                </p:column>

                                <p:column>
                                    <p:submenu label="Droit Économie Gestion">
                                        <p:menuitem value="Licence" url="#" icon="ui-icon-cloud-queue"/>
                                        <p:menuitem value="Licence Pro" url="#" icon="ui-icon-cloud-queue" />
                                        <p:menuitem value="Master" url="#" icon="ui-icon-cloud-queue" />
                                        <p:menuitem value="DUT" url="#" icon="ui-icon-cloud-queue" />
                                        <p:menuitem value="Maquette" url="#" icon="ui-icon-cloud-queue" />
                                    </p:submenu>
                                    <p:submenu label="Sciences, Technologies, Santé">
                                        <p:menuitem value="Licence" url="#" icon="ui-icon-cloud-queue"/>
                                        <p:menuitem value="Licence Pro" url="#" icon="ui-icon-cloud-queue" />
                                        <p:menuitem value="Master" url="#" icon="ui-icon-cloud-queue" />
                                        <p:menuitem value="DUT" url="#" icon="ui-icon-cloud-queue" />
                                        <p:menuitem value="Maquette" url="#" icon="ui-icon-cloud-queue" />
                                    </p:submenu>
                                </p:column>

                                <p:column>
                                    <strong>Image</strong>
                                    <p:graphicImage name="/demo/images/nature/nature1.jpg" width="200"/>
                                </p:column>
                            </p:submenu>
                            <p:submenu label="Filières" icon="ui-icon-document">

                                <p:column>
                                    <p:submenu label="Génie informatique">
                                        <p:menuitem value="Sports.1.1" url="#" />
                                        <p:menuitem value="Sports.1.2" url="#" />
                                    </p:submenu>
                                    <p:submenu label="Génie civil">
                                        <p:menuitem value="Sports.2.1" url="#" />
                                        <p:menuitem value="Sports.2.2" url="#" />
                                        <p:menuitem value="Sports.2.3" url="#" />
                                    </p:submenu>
                                </p:column>

                                <p:column>
                                    <p:submenu label="Génie industriel">
                                        <p:menuitem value="Sports.4.1" url="#" />
                                        <p:menuitem value="Sports.4.2" url="#" />
                                    </p:submenu>
                                    <p:submenu label="Linguistique">
                                        <p:menuitem value="Sports.5.1" url="#" />
                                        <p:menuitem value="Sports.5.2" url="#" />
                                        <p:menuitem value="Sports.5.3" url="#" />
                                    </p:submenu>
                                </p:column>
                                <p:column>
                                    <p:submenu label="Sports.7">
                                        <p:menuitem value="Sports.7.1" url="#" />
                                        <p:menuitem value="Sports.7.2" url="#" />
                                    </p:submenu>
                                </p:column>
                            </p:submenu>

                            <p:submenu label="Nos statistiques" icon="ui-icon-pencil">
                                <p:column>
                                    <p:submenu label="Taux de réussite">
                                        <p:menuitem value="Entertainment.1.1" url="#" />
                                        <p:menuitem value="Entertainment.1.2" url="#" />
                                    </p:submenu>
                                    <p:submenu label="Corps Enseignant">
                                        <p:menuitem value="Entertainment.2.1" url="#" />
                                        <p:menuitem value="Entertainment.2.2" url="#" />
                                        <p:menuitem value="Entertainment.2.3" url="#" />

                                        <p:submenu label="Partenariats">
                                            <p:menuitem value="Entertainment.2.1" url="#" />
                                            <p:menuitem value="Entertainment.2.2" url="#" />
                                            <p:menuitem value="Entertainment.2.3" url="#" />
                                        </p:submenu>
                                    </p:submenu>
                                </p:column>

                                <p:column>
                                    <p:submenu label="Entertainment.4" icon="ui-icon-help">
                                        <p:menuitem value="Entertainment.4.1" url="#" />
                                        <p:menuitem value="Entertainment.4.2" url="#" />
                                    </p:submenu>
                                    <p:submenu label="Entertainment.5">
                                        <p:menuitem value="Entertainment.5.1" url="#" />
                                        <p:menuitem value="Entertainment.5.2" url="#" />
                                        <p:menuitem value="Entertainment.5.3" url="#" />
                                    </p:submenu>
                                </p:column>
                            </p:submenu>

                            <p:menuitem value="Connexion" url="login.xhtml" icon="ui-icon-close" />

                        </p:megaMenu>

                        <div id="wowslider-container">
                            <div id="wowslider-images">
                                <a href="#"><img src="#{request.contextPath}/resources/data/images/class-in-sinenjongo-high-school-joe-slovo-park-cape-town-south-africa-3341-0.jpg" alt="class-in-sinenjongo-high-school-joe-slovo-park-cape-town-south-africa-3341-0" title="class-in-sinenjongo-high-school-joe-slovo-park-cape-town-south-africa-3341-0" /></a>
                                <a href="#"><img src="#{request.contextPath}/resources/data/images/fghgf.jpg" alt="fghgf" title="fghgf" /></a>
                                <a href="#"><img src="#{request.contextPath}/resources/data/images/images.jpg" alt="images" title="images" /></a>
                                <a href="#"><img src="#{request.contextPath}/resources/data/images/rtyt-.jpg" alt="rtyt-" title="rtyt-" /></a>
                                <a href="#"><img src="#{request.contextPath}/resources/data/images/u.jpg" alt="u" title="u" /></a>
                                <a href="#"><img src="#{request.contextPath}/resources/data/images/uiui.jpg" alt="uiui" title="uiui" /></a>
                                <a href="#"><img src="#{request.contextPath}/resources/data/images/ujiu.jpg" alt="ujiu" title="ujiu" /></a>
                                <a href="#"><img src="#{request.contextPath}/resources/data/images/universites-afrique-l-economiste-maghrebin-1200x700.jpg" alt="Universites-afrique-l-economiste-maghrebin-1200x700" title="Universites-afrique-l-economiste-maghrebin-1200x700" /></a>
                                <a href="#"><img src="#{request.contextPath}/resources/data/images/y-.jpg" alt="y-" title="y-" /></a>
                                <a href="#"><img src="#{request.contextPath}/resources/data/images/èi_iè.jpg" alt="èi_iè" title="èi_iè" /></a>
                                <a href="#"><img src="#{request.contextPath}/resources/data/images/èu_è.jpg" alt="èu_è" title="èu_è" /></a>
                            </div>
                        </div>
                        <script type="text/javascript" src="#{request.contextPath}/resources/engine/script.js"></script>
                        <!-- End WOWSlider.com BODY section -->


                    </ul>

                </div>


            </div>

            <div id="features">
                <h2>Bienvenu sur Tech University</h2>
                <p> Tech University offre un large éventail de formations dans de nombreuses 
                    disciplines à tous les niveaux (licences, les licences professionnelles,
                    masters et doctorats) réparties dans 4 domaines et pouvant s'effectuer en
                    présentiel, à distance et aussi en alternance et sur l'un de nos 6 campus répartis 
                    dans la région.

                 
                </p>

                <div class="ui-g">
                    <div class="ui-g-12 ui-md-4">
                        <h3>Formations</h3>
                        <p>La professionnalisation des formations</p>
                        <div class="feature-icon">
                            <i class="material-icons">&#xE150;</i>
                        </div>
                    </div>
<!--                    <div class="ui-g-12 ui-md-4">
                        <h3>Responsive</h3>
                        <p>Lorem ipsum dolor sit amet</p>
                        <div class="feature-icon">
                            <i class="material-icons">&#xE32C;</i>
                        </div>
                    </div>-->
<!--                    <div class="ui-g-12 ui-md-4">
                        <h3>Cross Browser</h3>
                        <p>Lorem ipsum dolor sit amet</p>
                        <div class="feature-icon">
                            <i class="material-icons">&#xE89D;</i>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-4">
                        <div class="feature-icon">
                            <i class="material-icons">&#xE259;</i>
                        </div>
                        <h3>Well Organized</h3>
                        <p>Well Organ</p>
                    </div>-->
                    <div class="ui-g-12 ui-md-4">
                        <div class="feature-icon">
                            <i class="material-icons">&#xE40A;</i>
                        </div>
                        <h3>Créativité</h3>
                        <p>....</p>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <div class="feature-icon">
                            <i class="material-icons">&#xE86C;</i>
                        </div>
                        <h3>Just For you</h3>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
            </div>

            <div id="promotion" class="clearfix">
                <div class="ui-g">
                    <div class="ui-g-12 ui-lg-8">
                        <h1>Boost Your Productivity.</h1>
<!--                        <p:button outcome="/dashboard" value="Sign Up Now" styleClass="secondary"/>-->
                    </div>
                    <div class="ui-g-12 ui-lg-4">
                        <div class="card">
                            <h3>Travail</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab perferendis nesciunt ad reiciendis explicabo consequatur sapiente odit ipsa harum illum, necessitatibus quaerat voluptates aspernatur iure, aperiam possimus sint sit mollitia!</p>
                        </div>

                        <div class="card">
                            <h3>Discipline</h3>
                            <p>Ab perferendis nesciunt ad reiciendis explicabo consequatur sapiente odit ipsa harum illum. Necessitatibus quaerat voluptates aspernatur iure, aperiam possimus sint sit mollitia!</p>
                        </div>

                        <div class="card">
                            <h3>Excellence</h3>
                            <p>Necessitatibus quaerat voluptates aspernatur iure, aperiam possimus sint sit mollitia! Ab perferendis nesciunt ad reiciendis explicabo consequatur sapiente odit ipsa harum illum.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="pricing">
                <h2>CHIFFRES CLÉS</h2>
                <p>Esse delectus sit velit, aspernatur voluptates molestiae, enim recusandae. Odit dicta, maiores quas ad nesciunt, illum expedita veritatis illo quam odio id!</p>

                <div class="ui-g">
                    <div class="ui-g-12 ui-md-4 pricing-box pricing-basic">
                        <div class="card">
                            <div class="pricing-header">
                                <span class="name">Etudiants</span>
                                <span class="fee">120</span>
                                <span class="type">en 5 ans</span>
                            </div>
                            <div class="pricing-content">
                                <ul>
                                    <li><i class="material-icons"></i><span>Responsive</span></li>
                                    <li><i class="material-icons"></i><span>Push Messages</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-4 pricing-box pricing-standard">
                        <div class="card">
                            <div class="pricing-header">
                                <span class="name">Professeurs</span>
                                <span class="fee">25</span>
                                <span class="type">en 5 ans</span>
                            </div>
                            <div class="pricing-content">
                                <ul>
                                    <li><i class="material-icons"></i><span>Responsive</span></li>
                                    <li><i class="material-icons"></i><span>Push Messages</span></li>
                                    <li><i class="material-icons"></i><span>7/24 Support</span></li>
                                    <li><i class="material-icons"></i><span>Free Shipping</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-4 pricing-box pricing-professional">
                        <div class="card">
                            <div class="pricing-header">
                                <span class="name">Taux de réussite</span>
                                <span class="fee">80%</span>
                                <span class="type">en 5 ans</span>
                            </div>
                            <div class="pricing-content">
                                <ul>
                                    <li><i class="material-icons"></i><span>Responsive</span></li>
                                    <li><i class="material-icons"></i><span>Push Messages</span></li>
                                    <li><i class="material-icons"></i><span>7/24 Support</span></li>
                                    <li><i class="material-icons"></i><span>Free Shipping</span></li>
                                    <li><i class="material-icons"></i><span>Unlimited Bandwidth</span></li>
                                    <li><i class="material-icons"></i><span>Unlimited Storage</span></li>
                                    <li><i class="material-icons"></i><span>Gift Cards</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="video">
                <div class="video-content">
                    <h2>Video</h2>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/B_lYGUtCd0g" frameborder="0" width="560" height="330"></iframe>
                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="footer-content">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-6">
                            <p>Copy right</p>
                            <p> 2017 TECH UNIVERSITY.</p>
                        </div>
                        <div class="ui-g-12 ui-md-6">
<!--                            <ul>
                                <li><a href="#mobile">Promotion</a></li>
                                <li><a href="#pricing">Pricing</a></li>
                                <li><a href="#video">Video</a></li>
                            </ul>-->
                            <ul>
                                <li><a href="#">Accueil</a></li>
                                <li><a href="#introduction">Formations</a></li>
                                <li><a href="#features">Filières</a></li>
                                <li><a href="#{request.contextPath}/login.xhtml">connexion</a></li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h:outputStylesheet name="css/animate.css" library="ultima-layout" />
        <h:outputStylesheet name="css/ripple.css" library="ultima-layout" />
        <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="ultima-layout" />

    </h:body>

</html>