<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>PrimeFaces Ultima</title>
        <h:outputScript name="js/ripple.js" library="ultima-layout" />
        <h:outputScript name="js/layout.js" library="ultima-layout" />
    </h:head>

    <h:body styleClass="login-body">
        <f:view>
            <h:form id="loginForm">
                <p:growl id="growl" life="5000" />
                <div class="card login-panel ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <p:graphicImage name="images/logo-ultima.svg" library="ultima-layout" />
                        </div>
                        <div class="ui-g-12">
                            <h:panelGroup styleClass="md-inputfield">
                                <p:inputText value="#{sessionCtrl.login}"/>
                                <label>Identifiant</label>
                            </h:panelGroup>
                        </div>
                        <div class="ui-g-12">
                            <h:panelGroup styleClass="md-inputfield">
                                <p:password value="#{sessionCtrl.motDePasse}" />
                                <label>mot de passe</label>
                            </h:panelGroup>
                        </div>
                        <div class="ui-g-12">
                            <p:commandButton type="submit" update="loginForm"
                                             id="conec" actionListener="#{sessionCtrl.authentification()}" 
                                             value="Connexion" icon="ui-icon-person"/>
                            <p:button outcome="/landing" value="Retour à l'accueil" icon="ui-icon-help" styleClass="secondary"/>
                        </div>
                    </div>
                </div>
            </h:form>
            <div class="login-footer"></div>
        </f:view>

        <h:outputStylesheet name="css/ripple.css" library="ultima-layout" />
        <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="ultima-layout" />
    </h:body>

</html>