<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                 template="/templatemodel/templateParametrage.xhtml">

        <ui:define name="title">
            <h:outputText value="#{myBundle.AnneeScolaireTitle}"/>
        </ui:define>

        <ui:define name="content">
           <ui:include src="/WEB-INF/include/entity/anneeScolaire/Action.xhtml"/>
            <ui:include src="/WEB-INF/include/entity/anneeScolaire/List.xhtml"/>
            <ui:include src="/WEB-INF/include/entity/anneeScolaire/View.xhtml"/>
            <ui:include src="/WEB-INF/include/entity/anneeScolaire/Edit.xhtml"/>
            <ui:include src="/WEB-INF/include/entity/anneeScolaire/Create.xhtml"/>

        </ui:define>

</ui:composition>
