<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pu="http://primefaces.org/ultima">

    <h:form id="menuform"> 
        <div class="layout-menu #{guestPreferences.menuClass}">
            <div class="nano">
                <div class="nano-content menu-scroll-content">
                    <ui:fragment rendered="#{guestPreferences.profileMode == 'inline' and guestPreferences.menuLayout != 'menu-layout-static menu-layout-horizontal'}">
                        <h:form>
                            <div class="profile">
                                <div class="profile-image"></div>
                                <a id="profile-options" href="#">
                                    <span class="profile-name">#{sessionCtrl.compteuser.personnel.nom}</span>
                                    <i class="material-icons">&#xE313;</i>
                                </a>
                            </div>

                            <ul id="profile-menu" class="ultima-menu">
                                <li role="menuitem">
                                    <a href="#" class="ripplelink">
                                        <i class="material-icons">&#xE7FD;</i>
                                        <span>Profile</span>
                                    </a>
                                </li>
                                <li role="menuitem">
                                    <a href="#" class="ripplelink">
                                        <i class="material-icons">&#xE32A;</i>
                                        <span>Privacy</span>
                                    </a>
                                </li>
                                <li role="menuitem">
                                    <a href="#" class="ripplelink">
                                        <i class="material-icons">&#xE8B9;</i>
                                        <span>Paramètre</span>
                                    </a>
                                </li>
                                <li role="menuitem">
                                    <p:commandLink class="ripplelink" actionListener="#{sessionCtrl.deconnexion()}" >
                                        <i class="material-icons">&#xE8AC;</i>
                                        <span>Déconnexion</span>
                                    </p:commandLink>
                                </li>
                            </ul>
                        </h:form>
                    </ui:fragment>

                    <pu:menu widgetVar="me">
                        <p:menuitem id="um_dashboard" value="Dashboard" icon="&#xE871;" outcome="/dashboard"/>

                        <p:submenu  label="Paramétrage" icon="&#xE8B8;">
                            <p:menuitem id="um_sample" value="Année Scolaire" icon="&#xE30B;" outcome="/app/anneeScolaire/anneeScolaire" />
                            <p:menuitem id="um_mois" value="Mois" icon="&#xE0C9;" outcome="/app/mois/mois" />
                            <p:menuitem id="um_panels" value="Département" icon="&#xE14F;" outcome="/app/departement/departement" />
                            <p:menuitem id="um_overlays" value="Filières" icon="&#xE14D;" outcome="/app/filieres/filieres" />
                            <p:menuitem id="um_data" value="Untiés d'enseignement" icon="&#xE3EC;" outcome="/app/uniteenseignements/uniteenseignements" />
                            <p:menuitem id="um_forms" value="Maquette" icon="&#xE890;" outcome="/app/matiersmodule/matiersmodule" />
                            <p:menuitem id="um_classe_matiere" value="Matiere par classe" icon="&#xE890;" outcome="/app/classematiere/classematiere" />
                            <p:menuitem id="um_samples" value="Classes" icon="&#xE30B;" outcome="/app/classes/classes" />
                            <p:menuitem id="um_menus" value="Salles" icon="&#xE5D2;" outcome="/app/salles/salles" />
                            <p:menuitem id="um_messages" value="Enseignants" icon="&#xE0C9;" outcome="/app/enseignants/enseignants" />
                            <p:menuitem id="um_post" value="Postes" icon="&#xE0C9;" outcome="/app/postepersonnel/postepersonnel" />
                            <p:menuitem id="um_peronnel" value="Personnels" icon="&#xE0C9;" outcome="/app/personnel/personnel" />
                            <p:menuitem id="um_compteuser" value="Compte utilisateur" icon="&#xE0C9;" outcome="/app/compteuser/compteuser" />

                        </p:submenu>

                        <p:submenu id="um_component" label="Secrétariat" icon="&#xE896;">
                            <p:menuitem id="um_charts" value="Etudiants" icon="&#xE24B;" outcome="/app/etudiants/etudiants" />
                            <p:menuitem id="um_file" value="File" icon="&#xE226;" outcome="/file" />
                            <p:menuitem id="um_misc" value="Misc" icon="&#xE332;" outcome="/misc"/>

                        </p:submenu>


                        <p:submenu id="um_default" label="Emploi de Temps" icon="&#9783;">
                            <!--<p:menuitem id="um_db_landing" value="Horaires" icon="&#xE904;" outcome="/app/horaires/horaires"/>-->
                            <p:menuitem id="um_empty" value="Emploi de temps" icon="&#xE88B;" outcome="/app/emploidetemps/emploidetemps" />
                            <p:menuitem id="um_login" value="Séance de cours" icon="&#xE8E8;" outcome="/app/seancecours/seancecours"/>
                            <p:menuitem id="um_error" value="Gestion des Notes" icon="&#xE000;" outcome="/app//notes/notes" />
                            <p:menuitem id="um_note_classe" value="Notes par classe" icon="&#xE001;" outcome="/404" />
                            <p:menuitem id="um_404" value="404" icon="&#xE001;" outcome="/404" />
                            <p:menuitem id="um_access" value="Access Denied Page" icon="&#xE32A;" outcome="/access" />
                        </p:submenu>

                        <p:menuitem id="um_utils" value="Comptabilité" icon="&#xE869;" outcome="/app/comptabilite/comptabilite"/>

                        <p:menuitem id="um_utilss" value="Delibération" icon="&#xE869;" outcome="/app/historiquedeliberation/historiquedeliberation"/>

                        <p:menuitem id="um_doc" value="Aide" icon="&#xE880;" outcome="/docs"/>

                        <p:submenu id="themes" label="Themes" icon="&#xE40A;">
                            <p:menuitem id="theme1" value="Indigo - Pink" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('indigo')}" ajax="false" />
                            <p:menuitem id="theme2" value="Brown - Green" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('brown')}" ajax="false" />
                            <p:menuitem id="theme3" value="Blue - Amber" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('blue')}" ajax="false" />
                            <p:menuitem id="theme4" value="Blue Grey - Green" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('blue-grey')}" ajax="false" />
                            <p:menuitem id="theme5" value="Dark - Blue" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('dark-blue')}" ajax="false" />
                            <p:menuitem id="theme6" value="Dark - Green" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('dark-green')}" ajax="false" />
                            <p:menuitem id="theme7" value="Green - Yellow" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('green')}" ajax="false" />
                            <p:menuitem id="theme8" value="Purple - Cyan" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('purple-cyan')}" ajax="false" />
                            <p:menuitem id="theme9" value="Purple - Amber" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('purple-amber')}" ajax="false" />
                            <p:menuitem id="theme10" value="Teal - Lime" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('teal')}" ajax="false" />
                            <p:menuitem id="theme11" value="Cyan - Amber" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('cyan')}" ajax="false" />
                            <p:menuitem id="theme12" value="Grey - Deep Orange" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('grey')}" ajax="false" />
                        </p:submenu>
                        <p:submenu id="um_hierarchy" label="Orientation du Menu" icon="&#xE5D2;">
                            <p:submenu id="um_sm1" label="Submenu 1" icon="&#xE8D2;">
                                <p:submenu id="um_sm11" label="Submenu 1.1" icon="&#xE8D2;">
                                    <p:menuitem id="um_lnk111" value="Compact Size" icon="&#xE061;" actionListener="#{guestPreferences.setCompact(true)}" ajax="false"/>
                                    <p:menuitem id="um_lnk112" value="Material Size" icon="&#xE062;" actionListener="#{guestPreferences.setCompact(false)}" ajax="false"/>
                                    <p:menuitem id="um_lnk113" value="Static Menu" icon="&#xE5D2;" actionListener="#{guestPreferences.setMenuLayout('static')}" ajax="false"/>
                                    <p:menuitem id="um_lnk114" value="Overlay Menu" icon="&#xE879;" actionListener="#{guestPreferences.setMenuLayout('overlay')}" ajax="false"/>
                                    <p:menuitem id="um_lnk115" value="Horizontal Menu" icon="&#xE22C;" actionListener="#{guestPreferences.setMenuLayout('horizontal')}" ajax="false"/>
                                    <p:menuitem id="um_lnk116" value="Light Menu" icon="&#xE893;" actionListener="#{guestPreferences.setLightMenu}" ajax="false" />
                                    <p:menuitem id="um_lnk117" value="Dark Menu" icon="&#xE892;" actionListener="#{guestPreferences.setDarkMenu}" ajax="false"/>
                                    <p:menuitem id="um_lnk118" value="Inline Profile" icon="&#xE0BA;" actionListener="#{guestPreferences.setProfileMode('inline')}" ajax="false" />
                                    <p:menuitem id="um_lnk119" value="Top Profile" icon="&#xE55A;" actionListener="#{guestPreferences.setProfileMode('overlay')}" ajax="false"/>
                                </p:submenu>          
                            </p:submenu>
                        </p:submenu>
                        <p:submenu id="um_orientation" label="Orientationb du sibar" icon="&#xE237;">
                            <p:menuitem id="um_ltr" value="Gauche" icon="&#xE236;" actionListener="#{guestPreferences.setOrientationRTL(false)}" ajax="false" />
                            <p:menuitem id="um_rtl" value="Droite" icon="&#xE237;" actionListener="#{guestPreferences.setOrientationRTL(true)}" ajax="false" />
                        </p:submenu>

                    </pu:menu>
                </div>
            </div>
        </div>
    </h:form>
</ui:composition>
