<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PersonnelCreateDlg" widgetVar="PersonnelCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreatePersonnelTitle}" closeOnEscape="true">

            <h:form id="PersonnelCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="4" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreatePersonnelLabel_matricule}" for="matricule" />
                        <p:inputText id="matricule" value="#{personnelCtrl.personnel.matricule}" title="#{myBundle.CreatePersonnelTitle_matricule}" required="true" requiredMessage="#{myBundle.CreatePersonnelRequiredMessage_matricule}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreatePersonnelLabel_nom}" for="nom" />
                        <p:inputText id="nom" value="#{personnelCtrl.personnel.nom}" title="#{myBundle.CreatePersonnelTitle_nom}" required="true" requiredMessage="#{myBundle.CreatePersonnelRequiredMessage_nom}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreatePersonnelLabel_age}" for="age" />
                        <p:inputText id="age" value="#{personnelCtrl.personnel.age}" title="#{myBundle.CreatePersonnelTitle_age}"/>

                        <p:outputLabel value="#{myBundle.CreatePersonnelLabel_dateNaissance}" for="dateNaissance" />
                        <p:calendar id="dateNaissance" pattern="MM/dd/yyyy" value="#{personnelCtrl.personnel.dateNaissance}" title="#{myBundle.CreatePersonnelTitle_dateNaissance}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreatePersonnelLabel_lieuNaissance}" for="lieuNaissance" />
                        <p:inputText id="lieuNaissance" value="#{personnelCtrl.personnel.lieuNaissance}" title="#{myBundle.CreatePersonnelTitle_lieuNaissance}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreatePersonnelLabel_paysDeNaissance}" for="paysDeNaissance" />
                        <p:inputText id="paysDeNaissance" value="#{personnelCtrl.personnel.paysDeNaissance}" title="#{myBundle.CreatePersonnelTitle_paysDeNaissance}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreatePersonnelLabel_nationalite}" for="nationalite" />
                        <p:inputText id="nationalite" value="#{personnelCtrl.personnel.nationalite}" title="#{myBundle.CreatePersonnelTitle_nationalite}" required="true" requiredMessage="#{myBundle.CreatePersonnelRequiredMessage_nationalite}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreatePersonnelLabel_situationMatrimoniale}" for="situationMatrimoniale" />
                        <p:inputText id="situationMatrimoniale" value="#{personnelCtrl.personnel.situationMatrimoniale}" title="#{myBundle.CreatePersonnelTitle_situationMatrimoniale}" required="true" requiredMessage="#{myBundle.CreatePersonnelRequiredMessage_situationMatrimoniale}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreatePersonnelLabel_telephone}" for="telephone" />
                        <p:inputText id="telephone" value="#{personnelCtrl.personnel.telephone}" title="#{myBundle.CreatePersonnelTitle_telephone}" required="true" requiredMessage="#{myBundle.CreatePersonnelRequiredMessage_telephone}"/>

                        <p:outputLabel value="#{myBundle.CreatePersonnelLabel_email1}" for="email1" />
                        <p:inputText id="email1" value="#{personnelCtrl.personnel.email1}" title="#{myBundle.CreatePersonnelTitle_email1}" required="true" requiredMessage="#{myBundle.CreatePersonnelRequiredMessage_email1}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreatePersonnelLabel_email}" for="email" />
                        <p:inputText id="email" value="#{personnelCtrl.personnel.email}" title="#{myBundle.CreatePersonnelTitle_email}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreatePersonnelLabel_etat}" for="etat" />
                        <p:selectBooleanCheckbox id="etat" value="#{personnelCtrl.personnel.etat}" required="true" requiredMessage="#{myBundle.CreatePersonnelRequiredMessage_etat}"/>

                        <p:outputLabel value="#{myBundle.CreatePersonnelLabel_poste}" for="poste" />
                        <p:selectOneMenu id="poste" value="#{personnelCtrl.personnel.poste}" required="true" requiredMessage="#{myBundle.CreatePersonnelRequiredMessage_poste}" converter="postepersonnelConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{postepersonnelCtrl.postepersonnels}"
                                           var="posteItem"
                                           itemValue="#{posteItem}"
                                           itemLabel="#{posteItem.nom}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{personnelCtrl.enregistrerPersonnel()}" value="#{myBundle.Save}" 
                                     update="display,:PersonnelListForm:datalist,:PersonnelListForm:growl"
                                     oncomplete="handleSubmit(xhr,status,args,PF('PersonnelCreateDialog'));">
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('PersonnelCreateDialog').hide()" />
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
