<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="PersonnelEditDlg" widgetVar="PersonnelEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditPersonnelTitle}" closeOnEscape="true">

            <h:form id="PersonnelEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="4" columnClasses="column">


                        <p:outputLabel value="#{myBundle.EditPersonnelLabel_matricule}" for="matricule" />
                        <p:inputText id="matricule" value="#{personnelCtrl.selectedPersonnel.matricule}" title="#{myBundle.EditPersonnelTitle_matricule}" required="true" requiredMessage="#{myBundle.EditPersonnelRequiredMessage_matricule}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditPersonnelLabel_nom}" for="nom" />
                        <p:inputText id="nom" value="#{personnelCtrl.selectedPersonnel.nom}" title="#{myBundle.EditPersonnelTitle_nom}" required="true" requiredMessage="#{myBundle.EditPersonnelRequiredMessage_nom}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditPersonnelLabel_age}" for="age" />
                        <p:inputText id="age" value="#{personnelCtrl.selectedPersonnel.age}" title="#{myBundle.EditPersonnelTitle_age}"/>

                        <p:outputLabel value="#{myBundle.EditPersonnelLabel_dateNaissance}" for="dateNaissance" />
                        <p:calendar id="dateNaissance" pattern="MM/dd/yyyy" value="#{personnelCtrl.selectedPersonnel.dateNaissance}" title="#{myBundle.EditPersonnelTitle_dateNaissance}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditPersonnelLabel_lieuNaissance}" for="lieuNaissance" />
                        <p:inputText id="lieuNaissance" value="#{personnelCtrl.selectedPersonnel.lieuNaissance}" title="#{myBundle.EditPersonnelTitle_lieuNaissance}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditPersonnelLabel_paysDeNaissance}" for="paysDeNaissance" />
                        <p:inputText id="paysDeNaissance" value="#{personnelCtrl.selectedPersonnel.paysDeNaissance}" title="#{myBundle.EditPersonnelTitle_paysDeNaissance}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditPersonnelLabel_nationalite}" for="nationalite" />
                        <p:inputText id="nationalite" value="#{personnelCtrl.selectedPersonnel.nationalite}" title="#{myBundle.EditPersonnelTitle_nationalite}" required="true" requiredMessage="#{myBundle.EditPersonnelRequiredMessage_nationalite}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditPersonnelLabel_situationMatrimoniale}" for="situationMatrimoniale" />
                        <p:inputText id="situationMatrimoniale" value="#{personnelCtrl.selectedPersonnel.situationMatrimoniale}" title="#{myBundle.EditPersonnelTitle_situationMatrimoniale}" required="true" requiredMessage="#{myBundle.EditPersonnelRequiredMessage_situationMatrimoniale}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditPersonnelLabel_telephone}" for="telephone" />
                        <p:inputText id="telephone" value="#{personnelCtrl.selectedPersonnel.telephone}" title="#{myBundle.EditPersonnelTitle_telephone}" required="true" requiredMessage="#{myBundle.EditPersonnelRequiredMessage_telephone}"/>

                        <p:outputLabel value="#{myBundle.EditPersonnelLabel_email1}" for="email1" />
                        <p:inputText id="email1" value="#{personnelCtrl.selectedPersonnel.email1}" title="#{myBundle.EditPersonnelTitle_email1}" required="true" requiredMessage="#{myBundle.EditPersonnelRequiredMessage_email1}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditPersonnelLabel_email}" for="email" />
                        <p:inputText id="email" value="#{personnelCtrl.selectedPersonnel.email}" title="#{myBundle.EditPersonnelTitle_email}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditPersonnelLabel_etat}" for="etat" />
                        <p:selectBooleanCheckbox id="etat" value="#{personnelCtrl.selectedPersonnel.etat}" required="true" requiredMessage="#{myBundle.EditPersonnelRequiredMessage_etat}"/>

                        <p:outputLabel value="#{myBundle.EditPersonnelLabel_poste}" for="poste" />
                        <p:selectOneMenu id="poste" value="#{personnelCtrl.selectedPersonnel.poste}" required="true" requiredMessage="#{myBundle.EditPersonnelRequiredMessage_poste}" converter="postepersonnelConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{postepersonnelCtrl.postepersonnels}"
                                           var="posteItem"
                                           itemValue="#{posteItem}"
                                           itemLabel="#{posteItem.nom}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{personnelCtrl.modifierPersonnel()}" value="#{myBundle.Save}" 
                                     update="display,:PersonnelListForm:datalist,:PersonnelListForm:growl" 
                                     oncomplete="handleSubmit(xhr,status,args,PF('PersonnelEditDialog'));">
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('PersonnelEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
