<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="PersonnelListForm">
        <p:messages id="growl" closable="true">
            <p:effect type="pulsate" event="load" delay="50" />
        </p:messages>

        <p:panel header="#{myBundle.ListPersonnelTitle}">
            <p:contextMenu id="PersonnelDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('actionsForm:creer').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('actionsForm:detail').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('actionsForm:modifier').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('actionsForm:supprimer').click();" icon="ui-icon-trash"/>
                <p:separator/>
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{personnelCtrl.personnels}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{personnelCtrl.selectedPersonnel}">
                         

                <p:ajax event="rowSelect"   update=":PersonnelListForm:PersonnelDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowUnselect" update=":PersonnelListForm:PersonnelDataTableContextMenu, :actionsForm"/>
                <p:ajax event="contextMenu" update=":PersonnelListForm:PersonnelDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('PersonnelListForm:viewButton').click();"/>
                
                <p:column sortBy="#{item.matricule}" filterBy="#{item.matricule}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPersonnelTitle_matricule}"/>
                    </f:facet>
                    <h:outputText value="#{item.matricule}"/>
                </p:column>


                <p:column sortBy="#{item.nom}" filterBy="#{item.nom}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPersonnelTitle_nom}"/>
                    </f:facet>
                    <h:outputText value="#{item.nom}"/>
                </p:column>


                <p:column sortBy="#{item.age}" filterBy="#{item.age}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPersonnelTitle_age}"/>
                    </f:facet>
                    <h:outputText value="#{item.age}"/>
                </p:column>


                <p:column sortBy="#{item.dateNaissance}" filterBy="#{item.dateNaissance}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPersonnelTitle_dateNaissance}"/>
                    </f:facet>
                    <h:outputText value="#{item.dateNaissance}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.lieuNaissance}" filterBy="#{item.lieuNaissance}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListPersonnelTitle_lieuNaissance}"/>
                    </f:facet>
                    <h:outputText value="#{item.lieuNaissance}"/>
                </p:column>

                <ui:remove>
                    <p:column sortBy="#{item.paysDeNaissance}" filterBy="#{item.paysDeNaissance}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListPersonnelTitle_paysDeNaissance}"/>
                        </f:facet>
                        <h:outputText value="#{item.paysDeNaissance}"/>
                    </p:column>
                </ui:remove>
               
                    <p:column sortBy="#{item.nationalite}" filterBy="#{item.nationalite}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListPersonnelTitle_nationalite}"/>
                        </f:facet>
                        <h:outputText value="#{item.nationalite}"/>
                    </p:column>
               
                <ui:remove>
                    <p:column sortBy="#{item.situationMatrimoniale}" filterBy="#{item.situationMatrimoniale}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListPersonnelTitle_situationMatrimoniale}"/>
                        </f:facet>
                        <h:outputText value="#{item.situationMatrimoniale}"/>
                    </p:column>
                </ui:remove>
                
                    <p:column sortBy="#{item.telephone}" filterBy="#{item.telephone}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListPersonnelTitle_telephone}"/>
                        </f:facet>
                        <h:outputText value="#{item.telephone}"/>
                    </p:column>
                
                
                    <p:column sortBy="#{item.email1}" filterBy="#{item.email1}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListPersonnelTitle_email1}"/>
                        </f:facet>
                        <h:outputText value="#{item.email1}"/>
                    </p:column>
              
                <ui:remove>
                    <p:column sortBy="#{item.email}" filterBy="#{item.email}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListPersonnelTitle_email}"/>
                        </f:facet>
                        <h:outputText value="#{item.email}"/>
                    </p:column>
                </ui:remove>
              
                    <p:column sortBy="#{item.etat}" filterBy="#{item.etat}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListPersonnelTitle_etat}"/>
                        </f:facet>
                        <h:selectBooleanCheckbox id="etat" value="#{item.etat}" title="#{myBundle.EditPersonnelTitle_etat}" required="true" requiredMessage="#{myBundle.EditPersonnelRequiredMessage_etat}" disabled="true"/>
                    </p:column>
               
               
                    <p:column sortBy="#{item.poste.description}" filterBy="#{item.poste.description}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListPersonnelTitle_poste}"/>
                        </f:facet>
                        <h:outputText value="#{item.poste.description}"/>
                    </p:column>
              

            </p:dataTable>

         
        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>