<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PersonnelViewDlg" widgetVar="PersonnelViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewPersonnelTitle}" closeOnEscape="true">

            <h:form id="PersonnelViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="4" columnClasses="column">

                        <h:outputText value="#{myBundle.ViewPersonnelLabel_matricule}"/>
                        <h:outputText value="#{personnelCtrl.selectedPersonnel.matricule}" title="#{myBundle.ViewPersonnelTitle_matricule}"/>

                        <h:outputText value="#{myBundle.ViewPersonnelLabel_nom}"/>
                        <h:outputText value="#{personnelCtrl.selectedPersonnel.nom}" title="#{myBundle.ViewPersonnelTitle_nom}"/>

                        <h:outputText value="#{myBundle.ViewPersonnelLabel_age}"/>
                        <h:outputText value="#{personnelCtrl.selectedPersonnel.age}" title="#{myBundle.ViewPersonnelTitle_age}"/>

                        <h:outputText value="#{myBundle.ViewPersonnelLabel_dateNaissance}"/>
                        <h:outputText value="#{personnelCtrl.selectedPersonnel.dateNaissance}" title="#{myBundle.ViewPersonnelTitle_dateNaissance}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewPersonnelLabel_lieuNaissance}"/>
                        <h:outputText value="#{personnelCtrl.selectedPersonnel.lieuNaissance}" title="#{myBundle.ViewPersonnelTitle_lieuNaissance}"/>

                        <h:outputText value="#{myBundle.ViewPersonnelLabel_paysDeNaissance}"/>
                        <h:outputText value="#{personnelCtrl.selectedPersonnel.paysDeNaissance}" title="#{myBundle.ViewPersonnelTitle_paysDeNaissance}"/>

                        <h:outputText value="#{myBundle.ViewPersonnelLabel_nationalite}"/>
                        <h:outputText value="#{personnelCtrl.selectedPersonnel.nationalite}" title="#{myBundle.ViewPersonnelTitle_nationalite}"/>

                        <h:outputText value="#{myBundle.ViewPersonnelLabel_situationMatrimoniale}"/>
                        <h:outputText value="#{personnelCtrl.selectedPersonnel.situationMatrimoniale}" title="#{myBundle.ViewPersonnelTitle_situationMatrimoniale}"/>

                        <h:outputText value="#{myBundle.ViewPersonnelLabel_telephone}"/>
                        <h:outputText value="#{personnelCtrl.selectedPersonnel.telephone}" title="#{myBundle.ViewPersonnelTitle_telephone}"/>

                        <h:outputText value="#{myBundle.ViewPersonnelLabel_email1}"/>
                        <h:outputText value="#{personnelCtrl.selectedPersonnel.email1}" title="#{myBundle.ViewPersonnelTitle_email1}"/>

                        <h:outputText value="#{myBundle.ViewPersonnelLabel_email}"/>
                        <h:outputText value="#{personnelCtrl.selectedPersonnel.email}" title="#{myBundle.ViewPersonnelTitle_email}"/>

                        <h:outputText value="#{myBundle.ViewPersonnelLabel_etat}"/>
                        <p:selectBooleanCheckbox id="etat" value="#{personnelCtrl.selectedPersonnel.etat}" title="#{myBundle.EditPersonnelTitle_etat}" required="true" requiredMessage="#{myBundle.EditPersonnelRequiredMessage_etat}"/>

                        <h:outputText value="#{myBundle.ViewPersonnelLabel_poste}"/>
                        <h:outputText value="#{personnelCtrl.selectedPersonnel.poste.nom}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('PersonnelViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
