<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MaquetteCreateDlg" widgetVar="MaquetteCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateMaquetteTitle}" closeOnEscape="true">

            <h:form id="MaquetteCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        
                        <p:outputLabel value="#{myBundle.CreateMaquetteLabel_annee}" for="annee" />
                        <p:inputText id="annee" value="#{maquetteCtl.selectMaquette.annee}" title="#{myBundle.CreateMaquetteTitle_annee}" size="30" maxlength="254"/>

                        <p:outputLabel value="Classe" for="codeclasse" />
                        <p:selectOneMenu id="codeclasse" value="#{maquetteCtl.selectMaquette.classe}" required="true" requiredMessage="#{myBundle.CreateMaquetteRequiredMessage_codeclasse}" converter="classeConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{classeCtl.classes}"
                                           var="codeclasseItem"
                                           itemValue="#{codeclasseItem}"
                                           itemLabel="#{codeclasseItem.lbelleClasse.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{maquetteCtl.enregistrerMaquette()}" value="#{myBundle.Save}" update="display,:MaquetteListForm:datalist,MaquetteListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('MaquetteCreateDialog'));">
                        
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('MaquetteCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
