<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="actionsForm1">
        <p:fieldset legend="Filtre Pour Impression" toggleable="true" toggleSpeed="300">
            <div class="footer-section">
                
                
                
                 <p:outputLabel value="Classe" for="classe" />
                 <p:selectOneMenu id="classe" value="#{maquetteCtl.selectedClasse}"
                                 required="true"
                                 requiredMessage="Veuillez selectionner la classe pour filtrer les maquettes correspondantes!!" 
                                 converter="classeConverter">
                    <f:selectItem itemValue="" itemLabel="" />
                    <f:selectItems value="#{classeCtl.classes}"
                                   var="classeItem"
                                   itemValue="#{classeItem}"
                                   itemLabel="#{classeItem.lbelleClasse}"
                                   />

                    <p:ajax listener="#{maquetteCtl.listeMaquetteClasse()}" update="MaquetteListForm"/>
                </p:selectOneMenu> 
                
               

                <p:commandButton id="imprimer" icon="ui-icon-print"  
                                 value="Imprimer" actionListener="#{maquetteCtl.imprimerMaquetteHtml()}"
                                 update=":MaquetteListForm:growl" disabled="#{maquetteCtl.imprimer}" 
                                 oncomplete="PF('MaquetteImprimerDialog').show()"/>

            </div>
        </p:fieldset>
    </h:form>
</ui:composition>
