<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="MaquetteListForm">
        
         <p:messages id="growl" closable="true">
            <p:effect type="pulsate" event="load" delay="50" />
        </p:messages>

        <p:panel header="#{myBundle.ListMaquetteTitle}">
            <p:contextMenu id="MaquetteDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('MaquetteListForm:creer').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('MaquetteListForm:details').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('MaquetteListForm:modifier').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('MaquetteListForm:supprimer').click();" icon="ui-icon-trash"/>
                <p:separator/>
                
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{maquetteCtl.maquettes}"
                         lazy="false"
                         rowKey="#{item.codemaquette}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{maquetteCtl.selectMaquette}"
                      >
                

                <p:ajax event="rowSelect"   update=":MaquetteListForm:MaquetteDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowUnselect" update=":MaquetteListForm:MaquetteDataTableContextMenu, :actionsForm"/>
                <p:ajax event="contextMenu" update=":MaquetteListForm:MaquetteDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('MaquetteListForm:viewButton').click();"/>
                
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListMaquetteTitle_codemaquette}"/>
                    </f:facet>
                    <h:outputText value="#{item.codemaquette}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListMaquetteTitle_annee}"/>
                    </f:facet>
                    <h:outputText value="#{item.annee}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Classe"/>
                    </f:facet>
                    <h:outputText value="#{item.classe.lbelleClasse}"/>
                </p:column>


            </p:dataTable>


        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>