<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MaquetteViewDlg" widgetVar="MaquetteViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewMaquetteTitle}" closeOnEscape="true">

            <h:form id="MaquetteViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <h:outputText value="#{myBundle.ViewMaquetteLabel_codemaquette}"/>
                        <h:outputText value="#{maquetteCtl.selectMaquette.codemaquette}" title="#{myBundle.ViewMaquetteTitle_codemaquette}"/>

                        <h:outputText value="#{myBundle.ViewMaquetteLabel_annee}"/>
                        <h:outputText value="#{maquetteCtl.selectMaquette.annee}" title="#{myBundle.ViewMaquetteTitle_annee}"/>

                        <h:outputText value="#{myBundle.ViewMaquetteLabel_codeclasse}"/>
                        <h:outputText value="#{maquetteCtl.selectMaquette.classe.lbelleClasse}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('MaquetteViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
