<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EmploidetempsCreateDlg" widgetVar="EmploidetempsCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateEmploidetempsTitle}" closeOnEscape="true">

            <h:form id="EmploidetempsCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">
                        <p:outputLabel value="#{myBundle.CreateEmploidetempsLabel_classe}" for="classe" />
                        <p:selectOneMenu id="classe" value="#{emploiDeTpsCrtl.emploiDeTemps.classe}"  converter="classesConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{classeCtrl.classes}"
                                           var="classeItem"
                                           itemValue="#{classeItem}"
                                           itemLabel="#{classeItem.denomination}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateEmploidetempsLabel_titre}" for="titre" />
                        <p:inputText id="titre" value="#{emploiDeTpsCrtl.emploiDeTemps.titre}" title="#{myBundle.CreateEmploidetempsTitle_titre}" required="true" requiredMessage="#{myBundle.CreateEmploidetempsRequiredMessage_titre}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateEmploidetempsLabel_periodedebut}" for="periodedebut" />
                        <p:calendar id="periodedebut" pattern="MM/dd/yyyy" value="#{emploiDeTpsCrtl.emploiDeTemps.periodedebut}" title="#{myBundle.CreateEmploidetempsTitle_periodedebut}" required="true" requiredMessage="#{myBundle.CreateEmploidetempsRequiredMessage_periodedebut}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateEmploidetempsLabel_periodefin}" for="periodefin" />
                        <p:calendar id="periodefin" pattern="MM/dd/yyyy" value="#{emploiDeTpsCrtl.emploiDeTemps.periodefin}" title="#{myBundle.CreateEmploidetempsTitle_periodefin}" required="true" requiredMessage="#{myBundle.CreateEmploidetempsRequiredMessage_periodefin}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateEmploidetempsLabel_etat}" for="etat" />
                        <p:selectBooleanCheckbox id="etat" value="#{emploiDeTpsCrtl.emploiDeTemps.etat}" required="true" requiredMessage="#{myBundle.CreateEmploidetempsRequiredMessage_etat}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{emploiDeTpsCrtl.enregistrerEmpDeTemps()}" value="#{myBundle.Save}" update="display,:EmploidetempsListForm:datalist,:EmploidetempsListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('EmploidetempsCreateDialog'));">
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('EmploidetempsCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
