<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="EmploidetempsEditDlg" widgetVar="EmploidetempsEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditEmploidetempsTitle}" closeOnEscape="true">

            <h:form id="EmploidetempsEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column">
                        <p:outputLabel value="#{myBundle.EditEmploidetempsLabel_classe}" for="classe" />
                        <p:selectOneMenu id="classe" value="#{emploiDeTpsCrtl.selectedEmploiDeTemps.classe}"  converter="classesConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{classeCtrl.classes}"
                                           var="classeItem"
                                           itemValue="#{classeItem}"
                                           itemLabel="#{classeItem.denomination}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditEmploidetempsLabel_titre}" for="titre" />
                        <p:inputText id="titre" value="#{emploiDeTpsCrtl.selectedEmploiDeTemps.titre}" title="#{myBundle.EditEmploidetempsTitle_titre}" required="true" requiredMessage="#{myBundle.EditEmploidetempsRequiredMessage_titre}" size="30" maxlength="254"/>
                   
                        <p:outputLabel value="#{myBundle.EditEmploidetempsLabel_periodedebut}" for="periodedebut" />
                        <p:calendar id="periodedebut" pattern="MM/dd/yyyy" value="#{emploiDeTpsCrtl.selectedEmploiDeTemps.periodedebut}" title="#{myBundle.EditEmploidetempsTitle_periodedebut}" required="true" requiredMessage="#{myBundle.EditEmploidetempsRequiredMessage_periodedebut}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditEmploidetempsLabel_periodefin}" for="periodefin" />
                        <p:calendar id="periodefin" pattern="MM/dd/yyyy" value="#{emploiDeTpsCrtl.selectedEmploiDeTemps.periodefin}" title="#{myBundle.EditEmploidetempsTitle_periodefin}" required="true" requiredMessage="#{myBundle.EditEmploidetempsRequiredMessage_periodefin}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditEmploidetempsLabel_etat}" for="etat" />
                        <p:selectBooleanCheckbox id="etat" value="#{emploiDeTpsCrtl.selectedEmploiDeTemps.etat}" required="true" requiredMessage="#{myBundle.EditEmploidetempsRequiredMessage_etat}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{emploiDeTpsCrtl.modifierEmpDeTemps()}" value="#{myBundle.Save}" update="display,:EmploidetempsListForm:datalist,:EmploidetempsListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('EmploidetempsEditDialog'));">
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('EmploidetempsEditDialog').hide()" />
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
