<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EmploidetempsCreateDlg" widgetVar="EmploidetempsCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateEmploidetempsTitle}" closeOnEscape="true">

            <h:form id="EmploidetempsCreateForm">

                <p:growl id="messages" showDetail="true" />

                <h:panelGrid columnClasses="value">
                    <h3 style="margin-top: 0">Editable Schedule</h3>
                    <p:schedule id="schedule" value="#{gestionEmploiTpsCrtl.eventModel}" widgetVar="myschedule" timeZone="GMT+2">

                        <p:ajax event="dateSelect" listener="#{gestionEmploiTpsCrtl.onDateSelect}" update="eventDetails" oncomplete="PF('eventDialog').show();" />
                        <p:ajax event="eventSelect" listener="#{gestionEmploiTpsCrtl.onEventSelect}" update="eventDetails" oncomplete="PF('eventDialog').show();" />
                        <p:ajax event="eventMove" listener="#{gestionEmploiTpsCrtl.onEventMove}" update="messages" />
                        <p:ajax event="eventResize" listener="#{gestionEmploiTpsCrtl.onEventResize}" update="messages" />

                    </p:schedule>

                    <h3>Locale Support ( Example: Turkish )</h3>
                    <p:schedule id="scheduleLocale" value="#{gestionEmploiTpsCrtl.eventModel}" locale="tr" />

                    <h3>Lazy Schedule</h3>
                    <p:schedule value="#{gestionEmploiTpsCrtl.lazyEventModel}" />
                </h:panelGrid>

                <p:dialog widgetVar="eventDialog" header="Event Details" showEffect="clip" hideEffect="clip">
                    <h:panelGrid id="eventDetails" columns="2">
                        <p:outputLabel for="title" value="Titles:" />
                        <p:inputText id="title" value="#{gestionEmploiTpsCrtl.event.title}" required="true" />

                        <p:outputLabel for="from" value="From:" />
                        <p:calendar id="from" value="#{gestionEmploiTpsCrtl.event.startDate}" timeZone="GMT+2" pattern="dd/MM/yyyy HH:mm"/>

                        <p:outputLabel for="to" value="To:" />
                        <p:calendar id="to" value="#{gestionEmploiTpsCrtl.event.endDate}" timeZone="GMT+2" pattern="dd/MM/yyyy HH:mm"/>

                        <p:outputLabel for="allDay" value="All Day:" />
                        <h:selectBooleanCheckbox id="allDay" value="#{gestionEmploiTpsCrtl.event.allDay}" />

                        <p:commandButton type="reset" value="Reset" />
                        <p:commandButton id="addButton" value="Save" actionListener="#{gestionEmploiTpsCrtl.addEvent}" oncomplete="PF('myschedule').update();PF('eventDialog').hide();" />
                    </h:panelGrid>
                </p:dialog>    

            </h:form>

            <script type="text/javascript">
                PrimeFaces.locales['tr'] = {
                    closeText: 'kapat',
                    prevText: 'geri',
                    nextText: 'ileri',
                    currentText: 'bugün',
                    monthNames: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran',
                        'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
                    monthNamesShort: ['Oca', 'Şub', 'Mar', 'Nis', 'May', 'Haz',
                        'Tem', 'Ağu', 'Eyl', 'Eki', 'Kas', 'Ara'],
                    dayNames: ['Pazar', 'Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi'],
                    dayNamesShort: ['Pz', 'Pt', 'Sa', 'Ça', 'Pe', 'Cu', 'Ct'],
                    dayNamesMin: ['Pz', 'Pt', 'Sa', 'Ça', 'Pe', 'Cu', 'Ct'],
                    weekHeader: 'Hf',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: '',
                    month: 'Ay',
                    week: 'Hafta',
                    day: 'Gün',
                    allDayText: 'Tüm Gün'
                };
            </script>
            <style type="text/css">
                .value {
                    width: 1000px;
                }
            </style>

        </p:dialog>

    </ui:composition>

</html>
