<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="EmploidetempsListForm">
        <p:messages id="growl" closable="true">
            <p:effect type="pulsate" event="load" delay="50" />
        </p:messages>

        <p:panel header="#{myBundle.ListEmploidetempsTitle}">
            <p:contextMenu id="EmploidetempsDataTableContextMenu" for="datalist">  
                 <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('actionsForm:creer').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('actionsForm:detail').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('actionsForm:modifier').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('actionsForm:supprimer').click();" icon="ui-icon-trash"/>
                <p:separator/>
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{emploiDeTpsCrtl.emplois}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{gestionEmploiTpsCrtl.selectedEmploiDeTemps}">
                         
                <p:ajax event="rowSelect" listener="#{gestionEmploiTpsCrtl.handleEmploiDuTempsSelection()}"
                        update=":EmploidetempsListForm:EmploidetempsDataTableContextMenu, :actionsForm, :CalendrierCreateForm"/>
                <p:ajax event="rowUnselect" listener="#{gestionEmploiTpsCrtl.handleEmploiDuTempsUnSelection()}" 
                        update=":EmploidetempsListForm:EmploidetempsDataTableContextMenu, :actionsForm"/>
                <p:ajax event="contextMenu" update=":EmploidetempsListForm:EmploidetempsDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('EmploidetempsListForm:viewButton').click();"/>
               
                  <p:column sortBy="#{item.classe.id}" filterBy="#{item.classe.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEmploidetempsTitle_classe}"/>
                    </f:facet>
                      <h:outputText value="#{item.classe.denomination}"/>
                </p:column>

                <p:column sortBy="#{item.titre}" filterBy="#{item.titre}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEmploidetempsTitle_titre}"/>
                    </f:facet>
                    <h:outputText value="#{item.titre}"/>
                </p:column>


                <p:column sortBy="#{item.periodedebut}" filterBy="#{item.periodedebut}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEmploidetempsTitle_periodedebut}"/>
                    </f:facet>
                    <h:outputText value="#{item.periodedebut}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.periodefin}" filterBy="#{item.periodefin}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEmploidetempsTitle_periodefin}"/>
                    </f:facet>
                    <h:outputText value="#{item.periodefin}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.etat}" filterBy="#{item.etat}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEmploidetempsTitle_etat}"/>
                    </f:facet>
                    <h:selectBooleanCheckbox id="etat" value="#{item.etat}" title="#{myBundle.EditEmploidetempsTitle_etat}" required="true" requiredMessage="#{myBundle.EditEmploidetempsRequiredMessage_etat}" disabled="true"/>
                </p:column>


            </p:dataTable>

            

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>