<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EmploidetempsViewDlg" widgetVar="EmploidetempsViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewEmploidetempsTitle}" closeOnEscape="true">

            <h:form id="EmploidetempsViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" >
                        
                         <h:outputText value="#{myBundle.ViewEmploidetempsLabel_classe}"/>
                         <h:outputText value="#{emploiDeTpsCrtl.selectedEmploiDeTemps.classe.denomination}"/>
                        
                        <h:outputText value="#{myBundle.ViewEmploidetempsLabel_titre}"/>
                        <h:outputText value="#{emploiDeTpsCrtl.selectedEmploiDeTemps.titre}" title="#{myBundle.ViewEmploidetempsTitle_titre}"/>

                        <h:outputText value="#{myBundle.ViewEmploidetempsLabel_periodedebut}"/>
                        <h:outputText value="#{emploiDeTpsCrtl.selectedEmploiDeTemps.periodedebut}" title="#{myBundle.ViewEmploidetempsTitle_periodedebut}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewEmploidetempsLabel_periodefin}"/>
                        <h:outputText value="#{emploiDeTpsCrtl.selectedEmploiDeTemps.periodefin}" title="#{myBundle.ViewEmploidetempsTitle_periodefin}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewEmploidetempsLabel_etat}"/>
                        <p:selectBooleanCheckbox id="etat" value="#{emploiDeTpsCrtl.selectedEmploiDeTemps.etat}" title="#{myBundle.EditEmploidetempsTitle_etat}" required="true" requiredMessage="#{myBundle.EditEmploidetempsRequiredMessage_etat}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('EmploidetempsViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
