<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EvaluerCreateDlg" widgetVar="EvaluerCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateEvaluerTitle}" closeOnEscape="true">

            <h:form id="EvaluerCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                      <p:outputLabel value="#{myBundle.CreateEvaluerLabel_ec}" for="ec" />
                        <p:selectOneMenu id="ec" value="#{evaluerCtl.evaluer.ec}" required="true" requiredMessage="#{myBundle.CreateEvaluerRequiredMessage_ec}" converter="ecConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{ecCtl.ecs}"
                                           var="ecItem"
                                           itemValue="#{ecItem}"
                                           itemLabel="#{ecItem.libelleMatiere.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateEvaluerLabel_etudiant}" for="etudiant" />
                        <p:selectOneMenu id="etudiant" value="#{evaluerCtl.evaluer.etudiant}" required="true" requiredMessage="#{myBundle.CreateEvaluerRequiredMessage_etudiant}" converter="etudiantConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{etudiantCtl.etudiants}"
                                           var="etudiantItem"
                                           itemValue="#{etudiantItem}"
                                           itemLabel="#{etudiantItem.utilisateur.nom.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateEvaluerLabel_dateEvaluation}" for="dateEvaluation" />
                        <p:calendar id="dateEvaluation" pattern="MM/dd/yyyy" value="#{evaluerCtl.evaluer.dateEvaluation}" 
                                    title="#{myBundle.CreateEvaluerTitle_dateEvaluation}" 
                                    showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateEvaluerLabel_note}" for="note" />
                        <p:inputText id="note" value="#{evaluerCtl.evaluer.note}" title="#{myBundle.CreateEvaluerTitle_note}"/>

                        
                    </p:panelGrid>
                    <p:commandButton actionListener="#{evaluerCtl.enregistrerEvaluer()}" value="#{myBundle.Save}" update="display,:EvaluerListForm:datalist,EvaluerListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('EvaluerCreateDialog'));">
                        
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('EvaluerCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
