<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="EvaluerListForm">
        
        <p:messages id="growl" closable="true">
            <p:effect type="pulsate" event="load" delay="50" />
        </p:messages>

        <p:panel header="#{myBundle.ListEvaluerTitle}">
            <p:contextMenu id="EvaluerDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('EvaluerListForm:creer').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('EvaluerListForm:detail').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('EvaluerListForm:modifier').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('EvaluerListForm:supprimer').click();" icon="ui-icon-trash"/>
                <p:separator/>
                
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{evaluerCtl.evaluers}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{evaluerCtl.selectedEvaluer}"
                         >
               


                <p:ajax event="rowSelect"   update=":EvaluerListForm:EvaluerDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowUnselect" update=":EvaluerListForm:EvaluerDataTableContextMenu, :actionsForm"/>
                <p:ajax event="contextMenu" update=":EvaluerListForm:EvaluerDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('EvaluerListForm:viewButton').click();"/>
                
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEvaluerTitle_evaluerPK_codeutilisateur}"/>
                    </f:facet>
                    <h:outputText value="#{item.id.codeutilisateur}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEvaluerTitle_evaluerPK_codematiere}"/>
                    </f:facet>
                    <h:outputText value="#{item.id.codematiere}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEvaluerTitle_dateEvaluation}"/>
                    </f:facet>
                    <h:outputText value="#{item.dateEvaluation}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEvaluerTitle_note}"/>
                    </f:facet>
                    <h:outputText value="#{item.note}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEvaluerTitle_ec}"/>
                    </f:facet>
                    <h:outputText value="#{item.ec.libelleMatiere}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEvaluerTitle_etudiant}"/>
                    </f:facet>
                    <h:outputText value="#{item.etudiant.utilisateur.nom}"/>
                </p:column>


            </p:dataTable>

           
        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>