<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EvaluerViewDlg" widgetVar="EvaluerViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewEvaluerTitle}" closeOnEscape="true">

            <h:form id="EvaluerViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <h:outputText value="#{myBundle.ViewEvaluerLabel_evaluerPK_codeutilisateur}"/>
                        <h:outputText value="#{evaluerCtl.selectedEvaluer.id.codeutilisateur}" title="#{myBundle.ViewEvaluerTitle_evaluerPK_codeutilisateur}"/>

                        <h:outputText value="#{myBundle.ViewEvaluerLabel_evaluerPK_codematiere}"/>
                        <h:outputText value="#{evaluerCtl.selectedEvaluer.id.codematiere}" title="#{myBundle.ViewEvaluerTitle_evaluerPK_codematiere}"/>

                        <h:outputText value="#{myBundle.ViewEvaluerLabel_dateEvaluation}"/>
                        <h:outputText value="#{evaluerCtl.selectedEvaluer.dateEvaluation}" title="#{myBundle.ViewEvaluerTitle_dateEvaluation}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewEvaluerLabel_note}"/>
                        <h:outputText value="#{evaluerCtl.selectedEvaluer.note}" title="#{myBundle.ViewEvaluerTitle_note}"/>

                        <h:outputText value="#{myBundle.ViewEvaluerLabel_ec}"/>
                        <h:outputText value="#{evaluerCtl.selectedEvaluer.ec.libelleMatiere}"/>

                        <h:outputText value="#{myBundle.ViewEvaluerLabel_etudiant}"/>
                        <h:outputText value="#{evaluerCtl.selectedEvaluer.etudiant.utilisateur.nom}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('EvaluerViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
