<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="actionsForm">
        <p:fieldset legend="Actions" toggleable="true" toggleSpeed="300">
            <div class="footer-section">
                <!--                <p:commandButton id="creer" 
                                                 icon="ui-icon-plus"   
                                                 value="#{myBundle.Create}" 
                                                 update=":NotesCreateForm, :NotesListForm:growl" 
                                                 oncomplete="PF('NotesCreateDialog').show()"/>-->
                <p:commandButton id="detail"   
                                 icon="ui-icon-search" 
                                 value="#{myBundle.View}" 
                                 update=":NotesViewForm" 
                                 oncomplete="PF('NotesViewDialog').show()" 
                                 disabled="#{noteCtrl.detail}"/>
                <p:commandButton id="modifier"   
                                 icon="ui-icon-pencil" 
                                 value="#{myBundle.Edit}" 
                                 update=":NotesEditDlg" 
                                 oncomplete="PF('NotesEditDialog').show()" 
                                 disabled="#{noteCtrl.modifier}"/>

                <p:commandButton id="supprimer" 
                                 icon="ui-icon-trash"  
                                 value="#{myBundle.Delete}" 
                                 update=":NotesListForm:growl,:NotesListForm:datalist,:actionsForm"
                                 disabled="#{noteCtrl.supprimer}"
                                 actionListener="#{noteCtrl.supprimer()}">
                    <p:confirm header="titre"
                               message="Supprimer"
                               icon="ui-icon-alert"/>
                </p:commandButton>

                <p:commandButton id="imprimer" icon="ui-icon-print"  
                                 value="Imprimer" actionListener="#{noteCtrl.imprimerNotePdf()}"
                                 update=":NotesListForm:growl, :pdfPrintForm" disabled="#{noteCtrl.imprimer}"
                                 oncomplete="PF('PdfPrintDialog').show();"/>

            </div>
        </p:fieldset>
    </h:form>
</ui:composition>
