<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="NotesEditDlg" widgetVar="NotesEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditNotesTitle}" closeOnEscape="true">

            <h:form id="NotesEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" >
                        <p:outputLabel value="#{myBundle.EditNotesLabel_matiere}" for="matiere" />
                        <p:selectOneMenu id="matiere" value="#{noteCtrl.selectedNote.matiere}" required="true" requiredMessage="#{myBundle.EditNotesRequiredMessage_matiere}" converter="matiersmoduleConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{matiersmoduleCtrl.matiersmodules}"
                                           var="matiereItem"
                                           itemValue="#{matiereItem}"
                                           itemLabel="#{matiereItem.nommatiere}"
                                           />

                        </p:selectOneMenu>
                        
                          <p:outputLabel value="#{myBundle.EditNotesLabel_coefficient}" for="coefficient" />
                        <p:inputText id="coefficient" value="#{noteCtrl.selectedNote.coefficient}" title="#{myBundle.EditNotesTitle_coefficient}"/>

                        <p:outputLabel value="#{myBundle.EditNotesLabel_etudiant}" for="etudiant" />
                        <p:selectOneMenu id="etudiant" value="#{noteCtrl.selectedNote.etudiant}" required="true" requiredMessage="#{myBundle.EditNotesRequiredMessage_etudiant}" converter="etudiantsConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{etudiantCtrl.etudiants}"
                                           var="etudiantItem"
                                           itemValue="#{etudiantItem}"
                                           itemLabel="#{etudiantItem.nom}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditNotesLabel_note}" for="note" />
                        <p:inputText id="note" value="#{noteCtrl.selectedNote.note}" title="#{myBundle.EditNotesTitle_note}" required="true" requiredMessage="#{myBundle.EditNotesRequiredMessage_note}"/>


                        <p:outputLabel value="#{myBundle.EditNotesLabel_credit}" for="credit" />
                        <p:inputText id="credit" value="#{noteCtrl.selectedNote.credit}" title="#{myBundle.EditNotesTitle_credit}" required="true" requiredMessage="#{myBundle.EditNotesRequiredMessage_credit}"/>
                        
                        
                        <p:outputLabel value="#{myBundle.EditNotesLabel_resultatue}" for="resultatue" />
                        <p:inputText id="resultatue" value="#{noteCtrl.selectedNote.resultatue}" title="#{myBundle.EditNotesTitle_resultatue}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditNotesLabel_notedeliberer}" for="notedeliberer" />
                        <p:inputText id="notedeliberer" value="#{noteCtrl.selectedNote.notedeliberer}" title="#{myBundle.EditNotesTitle_notedeliberer}" required="true" requiredMessage="#{myBundle.EditNotesRequiredMessage_notedeliberer}"/>
                        
                        <p:outputLabel value="#{myBundle.EditNotesLabel_enseignant}" for="enseignant" />
                        <p:selectOneMenu id="enseignant" value="#{noteCtrl.selectedNote.enseignant}" required="true" requiredMessage="#{myBundle.EditNotesRequiredMessage_enseignant}" converter="enseignantsConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{enseignantCtrl.listEnseignant}"
                                           var="enseignantItem"
                                           itemValue="#{enseignantItem}"
                                           itemLabel="#{enseignantItem.nom}"
                                           />

                        </p:selectOneMenu>


                    </p:panelGrid>    
                    <p:commandButton actionListener="#{noteCtrl.modifierNote()}" value="#{myBundle.Save}" update="display,:NotesListForm:datalist,:NotesListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('NotesEditDialog'));">
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('NotesEditDialog').hide()" />
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
