<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="NotesListForm">
        <p:messages id="growl" closable="true">
            <p:effect type="pulsate" event="load" delay="50" />
        </p:messages>

        <p:panel header="#{myBundle.ListNotesTitle}">
            <p:contextMenu id="NotesDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('actionsForm:creer').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('actionsForm:detail').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('actionsForm:modifier').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('actionsForm:supprimer').click();" icon="ui-icon-trash"/>
                <p:separator/>
            </p:contextMenu>

            <p:growl id="msgs" showDetail="true"/>

            <p:dataTable id="datalist" 
                         var="item"  
                         value="#{noteCtrl.notes}" 
                         selection="#{noteCtrl.selectedNote}" 
                         editable="true" 
                         style="margin-bottom:20px">
                
                <f:facet name="header">
                    Modifiez directement les lignes
                </f:facet>

                <p:ajax event="rowEdit" listener="#{noteCtrl.modifierNote()}" update=":NotesListForm:datalist,:NotesListForm:growl" />
                <p:ajax event="rowEditCancel" listener="#{myBundle.Cancel}" update=":NotesListForm:datalist,:NotesListForm:growl" />

                <p:column headerText="Etudiants">
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{item.etudiant.nom}"/></f:facet>
                        <f:facet name="input">
                            <p:selectOneMenu id="etudiant" value="#{noteCtrl.selectedNote.etudiant}" required="true" requiredMessage="#{myBundle.EditNotesRequiredMessage_etudiant}" converter="etudiantsConverter">
                                <f:selectItems value="#{etudiantCtrl.etudiants}"
                                               var="etudiantItem"
                                               itemValue="#{etudiantItem}"
                                               itemLabel="#{etudiantItem.nom}"
                                               />

                            </p:selectOneMenu>
                        </f:facet>
                    </p:cellEditor>
                </p:column>

                <p:column headerText="Matière">
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{item.matiere.nommatiere}"/></f:facet>
                        <f:facet name="input">
                            <p:selectOneMenu id="matiere" value="#{noteCtrl.selectedNote.matiere}" required="true" requiredMessage="#{myBundle.EditNotesRequiredMessage_matiere}" converter="matiersmoduleConverter">
                                <f:selectItems value="#{matiersmoduleCtrl.matiersmodules}"
                                               var="matiereItem"
                                               itemValue="#{matiereItem}"
                                               itemLabel="#{matiereItem.nommatiere}"
                                               />

                            </p:selectOneMenu>
                        </f:facet>
                    </p:cellEditor>
                </p:column>

                <p:column headerText="Coefficients">
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{item.coefficient}"/></f:facet>
                        <f:facet name="input">
                            <p:inputText id="coefficient" 
                             value="#{noteCtrl.selectedNote.coefficient}" 
                             title="#{myBundle.EditNotesTitle_coefficient}"  style="width:100%"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>

                <p:column headerText="Notes">
                    <p:cellEditor>
                        <f:facet name="output">  <h:outputText value="#{item.note}"/></f:facet>
                        <f:facet name="input"> <p:inputText id="note" 
                                value="#{noteCtrl.selectedNote.note}" title="#{myBundle.EditNotesTitle_note}"
                                required="true" requiredMessage="#{myBundle.EditNotesRequiredMessage_note}" 
                                style="width:100%"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="Crédits">
                    <p:cellEditor>
                        <f:facet name="output">   <h:outputText value="#{item.credit}"/></f:facet>
                        <f:facet name="input"> <p:inputText id="credit" value="#{noteCtrl.selectedNote.credit}" 
                                title="#{myBundle.EditNotesTitle_credit}" required="true" 
                                  requiredMessage="#{myBundle.EditNotesRequiredMessage_credit}" style="width:100%"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="Résultat">
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{item.resultatue}"/></f:facet>
                        <f:facet name="input"> 

                             <p:selectOneMenu id="REsutatue" value="#{noteCtrl.selectedNote.resultatue}">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{noteCtrl.resultatUE}"
                                           var="resultat"
                                           itemValue="#{resultat}"
                                           itemLabel="#{resultat}"
                                           />

                        </p:selectOneMenu>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                  <p:column headerText="Enseignants">
                    <p:cellEditor>
                        <f:facet name="output">  <h:outputText value="#{item.enseignant.nom}"/></f:facet>
                        <f:facet name="input">
                            <p:selectOneMenu id="enseignant" value="#{noteCtrl.selectedNote.enseignant}" required="true" requiredMessage="#{myBundle.EditNotesRequiredMessage_enseignant}" converter="enseignantsConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{enseignantCtrl.listEnseignant}"
                                           var="enseignantItem"
                                           itemValue="#{enseignantItem}"
                                           itemLabel="#{enseignantItem.nom}"
                                           />

                        </p:selectOneMenu>
                        </f:facet>
                    </p:cellEditor>
                </p:column>





                <p:column style="width:32px">
                    <p:rowEditor />
                </p:column>
            </p:dataTable>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>