<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div>TODO write content</div>
         <p:dataTable id="datalist"
                         value="#{noteCtrl.notes}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{noteCtrl.selectedNote}"
                         >

                <p:ajax event="rowSelect"   update=":NotesListForm:NotesDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowUnselect" update=":NotesListForm:NotesDataTableContextMenu, :actionsForm"/>
                <p:ajax event="contextMenu" update=":NotesListForm:NotesDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('NotesListForm:viewButton').click();"/>

                <p:column sortBy="#{item.matiere.id}" filterBy="#{item.matiere.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListNotesTitle_matiere}"/>
                    </f:facet>
                    <h:outputText value="#{item.matiere.nommatiere}"/>
                </p:column>

                <p:column sortBy="#{item.coefficient}" filterBy="#{item.coefficient}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListNotesTitle_coefficient}"/>
                    </f:facet>
                    <h:outputText value="#{item.coefficient}"/>
                </p:column>


                <p:column sortBy="#{item.note}" filterBy="#{item.note}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListNotesTitle_note}"/>
                    </f:facet>
                    <h:outputText value="#{item.note}"/>
                </p:column>

                <p:column sortBy="#{item.resultatue}" filterBy="#{item.resultatue}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListNotesTitle_resultatue}"/>
                    </f:facet>
                    <h:outputText value="#{item.resultatue}"/>
                </p:column>


                <p:column sortBy="#{item.notedeliberer}" filterBy="#{item.notedeliberer}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListNotesTitle_notedeliberer}"/>
                    </f:facet>
                    <h:outputText value="#{item.notedeliberer}"/>
                </p:column>


                <p:column sortBy="#{item.credit}" filterBy="#{item.credit}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListNotesTitle_credit}"/>
                    </f:facet>
                    <h:outputText value="#{item.credit}"/>
                </p:column>


                <p:column sortBy="#{item.enseignant.id}" filterBy="#{item.enseignant.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListNotesTitle_enseignant}"/>
                    </f:facet>
                    <h:outputText value="#{item.enseignant.nom}"/>
                </p:column>


                <p:column sortBy="#{item.etudiant.id}" filterBy="#{item.etudiant.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListNotesTitle_etudiant}"/>
                    </f:facet>
                    <h:outputText value="#{item.etudiant.nom}"/>
                </p:column>




            </p:dataTable>
    </body>
</html>
