<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="NotesViewDlg" widgetVar="NotesViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewNotesTitle}" closeOnEscape="true">

            <h:form id="NotesViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">
                         <h:outputText value="#{myBundle.ViewNotesLabel_etudiant}"/>
                        <h:outputText value="#{noteCtrl.selectedNote.etudiant.nom}"/>
                        
                        
                        <h:outputText value="#{myBundle.ViewNotesLabel_matiere}"/>
                        <h:outputText value="#{noteCtrl.selectedNote.matiere.nommatiere}"/>
                        
                         <h:outputText value="#{myBundle.ViewNotesLabel_coefficient}"/>
                        <h:outputText value="#{noteCtrl.selectedNote.coefficient}" title="#{myBundle.ViewNotesTitle_coefficient}"/>


                        <h:outputText value="#{myBundle.ViewNotesLabel_note}"/>
                        <h:outputText value="#{noteCtrl.selectedNote.note}" title="#{myBundle.ViewNotesTitle_note}"/>


                        <h:outputText value="#{myBundle.ViewNotesLabel_credit}"/>
                        <h:outputText value="#{noteCtrl.selectedNote.credit}" title="#{myBundle.ViewNotesTitle_credit}"/>
                             
                         <h:outputText value="#{myBundle.ViewNotesLabel_resultatue}"/>
                        <h:outputText value="#{noteCtrl.selectedNote.resultatue}" title="#{myBundle.ViewNotesTitle_resultatue}"/>

                        <h:outputText value="#{myBundle.ViewNotesLabel_notedeliberer}"/>
                        <h:outputText value="#{noteCtrl.selectedNote.notedeliberer}" title="#{myBundle.ViewNotesTitle_notedeliberer}"/>
                        
                        <h:outputText value="#{myBundle.ViewNotesLabel_enseignant}"/>
                        <h:outputText value="#{noteCtrl.selectedNote.enseignant.nom}"/>

                        
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('NotesViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
