<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="AbsenceEditDlg" widgetVar="AbsenceEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditAbsenceTitle}" closeOnEscape="true">

            <h:form id="AbsenceEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" >


                          <p:outputLabel value="#{myBundle.CreateAbsenceLabel_cours}" for="cours" />
                          <p:selectOneMenu id="cours" value="#{absenceCtl.selectedAbsence.seanceCours}" required="true" requiredMessage="#{myBundle.CreateAbsenceRequiredMessage_cours}" converter="coursConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{seanceCoursCtl.seanceCourses}"
                                           var="coursItem"
                                           itemValue="#{coursItem}"
                                           itemLabel="#{coursItem.cours.ec.libelleMatiere.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateAbsenceLabel_etudiant}" for="etudiant" />
                        <p:selectOneMenu id="etudiant" value="#{absenceCtl.selectedAbsence.etudiant}" required="true" requiredMessage="#{myBundle.CreateAbsenceRequiredMessage_etudiant}" converter="etudiantConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{etudiantCtl.etudiants}"
                                           var="etudiantItem"
                                           itemValue="#{etudiantItem}"
                                           itemLabel="#{etudiantItem.utilisateur.prenom.toString()}"
                                           />

                        </p:selectOneMenu>
                        
                        <p:outputLabel value="#{myBundle.CreateAbsenceLabel_type}" for="type" />
                        <p:inputText id="type" value="#{absenceCtl.selectedAbsence.type}" title="#{myBundle.CreateAbsenceTitle_type}" size="30" maxlength="254"/>

                    </p:panelGrid>
                    <p:commandButton actionListener="#{absenceCtl.modifierAbsence()}" value="#{myBundle.Save}" update="display,:AbsenceListForm:datalist,:AbsenceListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('AbsenceEditDialog'));">
                       
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('AbsenceEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
