<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="AbsenceListForm">
        
        <p:messages id="growl" closable="true">
            <p:effect type="pulsate" event="load" delay="50" />
        </p:messages>

        <p:panel header="#{myBundle.ListAbsenceTitle}">
            <p:contextMenu id="AbsenceDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('AbsenceListForm:creer').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('AbsenceListForm:detail').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('AbsenceListForm:modifier').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('AbsenceListForm:supprimer').click();" icon="ui-icon-trash"/>
                <p:separator/>
                
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{absenceCtl.absences}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{absenceCtl.selectedAbsence}"
                         >
                


               
                <p:ajax event="rowSelect"   update=":AbsenceListForm:AbsenceDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowUnselect" update=":AbsenceListForm:AbsenceDataTableContextMenu, :actionsForm"/>
                <p:ajax event="contextMenu" update=":AbsenceListForm:AbsenceDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('AbsenceListForm:viewButton').click();"/>
                
                

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListAbsenceTitle_cours}"/>
                    </f:facet>
                    <h:outputText value="#{item.seanceCours.cours.ec.libelleMatiere}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListAbsenceTitle_etudiant}"/>
                    </f:facet>
                    <h:outputText value="#{item.etudiant.utilisateur.prenom} #{item.etudiant.utilisateur.nom}"/>
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListAbsenceTitle_type}"/>
                    </f:facet>
                    <h:outputText value="#{item.type}"/>
                </p:column>


            </p:dataTable>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>