<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AbsenceViewDlg" widgetVar="AbsenceViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewAbsenceTitle}" closeOnEscape="true">

            <h:form id="AbsenceViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" >

                        <h:outputText value="#{myBundle.ViewAbsenceLabel_absencePK_codeutilisateur}"/>
                        <h:outputText value="#{absenceCtl.selectedAbsence.id.codeutilisateur}" title="#{myBundle.ViewAbsenceTitle_absencePK_codeutilisateur}"/>

                        <h:outputText value="#{myBundle.ViewAbsenceLabel_absencePK_codecours}"/>
                        <h:outputText value="#{absenceCtl.selectedAbsence.id.codecours}" title="#{myBundle.ViewAbsenceTitle_absencePK_codecours}"/>

                        <h:outputText value="#{myBundle.ViewAbsenceLabel_type}"/>
                        <h:outputText value="#{absenceCtl.selectedAbsence.type}" title="#{myBundle.ViewAbsenceTitle_type}"/>

                        <h:outputText value="#{myBundle.ViewAbsenceLabel_cours}"/>
                        <h:outputText value="#{absenceCtl.selectedAbsence.seanceCours.cours.ec.libelleMatiere}"/>

                        <h:outputText value="#{myBundle.ViewAbsenceLabel_etudiant}"/>
                        <h:outputText value="#{absenceCtl.selectedAbsence.etudiant.utilisateur.prenom}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('AbsenceViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
