<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templatemodel/templateParametrage.xhtml">

    <ui:define name="title">
        <h:outputText value="#{myBundle.EtudiantsTitle}"/>
    </ui:define>



    <ui:define name="content">
        <h1><i> Formulaire d'Enregistrement d'un etudiant</i></h1> 
        <p:separator/>
        <h:form id="EtudiantsCreateForm">

            <p:messages id="growl" closable="true">
                <p:effect type="pulsate" event="load" delay="50" />
            </p:messages>
            <h:panelGroup id="display">
                <p:panelGrid columns="4" columnClasses="column">

                    <p:outputLabel value="#{myBundle.CreateEtudiantsLabel_numerocarte}" for="numerocarte" />
                    <p:inputText id="numerocarte" value="#{etudiantCtrl.etudiant.numerocarte}" title="#{myBundle.CreateEtudiantsTitle_numerocarte}" required="true" requiredMessage="#{myBundle.CreateEtudiantsRequiredMessage_numerocarte}" size="30" maxlength="254"/>

                    <p:outputLabel value="#{myBundle.CreateEtudiantsLabel_premon}" for="premon" />
                    <p:inputText id="premon" value="#{etudiantCtrl.etudiant.premon}" title="#{myBundle.CreateEtudiantsTitle_premon}" size="30" maxlength="254"/>

                    <p:outputLabel value="#{myBundle.CreateEtudiantsLabel_nom}" for="nom" />
                    <p:inputText id="nom" value="#{etudiantCtrl.etudiant.nom}" title="#{myBundle.CreateEtudiantsTitle_nom}" required="true" requiredMessage="#{myBundle.CreateEtudiantsRequiredMessage_nom}" size="30" maxlength="254"/>

                    <p:outputLabel value="#{myBundle.CreateEtudiantsLabel_age}" for="age" />
                    <p:inputText id="age" value="#{etudiantCtrl.etudiant.age}" title="#{myBundle.CreateEtudiantsTitle_age}"/>

<!--                        <p:outputLabel value="#{myBundle.CreateEtudiantsLabel_sexe}" for="sexe" />
                        <p:inputText id="sexe" value="#{etudiantCtrl.etudiant.sexe}" title="#{myBundle.CreateEtudiantsTitle_sexe}" required="true" requiredMessage="#{myBundle.CreateEtudiantsRequiredMessage_sexe}" size="30" maxlength="254"/>-->

                    <p:outputLabel value="#{myBundle.CreateEtudiantsLabel_sexe}" for="sexe" />
                    <p:selectOneMenu id="sexe" value="#{etudiantCtrl.etudiant.sexe}" required="true" requiredMessage="#{myBundle.CreateEtudiantsRequiredMessage_sexe}">
                        <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                        <f:selectItems value="#{etudiantCtrl.sexes}"
                                       var="sexe"
                                       itemValue="#{sexe}"
                                       itemLabel="#{sexe}"
                                       />

                    </p:selectOneMenu>

                    <p:outputLabel value="#{myBundle.CreateEtudiantsLabel_datenais}" for="datenais" />
                    <p:calendar id="datenais" pattern="MM/dd/yyyy" value="#{etudiantCtrl.etudiant.datenais}" title="#{myBundle.CreateEtudiantsTitle_datenais}" required="true" requiredMessage="#{myBundle.CreateEtudiantsRequiredMessage_datenais}" showOn="button"/>

                    <p:outputLabel value="#{myBundle.CreateEtudiantsLabel_lieunais}" for="lieunais" />
                    <p:inputText id="lieunais" value="#{etudiantCtrl.etudiant.lieunais}" title="#{myBundle.CreateEtudiantsTitle_lieunais}" required="true" requiredMessage="#{myBundle.CreateEtudiantsRequiredMessage_lieunais}" size="30" maxlength="254"/>

                    <p:outputLabel value="#{myBundle.CreateEtudiantsLabel_paysnais}" for="paysnais" />
                    <p:inputText id="paysnais" value="#{etudiantCtrl.etudiant.paysnais}" title="#{myBundle.CreateEtudiantsTitle_paysnais}" required="true" requiredMessage="#{myBundle.CreateEtudiantsRequiredMessage_paysnais}" size="30" maxlength="254"/>

                    <p:outputLabel value="#{myBundle.CreateEtudiantsLabel_nationalite}" for="nationalite" />
                    <p:inputText id="nationalite" value="#{etudiantCtrl.etudiant.nationalite}" title="#{myBundle.CreateEtudiantsTitle_nationalite}" required="true" requiredMessage="#{myBundle.CreateEtudiantsRequiredMessage_nationalite}" size="30" maxlength="254"/>

                    <p:outputLabel value="#{myBundle.CreateEtudiantsLabel_telephone}" for="telephone" />
                    <p:inputText id="telephone" value="#{etudiantCtrl.etudiant.telephone}" title="#{myBundle.CreateEtudiantsTitle_telephone}" required="true" requiredMessage="#{myBundle.CreateEtudiantsRequiredMessage_telephone}"/>

                    <p:outputLabel value="#{myBundle.CreateEtudiantsLabel_email1}" for="email1" />
                    <p:inputText id="email1" value="#{etudiantCtrl.etudiant.email1}" title="#{myBundle.CreateEtudiantsTitle_email1}" required="true" requiredMessage="#{myBundle.CreateEtudiantsRequiredMessage_email1}" size="30" maxlength="254"/>

                    <p:outputLabel value="#{myBundle.CreateEtudiantsLabel_email}" for="email" />
                    <p:inputText id="email" value="#{etudiantCtrl.etudiant.email}" title="#{myBundle.CreateEtudiantsTitle_email}" size="30" maxlength="254"/>

                    <p:outputLabel value="#{myBundle.CreateEtudiantsLabel_annee}" for="annee" />
                    <p:selectOneMenu id="annee" value="#{etudiantCtrl.etudiant.annee}" required="true" requiredMessage="#{myBundle.CreateEtudiantsRequiredMessage_annee}" converter="anneeScolaireConverter">
                        <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                        <f:selectItems value="#{anneeCtrl.annees}"
                                       var="anneeItem"
                                       itemValue="#{anneeItem}"
                                       itemLabel="#{anneeItem.annee}"
                                       />

                    </p:selectOneMenu>

                    <p:outputLabel value="#{myBundle.CreateEtudiantsLabel_classe}" for="classe" />
                    <p:selectOneMenu id="classe" value="#{etudiantCtrl.etudiant.classe}" required="true" requiredMessage="#{myBundle.CreateEtudiantsRequiredMessage_classe}" converter="classesConverter">
                        <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                        <f:selectItems value="#{classeCtrl.classes}"
                                       var="classeItem"
                                       itemValue="#{classeItem}"
                                       itemLabel="#{classeItem.denomination}"
                                       />

                    </p:selectOneMenu>
                </p:panelGrid>
                <br/>
                <p:commandButton actionListener="#{etudiantCtrl.enregistrerEtudiants()}" value="#{myBundle.Save}" update="display,:EtudiantsListForm:datalist,:EtudiantsListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('EtudiantsCreateDialog'));">
                </p:commandButton>

                <p:commandButton value="#{myBundle.Cancel}" onclick="PF('EtudiantsCreateDialog').hide()" />
            </h:panelGroup>

        </h:form>

        <p:separator/>

        <ui:include src="/WEB-INF/include/entity/etudiants/Action.xhtml"/><p:separator/>
        <ui:include src="/WEB-INF/include/entity/etudiants/Filtre.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/etudiants/List.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/etudiants/View.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/etudiants/Edit.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/etudiants/Imprimer.xhtml" />


    </ui:define>

</ui:composition>