<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FiliereCreateDlg" widgetVar="FiliereCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateFiliereTitle}" closeOnEscape="true">

            <h:form id="FiliereCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        
                        <p:outputLabel value="#{myBundle.CreateFiliereLabel_libelleFiliere}" for="libelleFiliere" />
                        <p:inputText id="libelleFiliere" value="#{filiereCtl.filiere.libelleFiliere}" title="#{myBundle.CreateFiliereTitle_libelleFiliere}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateFiliereLabel_codedomaine}" for="codedomaine" />
                        <p:selectOneMenu id="codedomaine" value="#{filiereCtl.filiere.domaine}" required="true" requiredMessage="#{myBundle.CreateFiliereRequiredMessage_codedomaine}" converter="domaineConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{domaineCtl.domaines}"
                                           var="codedomaineItem"
                                           itemValue="#{codedomaineItem}"
                                           itemLabel="#{codedomaineItem.nomDomaine.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="EnsResponsable" for="codeutilisateur" />
                        <p:selectOneMenu id="codeutilisateur" value="#{filiereCtl.filiere.enseignantResponsable}" required="true" requiredMessage="#{myBundle.CreateFiliereRequiredMessage_codeutilisateur}" converter="enseignantResponsableConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{enseignantResponsableCtl.enseignantResponsables}"
                                           var="codeuItem"
                                           itemValue="#{codeuItem}"
                                           itemLabel="#{codeuItem.enseignant.utilisateur.prenom} #{codeuItem.enseignant.utilisateur.prenom}"
                                           />

                        </p:selectOneMenu>
                        
                    </p:panelGrid>
                    
                    <p:commandButton actionListener="#{filiereCtl.enregistrerFiliere()}" value="#{myBundle.Save}" update="display,:FiliereListForm:datalist,FiliereListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('FiliereCreateDialog'));">
                        
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('FiliereCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
