<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="FiliereEditDlg" widgetVar="FiliereEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditFiliereTitle}" closeOnEscape="true">

            <h:form id="FiliereEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column">


                        <h:outputLabel value="#{myBundle.EditFiliereLabel_codefiliere}" for="codefiliere" />
                        <h:outputText id="codefiliere" value="#{filiereCtl.selectedFiliere.codefiliere}" />

                        <p:outputLabel value="#{myBundle.EditFiliereLabel_libelleFiliere}" for="libelleFiliere" />
                        <p:inputText id="libelleFiliere" value="#{filiereCtl.selectedFiliere.libelleFiliere}" title="#{myBundle.EditFiliereTitle_libelleFiliere}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditFiliereLabel_codedomaine}" for="codedomaine" />
                        <p:selectOneMenu id="codedomaine" value="#{filiereCtl.selectedFiliere.domaine}" required="true" requiredMessage="#{myBundle.EditFiliereRequiredMessage_codedomaine}" converter="domaineConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{domaineCtl.domaines}"
                                           var="codedomaineItem"
                                           itemValue="#{codedomaineItem}"
                                           itemLabel="#{codedomaineItem.nomDomaine.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditFiliereLabel_codeutilisateur}" for="codeutilisateur" />
                        <p:selectOneMenu id="codeutilisateur" value="#{filiereCtl.selectedFiliere.enseignantResponsable}" required="true" requiredMessage="#{myBundle.EditFiliereRequiredMessage_codeutilisateur}" converter="enseignantResponsableConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{enseignantResponsableCtl.enseignantResponsables}"
                                           var="codeutilisateurItem"
                                           itemValue="#{codeutilisateurItem}"
                                           itemLabel="#{codeutilisateurItem.enseignant.utilisateur.prenom} #{codeutilisateurItem.enseignant.utilisateur.nom}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{filiereCtl.modifierFiliere()}" value="#{myBundle.Save}" 
                                     update="display,:FiliereListForm:datalist,:FiliereListForm:growl" 
                                     oncomplete="handleSubmit(xhr,status,args,PF('FiliereEditDialog'));">
                      
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('FiliereEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
