<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="FiliereListForm">
            
        <p:messages id="growl" closable="true">
            <p:effect type="pulsate" event="load" delay="50" />
        </p:messages>
        <p:panel header="#{myBundle.ListFiliereTitle}">
            <p:contextMenu id="FiliereDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('FiliereListForm:creer').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('FiliereListForm:detail').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('FiliereListForm:modifier').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('FiliereListForm:supprimer').click();" icon="ui-icon-trash"/>
                <p:separator/>
                
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{filiereCtl.filieres}"
                         lazy="false"
                         rowKey="#{item.codefiliere}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{filiereCtl.selectedFiliere}"
                        >
                
                
                <p:ajax event="rowSelect"   update=":FiliereListForm:FiliereDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowUnselect" update=":FiliereListForm:FiliereDataTableContextMenu, :actionsForm"/>
                <p:ajax event="contextMenu" update=":FiliereListForm:FiliereDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('FiliereListForm:viewButton').click();"/>
                

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListFiliereTitle_codefiliere}"/>
                    </f:facet>
                    <h:outputText value="#{item.codefiliere}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListFiliereTitle_libelleFiliere}"/>
                    </f:facet>
                    <h:outputText value="#{item.libelleFiliere}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Nom Domaine"/>
                    </f:facet>
                    <h:outputText value="#{item.domaine.nomDomaine}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Enseignant Responsable"/>
                    </f:facet>
                    <h:outputText value="#{item.enseignantResponsable.enseignant.utilisateur.prenom} #{item.enseignantResponsable.enseignant.utilisateur.nom}"/>
                </p:column>


            </p:dataTable>
            
        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>