<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FiliereViewDlg" widgetVar="FiliereViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewFiliereTitle}" closeOnEscape="true">

            <h:form id="FiliereViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <h:outputText value="#{myBundle.ViewFiliereLabel_codefiliere}"/>
                        <h:outputText value="#{filiereCtl.selectedFiliere.codefiliere}" title="#{myBundle.ViewFiliereTitle_codefiliere}"/>

                        <h:outputText value="#{myBundle.ViewFiliereLabel_libelleFiliere}"/>
                        <h:outputText value="#{filiereCtl.selectedFiliere.libelleFiliere}" title="#{myBundle.ViewFiliereTitle_libelleFiliere}"/>

                        <h:outputText value="#{myBundle.ViewFiliereLabel_codedomaine}"/>
                        <h:outputText value="#{filiereCtl.selectedFiliere.domaine.codedomaine}"/>

                        <h:outputText value="#{myBundle.ViewFiliereLabel_codeutilisateur}"/>
                            <h:outputText value="#{filiereCtl.selectedFiliere.enseignantResponsable.enseignant.utilisateur.prenom} #{filiereCtl.selectedFiliere.enseignantResponsable.enseignant.utilisateur.nom}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('FiliereViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
