<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="RolepersonnelEditDlg" widgetVar="RolepersonnelEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditRolepersonnelTitle}" closeOnEscape="true">

            <h:form id="RolepersonnelEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{rolepersonnelController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditRolepersonnelLabel_id}" for="id" />
                        <h:outputText id="id" value="#{rolepersonnelController.selected.id}" />

                        <p:outputLabel value="#{myBundle.EditRolepersonnelLabel_personnel}" for="personnel" />
                        <p:selectOneMenu id="personnel" value="#{rolepersonnelController.selected.personnel}" required="true" requiredMessage="#{myBundle.EditRolepersonnelRequiredMessage_personnel}" converter="personnelConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{personnelController.items}"
                                           var="personnelItem"
                                           itemValue="#{personnelItem}"
                                           itemLabel="#{personnelItem.id.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditRolepersonnelLabel_roles}" for="roles" />
                        <p:selectOneMenu id="roles" value="#{rolepersonnelController.selected.roles}" required="true" requiredMessage="#{myBundle.EditRolepersonnelRequiredMessage_roles}" converter="rolesConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{rolesController.items}"
                                           var="rolesItem"
                                           itemValue="#{rolesItem}"
                                           itemLabel="#{rolesItem.id.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{rolepersonnelController.save}" value="#{myBundle.Save}" update="display,:RolepersonnelListForm:datalist,:RolepersonnelListForm:RolepersonnelDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('RolepersonnelEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('RolepersonnelEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
