<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="RolepersonnelListForm">

        <p:panel header="#{myBundle.ListRolepersonnelTitle}">
            <p:contextMenu id="RolepersonnelDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('RolepersonnelListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('RolepersonnelListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('RolepersonnelListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('RolepersonnelListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.RolepersonnelMenuItem_personnel}" icon="ui-icon-search"  actionListener="#{rolepersonnelController.preparePersonnel}" update=":PersonnelViewForm" oncomplete="PF('PersonnelViewDialog').show()" disabled="#{empty rolepersonnelController.selected.personnel}"/>  
                <p:menuitem value="#{myBundle.RolepersonnelMenuItem_roles}" icon="ui-icon-search"  actionListener="#{rolepersonnelController.prepareRoles}" update=":RolesViewForm" oncomplete="PF('RolesViewDialog').show()" disabled="#{empty rolepersonnelController.selected.roles}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{rolepersonnelController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{rolepersonnelController.selected}"
                         filteredValue="#{rolepersonnelController.filteredItems}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{rolepersonnelController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:RolepersonnelDataTableContextMenu" listener="#{rolepersonnelController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:RolepersonnelDataTableContextMenu" listener="#{rolepersonnelController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{rolepersonnelController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('RolepersonnelListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListRolepersonnelTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.personnel.id}" filterBy="#{item.personnel.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListRolepersonnelTitle_personnel}"/>
                    </f:facet>
                    <h:outputText value="#{item.personnel.id}"/>
                </p:column>


                <p:column sortBy="#{item.roles.id}" filterBy="#{item.roles.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListRolepersonnelTitle_roles}"/>
                    </f:facet>
                    <h:outputText value="#{item.roles.id}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{rolepersonnelController.prepareCreate}" update=":RolepersonnelCreateForm" oncomplete="PF('RolepersonnelCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":RolepersonnelViewForm" oncomplete="PF('RolepersonnelViewDialog').show()" disabled="#{empty rolepersonnelController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":RolepersonnelEditForm" oncomplete="PF('RolepersonnelEditDialog').show()" disabled="#{empty rolepersonnelController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{rolepersonnelController.delete}" update=":growl,datalist" disabled="#{empty rolepersonnelController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>