<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RolepersonnelViewDlg" widgetVar="RolepersonnelViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewRolepersonnelTitle}" closeOnEscape="true">

            <h:form id="RolepersonnelViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{rolepersonnelController.selected != null}">

                        <h:outputText value="#{myBundle.ViewRolepersonnelLabel_id}"/>
                        <h:outputText value="#{rolepersonnelController.selected.id}" title="#{myBundle.ViewRolepersonnelTitle_id}"/>

                        <h:outputText value="#{myBundle.ViewRolepersonnelLabel_personnel}"/>
                        <h:outputText value="#{rolepersonnelController.selected.personnel.id}"/>

                        <h:outputText value="#{myBundle.ViewRolepersonnelLabel_roles}"/>
                        <h:outputText value="#{rolepersonnelController.selected.roles.id}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('RolepersonnelViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
