<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>PrimeFaces Ultima</title>
        <h:outputScript name="js/ripple.js" library="ultima-layout" />
        <h:outputScript name="js/layout.js" library="ultima-layout" />
    </h:head>

    <h:body styleClass="login-body">
        <style>
            #loginSubmit
            {    
                visibility: hidden;
            }
        </style>
        <div class="card login-panel ui-fluid">
            <div class="ui-g">
                <form id="loginForm" action="#{request.contextPath}/app/loginProcess.xhtml" method="post">
                    <div class="ui-g-12">
                        <p:graphicImage name="images/logo-ultima.svg" library="ultima-layout" />
                    </div>
                    <div class="ui-g-12">
                        <h:panelGroup styleClass="md-inputfield">
                            <p:inputText label="Username" id="username" />
                            <label>Username</label>
                        </h:panelGroup>
                    </div>
                    <div class="ui-g-12">
                        <h:panelGroup styleClass="md-inputfield">
                            <p:password label="password" id="password" />
                            <label>Password</label>
                        </h:panelGroup>
                    </div>
                    <input id="loginSubmit" type="submit" />
                </form>
                <div class="ui-g-12">
                    <h:form>
                        <p:commandButton value="Connexion" icon="ui-icon-person" onstart="javascript:submitform()" />
                    </h:form>
                    <p:button outcome="/dashboard" value="Forgot Password" icon="ui-icon-help" styleClass="secondary"/>
                </div>
            </div>
        </div>

        <div class="login-footer">PrimeFaces Ultima</div>

        <h:outputStylesheet name="css/ripple.css" library="ultima-layout" />
        <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="ultima-layout" />

        <script type="text/javascript">
            function submitform()
            {
                $('#loginForm').submit();
            }
        </script>
    </h:body>

</html>