<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MatiersmoduleCreateDlg" widgetVar="MatiersmoduleCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateMatiersmoduleTitle}" closeOnEscape="true">

            <h:form id="MatiersmoduleCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateMatiersmoduleLabel_nommatiere}" for="nommatiere" />
                        <p:inputText id="nommatiere" value="#{matiersmoduleCtrl.matiersmodule.nommatiere}" title="#{myBundle.CreateMatiersmoduleTitle_nommatiere}" required="true" requiredMessage="#{myBundle.CreateMatiersmoduleRequiredMessage_nommatiere}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateMatiersmoduleLabel_guotahoraire}" for="guotahoraire" />
                        <p:inputText id="guotahoraire" value="#{matiersmoduleCtrl.matiersmodule.guotahoraire}" title="#{myBundle.CreateMatiersmoduleTitle_guotahoraire}" required="true" requiredMessage="#{myBundle.CreateMatiersmoduleRequiredMessage_guotahoraire}"/>

                        <p:outputLabel value="#{myBundle.CreateMatiersmoduleLabel_guotahorairerestant}" for="guotahorairerestant" />
                        <p:inputText id="guotahorairerestant" value="#{matiersmoduleCtrl.matiersmodule.guotahorairerestant}" title="#{myBundle.CreateMatiersmoduleTitle_guotahorairerestant}" required="true" requiredMessage="#{myBundle.CreateMatiersmoduleRequiredMessage_guotahorairerestant}"/>

                        <p:outputLabel value="#{myBundle.CreateMatiersmoduleLabel_credit}" for="credit" />
                        <p:inputText id="credit" value="#{matiersmoduleCtrl.matiersmodule.credit}" title="#{myBundle.CreateMatiersmoduleTitle_credit}" required="true" requiredMessage="#{myBundle.CreateMatiersmoduleRequiredMessage_credit}"/>

                        <p:outputLabel value="#{myBundle.CreateMatiersmoduleLabel_uniteenseignement}" for="uniteenseignement" />
                        <p:selectOneMenu id="uniteenseignement" value="#{matiersmoduleCtrl.matiersmodule.uniteenseignement}" required="true" requiredMessage="#{myBundle.CreateMatiersmoduleRequiredMessage_uniteenseignement}" converter="uniteenseignementsConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{uniteenseignementCtrl.uniteenseignements}"
                                           var="uniteenseignementItem"
                                           itemValue="#{uniteenseignementItem}"
                                           itemLabel="#{uniteenseignementItem.nom}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{matiersmoduleCtrl.enregistrerMatiersmodule()}" value="#{myBundle.Save}" update="display,:MatiersmoduleListForm:datalist,:MatiersmoduleListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('MatiersmoduleCreateDialog'));">
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('MatiersmoduleCreateDialog').hide()" />
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
