<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="MatiersmoduleEditDlg" widgetVar="MatiersmoduleEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditMatiersmoduleTitle}" closeOnEscape="true">

            <h:form id="MatiersmoduleEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.EditMatiersmoduleLabel_nommatiere}" for="nommatiere" />
                        <p:inputText id="nommatiere" value="#{matiersmoduleCtrl.selectedMatiersmodule.nommatiere}" title="#{myBundle.EditMatiersmoduleTitle_nommatiere}" required="true" requiredMessage="#{myBundle.EditMatiersmoduleRequiredMessage_nommatiere}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditMatiersmoduleLabel_guotahoraire}" for="guotahoraire" />
                        <p:inputText id="guotahoraire" value="#{matiersmoduleCtrl.selectedMatiersmodule.guotahoraire}" title="#{myBundle.EditMatiersmoduleTitle_guotahoraire}" required="true" requiredMessage="#{myBundle.EditMatiersmoduleRequiredMessage_guotahoraire}"/>

                        <p:outputLabel value="#{myBundle.EditMatiersmoduleLabel_guotahorairerestant}" for="guotahorairerestant" />
                        <p:inputText id="guotahorairerestant" value="#{matiersmoduleCtrl.selectedMatiersmodule.guotahorairerestant}" title="#{myBundle.EditMatiersmoduleTitle_guotahorairerestant}" required="true" requiredMessage="#{myBundle.EditMatiersmoduleRequiredMessage_guotahorairerestant}"/>

                        <p:outputLabel value="#{myBundle.EditMatiersmoduleLabel_credit}" for="credit" />
                        <p:inputText id="credit" value="#{matiersmoduleCtrl.selectedMatiersmodule.credit}" title="#{myBundle.EditMatiersmoduleTitle_credit}" required="true" requiredMessage="#{myBundle.EditMatiersmoduleRequiredMessage_credit}"/>

                        <p:outputLabel value="#{myBundle.EditMatiersmoduleLabel_uniteenseignement}" for="uniteenseignement" />
                        <p:selectOneMenu id="uniteenseignement" value="#{matiersmoduleCtrl.selectedMatiersmodule.uniteenseignement}" required="true" requiredMessage="#{myBundle.EditMatiersmoduleRequiredMessage_uniteenseignement}" converter="uniteenseignementsConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{uniteenseignementCtrl.uniteenseignements}"
                                           var="uniteenseignementItem"
                                           itemValue="#{uniteenseignementItem}"
                                           itemLabel="#{uniteenseignementItem.nom}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{matiersmoduleCtrl.modifier()}" value="#{myBundle.Save}" update="display,:MatiersmoduleListForm:datalist,:MatiersmoduleListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('MatiersmoduleEditDialog'));">
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('MatiersmoduleEditDialog').hide()" />
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
