<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MatiersmoduleViewDlg" widgetVar="MatiersmoduleViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewMatiersmoduleTitle}" closeOnEscape="true">

            <h:form id="MatiersmoduleViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <h:outputText value="#{myBundle.ViewMatiersmoduleLabel_nommatiere}"/>
                        <h:outputText value="#{matiersmoduleCtrl.selectedMatiersmodule.nommatiere}" title="#{myBundle.ViewMatiersmoduleTitle_nommatiere}"/>

                        <h:outputText value="#{myBundle.ViewMatiersmoduleLabel_guotahoraire}"/>
                        <h:outputText value="#{matiersmoduleCtrl.selectedMatiersmodule.guotahoraire}" title="#{myBundle.ViewMatiersmoduleTitle_guotahoraire}"/>

                        <h:outputText value="#{myBundle.ViewMatiersmoduleLabel_guotahorairerestant}"/>
                        <h:outputText value="#{matiersmoduleCtrl.selectedMatiersmodule.guotahorairerestant}" title="#{myBundle.ViewMatiersmoduleTitle_guotahorairerestant}"/>

                        <h:outputText value="#{myBundle.ViewMatiersmoduleLabel_credit}"/>
                        <h:outputText value="#{matiersmoduleCtrl.selectedMatiersmodule.credit}" title="#{myBundle.ViewMatiersmoduleTitle_credit}"/>

                        <h:outputText value="#{myBundle.ViewMatiersmoduleLabel_uniteenseignement}"/>
                        <h:outputText value="#{matiersmoduleCtrl.selectedMatiersmodule.uniteenseignement.description}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('MatiersmoduleViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
