<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MessageCreateDlg" widgetVar="MessageCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateMessageTitle}" closeOnEscape="true">

            <h:form id="MessageCreateForm">

                <h:panelGroup id="display" >
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateMessageLabel_codemessage}" for="codemessage" />
                        <p:inputText id="codemessage" value="#{messageCtl.message.codemessage}" title="#{myBundle.CreateMessageTitle_codemessage}" required="true" requiredMessage="#{myBundle.CreateMessageRequiredMessage_codemessage}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateMessageLabel_objet}" for="objet" />
                        <p:inputText id="objet" value="#{messageCtl.message.objet}" title="#{myBundle.CreateMessageTitle_objet}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateMessageLabel_contenue}" for="contenue" />
                        <p:inputText id="contenue" value="#{messageCtl.message.contenue}" title="#{myBundle.CreateMessageTitle_contenue}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateMessageLabel_destinataire}" for="destinataire" />
                        <p:inputText id="destinataire" value="#{messageCtl.message.destinataire}" title="#{myBundle.CreateMessageTitle_destinataire}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateMessageLabel_codeutilisateur}" for="codeutilisateur" />
                        <p:selectOneMenu id="codeutilisateur" value="#{messageCtl.message.utilisateur}" required="true" requiredMessage="#{myBundle.CreateMessageRequiredMessage_codeutilisateur}" converter="utilisateurConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{utilisateurCtl.utilisateurs}"
                                           var="codeutilisateurItem"
                                           itemValue="#{codeutilisateurItem}"
                                           itemLabel="#{codeutilisateurItem.nom.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{messageCtl.enregistrerMessage()}" value="#{myBundle.Save}" update="display,:MessageListForm:datalist,MessageListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('MessageCreateDialog'));">
                        
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('MessageCreateDialog').hide()" />
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
