<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="MessageEditDlg" widgetVar="MessageEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditMessageTitle}" closeOnEscape="true">

            <h:form id="MessageEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" >


                        <h:outputLabel value="#{myBundle.EditMessageLabel_codemessage}" for="codemessage" />
                        <h:outputText id="codemessage" value="#{messageCtl.selectedMessage.codemessage}" />

                        <p:outputLabel value="#{myBundle.EditMessageLabel_objet}" for="objet" />
                        <p:inputText id="objet" value="#{messageCtl.selectedMessage.objet}" title="#{myBundle.EditMessageTitle_objet}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditMessageLabel_contenue}" for="contenue" />
                        <p:inputText id="contenue" value="#{messageCtl.selectedMessage.contenue}" title="#{myBundle.EditMessageTitle_contenue}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditMessageLabel_destinataire}" for="destinataire" />
                        <p:inputText id="destinataire" value="#{messageCtl.selectedMessage.destinataire}" title="#{myBundle.EditMessageTitle_destinataire}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditMessageLabel_codeutilisateur}" for="codeutilisateur" />
                        <p:selectOneMenu id="codeutilisateur" value="#{messageCtl.selectedMessage.utilisateur}" required="true" requiredMessage="#{myBundle.EditMessageRequiredMessage_codeutilisateur}" converter="utilisateurConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{utilisateurCtl.utilisateurs}"
                                           var="codeutilisateurItem"
                                           itemValue="#{codeutilisateurItem}"
                                           itemLabel="#{codeutilisateurItem.nom.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{messageCtl.modifierMessage()}" value="#{myBundle.Save}" update="display,:MessageListForm:datalist,:MessageListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('MessageEditDialog'));">
                        
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('MessageEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
