<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="MessageListForm">
        
        <p:messages id="growl" closable="true">
            <p:effect type="pulsate" event="load" delay="50" />
        </p:messages>

        <p:panel header="#{myBundle.ListMessageTitle}">
            <p:contextMenu id="MessageDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('MessageListForm:creer').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('MessageListForm:details').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('MessageListForm:modifier').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('MessageListForm:supprimer').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.MessageMenuItem_codeutilisateur}" icon="ui-icon-search"  actionListener="#{messageController.prepareCodeutilisateur}" update=":UtilisateurViewForm" oncomplete="PF('UtilisateurViewDialog').show()" disabled="#{empty messageController.selected.codeutilisateur}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{messageCtl.messages}"
                         lazy="false"
                         rowKey="#{item.codemessage}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{messageCtl.selectedMessage}"
                        >
               
                         


                <p:ajax event="rowSelect"   update=":MessageListForm:MessageDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowUnselect" update=":MessageListForm:MessageDataTableContextMenu, :actionsForm"/>
                <p:ajax event="contextMenu" update=":MessageListForm:MessageDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('MessageListForm:viewButton').click();"/>
                

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListMessageTitle_codemessage}"/>
                    </f:facet>
                    <h:outputText value="#{item.codemessage}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListMessageTitle_objet}"/>
                    </f:facet>
                    <h:outputText value="#{item.objet}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListMessageTitle_contenue}"/>
                    </f:facet>
                    <h:outputText value="#{item.contenue}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListMessageTitle_destinataire}"/>
                    </f:facet>
                    <h:outputText value="#{item.destinataire}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListMessageTitle_codeutilisateur}"/>
                    </f:facet>
                    <h:outputText value="#{item.utilisateur.nom}"/>
                </p:column>


            </p:dataTable>
        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>