<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MessageViewDlg" widgetVar="MessageViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewMessageTitle}" closeOnEscape="true">

            <h:form id="MessageViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <h:outputText value="#{myBundle.ViewMessageLabel_codemessage}"/>
                        <h:outputText value="#{messageCtl.selectedMessage.codemessage}" title="#{myBundle.ViewMessageTitle_codemessage}"/>

                        <h:outputText value="#{myBundle.ViewMessageLabel_objet}"/>
                        <h:outputText value="#{messageCtl.selectedMessage.objet}" title="#{myBundle.ViewMessageTitle_objet}"/>

                        <h:outputText value="#{myBundle.ViewMessageLabel_contenue}"/>
                        <h:outputText value="#{messageCtl.selectedMessage.contenue}" title="#{myBundle.ViewMessageTitle_contenue}"/>

                        <h:outputText value="#{myBundle.ViewMessageLabel_destinataire}"/>
                        <h:outputText value="#{messageCtl.selectedMessage.destinataire}" title="#{myBundle.ViewMessageTitle_destinataire}"/>

                        <h:outputText value="#{myBundle.ViewMessageLabel_codeutilisateur}"/>
                        <h:outputText value="#{messageCtl.selectedMessage.utilisateur.nom}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('MessageViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
