<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templatemodel/templateParametrage.xhtml">

    <ui:define name="title">
        <h:outputText value="#{myBundle.ComptabiliteTitle}"/>
    </ui:define>

    <ui:define name="content">
    <h1> Gestion de la comptabilité</h1>  
    <p:separator/>
     <h:form id="ComptabiliteCreateForm">

                <h:panelGroup id="display">
                      <p:separator/>
                          <p:outputLabel value="#{myBundle.CreateEtudiantsLabel_classe}" for="classe" />
                        <p:selectOneMenu id="classe" value="#{etudiantCtrl.etudiant.classe}" required="true" requiredMessage="#{myBundle.CreateEtudiantsRequiredMessage_classe}" converter="classesConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{classeCtrl.classes}"
                                           var="classeItem"
                                           itemValue="#{classeItem}"
                                           itemLabel="#{classeItem.denomination}"
                                           />

                        </p:selectOneMenu>
                            
                        <p:separator/>
                    <p:panelGrid columns="2" columnClasses="column">
                        
                          <p:outputLabel value="#{myBundle.CreateComptabiliteLabel_etudiant}" for="etudiant" />
                        <p:selectOneMenu id="etudiant" value="#{comptabiliteCtrl.comptabilite.etudiant}" required="true" requiredMessage="#{myBundle.CreateComptabiliteRequiredMessage_etudiant}" converter="etudiantsConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{etudiantCtrl.etudiants}"
                                           var="etudiantItem"
                                           itemValue="#{etudiantItem}"
                                           itemLabel="#{etudiantItem.nom}"
                                           />

                        </p:selectOneMenu>
                          
                          
                        <p:outputLabel value="#{myBundle.CreateComptabiliteLabel_montant}" for="montant" />
                        <p:inputText id="montant" value="#{comptabiliteCtrl.comptabilite.montant}" title="#{myBundle.CreateComptabiliteTitle_montant}" required="true" requiredMessage="#{myBundle.CreateComptabiliteRequiredMessage_montant}"/>

                        <p:outputLabel value="#{myBundle.CreateComptabiliteLabel_montanttotal}" for="montanttotal" />
                        <p:inputText id="montanttotal" value="#{comptabiliteCtrl.comptabilite.montanttotal}" title="#{myBundle.CreateComptabiliteTitle_montanttotal}" required="true" requiredMessage="#{myBundle.CreateComptabiliteRequiredMessage_montanttotal}"/>

                        <p:outputLabel value="#{myBundle.CreateComptabiliteLabel_dates}" for="dates" />
                        <p:calendar id="dates" pattern="MM/dd/yyyy" value="#{comptabiliteCtrl.comptabilite.dates}" title="#{myBundle.CreateComptabiliteTitle_dates}" required="true" requiredMessage="#{myBundle.CreateComptabiliteRequiredMessage_dates}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateComptabiliteLabel_etat}" for="etat" />
                        <p:selectBooleanCheckbox id="etat" value="#{comptabiliteCtrl.comptabilite.etat}" required="true" requiredMessage="#{myBundle.CreateComptabiliteRequiredMessage_etat}"/>

                      

                        <p:outputLabel value="#{myBundle.CreateComptabiliteLabel_mois}" for="mois" />
                        <p:selectOneMenu id="mois" value="#{comptabiliteCtrl.comptabilite.mois}" required="true" requiredMessage="#{myBundle.CreateComptabiliteRequiredMessage_mois}" converter="moisConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{moisCtrl.listMois}"
                                           var="moisItem"
                                           itemValue="#{moisItem}"
                                           itemLabel="#{moisItem.nom}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{comptabiliteCtrl.enregistrerComptabilite()}" 
                                     value="#{myBundle.Save}" update="display,:ComptabiliteListForm:datalist,
                                     :ComptabiliteListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('ComptabiliteCreateDialog'));">
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('ComptabiliteCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>
    
     <p:separator/>
        <ui:include src="/WEB-INF/include/entity/comptabilite/Action.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/comptabilite/List.xhtml"/> <p:separator/> <p:separator/>
        <ui:include src="/WEB-INF/include/entity/comptabilite/Filtre.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/comptabilite/solvabilite.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/comptabilite/View.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/comptabilite/Edit.xhtml"/>
        <!--<ui:include src="/WEB-INF/include/entity/comptabilite/Create.xhtml"/>-->
<!--        <ui:include src="/WEB-INF/include/entity/mois/View.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/etudiants/View.xhtml"/>-->

    </ui:define>

</ui:composition>