<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FilieresCreateDlg" widgetVar="FilieresCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateFilieresTitle}" closeOnEscape="true">

            <h:form id="FilieresCreateForm">

                <h:panelGroup id="display" >
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateFilieresLabel_nomfiliere}" for="nomfiliere" />
                        <p:inputText id="nomfiliere" value="#{filiereCtrl.filiere.nomfiliere}" title="#{myBundle.CreateFilieresTitle_nomfiliere}" required="true" requiredMessage="#{myBundle.CreateFilieresRequiredMessage_nomfiliere}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateFilieresLabel_description}" for="description" />
                        <p:inputText id="description" value="#{filiereCtrl.filiere.description}" title="#{myBundle.CreateFilieresTitle_description}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateFilieresLabel_etat}" for="etat" />
                        <p:selectBooleanCheckbox id="etat" value="#{filiereCtrl.filiere.etat}" required="true" requiredMessage="#{myBundle.CreateFilieresRequiredMessage_etat}"/>

                        <p:outputLabel value="#{myBundle.CreateFilieresLabel_departement}" for="departement" />
                        <p:selectOneMenu id="departement" value="#{filiereCtrl.filiere.departement}" required="true" requiredMessage="#{myBundle.CreateFilieresRequiredMessage_departement}" converter="departementConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{departementCtrl.departements}"
                                           var="departementItem"
                                           itemValue="#{departementItem}"
                                           itemLabel="#{departementItem.nomdepat}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{filiereCtrl.enregistrerFilieres()}" value="#{myBundle.Save}" update="display,:FilieresListForm:datalist,:FilieresListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('FilieresCreateDialog'));">
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('FilieresCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
