<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="FilieresEditDlg" widgetVar="FilieresEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditFilieresTitle}" closeOnEscape="true">

            <h:form id="FilieresEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column">


                        <p:outputLabel value="#{myBundle.EditFilieresLabel_nomfiliere}" for="nomfiliere" />
                        <p:inputText id="nomfiliere" value="#{filiereCtrl.selectedFilieres.nomfiliere}" title="#{myBundle.EditFilieresTitle_nomfiliere}" required="true" requiredMessage="#{myBundle.EditFilieresRequiredMessage_nomfiliere}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditFilieresLabel_description}" for="description" />
                        <p:inputText id="description" value="#{filiereCtrl.selectedFilieres.description}" title="#{myBundle.EditFilieresTitle_description}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditFilieresLabel_etat}" for="etat" />
                        <p:selectBooleanCheckbox id="etat" value="#{filiereCtrl.selectedFilieres.etat}" required="true" requiredMessage="#{myBundle.EditFilieresRequiredMessage_etat}"/>

                        <p:outputLabel value="#{myBundle.EditFilieresLabel_departement}" for="departement" />
                        <p:selectOneMenu id="departement" value="#{filiereCtrl.selectedFilieres.departement}" required="true" requiredMessage="#{myBundle.EditFilieresRequiredMessage_departement}" converter="departementConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{departementCtrl.departements}"
                                           var="departementItem"
                                           itemValue="#{departementItem}"
                                           itemLabel="#{departementItem.nomdepat}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{filiereCtrl.modifier()}" value="#{myBundle.Save}" update="display,:FilieresListForm:datalist,:FilieresListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('FilieresEditDialog'));">
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('FilieresEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
