<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="FilieresListForm">

          <p:messages id="growl" closable="true">
            <p:effect type="pulsate" event="load" delay="50" />
        </p:messages>
        <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('actionsForm:creer').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('actionsForm:detail').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('actionsForm:modifier').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('actionsForm:supprimer').click();" icon="ui-icon-trash"/>
                <p:separator/>
        <p:panel header="#{myBundle.ListFilieresTitle}">
            <p:contextMenu id="FilieresDataTableContextMenu" for="datalist">  
                
                
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{filiereCtrl.filieres}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{filiereCtrl.selectedFilieres}"
                         >
               

                <p:ajax event="rowSelect"   update=":FilieresListForm:FilieresDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowUnselect" update=":FilieresListForm:FilieresDataTableContextMenu, :actionsForm"/>
                <p:ajax event="contextMenu" update=":FilieresListForm:FilieresDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('FilieresListForm:viewButton').click();"/>
                
                
                <p:column sortBy="#{item.nomfiliere}" filterBy="#{item.nomfiliere}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListFilieresTitle_nomfiliere}"/>
                    </f:facet>
                    <h:outputText value="#{item.nomfiliere}"/>
                </p:column>


                <p:column sortBy="#{item.description}" filterBy="#{item.description}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListFilieresTitle_description}"/>
                    </f:facet>
                    <h:outputText value="#{item.description}"/>
                </p:column>


                <p:column sortBy="#{item.etat}" filterBy="#{item.etat}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListFilieresTitle_etat}"/>
                    </f:facet>
                    <h:selectBooleanCheckbox id="etat" value="#{item.etat}" title="#{myBundle.EditFilieresTitle_etat}" required="true" requiredMessage="#{myBundle.EditFilieresRequiredMessage_etat}" disabled="true"/>
                </p:column>


                <p:column sortBy="#{item.departement.description}" filterBy="#{item.departement.description}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListFilieresTitle_departement}"/>
                    </f:facet>
                    <h:outputText value="#{item.departement.nomdepat}"/>
                </p:column>


            </p:dataTable>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>