<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FilieresViewDlg" widgetVar="FilieresViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewFilieresTitle}" closeOnEscape="true">

            <h:form id="FilieresViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <h:outputText value="#{myBundle.ViewFilieresLabel_nomfiliere}"/>
                        <h:outputText value="#{filiereCtrl.selectedFilieres.nomfiliere}" title="#{myBundle.ViewFilieresTitle_nomfiliere}"/>

                        <h:outputText value="#{myBundle.ViewFilieresLabel_description}"/>
                        <h:outputText value="#{filiereCtrl.selectedFilieres.description}" title="#{myBundle.ViewFilieresTitle_description}"/>

                        <h:outputText value="#{myBundle.ViewFilieresLabel_etat}"/>
                        <p:selectBooleanCheckbox id="etat" value="#{filiereCtrl.selectedFilieres.etat}" title="#{myBundle.EditFilieresTitle_etat}" required="true" requiredMessage="#{myBundle.EditFilieresRequiredMessage_etat}"/>

                        <h:outputText value="#{myBundle.ViewFilieresLabel_departement}"/>
                        <h:outputText value="#{filiereCtrl.selectedFilieres.departement.description}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('FilieresViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
