<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="SeancecoursEditDlg" widgetVar="SeancecoursEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditSeancecoursTitle}" closeOnEscape="true">

            <h:form id="SeancecoursEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="4" columnClasses="column">


                        <p:outputLabel value="#{myBundle.EditSeancecoursLabel_jour}" for="jour" />
                        <p:calendar id="jour" pattern="MM/dd/yyyy" value="#{seancecoursCtrl.selectedSeancecours.jour}" title="#{myBundle.EditSeancecoursTitle_jour}" required="true" requiredMessage="#{myBundle.EditSeancecoursRequiredMessage_jour}" showOn="button"/>


                        <h:outputLabel value="#{myBundle.EditSeancecoursLabel_classes}" for="classes" />
                        <p:selectOneMenu id="classes" value="#{seancecoursCtrl.selectedSeancecours.classes}" required="true" requiredMessage="#{myBundle.CreateSeancecoursRequiredMessage_classes}" converter="classesConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{classeCtrl.classes}"
                                           var="classesItem"
                                           itemValue="#{classesItem}"
                                           itemLabel="#{classesItem.denomination}"
                                           />

                        </p:selectOneMenu>


                        <h:outputLabel value="#{myBundle.EditSeancecoursLabel_emploidetemps}" for="emploidetemps" />
                        <p:selectOneMenu id="emploidetemps" value="#{seancecoursCtrl.selectedSeancecours.emploidetemps}" required="true" requiredMessage="#{myBundle.CreateSeancecoursRequiredMessage_emploidetemps}" converter="emploidetempsConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{emploiDeTpsCrtl.emplois}"
                                           var="emploidetempsItem"
                                           itemValue="#{emploidetempsItem}"
                                           itemLabel="#{emploidetempsItem.titre}"
                                           />

                        </p:selectOneMenu>


                        <h:outputLabel value="#{myBundle.EditSeancecoursLabel_enseignants}" for="enseignants" />
                        <p:selectOneMenu id="enseignants" value="#{seancecoursCtrl.selectedSeancecours.enseignants}" required="true" requiredMessage="#{myBundle.CreateSeancecoursRequiredMessage_enseignants}" converter="enseignantsConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{enseignantCtrl.listEnseignant}"
                                           var="enseignantsItem"
                                           itemValue="#{enseignantsItem}"
                                           itemLabel="#{enseignantsItem.nom} #{enseignantsItem.premon}"
                                           />

                        </p:selectOneMenu>



                        <h:outputLabel value="#{myBundle.EditSeancecoursLabel_horaires}" for="horaires" />
                        <p:selectOneMenu id="horaires" value="#{seancecoursCtrl.selectedSeancecours.horaires}" required="true" requiredMessage="#{myBundle.CreateSeancecoursRequiredMessage_horaires}" converter="horairesConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{horaireCtrl.horaires}"
                                           var="horairesItem"
                                           itemValue="#{horairesItem}"
                                           itemLabel="#{horairesItem.heuredebut}h #{horairesItem.heurefin}h"
                                           />

                        </p:selectOneMenu>

                        <h:outputLabel value="#{myBundle.EditSeancecoursLabel_matiersmodule}" for="matiersmodule" />
                         <p:selectOneMenu id="matiersmodule" value="#{seancecoursCtrl.selectedSeancecours.matiersmodule}" required="true" requiredMessage="#{myBundle.CreateSeancecoursRequiredMessage_matiersmodule}" converter="matiersmoduleConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{matiersmoduleCtrl.matiersmodules}"
                                           var="matiersmoduleItem"
                                           itemValue="#{matiersmoduleItem}"
                                           itemLabel="#{matiersmoduleItem.nommatiere}"
                                           />

                        </p:selectOneMenu>


                        <h:outputLabel value="#{myBundle.EditSeancecoursLabel_salles}" for="salles" />
                        <p:selectOneMenu id="salles" value="#{seancecoursCtrl.selectedSeancecours.salles}" required="true" requiredMessage="#{myBundle.CreateSeancecoursRequiredMessage_salles}" converter="sallesConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{salleCtrl.listSalle}"
                                           var="sallesItem"
                                           itemValue="#{sallesItem}"
                                           itemLabel="#{sallesItem.nomsalle}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{seancecoursCtrl.modifierSeancecours()}"
                                     value="#{myBundle.Save}" update="display,:SeancecoursListForm:datalist,
                                     :SeancecoursListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('SeancecoursEditDialog'));">
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('SeancecoursEditDialog').hide()" />
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
