<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="SeancecoursListForm">
        <p:messages id="growl" closable="true">
            <p:effect type="pulsate" event="load" delay="50" />
        </p:messages>

        <p:panel header="#{myBundle.ListSeancecoursTitle}">
            <p:contextMenu id="SeancecoursDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('actionsForm:creer').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('actionsForm:detail').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('actionsForm:modifier').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('actionsForm:supprimer').click();" icon="ui-icon-trash"/>
                <p:separator/>
                
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{seancecoursCtrl.listseancesCours}"
                         lazy="false"
                         rowKey="#{item.seancecoursPK}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{seancecoursCtrl.selectedSeancecours}"
                         >
                
                 <p:ajax event="rowSelect"   update=":SeancecoursListForm:SeancecoursDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowUnselect" update=":SeancecoursListForm:SeancecoursDataTableContextMenu, :actionsForm"/>
                <p:ajax event="contextMenu" update=":SeancecoursListForm:SeancecoursDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('SeancecoursListForm:viewButton').click();"/>

                

                
                    <p:column sortBy="#{item.jour}" filterBy="#{item.jour}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListSeancecoursTitle_jour}"/>
                        </f:facet>
                        <h:outputText value="#{item.jour}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                    </p:column>
                
               
                    <p:column sortBy="#{item.classes.denomination}" filterBy="#{item.classes.denomination}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListSeancecoursTitle_classes}"/>
                        </f:facet>
                        <h:outputText value="#{item.classes.denomination}"/>
                    </p:column>
               
                    <p:column sortBy="#{item.emploidetemps.titre}" filterBy="#{item.emploidetemps.titre}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListSeancecoursTitle_emploidetemps}"/>
                        </f:facet>
                        <h:outputText value="#{item.emploidetemps.titre}"/>
                    </p:column>
               
                    <p:column sortBy="#{item.enseignants.nom}" filterBy="#{item.enseignants.nom}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListSeancecoursTitle_enseignants}"/>
                        </f:facet>
                        <h:outputText value="#{item.enseignants.nom}  #{item.enseignants.premon}"/>
                    </p:column>
               
                    <p:column sortBy="#{item.horaires.heuredebut}" filterBy="#{item.horaires.heuredebut}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListSeancecoursTitle_horaires}"/>
                        </f:facet>
                        <h:outputText value="#{item.horaires.heuredebut}h #{item.horaires.heurefin}h"/>
                    </p:column>
                
                    <p:column sortBy="#{item.matiersmodule.nommatiere}" filterBy="#{item.matiersmodule.nommatiere}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListSeancecoursTitle_matiersmodule}"/>
                        </f:facet>
                        <h:outputText value="#{item.matiersmodule.nommatiere}"/>
                    </p:column>
                
                    <p:column sortBy="#{item.salles.nomsalle}" filterBy="#{item.salles.nomsalle}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListSeancecoursTitle_salles}"/>
                        </f:facet>
                        <h:outputText value="#{item.salles.nomsalle}"/>
                    </p:column>
               

            </p:dataTable>

            

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>