<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SeancecoursViewDlg" widgetVar="SeancecoursViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewSeancecoursTitle}" closeOnEscape="true">

            <h:form id="SeancecoursViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                       
                        <h:outputText value="#{myBundle.ViewSeancecoursLabel_jour}"/>
                        <h:outputText value="#{seancecoursCtrl.selectedSeancecours.jour}" title="#{myBundle.ViewSeancecoursTitle_jour}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewSeancecoursLabel_classes}"/>
                        <h:outputText value="#{seancecoursCtrl.selectedSeancecours.classes.denomination}"/>

                        <h:outputText value="#{myBundle.ViewSeancecoursLabel_emploidetemps}"/>
                        <h:outputText value="#{seancecoursCtrl.selectedSeancecours.emploidetemps.titre}"/>

                        <h:outputText value="#{myBundle.ViewSeancecoursLabel_enseignants}"/>
                        <h:outputText value="#{seancecoursCtrl.selectedSeancecours.enseignants.nom} #{seancecoursCtrl.selectedSeancecours.enseignants.premon}"/>

                        <h:outputText value="#{myBundle.ViewSeancecoursLabel_horaires}"/>
                        <h:outputText value="#{seancecoursCtrl.selectedSeancecours.horaires.heuredebut}h #{seancecoursCtrl.selectedSeancecours.horaires.heurefin}h"/>

                        <h:outputText value="#{myBundle.ViewSeancecoursLabel_matiersmodule}"/>
                        <h:outputText value="#{seancecoursCtrl.selectedSeancecours.matiersmodule.nommatiere}"/>

                        <h:outputText value="#{myBundle.ViewSeancecoursLabel_salles}"/>
                        <h:outputText value="#{seancecoursCtrl.selectedSeancecours.salles.nomsalle}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('SeancecoursViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
