<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CoursCreateDlg" widgetVar="CoursCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateCoursTitle}" closeOnEscape="true">

            <h:form id="CoursCreateForm">

                <h:panelGroup id="display" >
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateCoursLabel_codecours}" for="codecours" />
                        <p:inputText id="codecours" value="#{coursCtl.cours.codecours}" title="#{myBundle.CreateCoursTitle_codecours}" required="true" requiredMessage="#{myBundle.CreateCoursRequiredMessage_codecours}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateCoursLabel_datecours}" for="datecours" />
                        <p:calendar id="datecours" pattern="MM/dd/yyyy" value="#{coursCtl.cours.datecours}" title="#{myBundle.CreateCoursTitle_datecours}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateCoursLabel_heureDebut}" for="heureDebut" />
                        <p:inputText id="heureDebut" value="#{coursCtl.cours.heureDebut}" title="#{myBundle.CreateCoursTitle_heureDebut}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateCoursLabel_heureFin}" for="heureFin" />
                        <p:inputText id="heureFin" value="#{coursCtl.cours.heureFin}" title="#{myBundle.CreateCoursTitle_heureFin}" size="30" maxlength="254"/>
                        
                        <p:outputLabel value="Matiere" for="matiere" />
                        <p:selectOneMenu id="matiere" value="#{coursCtl.cours.ec}" required="true" requiredMessage="#{myBundle.CreateCoursRequiredMessage_codematiere}" converter="ecConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{ecCtl.ecs}"
                                           var="codematItem"
                                           itemValue="#{codematItem}"
                                           itemLabel="#{codematItem.libelleMatiere.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="Enseignant" for="codeutilisateur" />
                        <p:selectOneMenu id="codeutilisateur" value="#{coursCtl.cours.enseignant}" required="true" requiredMessage="#{myBundle.CreateCoursRequiredMessage_codeutilisateur}" converter="enseignantConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{enseignantCtl.enseignants}"
                                           var="codeutilisateurItem"
                                           itemValue="#{codeutilisateurItem}"
                                           itemLabel="#{codeutilisateurItem.utilisateur.nom}"
                                           />

                        </p:selectOneMenu>
                        <p:outputLabel value="EmploisDuTemps" for="empts" />
                        <p:selectOneMenu id="empts" value="#{coursCtl.cours.emploisDuTemps}" required="true" requiredMessage="#{myBundle.CreateCoursRequiredMessage_codematiere}" converter="ecConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{emploisDuTempsCtl.emploisDuTempses}"
                                           var="codematiereItem"
                                           itemValue="#{codematiereItem}"
                                           itemLabel="#{codematiereItem.codeEmploisdutemps}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{coursCtl.enregistrerCours()}" value="#{myBundle.Save}" update="display,:CoursListForm:datalist,CoursListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('CoursCreateDialog'));">
                       
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('CoursCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
