<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="CoursEditDlg" widgetVar="CoursEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditCoursTitle}" closeOnEscape="true">

            <h:form id="CoursEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column">


                        <h:outputLabel value="#{myBundle.EditCoursLabel_codecours}" for="codecours" />
                        <h:outputText id="codecours" value="#{coursCtl.selectedCours.codecours}" />

                        <p:outputLabel value="#{myBundle.EditCoursLabel_datecours}" for="datecours" />
                        <p:calendar id="datecours" pattern="MM/dd/yyyy" value="#{coursCtl.selectedCours.datecours}" title="#{myBundle.EditCoursTitle_datecours}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditCoursLabel_heureDebut}" for="heureDebut" />
                        <p:inputText id="heureDebut" value="#{coursCtl.selectedCours.heureDebut}" title="#{myBundle.EditCoursTitle_heureDebut}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditCoursLabel_heureFin}" for="heureFin" />
                        <p:inputText id="heureFin" value="#{coursCtl.selectedCours.heureFin}" title="#{myBundle.EditCoursTitle_heureFin}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditCoursLabel_codematiere}" for="codematiere" />
                        <p:selectOneMenu id="codematiere" value="#{coursCtl.selectedCours.ec}" required="true" requiredMessage="#{myBundle.EditCoursRequiredMessage_codematiere}" converter="ecConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{ecCtl.ecs}"
                                           var="codematiereItem"
                                           itemValue="#{codematiereItem}"
                                           itemLabel="#{codematiereItem.libelleMatiere.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditCoursLabel_codeutilisateur}" for="codeutilisateur" />
                        <p:selectOneMenu id="codeutilisateur" value="#{coursCtl.selectedCours.enseignant}" required="true" requiredMessage="#{myBundle.EditCoursRequiredMessage_codeutilisateur}" converter="enseignantConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{enseignantCtl.enseignants}"
                                           var="codeutilisateurItem"
                                           itemValue="#{codeutilisateurItem}"
                                           itemLabel="#{codeutilisateurItem.utilisateur.nom.toString()}"
                                           />
                            

                        </p:selectOneMenu>
                        
                        
                         <p:outputLabel value="EmploisDuTemps" for="empts" />
                        <p:selectOneMenu id="empts" value="#{coursCtl.selectedCours.emploisDuTemps}" required="true" requiredMessage="Veuillez remplir le code emplois du temps" converter="emploisDuTempsConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{emploisDuTempsCtl.emploisDuTempses}"
                                           var="emptsItem"
                                           itemValue="#{emptsItem}"
                                           itemLabel="#{emptsItem.codeEmploisdutemps}"
                                           />


                        </p:selectOneMenu>
                        
                    </p:panelGrid>
                    <p:commandButton actionListener="#{coursCtl.modifierCours()}" value="#{myBundle.Save}" update="display,:CoursListForm:datalist,:CoursListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('CoursEditDialog'));">
                       
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('CoursEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
