<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="CoursListForm">
        
        <p:messages id="growl" closable="true">
            <p:effect type="pulsate" event="load" delay="50" />
        </p:messages>

        <p:panel header="#{myBundle.ListCoursTitle}">
            <p:contextMenu id="CoursDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('CoursListForm:creer').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('CoursListForm:detail').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('CoursListForm:modifier').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('CoursListForm:supprimer').click();" icon="ui-icon-trash"/>
                <p:separator/>
                
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{coursCtl.courses}"
                         lazy="false"
                         rowKey="#{item.codecours}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{coursCtl.selectedCours}"
                         >
                

                <p:ajax event="rowSelect"   update=":CoursListForm:CoursDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowUnselect" update=":CoursListForm:CoursDataTableContextMenu, :actionsForm"/>
                <p:ajax event="contextMenu" update=":CoursListForm:CoursDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('CoursListForm:viewButton').click();"/>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListCoursTitle_codecours}"/>
                    </f:facet>
                    <h:outputText value="#{item.codecours}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListCoursTitle_datecours}"/>
                    </f:facet>
                    <h:outputText value="#{item.datecours}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListCoursTitle_heureDebut}"/>
                    </f:facet>
                    <h:outputText value="#{item.heureDebut}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListCoursTitle_heureFin}"/>
                    </f:facet>
                    <h:outputText value="#{item.heureFin}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListCoursTitle_codematiere}"/>
                    </f:facet>
                    <h:outputText value="#{item.ec.libelleMatiere}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListCoursTitle_codeutilisateur}"/>
                    </f:facet>
                    <h:outputText value="#{item.enseignant.utilisateur.nom}"/>
                </p:column>
                
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="EmploisDuTemps"/>
                    </f:facet>
                    <h:outputText value="#{item.emploisDuTemps.codeEmploisdutemps}"/>
                </p:column>


            </p:dataTable>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>