<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/templatemodel/templateParametrage.xhtml"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        <h:outputText value="#{myBundle.ClasseTitle}"/>
    </ui:define>

    <ui:define name="content">
        <ui:include src="/WEB-INF/include/entity/classe/Action.xhtml"/>
        <p:separator/>
          <ui:include src="/WEB-INF/include/entity/classe/Filtre.xhtml"/>
          <p:separator/>
        <ui:include src="/WEB-INF/include/entity/classe/List.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/classe/View.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/classe/Edit.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/classe/Create.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/classe/print.xhtml"/>
       <!-- <ui:include src="/WEB-INF/include/entity/niveau/View.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/filiere/View.xhtml"/>
       -->
    </ui:define>

</ui:composition>