<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="ClassematiereEditDlg" widgetVar="ClassematiereEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditClassematiereTitle}" closeOnEscape="true">

            <h:form id="ClassematiereEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" >
                        
                        <p:outputLabel value="#{myBundle.EditClassematiereLabel_classe}" for="classe" />
                        <p:selectOneMenu id="classe" value="#{classematiereCtrl.selectedClassematiere.classe}" required="true" requiredMessage="#{myBundle.EditClassematiereRequiredMessage_classe}" converter="classesConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{classeCtrl.classes}"
                                           var="classeItem"
                                           itemValue="#{classeItem}"
                                           itemLabel="#{classeItem.denomination}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditClassematiereLabel_matiere}" for="matiere" />
                        <p:selectOneMenu id="matiere" value="#{classematiereCtrl.selectedClassematiere.matiere}" required="true" requiredMessage="#{myBundle.EditClassematiereRequiredMessage_matiere}" converter="matiersmoduleConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{matiersmoduleCtrl.matiersmodules}"
                                           var="matiereItem"
                                           itemValue="#{matiereItem}"
                                           itemLabel="#{matiereItem.nommatiere}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{classematiereCtrl.modifier()}" value="#{myBundle.Save}" update="display,:ClassematiereListForm:datalist,:ClassematiereListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('ClassematiereEditDialog'));">
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('ClassematiereEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
