<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="actionsForm1">
        <p:fieldset legend="Filtre Pour Impression" toggleable="true" toggleSpeed="300">
            <div class="footer-section">

                <p:outputLabel value="#{myBundle.EditClassematiereLabel_classe}" for="classe" />
                <p:selectOneMenu id="classe" value="#{classematiereCtrl.selectedClassematiere}" required="true" requiredMessage="#{myBundle.EditClassematiereRequiredMessage_classe}" converter="classesConverter">
                    <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                    <f:selectItems value="#{classeCtrl.classes}"
                                   var="classeItem"
                                   itemValue="#{classeItem}"
                                   itemLabel="#{classeItem.denomination}"
                                   />
                     <p:ajax listener="#{classematiereCtrl.listeMatiresClasse()}" update="ClassesListForm"/>

                </p:selectOneMenu>
            </div>
        </p:fieldset>
    </h:form>
</ui:composition>
