<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ClassematiereViewDlg" widgetVar="ClassematiereViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewClassematiereTitle}" closeOnEscape="true">

            <h:form id="ClassematiereViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{classematiereCtrl.selectedClassematiere != null}">

                        <h:outputText value="#{myBundle.ViewClassematiereLabel_classe}"/>
                        <h:outputText value="#{classematiereCtrl.selectedClassematiere.classe.denomination}"/>

                        <h:outputText value="#{myBundle.ViewClassematiereLabel_matiere}"/>
                        <h:outputText value="#{classematiereCtrl.selectedClassematiere.matiere.nommatiere}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('ClassematiereViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
