<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UtilisateurCreateDlg" widgetVar="UtilisateurCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateUtilisateurTitle}" closeOnEscape="true">

            <h:form id="UtilisateurCreateForm">

                <h:panelGroup id="display" rendered="#{utilisateurCtl.selected != null}">
                    <p:tabView id="UtilisateurTabView">

                        <p:tab id="UtilisateurTab1" title="#{myBundle.TabHeaderPrefix} 1">
                            <p:panelGrid columns="2" columnClasses="column">
                                <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_codeutilisateur}" for="codeutilisateur" />
                                <p:inputText id="codeutilisateur" value="#{utilisateurCtl.selected.codeutilisateur}" title="#{myBundle.CreateUtilisateurTitle_codeutilisateur}" required="true" requiredMessage="#{myBundle.CreateUtilisateurRequiredMessage_codeutilisateur}" size="254" maxlength="254"/>

                                <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_nom}" for="nom" />
                                <p:inputText id="nom" value="#{utilisateurCtl.selected.nom}" title="#{myBundle.CreateUtilisateurTitle_nom}" size="254" maxlength="254"/>

                                <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_prenom}" for="prenom" />
                                <p:inputText id="prenom" value="#{utilisateurCtl.selected.prenom}" title="#{myBundle.CreateUtilisateurTitle_prenom}" size="254" maxlength="254"/>

                                <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_datedenaissance}" for="datedenaissance" />
                                <p:inputText id="datedenaissance" value="#{utilisateurCtl.selected.datedenaissance}" title="#{myBundle.CreateUtilisateurTitle_datedenaissance}" size="254" maxlength="254"/>

                                <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_situationMatrimonial}" for="situationMatrimonial" />
                                <p:inputText id="situationMatrimonial" value="#{utilisateurCtl.selected.situationMatrimonial}" title="#{myBundle.CreateUtilisateurTitle_situationMatrimonial}" size="254" maxlength="254"/>

                                <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_telephone}" for="telephone" />
                                <p:inputText id="telephone" value="#{utilisateurCtl.selected.telephone}" title="#{myBundle.CreateUtilisateurTitle_telephone}" size="254" maxlength="254"/>

                                <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_adresse}" for="adresse" />
                                <p:inputText id="adresse" value="#{utilisateurCtl.selected.adresse}" title="#{myBundle.CreateUtilisateurTitle_adresse}" size="254" maxlength="254"/>

                                <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_ville}" for="ville" />
                                <p:inputText id="ville" value="#{utilisateurCtl.selected.ville}" title="#{myBundle.CreateUtilisateurTitle_ville}" size="254" maxlength="254"/>

                                <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_pays}" for="pays" />
                                <p:inputText id="pays" value="#{utilisateurCtl.selected.pays}" title="#{myBundle.CreateUtilisateurTitle_pays}" size="254" maxlength="254"/>

                                <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_email}" for="email" />
                                <p:inputText id="email" value="#{utilisateurCtl.selected.email}" title="#{myBundle.CreateUtilisateurTitle_email}" size="254" maxlength="254"/>

                                <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_boitePostale}" for="boitePostale" />
                                <p:inputText id="boitePostale" value="#{utilisateurCtl.selected.boitePostale}" title="#{myBundle.CreateUtilisateurTitle_boitePostale}"/>

                                <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_cin}" for="cin" />
                                <p:inputText id="cin" value="#{utilisateurCtl.selected.cin}" title="#{myBundle.CreateUtilisateurTitle_cin}" size="254" maxlength="254"/>

                                <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_login}" for="login" />
                                <p:inputText id="login" value="#{utilisateurCtl.selected.login}" title="#{myBundle.CreateUtilisateurTitle_login}" size="254" maxlength="254"/>

                                <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_password}" for="password" />
                                <p:inputText id="password" value="#{utilisateurCtl.selected.password}" title="#{myBundle.CreateUtilisateurTitle_password}" size="254" maxlength="254"/>

                                <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_administrateur}" for="administrateur" />
                                <p:selectOneMenu id="administrateur" value="#{utilisateurCtl.selected.administrateur}"  converter="administrateurConverter">
                                    <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                    <f:selectItems value="#{administrateurCtl.items}"
                                                   var="administrateurItem"
                                                   itemValue="#{administrateurItem}"
                                                   itemLabel="#{administrateurItem.codeutilisateur.toString()}"
                                                   />

                                </p:selectOneMenu>

                                <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_secretaire}" for="secretaire" />
                                <p:selectOneMenu id="secretaire" value="#{utilisateurCtl.selected.secretaire}"  converter="secretaireConverter">
                                    <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                    <f:selectItems value="#{secretaireCtl.items}"
                                                   var="secretaireItem"
                                                   itemValue="#{secretaireItem}"
                                                   itemLabel="#{secretaireItem.codeutilisateur.toString()}"
                                                   />

                                </p:selectOneMenu>

                                <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_comptable}" for="comptable" />
                                <p:selectOneMenu id="comptable" value="#{utilisateurCtl.selected.comptable}"  converter="comptableConverter">
                                    <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                    <f:selectItems value="#{comptableCtl.items}"
                                                   var="comptableItem"
                                                   itemValue="#{comptableItem}"
                                                   itemLabel="#{comptableItem.codeutilisateur.toString()}"
                                                   />

                                </p:selectOneMenu>

                                <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_etudiant}" for="etudiant" />
                                <p:selectOneMenu id="etudiant" value="#{utilisateurCtl.selected.etudiant}"  converter="etudiantConverter">
                                    <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                    <f:selectItems value="#{etudiantCtl.items}"
                                                   var="etudiantItem"
                                                   itemValue="#{etudiantItem}"
                                                   itemLabel="#{etudiantItem.codeutilisateur.toString()}"
                                                   />

                                </p:selectOneMenu>

                                <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_responsable}" for="responsable" />
                                <p:selectOneMenu id="responsable" value="#{utilisateurCtl.selected.responsable}"  converter="responsableConverter">
                                    <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                    <f:selectItems value="#{responsableCtl.items}"
                                                   var="responsableItem"
                                                   itemValue="#{responsableItem}"
                                                   itemLabel="#{responsableItem.codeutilisateur.toString()}"
                                                   />

                                </p:selectOneMenu>

                                <p:outputLabel value="#{myBundle.CreateUtilisateurLabel_enseignant}" for="enseignant" />
                                <p:selectOneMenu id="enseignant" value="#{utilisateurCtl.selected.enseignant}"  converter="enseignantConverter">
                                    <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                    <f:selectItems value="#{enseignantCtl.items}"
                                                   var="enseignantItem"
                                                   itemValue="#{enseignantItem}"
                                                   itemLabel="#{enseignantItem.codeutilisateur.toString()}"
                                                   />

                                </p:selectOneMenu>
                            </p:panelGrid>
                        </p:tab>
                    </p:tabView>
                    <p:commandButton actionListener="#{utilisateurCtl.saveNew}" value="#{myBundle.Save}" update="display,:UtilisateurListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('UtilisateurCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('UtilisateurCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
