<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="UtilisateurEditDlg" widgetVar="UtilisateurEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditUtilisateurTitle}" closeOnEscape="true">

            <h:form id="UtilisateurEditForm">

                <h:panelGroup id="display">
                    <p:tabView id="UtilisateurTabView">

                        <p:tab id="UtilisateurTab1" title="#{myBundle.TabHeaderPrefix} 1">
                            <p:panelGrid  columns="2" columnClasses="column" rendered="#{utilisateurController.selected != null}">

                                <h:outputLabel value="#{myBundle.EditUtilisateurLabel_codeutilisateur}" for="codeutilisateur" />
                                <h:outputText id="codeutilisateur" value="#{utilisateurController.selected.codeutilisateur}" />

                                <p:outputLabel value="#{myBundle.EditUtilisateurLabel_nom}" for="nom" />
                                <p:inputText id="nom" value="#{utilisateurController.selected.nom}" title="#{myBundle.EditUtilisateurTitle_nom}" size="254" maxlength="254"/>

                                <p:outputLabel value="#{myBundle.EditUtilisateurLabel_prenom}" for="prenom" />
                                <p:inputText id="prenom" value="#{utilisateurController.selected.prenom}" title="#{myBundle.EditUtilisateurTitle_prenom}" size="254" maxlength="254"/>

                                <p:outputLabel value="#{myBundle.EditUtilisateurLabel_datedenaissance}" for="datedenaissance" />
                                <p:inputText id="datedenaissance" value="#{utilisateurController.selected.datedenaissance}" title="#{myBundle.EditUtilisateurTitle_datedenaissance}" size="30" maxlength="254"/>

                                <p:outputLabel value="#{myBundle.EditUtilisateurLabel_situationMatrimonial}" for="situationMatrimonial" />
                                <p:inputText id="situationMatrimonial" value="#{utilisateurController.selected.situationMatrimonial}" title="#{myBundle.EditUtilisateurTitle_situationMatrimonial}" size="30" maxlength="254"/>

                                <p:outputLabel value="#{myBundle.EditUtilisateurLabel_telephone}" for="telephone" />
                                <p:inputText id="telephone" value="#{utilisateurController.selected.telephone}" title="#{myBundle.EditUtilisateurTitle_telephone}" size="30" maxlength="254"/>

                                <p:outputLabel value="#{myBundle.EditUtilisateurLabel_adresse}" for="adresse" />
                                <p:inputText id="adresse" value="#{utilisateurController.selected.adresse}" title="#{myBundle.EditUtilisateurTitle_adresse}" size="30" maxlength="254"/>

                                <p:outputLabel value="#{myBundle.EditUtilisateurLabel_ville}" for="ville" />
                                <p:inputText id="ville" value="#{utilisateurController.selected.ville}" title="#{myBundle.EditUtilisateurTitle_ville}" size="30" maxlength="254"/>

                                <p:outputLabel value="#{myBundle.EditUtilisateurLabel_pays}" for="pays" />
                                <p:inputText id="pays" value="#{utilisateurController.selected.pays}" title="#{myBundle.EditUtilisateurTitle_pays}" size="30" maxlength="254"/>

                                <p:outputLabel value="#{myBundle.EditUtilisateurLabel_email}" for="email" />
                                <p:inputText id="email" value="#{utilisateurController.selected.email}" title="#{myBundle.EditUtilisateurTitle_email}" size="30" maxlength="254"/>

                                <p:outputLabel value="#{myBundle.EditUtilisateurLabel_boitePostale}" for="boitePostale" />
                                <p:inputText id="boitePostale" value="#{utilisateurController.selected.boitePostale}" title="#{myBundle.EditUtilisateurTitle_boitePostale}"/>

                                <p:outputLabel value="#{myBundle.EditUtilisateurLabel_cin}" for="cin" />
                                <p:inputText id="cin" value="#{utilisateurController.selected.cin}" title="#{myBundle.EditUtilisateurTitle_cin}" size="30" maxlength="254"/>

                                <p:outputLabel value="#{myBundle.EditUtilisateurLabel_login}" for="login" />
                                <p:inputText id="login" value="#{utilisateurController.selected.login}" title="#{myBundle.EditUtilisateurTitle_login}" size="30" maxlength="254"/>

                                <p:outputLabel value="#{myBundle.EditUtilisateurLabel_password}" for="password" />
                                <p:inputText id="password" value="#{utilisateurController.selected.password}" title="#{myBundle.EditUtilisateurTitle_password}" size="30" maxlength="254"/>

                                <p:outputLabel value="#{myBundle.EditUtilisateurLabel_administrateur}" for="administrateur" />
                                <p:selectOneMenu id="administrateur" value="#{utilisateurController.selected.administrateur}"  converter="administrateurConverter">
                                    <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                    <f:selectItems value="#{administrateurController.items}"
                                                   var="administrateurItem"
                                                   itemValue="#{administrateurItem}"
                                                   itemLabel="#{administrateurItem.codeutilisateur.toString()}"
                                                   />

                                </p:selectOneMenu>

                                <p:outputLabel value="#{myBundle.EditUtilisateurLabel_secretaire}" for="secretaire" />
                                <p:selectOneMenu id="secretaire" value="#{utilisateurController.selected.secretaire}"  converter="secretaireConverter">
                                    <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                    <f:selectItems value="#{secretaireController.items}"
                                                   var="secretaireItem"
                                                   itemValue="#{secretaireItem}"
                                                   itemLabel="#{secretaireItem.codeutilisateur.toString()}"
                                                   />

                                </p:selectOneMenu>

                                <p:outputLabel value="#{myBundle.EditUtilisateurLabel_comptable}" for="comptable" />
                                <p:selectOneMenu id="comptable" value="#{utilisateurController.selected.comptable}"  converter="comptableConverter">
                                    <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                    <f:selectItems value="#{comptableController.items}"
                                                   var="comptableItem"
                                                   itemValue="#{comptableItem}"
                                                   itemLabel="#{comptableItem.codeutilisateur.toString()}"
                                                   />

                                </p:selectOneMenu>

                                <p:outputLabel value="#{myBundle.EditUtilisateurLabel_etudiant}" for="etudiant" />
                                <p:selectOneMenu id="etudiant" value="#{utilisateurController.selected.etudiant}"  converter="etudiantConverter">
                                    <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                    <f:selectItems value="#{etudiantController.items}"
                                                   var="etudiantItem"
                                                   itemValue="#{etudiantItem}"
                                                   itemLabel="#{etudiantItem.codeutilisateur.toString()}"
                                                   />

                                </p:selectOneMenu>

                                <p:outputLabel value="#{myBundle.EditUtilisateurLabel_responsable}" for="responsable" />
                                <p:selectOneMenu id="responsable" value="#{utilisateurController.selected.responsable}"  converter="responsableConverter">
                                    <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                    <f:selectItems value="#{responsableController.items}"
                                                   var="responsableItem"
                                                   itemValue="#{responsableItem}"
                                                   itemLabel="#{responsableItem.codeutilisateur.toString()}"
                                                   />

                                </p:selectOneMenu>

                                <p:outputLabel value="#{myBundle.EditUtilisateurLabel_enseignant}" for="enseignant" />
                                <p:selectOneMenu id="enseignant" value="#{utilisateurController.selected.enseignant}"  converter="enseignantConverter">
                                    <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                    <f:selectItems value="#{enseignantController.items}"
                                                   var="enseignantItem"
                                                   itemValue="#{enseignantItem}"
                                                   itemLabel="#{enseignantItem.codeutilisateur.toString()}"
                                                   />

                                </p:selectOneMenu>
                            </p:panelGrid>
                        </p:tab>
                    </p:tabView>
                    <p:commandButton actionListener="#{utilisateurController.save}" value="#{myBundle.Save}" update="display,:UtilisateurListForm:datalist,:UtilisateurListForm:UtilisateurDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('UtilisateurEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('UtilisateurEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
