<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="UtilisateurListForm">

        <p:panel header="#{myBundle.ListUtilisateurTitle}">
            <p:contextMenu id="UtilisateurDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('UtilisateurListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('UtilisateurListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('UtilisateurListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('UtilisateurListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.UtilisateurMenuItem_administrateur}" icon="ui-icon-search"  actionListener="#{utilisateurController.prepareAdministrateur}" update=":AdministrateurViewForm" oncomplete="PF('AdministrateurViewDialog').show()" disabled="#{empty utilisateurController.selected.administrateur}"/>  
                <p:menuitem value="#{myBundle.UtilisateurMenuItem_secretaire}" icon="ui-icon-search"  actionListener="#{utilisateurController.prepareSecretaire}" update=":SecretaireViewForm" oncomplete="PF('SecretaireViewDialog').show()" disabled="#{empty utilisateurController.selected.secretaire}"/>  
                <p:menuitem value="#{myBundle.UtilisateurMenuItem_comptable}" icon="ui-icon-search"  actionListener="#{utilisateurController.prepareComptable}" update=":ComptableViewForm" oncomplete="PF('ComptableViewDialog').show()" disabled="#{empty utilisateurController.selected.comptable}"/>  
                <p:menuitem value="#{myBundle.UtilisateurMenuItem_etudiant}" icon="ui-icon-search"  actionListener="#{utilisateurController.prepareEtudiant}" update=":EtudiantViewForm" oncomplete="PF('EtudiantViewDialog').show()" disabled="#{empty utilisateurController.selected.etudiant}"/>  
                <p:menuitem value="#{myBundle.UtilisateurMenuItem_responsable}" icon="ui-icon-search"  actionListener="#{utilisateurController.prepareResponsable}" update=":ResponsableViewForm" oncomplete="PF('ResponsableViewDialog').show()" disabled="#{empty utilisateurController.selected.responsable}"/>  
                <p:menuitem value="#{myBundle.UtilisateurMenuItem_messageList}" icon="ui-icon-search"  action="#{utilisateurController.navigateMessageList}" disabled="#{utilisateurController.isMessageListEmpty}" ajax="false"/>  
                <p:menuitem value="#{myBundle.UtilisateurMenuItem_enseignant}" icon="ui-icon-search"  actionListener="#{utilisateurController.prepareEnseignant}" update=":EnseignantViewForm" oncomplete="PF('EnseignantViewDialog').show()" disabled="#{empty utilisateurController.selected.enseignant}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{utilisateurController.items}"
                         lazy="false"
                         rowKey="#{item.codeutilisateur}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{utilisateurController.selected}"
                         filteredValue="#{utilisateurController.filteredItems}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{utilisateurController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.codeutilisateur}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:UtilisateurDataTableContextMenu" listener="#{utilisateurController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:UtilisateurDataTableContextMenu" listener="#{utilisateurController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{utilisateurController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('UtilisateurListForm:viewButton').click();"/>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUtilisateurTitle_codeutilisateur}"/>
                    </f:facet>
                    <h:outputText value="#{item.codeutilisateur}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUtilisateurTitle_nom}"/>
                    </f:facet>
                    <h:outputText value="#{item.nom}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUtilisateurTitle_prenom}"/>
                    </f:facet>
                    <h:outputText value="#{item.prenom}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUtilisateurTitle_datedenaissance}"/>
                    </f:facet>
                    <h:outputText value="#{item.datedenaissance}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUtilisateurTitle_situationMatrimonial}"/>
                    </f:facet>
                    <h:outputText value="#{item.situationMatrimonial}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUtilisateurTitle_telephone}"/>
                    </f:facet>
                    <h:outputText value="#{item.telephone}"/>
                </p:column>

                <ui:remove>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListUtilisateurTitle_adresse}"/>
                        </f:facet>
                        <h:outputText value="#{item.adresse}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListUtilisateurTitle_ville}"/>
                        </f:facet>
                        <h:outputText value="#{item.ville}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListUtilisateurTitle_pays}"/>
                        </f:facet>
                        <h:outputText value="#{item.pays}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListUtilisateurTitle_email}"/>
                        </f:facet>
                        <h:outputText value="#{item.email}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListUtilisateurTitle_boitePostale}"/>
                        </f:facet>
                        <h:outputText value="#{item.boitePostale}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListUtilisateurTitle_cin}"/>
                        </f:facet>
                        <h:outputText value="#{item.cin}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListUtilisateurTitle_login}"/>
                        </f:facet>
                        <h:outputText value="#{item.login}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListUtilisateurTitle_password}"/>
                        </f:facet>
                        <h:outputText value="#{item.password}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListUtilisateurTitle_administrateur}"/>
                        </f:facet>
                        <h:outputText value="#{item.administrateur.codeutilisateur}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListUtilisateurTitle_secretaire}"/>
                        </f:facet>
                        <h:outputText value="#{item.secretaire.codeutilisateur}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListUtilisateurTitle_comptable}"/>
                        </f:facet>
                        <h:outputText value="#{item.comptable.codeutilisateur}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListUtilisateurTitle_etudiant}"/>
                        </f:facet>
                        <h:outputText value="#{item.etudiant.codeutilisateur}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListUtilisateurTitle_responsable}"/>
                        </f:facet>
                        <h:outputText value="#{item.responsable.codeutilisateur}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListUtilisateurTitle_enseignant}"/>
                        </f:facet>
                        <h:outputText value="#{item.enseignant.codeutilisateur}"/>
                    </p:column>
                </ui:remove>

            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{utilisateurController.prepareCreate}" update=":UtilisateurCreateForm" oncomplete="PF('UtilisateurCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":UtilisateurViewForm" oncomplete="PF('UtilisateurViewDialog').show()" disabled="#{empty utilisateurController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":UtilisateurEditForm" oncomplete="PF('UtilisateurEditDialog').show()" disabled="#{empty utilisateurController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{utilisateurController.delete}" update=":growl,datalist" disabled="#{empty utilisateurController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>