<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UtilisateurViewDlg" widgetVar="UtilisateurViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewUtilisateurTitle}" closeOnEscape="true">

            <h:form id="UtilisateurViewForm">

                <h:panelGroup id="display">
                    <p:tabView id="UtilisateurTabView">

                        <p:tab id="UtilisateurTab1" title="#{myBundle.TabHeaderPrefix} 1">
                            <p:panelGrid columns="2" columnClasses="column" rendered="#{utilisateurController.selected != null}">
                                <h:outputText value="#{myBundle.ViewUtilisateurLabel_codeutilisateur}"/>
                                <h:outputText value="#{utilisateurController.selected.codeutilisateur}" title="#{myBundle.ViewUtilisateurTitle_codeutilisateur}"/>

                                <h:outputText value="#{myBundle.ViewUtilisateurLabel_nom}"/>
                                <h:outputText value="#{utilisateurController.selected.nom}" title="#{myBundle.ViewUtilisateurTitle_nom}"/>

                                <h:outputText value="#{myBundle.ViewUtilisateurLabel_prenom}"/>
                                <h:outputText value="#{utilisateurController.selected.prenom}" title="#{myBundle.ViewUtilisateurTitle_prenom}"/>

                                <h:outputText value="#{myBundle.ViewUtilisateurLabel_datedenaissance}"/>
                                <h:outputText value="#{utilisateurController.selected.datedenaissance}" title="#{myBundle.ViewUtilisateurTitle_datedenaissance}"/>

                                <h:outputText value="#{myBundle.ViewUtilisateurLabel_situationMatrimonial}"/>
                                <h:outputText value="#{utilisateurController.selected.situationMatrimonial}" title="#{myBundle.ViewUtilisateurTitle_situationMatrimonial}"/>

                                <h:outputText value="#{myBundle.ViewUtilisateurLabel_telephone}"/>
                                <h:outputText value="#{utilisateurController.selected.telephone}" title="#{myBundle.ViewUtilisateurTitle_telephone}"/>

                                <h:outputText value="#{myBundle.ViewUtilisateurLabel_adresse}"/>
                                <h:outputText value="#{utilisateurController.selected.adresse}" title="#{myBundle.ViewUtilisateurTitle_adresse}"/>

                                <h:outputText value="#{myBundle.ViewUtilisateurLabel_ville}"/>
                                <h:outputText value="#{utilisateurController.selected.ville}" title="#{myBundle.ViewUtilisateurTitle_ville}"/>

                                <h:outputText value="#{myBundle.ViewUtilisateurLabel_pays}"/>
                                <h:outputText value="#{utilisateurController.selected.pays}" title="#{myBundle.ViewUtilisateurTitle_pays}"/>

                                <h:outputText value="#{myBundle.ViewUtilisateurLabel_email}"/>
                                <h:outputText value="#{utilisateurController.selected.email}" title="#{myBundle.ViewUtilisateurTitle_email}"/>

                                <h:outputText value="#{myBundle.ViewUtilisateurLabel_boitePostale}"/>
                                <h:outputText value="#{utilisateurController.selected.boitePostale}" title="#{myBundle.ViewUtilisateurTitle_boitePostale}"/>

                                <h:outputText value="#{myBundle.ViewUtilisateurLabel_cin}"/>
                                <h:outputText value="#{utilisateurController.selected.cin}" title="#{myBundle.ViewUtilisateurTitle_cin}"/>

                                <h:outputText value="#{myBundle.ViewUtilisateurLabel_login}"/>
                                <h:outputText value="#{utilisateurController.selected.login}" title="#{myBundle.ViewUtilisateurTitle_login}"/>

                                <h:outputText value="#{myBundle.ViewUtilisateurLabel_password}"/>
                                <h:outputText value="#{utilisateurController.selected.password}" title="#{myBundle.ViewUtilisateurTitle_password}"/>

                                <h:outputText value="#{myBundle.ViewUtilisateurLabel_administrateur}"/>
                                <h:outputText value="#{utilisateurController.selected.administrateur.codeutilisateur}"/>

                                <h:outputText value="#{myBundle.ViewUtilisateurLabel_secretaire}"/>
                                <h:outputText value="#{utilisateurController.selected.secretaire.codeutilisateur}"/>

                                <h:outputText value="#{myBundle.ViewUtilisateurLabel_comptable}"/>
                                <h:outputText value="#{utilisateurController.selected.comptable.codeutilisateur}"/>

                                <h:outputText value="#{myBundle.ViewUtilisateurLabel_etudiant}"/>
                                <h:outputText value="#{utilisateurController.selected.etudiant.codeutilisateur}"/>

                                <h:outputText value="#{myBundle.ViewUtilisateurLabel_responsable}"/>
                                <h:outputText value="#{utilisateurController.selected.responsable.codeutilisateur}"/>

                                <h:outputText value="#{myBundle.ViewUtilisateurLabel_enseignant}"/>
                                <h:outputText value="#{utilisateurController.selected.enseignant.codeutilisateur}"/>
                            </p:panelGrid>
                        </p:tab>
                    </p:tabView>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('UtilisateurViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
