<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="actionsForm">
        <p:fieldset legend="Actions" toggleable="true" toggleSpeed="300">
            <div class="footer-section">
                <p:commandButton id="creer" 
                                 icon="ui-icon-plus"   
                                 value="#{myBundle.Create}" 
                                 update=":EtudiantsCreateForm, :EtudiantsListForm:growl" 
                                 oncomplete="PF('EtudiantsCreateDialog').show()"/>
                <p:commandButton id="detail"   
                                 icon="ui-icon-search" 
                                 value="#{myBundle.View}" 
                                 update=":EtudiantsViewForm" 
                                 oncomplete="PF('EtudiantsViewDialog').show()" 
                                 disabled="#{etudiantCtrl.detail }"/>
                <p:commandButton id="modifier"   
                                 icon="ui-icon-pencil" 
                                 value="#{myBundle.Edit}" 
                                 update=":EtudiantsEditDlg" 
                                 oncomplete="PF('EtudiantsEditDialog').show()" 
                                 disabled="#{etudiantCtrl.modifier}"/>

                <p:commandButton id="supprimer" 
                                 icon="ui-icon-trash"  
                                 value="#{myBundle.Delete}" 
                                 update=":EtudiantsListForm:growl,:EtudiantsListForm:datalist,:actionsForm"
                                 disabled="#{etudiantCtrl.supprimer}"
                                 actionListener="#{etudiantCtrl.supprimer()}">
                    <p:confirm header="titre"
                               message="Supprimer"
                               icon="ui-icon-alert"/>
                </p:commandButton>


                <p:commandButton id="imprimer" icon="ui-icon-print"  
                                 value="Imprimer" actionListener="#{etudiantCtrl.imprimerEtudiantsPdf()}"
                                 update=":EtudiantsListForm:growl, :pdfPrintForm" disabled="#{etudiantCtrl.imprimer}" 
                                 oncomplete="PF('PdfPrintDialog').show()"/>

            </div>
        </p:fieldset>
    </h:form>
</ui:composition>
