<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="EtudiantsEditDlg" widgetVar="EtudiantsEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditEtudiantsTitle}" closeOnEscape="true">

            <h:form id="EtudiantsEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column">


                        <p:outputLabel value="#{myBundle.EditEtudiantsLabel_numerocarte}" for="numerocarte" />
                        <p:inputText id="numerocarte" value="#{etudiantCtrl.selectedEtudiants.numerocarte}" title="#{myBundle.EditEtudiantsTitle_numerocarte}" required="true" requiredMessage="#{myBundle.EditEtudiantsRequiredMessage_numerocarte}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditEtudiantsLabel_premon}" for="premon" />
                        <p:inputText id="premon" value="#{etudiantCtrl.selectedEtudiants.premon}" title="#{myBundle.EditEtudiantsTitle_premon}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditEtudiantsLabel_nom}" for="nom" />
                        <p:inputText id="nom" value="#{etudiantCtrl.selectedEtudiants.nom}" title="#{myBundle.EditEtudiantsTitle_nom}" required="true" requiredMessage="#{myBundle.EditEtudiantsRequiredMessage_nom}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditEtudiantsLabel_age}" for="age" />
                        <p:inputText id="age" value="#{etudiantCtrl.selectedEtudiants.age}" title="#{myBundle.EditEtudiantsTitle_age}"/>

<!--                        <p:outputLabel value="#{myBundle.EditEtudiantsLabel_sexe}" for="sexe" />
                        <p:inputText id="sexe" value="#{etudiantCtrl.selectedEtudiants.sexe}" title="#{myBundle.EditEtudiantsTitle_sexe}" required="true" requiredMessage="#{myBundle.EditEtudiantsRequiredMessage_sexe}" size="30" maxlength="254"/>-->
                   
                         <p:outputLabel value="#{myBundle.CreateEtudiantsLabel_sexe}" for="sexe" />
                       <p:selectOneMenu id="sexe" value="#{etudiantCtrl.selectedEtudiants.sexe}" required="true" requiredMessage="#{myBundle.EditEtudiantsRequiredMessage_sexe}">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{etudiantCtrl.sexes}"
                                           var="sexe"
                                           itemValue="#{sexe}"
                                           itemLabel="#{sexe}"
                                           />

                        </p:selectOneMenu>
                        
                        
                        
                        <p:outputLabel value="#{myBundle.EditEtudiantsLabel_datenais}" for="datenais" />
                        <p:calendar id="datenais" pattern="MM/dd/yyyy" value="#{etudiantCtrl.selectedEtudiants.datenais}" title="#{myBundle.EditEtudiantsTitle_datenais}" required="true" requiredMessage="#{myBundle.EditEtudiantsRequiredMessage_datenais}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditEtudiantsLabel_lieunais}" for="lieunais" />
                        <p:inputText id="lieunais" value="#{etudiantCtrl.selectedEtudiants.lieunais}" title="#{myBundle.EditEtudiantsTitle_lieunais}" required="true" requiredMessage="#{myBundle.EditEtudiantsRequiredMessage_lieunais}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditEtudiantsLabel_paysnais}" for="paysnais" />
                        <p:inputText id="paysnais" value="#{etudiantCtrl.selectedEtudiants.paysnais}" title="#{myBundle.EditEtudiantsTitle_paysnais}" required="true" requiredMessage="#{myBundle.EditEtudiantsRequiredMessage_paysnais}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditEtudiantsLabel_nationalite}" for="nationalite" />
                        <p:inputText id="nationalite" value="#{etudiantCtrl.selectedEtudiants.nationalite}" title="#{myBundle.EditEtudiantsTitle_nationalite}" required="true" requiredMessage="#{myBundle.EditEtudiantsRequiredMessage_nationalite}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditEtudiantsLabel_telephone}" for="telephone" />
                        <p:inputText id="telephone" value="#{etudiantCtrl.selectedEtudiants.telephone}" title="#{myBundle.EditEtudiantsTitle_telephone}" required="true" requiredMessage="#{myBundle.EditEtudiantsRequiredMessage_telephone}"/>

                        <p:outputLabel value="#{myBundle.EditEtudiantsLabel_email1}" for="email1" />
                        <p:inputText id="email1" value="#{etudiantCtrl.selectedEtudiants.email1}" title="#{myBundle.EditEtudiantsTitle_email1}" required="true" requiredMessage="#{myBundle.EditEtudiantsRequiredMessage_email1}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditEtudiantsLabel_email}" for="email" />
                        <p:inputText id="email" value="#{etudiantCtrl.selectedEtudiants.email}" title="#{myBundle.EditEtudiantsTitle_email}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditEtudiantsLabel_annee}" for="annee" />
                        <p:selectOneMenu id="annee" value="#{etudiantCtrl.selectedEtudiants.annee}" required="true" requiredMessage="#{myBundle.EditEtudiantsRequiredMessage_annee}" converter="anneeScolaireConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{anneeCtrl.annees}"
                                           var="anneeItem"
                                           itemValue="#{anneeItem}"
                                           itemLabel="#{anneeItem.annee}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditEtudiantsLabel_classe}" for="classe" />
                        <p:selectOneMenu id="classe" value="#{etudiantCtrl.selectedEtudiants.classe}" required="true" requiredMessage="#{myBundle.EditEtudiantsRequiredMessage_classe}" converter="classesConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{classeCtrl.classes}"
                                           var="classeItem"
                                           itemValue="#{classeItem}"
                                           itemLabel="#{classeItem.denomination}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{etudiantCtrl.modifier()}" value="#{myBundle.Save}" update="display,:EtudiantsListForm:datalist,:EtudiantsListForm:growl" 
                                     oncomplete="handleSubmit(xhr,status,args,PF('EtudiantsEditDialog'));">
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}"  onclick="PF('EtudiantsEditDialog').hide()" />
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
