<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition>
        <p:dialog id="PdfPrintDlg" widgetVar="PdfPrintDialog" modal="true" resizable="true"  
                  showEffect="clip" hideEffect="clip"
                  closeOnEscape="true" width="80%" showHeader="true" >

            <h:form id="pdfPrintForm">

                <object data="#{request.contextPath}/pdf/#{etudiantCtrl.pdfFileName}" style="width: 100%;" height="500"
                        type="application/pdf" title="Liste des étudiants" ></object>

            </h:form>

        </p:dialog>
    </ui:composition>

</html>

