<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="EtudiantsListForm">
        
        <p:messages id="growl" closable="true">
            <p:effect type="pulsate" event="load" delay="50"  />
        </p:messages>

        <p:panel header="#{myBundle.ListEtudiantsTitle}">
            <p:contextMenu id="EtudiantsDataTableContextMenu" for="datalist">  
               <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('actionsForm:creer').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('actionsForm:detail').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('actionsForm:modifier').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('actionsForm:supprimer').click();" icon="ui-icon-trash"/>
                <p:separator/>
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{etudiantCtrl.etudiants}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{etudiantCtrl.selectedEtudiants}"
                         >
   
                <p:ajax event="rowSelect"   update=":EtudiantsListForm:EtudiantsDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowUnselect" update=":EtudiantsListForm:EtudiantsDataTableContextMenu, :actionsForm"/>
                <p:ajax event="contextMenu" update=":EtudiantsListForm:EtudiantsDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('EtudiantsListForm:viewButton').click();"/>

                <p:column sortBy="#{item.numerocarte}" filterBy="#{item.numerocarte}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEtudiantsTitle_numerocarte}"/>
                    </f:facet>
                    <h:outputText value="#{item.numerocarte}"/>
                </p:column>


                <p:column sortBy="#{item.premon}" filterBy="#{item.premon}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEtudiantsTitle_premon}"/>
                    </f:facet>
                    <h:outputText value="#{item.premon}"/>
                </p:column>


                <p:column sortBy="#{item.nom}" filterBy="#{item.nom}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEtudiantsTitle_nom}"/>
                    </f:facet>
                    <h:outputText value="#{item.nom}"/>
                </p:column>


                <p:column sortBy="#{item.age}" filterBy="#{item.age}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEtudiantsTitle_age}"/>
                    </f:facet>
                    <h:outputText value="#{item.age}"/>
                </p:column>


                <p:column sortBy="#{item.sexe}" filterBy="#{item.sexe}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListEtudiantsTitle_sexe}"/>
                    </f:facet>
                    <h:outputText value="#{item.sexe}"/>
                </p:column>

                <ui:remove>
                    <p:column sortBy="#{item.datenais}" filterBy="#{item.datenais}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListEtudiantsTitle_datenais}"/>
                        </f:facet>
                        <h:outputText value="#{item.datenais}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column sortBy="#{item.lieunais}" filterBy="#{item.lieunais}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListEtudiantsTitle_lieunais}"/>
                        </f:facet>
                        <h:outputText value="#{item.lieunais}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column sortBy="#{item.paysnais}" filterBy="#{item.paysnais}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListEtudiantsTitle_paysnais}"/>
                        </f:facet>
                        <h:outputText value="#{item.paysnais}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column sortBy="#{item.nationalite}" filterBy="#{item.nationalite}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListEtudiantsTitle_nationalite}"/>
                        </f:facet>
                        <h:outputText value="#{item.nationalite}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column sortBy="#{item.telephone}" filterBy="#{item.telephone}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListEtudiantsTitle_telephone}"/>
                        </f:facet>
                        <h:outputText value="#{item.telephone}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column sortBy="#{item.email1}" filterBy="#{item.email1}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListEtudiantsTitle_email1}"/>
                        </f:facet>
                        <h:outputText value="#{item.email1}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column sortBy="#{item.email}" filterBy="#{item.email}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListEtudiantsTitle_email}"/>
                        </f:facet>
                        <h:outputText value="#{item.email}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column sortBy="#{item.annee.annee}" filterBy="#{item.annee.annee}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListEtudiantsTitle_annee}"/>
                        </f:facet>
                        <h:outputText value="#{item.annee.annee}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column sortBy="#{item.classe.denomination}" filterBy="#{item.classe.denomination}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListEtudiantsTitle_classe}"/>
                        </f:facet>
                        <h:outputText value="#{item.classe.denomination}"/>
                    </p:column>
                </ui:remove>

            </p:dataTable>
        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>