<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EtudiantsViewDlg" widgetVar="EtudiantsViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewEtudiantsTitle}" closeOnEscape="true">

            <h:form id="EtudiantsViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">
                        <h:outputText value="#{myBundle.ViewEtudiantsLabel_numerocarte}"/>
                        <h:outputText value="#{etudiantCtrl.selectedEtudiants.numerocarte}" title="#{myBundle.ViewEtudiantsTitle_numerocarte}"/>

                        <h:outputText value="#{myBundle.ViewEtudiantsLabel_premon}"/>
                        <h:outputText value="#{etudiantCtrl.selectedEtudiants.premon}" title="#{myBundle.ViewEtudiantsTitle_premon}"/>

                        <h:outputText value="#{myBundle.ViewEtudiantsLabel_nom}"/>
                        <h:outputText value="#{etudiantCtrl.selectedEtudiants.nom}" title="#{myBundle.ViewEtudiantsTitle_nom}"/>

                        <h:outputText value="#{myBundle.ViewEtudiantsLabel_age}"/>
                        <h:outputText value="#{etudiantCtrl.selectedEtudiants.age}" title="#{myBundle.ViewEtudiantsTitle_age}"/>

                        <h:outputText value="#{myBundle.ViewEtudiantsLabel_sexe}"/>
                        <h:outputText value="#{etudiantCtrl.selectedEtudiants.sexe}" title="#{myBundle.ViewEtudiantsTitle_sexe}"/>

                        <h:outputText value="#{myBundle.ViewEtudiantsLabel_datenais}"/>
                        <h:outputText value="#{etudiantCtrl.selectedEtudiants.datenais}" title="#{myBundle.ViewEtudiantsTitle_datenais}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewEtudiantsLabel_lieunais}"/>
                        <h:outputText value="#{etudiantCtrl.selectedEtudiants.lieunais}" title="#{myBundle.ViewEtudiantsTitle_lieunais}"/>

                        <h:outputText value="#{myBundle.ViewEtudiantsLabel_paysnais}"/>
                        <h:outputText value="#{etudiantCtrl.selectedEtudiants.paysnais}" title="#{myBundle.ViewEtudiantsTitle_paysnais}"/>

                        <h:outputText value="#{myBundle.ViewEtudiantsLabel_nationalite}"/>
                        <h:outputText value="#{etudiantCtrl.selectedEtudiants.nationalite}" title="#{myBundle.ViewEtudiantsTitle_nationalite}"/>

                        <h:outputText value="#{myBundle.ViewEtudiantsLabel_telephone}"/>
                        <h:outputText value="#{etudiantCtrl.selectedEtudiants.telephone}" title="#{myBundle.ViewEtudiantsTitle_telephone}"/>

                        <h:outputText value="#{myBundle.ViewEtudiantsLabel_email1}"/>
                        <h:outputText value="#{etudiantCtrl.selectedEtudiants.email1}" title="#{myBundle.ViewEtudiantsTitle_email1}"/>

                        <h:outputText value="#{myBundle.ViewEtudiantsLabel_email}"/>
                        <h:outputText value="#{etudiantCtrl.selectedEtudiants.email}" title="#{myBundle.ViewEtudiantsTitle_email}"/>

                        <h:outputText value="#{myBundle.ViewEtudiantsLabel_annee}"/>
                        <h:outputText value="#{etudiantCtrl.selectedEtudiants.annee.annee}"/>

                        <h:outputText value="#{myBundle.ViewEtudiantsLabel_classe}"/>
                        <h:outputText value="#{etudiantCtrl.selectedEtudiants.classe.denomination}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('EtudiantsViewDialog').hide()"/>
                </h:panelGroup> 

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
