<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="NiveauCreateDlg" widgetVar="NiveauCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateNiveauTitle}" closeOnEscape="true">

            <h:form id="NiveauCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateNiveauLabel_libelle}" for="libelle" />
                        <p:inputText id="libelle" value="#{niveauCtl.niveau.libelle}" title="#{myBundle.CreateNiveauTitle_libelle}" size="30" maxlength="254"/>
                   
                    </p:panelGrid>
                    <p:commandButton actionListener="#{niveauCtl.enregistrerNiveau()}" value="#{myBundle.Save}"
                                     update="display,:NiveauListForm:datalist,:NiveauListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('NiveauCreateDialog'));"/>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('NiveauCreateDialog').hide()" />
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
