<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="NiveauViewDlg" widgetVar="NiveauViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewNiveauTitle}" closeOnEscape="true">

            <h:form id="NiveauViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">
                        
                        <h:outputText value="#{myBundle.ViewNiveauLabel_libelle}"/>
                        <h:outputText value="#{niveauCtl.selectedNiveau.libelle}" title="#{myBundle.ViewNiveauTitle_libelle}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('NiveauViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
