<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
               template="/templatemodel/templateParametrage.xhtml">

    <ui:define name="title">
        <h:outputText value="#{myBundle.EtudiantTitle}"/>
    </ui:define>

    <ui:define name="content">
         <ui:include src="/WEB-INF/include/entity/etudiant/Action.xhtml"/>
         <p:separator/>
          <ui:include src="/WEB-INF/include/entity/etudiant/Filtre.xhtml"/>
          <p:separator/>
        <ui:include src="/WEB-INF/include/entity/etudiant/List.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/etudiant/View.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/etudiant/Edit.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/etudiant/Create.xhtml"/>
       
       <!-- <ui:include src="/WEB-INF/include/entity/classe/View.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/utilisateur/View.xhtml"/>
       -->
    </ui:define>

</ui:composition>