<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MoisCreateDlg" widgetVar="MoisCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateMoisTitle}" closeOnEscape="true">

            <h:form id="MoisCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateMoisLabel_nom}" for="nom" />
                        <p:inputText id="nom" value="#{moisCtrl.mois.nom}" title="#{myBundle.CreateMoisTitle_nom}" required="true" requiredMessage="#{myBundle.CreateMoisRequiredMessage_nom}" size="30" maxlength="254"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{moisCtrl.enregistrerMois()}" value="#{myBundle.Save}" update="display,:MoisListForm:datalist,:MoisListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('MoisCreateDialog'));">
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('MoisCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
