<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="MoisEditDlg" widgetVar="MoisEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditMoisTitle}" closeOnEscape="true">

            <h:form id="MoisEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column">


                        <p:outputLabel value="#{myBundle.EditMoisLabel_nom}" for="nom" />
                        <p:inputText id="nom" value="#{moisCtrl.selectedMois.nom}" title="#{myBundle.EditMoisTitle_nom}" required="true" requiredMessage="#{myBundle.EditMoisRequiredMessage_nom}" size="30" maxlength="254"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{moisCtrl.modifierMois()}" value="#{myBundle.Save}" update="display,:MoisListForm:datalist,:MoisListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('MoisEditDialog'));">
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('MoisEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
