<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="AdministrateurListForm">

        <p:messages id="growl" closable="true">
            <p:effect type="pulsate" event="load" delay="50" />
        </p:messages>
        
        <p:panel header="#{myBundle.ListAdministrateurTitle}">
            <p:contextMenu id="AdministrateurDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('AdministrateurListForm:creer').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('AdministrateurListForm:detail').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('AdministrateurListForm:modifier').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('AdministrateurListForm:supprimer').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.AdministrateurMenuItem_utilisateur}" icon="ui-icon-search"  actionListener="#{administrateurController.prepareUtilisateur}" update=":UtilisateurViewForm" oncomplete="PF('UtilisateurViewDialog').show()" disabled="#{empty administrateurController.selected.utilisateur}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{administrateurCtl.administrateurs}"
                         lazy="false"
                         rowKey="#{item.codeutilisateur}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{administrateurCtl.selectedAdministrateur}"
                         >


                <p:ajax event="rowSelect"   update=":AdministrateurListForm:AdministrateurDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowUnselect" update=":AdministrateurListForm:AdministrateurDataTableContextMenu, :actionsForm"/>
                <p:ajax event="contextMenu" update=":AdministrateurListForm:AdministrateurDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('AdministrateurListForm:viewButton').click();"/>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListAdministrateurTitle_codeutilisateur}"/>
                    </f:facet>
                    <h:outputText value="#{item.codeutilisateur}"/>
                </p:column>
                
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Nom"/>
                    </f:facet>
                    <h:outputText value="#{item.utilisateur.nom}"/>
                </p:column>
                
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Prenom"/>
                    </f:facet>
                    <h:outputText value="#{item.utilisateur.prenom}"/>
                </p:column>
                
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="CIN"/>
                    </f:facet>
                    <h:outputText value="#{item.utilisateur.cin}"/>
                </p:column>
                
                 <p:column>
                    <f:facet name="header">
                        <h:outputText value="Pays"/>
                    </f:facet>
                    <h:outputText value="#{item.utilisateur.pays}"/>
                </p:column>
                
                 <p:column>
                    <f:facet name="header">
                        <h:outputText value="Ville"/>
                    </f:facet>
                    <h:outputText value="#{item.utilisateur.ville}"/>
                </p:column>
                 <p:column>
                    <f:facet name="header">
                        <h:outputText value="Situation Matrimoniale"/>
                    </f:facet>
                     <h:outputText value="#{item.utilisateur.situationMatrimonial}"/>
                </p:column>
                
                 <p:column>
                    <f:facet name="header">
                        <h:outputText value="Password"/>
                    </f:facet>
                     <h:outputText value="#{item.utilisateur.password}"/>
                </p:column>

            </p:dataTable>
            
        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>