<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="EcEditDlg" widgetVar="EcEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditEcTitle}" closeOnEscape="true">

            <h:form id="EcEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column">


                        <p:outputLabel value="Code matiere" for="codematiere" />
                        <p:inputText id="codematiere" value="#{ecCtl.selectedEc.codematiere}" title="#{myBundle.CreateEcTitle_codematiere}" required="true" requiredMessage="#{myBundle.CreateEcRequiredMessage_codematiere}" size="30" maxlength="254"/>

                        <p:outputLabel value="Libelle" for="libelleMatiere" />
                        <p:inputText id="libelleMatiere" value="#{ecCtl.selectedEc.libelleMatiere}" title="#{myBundle.CreateEcTitle_libelleMatiere}" size="30" maxlength="254"/>

                        <p:outputLabel value="QuotaHoraire" for="quantumhoraire" />
                        <p:inputText id="quantumhoraire" value="#{ecCtl.selectedEc.quantumhoraire}" title="#{myBundle.CreateEcTitle_quantumhoraire}" size="30" maxlength="254"/>

                        <p:outputLabel value="Credit" for="credit" />
                        <p:inputText id="credit" value="#{ecCtl.selectedEc.credit}" title="#{myBundle.CreateEcTitle_credit}"/>

                        <p:outputLabel value="TP" for="tp" />
                        <p:inputText id="tp" value="#{ecCtl.selectedEc.tp}" title="#{myBundle.CreateEcTitle_tp}" size="30" maxlength="254"/>

                        <p:outputLabel value="TD" for="td" />
                        <p:inputText id="td" value="#{ecCtl.selectedEc.td}" title="#{myBundle.CreateEcTitle_td}" size="30" maxlength="254"/>

                        <p:outputLabel value="TPE" for="tpe" />
                        <p:inputText id="tpe" value="#{ecCtl.selectedEc.tpe}" title="#{myBundle.CreateEcTitle_tpe}" size="30" maxlength="254"/>

                        <p:outputLabel value="Cours magistraux" for="coursmagistraux" />
                        <p:inputText id="coursmagistraux" value="#{ecCtl.selectedEc.coursmagistraux}" title="#{myBundle.CreateEcTitle_coursmagistraux}" size="30" maxlength="254"/>

                        <p:outputLabel value="UE" for="codeue" />
                        <p:selectOneMenu id="codeue" value="#{ecCtl.selectedEc.ue}" required="true" requiredMessage="#{myBundle.CreateEcRequiredMessage_codeue}" converter="ueConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{ueCtl.ues}"
                                           var="codeueItem"
                                           itemValue="#{codeueItem}"
                                           itemLabel="#{codeueItem.libelleUe.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{ecCtl.modifierEc()}" value="#{myBundle.Save}" update="display,:EcListForm:datalist,:EcListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('EcEditDialog'));">
                        
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('EcEditDialog').hide()" />
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
