<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="actionsForm1">
        <p:fieldset legend="Filtre Pour Impression" toggleable="true" toggleSpeed="300">
            <div class="footer-section">
                
                <p:outputLabel value="Classe" for="classe" />
                <p:selectOneMenu id="classe" value="#{ecCtl.selectedClasse}"
                                 required="true"
                                 requiredMessage="Veuillez selectionner la classe pour filtrer les maquettes correspondantes!!" 
                                 converter="classeConverter">
                    <f:selectItem itemValue="" itemLabel="" />
                    <f:selectItems value="#{ecCtl.classes}"
                                   var="classeItem"
                                   itemValue="#{classeItem}"
                                   itemLabel="#{classeItem.lbelleClasse}"
                                   />

                    <p:ajax listener="#{ecCtl.listeMaquetteClasse()}" update="maquette"/>
                </p:selectOneMenu> 
                
                 <p:outputLabel value="Maquette" for="maquette" />
                 <p:selectOneMenu id="maquette" value="#{ecCtl.selectedMaquette}"
                                 required="true"
                                 requiredMessage="#{myBundle.CreateUesRequiredMessage_maquette}" 
                                 converter="maquetteConverter">
                    <f:selectItem itemValue="" itemLabel="" />
                    <f:selectItems value="#{ecCtl.maquettes}"
                                   var="maquetteItem"
                                   itemValue="#{maquetteItem}"
                                   itemLabel="#{maquetteItem.codemaquette}"
                                   />

                    <p:ajax listener="#{ecCtl.listeSemestresMaquette()}" update="semestre"/>
                </p:selectOneMenu> 
                
                
                <p:outputLabel value="Semestre" for="semestre" />
                 <p:selectOneMenu id="semestre" value="#{ecCtl.selectedSemestre}"
                                 required="true"
                                 requiredMessage="vous devez choisir le semestre pour filtrer les unites d'enseignement" 
                                 converter="semestreConverter">
                    <f:selectItem itemValue="" itemLabel="" />
                    <f:selectItems value="#{ecCtl.semestres}"
                                   var="ecItem"
                                   itemValue="#{ecItem}"
                                   itemLabel="#{ecItem.libelleSemestre}"
                                   />

                    <p:ajax listener="#{ecCtl.listeUesSemestre()}" update="ue"/>
                </p:selectOneMenu> 
                
                
                <p:outputLabel value="Ue" for="ue" />
                <p:selectOneMenu id="ue" value="#{ecCtl.selectUe}"
                                 required="true"
                                 requiredMessage="vous devez selectionner l'unite d'enseignement pour filtrer les matieres qui le constituent" 
                                 converter="ueConverter">
                    <f:selectItem itemValue="" itemLabel="" />
                    <f:selectItems value="#{ecCtl.ues}"
                                   var="etablissementItem"
                                   itemValue="#{etablissementItem}"
                                   itemLabel="#{etablissementItem.libelleUe}"
                                   />

                    <p:ajax listener="#{ecCtl.listeUesSemestre()}" update="EcListForm"/>
                </p:selectOneMenu> 


                <p:commandButton id="imprimer" icon="ui-icon-print"  
                                 value="Imprimer" actionListener="#{ecCtl.imprimerEcHtml()}"
                                 update=":EcListForm:growl" disabled="#{ecCtl.imprimer}" 
                                 oncomplete="PF('EcImprimerDialog').show()"/>

            </div>
        </p:fieldset>
    </h:form>
</ui:composition>
