<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="EcListForm">
        
        <p:messages id="growl" closable="true">
            <p:effect type="pulsate" event="load" delay="50" />
        </p:messages>

        <p:panel header="#{myBundle.ListEcTitle}">
            <p:contextMenu id="EcDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('actionsForm:creer').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('actionsForm:detail').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('actionsForm:modifier').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('actionsForm:supprimer').click();" icon="ui-icon-trash"/>
                <p:separator/>
               
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{ecCtl.ecs}"
                         lazy="false"
                         rowKey="#{item.codematiere}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{ecCtl.selectedEc}">
                
                <p:ajax event="rowSelect"   update=":EcListForm:EcDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowUnselect" update=":EcListForm:EcDataTableContextMenu, :actionsForm"/>
                <p:ajax event="contextMenu" update=":EcListForm:EcDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('EcListForm:viewButton').click();"/>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Codematiere"/>
                    </f:facet>
                    <h:outputText value="#{item.codematiere}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Libelle"/>
                    </f:facet>
                    <h:outputText value="#{item.libelleMatiere}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Quota Horaire"/>
                    </f:facet>
                    <h:outputText value="#{item.quantumhoraire}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Credit"/>
                    </f:facet>
                    <h:outputText value="#{item.credit}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="TP"/>
                    </f:facet>
                    <h:outputText value="#{item.tp}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="TD"/>
                    </f:facet>
                    <h:outputText value="#{item.td}"/>
                </p:column>

                <ui:remove>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="TPE"/>
                        </f:facet>
                        <h:outputText value="#{item.tpe}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#Cours Magistraux"/>
                        </f:facet>
                        <h:outputText value="#{item.coursmagistraux}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="UE"/>
                        </f:facet>
                        <h:outputText value="#{item.ue.libelleUe}"/>
                    </p:column>
                </ui:remove>

            </p:dataTable>
            
        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>