<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EcViewDlg" widgetVar="EcViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewEcTitle}" closeOnEscape="true">

            <h:form id="EcViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="Code matiere" />
                        <p:inputText  value="#{ecCtl.selectedEc.codematiere}" title="#{myBundle.CreateEcTitle_codematiere}" />

                        <p:outputLabel value="Libelle" />
                        <p:inputText   value="#{ecCtl.selectedEc.libelleMatiere}" title="#{myBundle.CreateEcTitle_libelleMatiere}" />

                        <p:outputLabel value="QuotaHoraire"/>
                        <p:inputText  value="#{ecCtl.selectedEc.quantumhoraire}" title="#{myBundle.CreateEcTitle_quantumhoraire}"/>

                        <p:outputLabel value="Credit"/>
                        <p:inputText  value="#{ecCtl.selectedEc.credit}" title="#{myBundle.CreateEcTitle_credit}"/>

                        <p:outputLabel value="TP" for="tp" />
                        <p:inputText id="tp" value="#{ecCtl.selectedEc.tp}" title="#{myBundle.CreateEcTitle_tp}"/>

                        <p:outputLabel value="TD"  />
                        <p:inputText  value="#{ecCtl.selectedEc.td}" title="#{myBundle.CreateEcTitle_td}" />

                        <p:outputLabel value="TPE" />
                        <p:inputText  value="#{ecCtl.selectedEc.tpe}" title="#{myBundle.CreateEcTitle_tpe}" />

                        <p:outputLabel value="Cours magistraux"/>
                        <p:inputText id="coursmagistraux" value="#{ecCtl.selectedEc.coursmagistraux}" title="#{myBundle.CreateEcTitle_coursmagistraux}"/>

                        <p:outputLabel value="UE" />
                        <h:outputText value="#{ecCtl.selectedEc.ue.libelleUe}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('EcViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
