<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="DomaineEditDlg" widgetVar="DomaineEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditDomaineTitle}" closeOnEscape="true">

            <h:form id="DomaineEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column">


                        
                        <p:outputLabel value="#{myBundle.EditDomaineLabel_nomDomaine}" for="nomDomaine" />
                        <p:inputText id="nomDomaine" value="#{domaineCtl.selectedDomaine.nomDomaine}" title="#{myBundle.EditDomaineTitle_nomDomaine}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditDomaineLabel_codeetablissement}" for="codeetablissement" />
                        <p:selectOneMenu id="codeetablissement" value="#{domaineCtl.selectedDomaine.etablissement}" required="true" requiredMessage="#{myBundle.EditDomaineRequiredMessage_codeetablissement}" converter="etablissementConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{etablissementCtl.etablissements}"
                                           var="codeetablissementItem"
                                           itemValue="#{codeetablissementItem}"
                                           itemLabel="#{codeetablissementItem.libelleEtablissemant.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{domaineCtl.modifierDomaine()}" value="#{myBundle.Save}" 
                                     update="display,:DomaineListForm:datalist,:DomaineListForm:growl" 
                                     oncomplete="handleSubmit(xhr,status,args,PF('DomaineEditDialog'));">
                        
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('DomaineEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
