<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="actionsForm1">
        <p:fieldset legend="Filtre Pour Impression" toggleable="true" toggleSpeed="300">
            <div class="footer-section">
                
                 <p:outputLabel value="Etablissement" for="etablissement" />
                 <p:selectOneMenu id="etablissement" value="#{domaineCtl.selectedEtablissement}"
                                 required="true"
                                 requiredMessage="#{myBundle.CreateEtudiantsRequiredMessage_etablissement}" 
                                 converter="etablissementConverter">
                    <f:selectItem itemValue="" itemLabel="" />
                    <f:selectItems value="#{domaineCtl.etablissements}"
                                   var="etablissementItem"
                                   itemValue="#{etablissementItem}"
                                   itemLabel="#{etablissementItem.libelleEtablissemant}"
                                   />

                    <p:ajax listener="#{domaineCtl.listeDomainesEtablissement()}" update="DomaineListForm"/>
                </p:selectOneMenu> 



                <p:commandButton id="imprimer" icon="ui-icon-print"  
                                 value="Imprimer" actionListener="#{domaineCtl.imprimerDomaineHtml()}"
                                 update=":DomaineListForm:growl" disabled="#{domaineCtl.imprimer}" 
                                 oncomplete="PF('DomaineImprimerDialog').show()"/>

            </div>
        </p:fieldset>
    </h:form>
</ui:composition>
