<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="DomaineListForm">
        
        <p:messages id="growl" closable="true">
            <p:effect type="pulsate" event="load" delay="50" />
        </p:messages>

        <p:panel header="#{myBundle.ListDomaineTitle}">
            <p:contextMenu id="DomaineDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('DomaineListForm:creer').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('DomaineListForm:detail').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('DomaineListForm:modifier').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('DomaineListForm:supprimer').click();" icon="ui-icon-trash"/>
                <p:separator/>
                
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{domaineCtl.domaines}"
                         lazy="false"
                         rowKey="#{item.codedomaine}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{domaineCtl.selectedDomaine}"
                        >
               

                <p:ajax event="rowSelect"   update=":DomaineListForm:DomaineDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowUnselect" update=":DomaineListForm:DomaineDataTableContextMenu, :actionsForm"/>
                <p:ajax event="contextMenu" update=":DomaineListForm:DomaineDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('DomaineListForm:viewButton').click();"/>
               

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListDomaineTitle_codedomaine}"/>
                    </f:facet>
                    <h:outputText value="#{item.codedomaine}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListDomaineTitle_nomDomaine}"/>
                    </f:facet>
                    <h:outputText value="#{item.nomDomaine}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Etablissement"/>
                    </f:facet>
                    <h:outputText value="#{item.etablissement.libelleEtablissemant}"/>
                </p:column>


            </p:dataTable>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>