<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DomaineViewDlg" widgetVar="DomaineViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewDomaineTitle}" closeOnEscape="true">

            <h:form id="DomaineViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <h:outputText value="#{myBundle.ViewDomaineLabel_codedomaine}"/>
                        <h:outputText value="#{domaineCtl.selectedDomaine.codedomaine}" title="#{myBundle.ViewDomaineTitle_codedomaine}"/>

                        <h:outputText value="#{myBundle.ViewDomaineLabel_nomDomaine}"/>
                        <h:outputText value="#{domaineCtl.selectedDomaine.nomDomaine}" title="#{myBundle.ViewDomaineTitle_nomDomaine}"/>

                        <h:outputText value="#{myBundle.ViewDomaineLabel_codeetablissement}"/>
                        <h:outputText value="#{domaineCtl.selectedDomaine.etablissement.libelleEtablissemant}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('DomaineViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
