<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="actionsForm">
        <p:fieldset legend="Actions" toggleable="true" toggleSpeed="300">
            <div class="footer-section">
<!--                <p:commandButton id="creer" 
                                 icon="ui-icon-plus"   
                                 value="#{myBundle.Create}" 
                                 update=":ComptabiliteCreateForm, :ComptabiliteListForm:growl" 
                                 oncomplete="PF('ComptabiliteCreateDialog').show()"/>-->
                <p:commandButton id="detail"   
                                 icon="ui-icon-search" 
                                 value="#{myBundle.View}" 
                                 update=":ComptabiliteViewForm" 
                                 oncomplete="PF('ComptabiliteViewDialog').show()" 
                                 disabled="#{comptabiliteCtrl.detail }"/>
                <p:commandButton id="modifier"   
                                 icon="ui-icon-pencil" 
                                 value="#{myBundle.Edit}" 
                                 update=":ComptabiliteEditDlg" 
                                 oncomplete="PF('ComptabiliteEditDialog').show()" 
                                 disabled="#{comptabiliteCtrl.modifier}"/>

                <p:commandButton id="supprimer" 
                                 icon="ui-icon-trash"  
                                 value="#{myBundle.Delete}" 
                                 update=":ComptabiliteListForm:growl,:ComptabiliteListForm:datalist, :actionsForm"
                                 disabled="#{comptabiliteCtrl.supprimer}"
                                 actionListener="#{comptabiliteCtrl.supprimerComptabilite()}">
                    <p:confirm header="titre"
                               message="Supprimer"
                               icon="ui-icon-alert"/>
                </p:commandButton>

                <p:commandButton id="imprimer" icon="ui-icon-print"  
                                 value="Imprimer" actionListener="#{comptabiliteCtrl.imprimerComptabiliteHtml()}"
                                 update=":ComptabiliteListForm:growl" disabled="#{comptabiliteCtrl.imprimer}" 
                                 oncomplete="PF('ComptabiliteImprimerDialog').show()"/>
            </div>
        </p:fieldset>
    </h:form>
</ui:composition>
