<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ComptabiliteCreateDlg" widgetVar="ComptabiliteCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateComptabiliteTitle}" closeOnEscape="true">

            <h:form id="ComptabiliteCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateComptabiliteLabel_montant}" for="montant" />
                        <p:inputText id="montant" value="#{comptabiliteCtrl.comptabilite.montant}" title="#{myBundle.CreateComptabiliteTitle_montant}" required="true" requiredMessage="#{myBundle.CreateComptabiliteRequiredMessage_montant}"/>

                        <p:outputLabel value="#{myBundle.CreateComptabiliteLabel_montanttotal}" for="montanttotal" />
                        <p:inputText id="montanttotal" value="#{comptabiliteCtrl.comptabilite.montanttotal}" title="#{myBundle.CreateComptabiliteTitle_montanttotal}" required="true" requiredMessage="#{myBundle.CreateComptabiliteRequiredMessage_montanttotal}"/>

                        <p:outputLabel value="#{myBundle.CreateComptabiliteLabel_dates}" for="dates" />
                        <p:calendar id="dates" pattern="MM/dd/yyyy" value="#{comptabiliteCtrl.comptabilite.dates}" title="#{myBundle.CreateComptabiliteTitle_dates}" required="true" requiredMessage="#{myBundle.CreateComptabiliteRequiredMessage_dates}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateComptabiliteLabel_etat}" for="etat" />
                        <p:selectBooleanCheckbox id="etat" value="#{comptabiliteCtrl.comptabilite.etat}" required="true" requiredMessage="#{myBundle.CreateComptabiliteRequiredMessage_etat}"/>

                        <p:outputLabel value="#{myBundle.CreateComptabiliteLabel_etudiant}" for="etudiant" />
                        <p:selectOneMenu id="etudiant" value="#{comptabiliteCtrl.comptabilite.etudiant}" required="true" requiredMessage="#{myBundle.CreateComptabiliteRequiredMessage_etudiant}" converter="etudiantsConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{etudiantCtrl.etudiants}"
                                           var="etudiantItem"
                                           itemValue="#{etudiantItem}"
                                           itemLabel="#{etudiantItem.nom}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateComptabiliteLabel_mois}" for="mois" />
                        <p:selectOneMenu id="mois" value="#{comptabiliteCtrl.comptabilite.mois}" required="true" requiredMessage="#{myBundle.CreateComptabiliteRequiredMessage_mois}" converter="moisConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{moisCtrl.listMois}"
                                           var="moisItem"
                                           itemValue="#{moisItem}"
                                           itemLabel="#{moisItem.nom}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{comptabiliteCtrl.enregistrerComptabilite()}" 
                                     value="#{myBundle.Save}" update="display,:ComptabiliteListForm:datalist,
                                     :ComptabiliteListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('ComptabiliteCreateDialog'));">
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('ComptabiliteCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
