<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="ComptabiliteEditDlg" widgetVar="ComptabiliteEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditComptabiliteTitle}" closeOnEscape="true">

            <h:form id="ComptabiliteEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" >


                        <p:outputLabel value="#{myBundle.EditComptabiliteLabel_montant}" for="montant" />
                        <p:inputText id="montant" value="#{comptabiliteCtrl.selectedComptabilite.montant}" title="#{myBundle.EditComptabiliteTitle_montant}" required="true" requiredMessage="#{myBundle.EditComptabiliteRequiredMessage_montant}"/>

                        <p:outputLabel value="#{myBundle.EditComptabiliteLabel_montanttotal}" for="montanttotal" />
                        <p:inputText id="montanttotal" value="#{comptabiliteCtrl.selectedComptabilite.montanttotal}" title="#{myBundle.EditComptabiliteTitle_montanttotal}" required="true" requiredMessage="#{myBundle.EditComptabiliteRequiredMessage_montanttotal}"/>

                        <p:outputLabel value="#{myBundle.EditComptabiliteLabel_dates}" for="dates" />
                        <p:calendar id="dates" pattern="MM/dd/yyyy" value="#{comptabiliteCtrl.selectedComptabilite.dates}" title="#{myBundle.EditComptabiliteTitle_dates}" required="true" requiredMessage="#{myBundle.EditComptabiliteRequiredMessage_dates}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditComptabiliteLabel_etat}" for="etat" />
                        <p:selectBooleanCheckbox id="etat" value="#{comptabiliteCtrl.selectedComptabilite.etat}" required="true" requiredMessage="#{myBundle.EditComptabiliteRequiredMessage_etat}"/>

                        <p:outputLabel value="#{myBundle.EditComptabiliteLabel_etudiant}" for="etudiant" />
                        <p:selectOneMenu id="etudiant" value="#{comptabiliteCtrl.selectedComptabilite.etudiant}" required="true" requiredMessage="#{myBundle.EditComptabiliteRequiredMessage_etudiant}" converter="etudiantsConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{etudiantCtrl.etudiants}"
                                           var="etudiantItem"
                                           itemValue="#{etudiantItem}"
                                           itemLabel="#{etudiantItem.nom}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditComptabiliteLabel_mois}" for="mois" />
                        <p:selectOneMenu id="mois" value="#{comptabiliteCtrl.selectedComptabilite.mois}" required="true" requiredMessage="#{myBundle.EditComptabiliteRequiredMessage_mois}" converter="moisConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{moisCtrl.listMois}"
                                           var="moisItem"
                                           itemValue="#{moisItem}"
                                           itemLabel="#{moisItem.nom}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{comptabiliteCtrl.modifierComptabilite()}" value="#{myBundle.Save}"
                                     update="display,:ComptabiliteListForm:datalist,:ComptabiliteListForm:growl" 
                                     oncomplete="handleSubmit(xhr,status,args,PF('ComptabiliteEditDialog'));">
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('ComptabiliteEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
