<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="actionsForm1">
        <p:fieldset legend="Solvabilité par classe" toggleable="true" toggleSpeed="300">
            <div class="footer-section">

                <p:outputLabel value="#{myBundle.CreateEtudiantsLabel_classe}" for="classe" />
                <p:selectOneMenu id="classe" value="#{etudiantCtrl.selectedClasse}"
                                 required="true"
                                 requiredMessage="#{myBundle.CreateEtudiantsRequiredMessage_classe}" 
                                 converter="classesConverter">
                    <f:selectItem itemValue="" itemLabel="" />
                    <f:selectItems value="#{etudiantCtrl.classes}"
                                   var="classeItem"
                                   itemValue="#{classeItem}"
                                   itemLabel="#{classeItem.denomination}"
                                   />

                    <p:ajax listener="#{comptabiliteCtrl.listeEtudiantsClasse()}" update="ComptabiliteListForm1"/>

                </p:selectOneMenu> 




<!--                <p:commandButton id="imprimer" icon="ui-icon-print"  
                                 value="Imprimer" actionListener="#{etudiantCtrl.imprimerEtudiantsHtml()}"
                                 update=":EtudiantsListForm:growl" disabled="#{etudiantCtrl.imprimer}" 
                                 oncomplete="PF('EtudiantsImprimerDialog').show()"/>-->

            </div>
        </p:fieldset>
    </h:form>
</ui:composition>
