<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="ComptabiliteListForm">
        <p:messages id="growl" closable="true">
            <p:effect type="pulsate" event="load" delay="50"  />
        </p:messages>

        <p:panel header="#{myBundle.ListComptabiliteTitle}">
            <p:contextMenu id="ComptabiliteDataTableContextMenu" for="datalist"> 
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('actionsForm:creer').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('actionsForm:detail').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('actionsForm:modifier').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('actionsForm:supprimer').click();" icon="ui-icon-trash"/>
                <p:separator/>
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{comptabiliteCtrl.comptabilites}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{comptabiliteCtrl.selectedComptabilite}">



                <p:ajax event="rowSelect"   update=":ComptabiliteListForm:ComptabiliteDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowUnselect" update=":ComptabiliteListForm:ComptabiliteDataTableContextMenu, :actionsForm"/>
                <p:ajax event="contextMenu" update=":ComptabiliteListForm:ComptabiliteDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('ComptabiliteListForm:viewButton').click();"/>

                <p:column sortBy="#{item.etudiant.id}" filterBy="#{item.etudiant.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListComptabiliteTitle_etudiant}"/>
                    </f:facet>
                    <h:outputText value="#{item.etudiant.nom}"/>
                </p:column>

                <p:column sortBy="#{item.montant}" filterBy="#{item.montant}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListComptabiliteTitle_montant}"/>
                    </f:facet>
                    <h:outputText value="#{item.montant}"/>
                </p:column>


                <p:column sortBy="#{item.montanttotal}" filterBy="#{item.montanttotal}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListComptabiliteTitle_montanttotal}"/>
                    </f:facet>
                    <h:outputText value="#{item.montanttotal}"/>
                </p:column>


                <p:column sortBy="#{item.dates}" filterBy="#{item.dates}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListComptabiliteTitle_dates}"/>
                    </f:facet>
                    <h:outputText value="#{item.dates}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.etat}" filterBy="#{item.etat}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListComptabiliteTitle_etat}"/>
                    </f:facet>
                    <h:selectBooleanCheckbox id="etat" value="#{item.etat}" title="#{myBundle.EditComptabiliteTitle_etat}" required="true" requiredMessage="#{myBundle.EditComptabiliteRequiredMessage_etat}" disabled="true"/>
                </p:column>



                <p:column sortBy="#{item.mois.id}" filterBy="#{item.mois.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListComptabiliteTitle_mois}"/>
                    </f:facet>
                    <h:outputText value="#{item.mois.nom}"/>
                </p:column>


            </p:dataTable>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>