<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="ComptabiliteListForm1">
        <p:messages id="growl" closable="true">
            <p:effect type="pulsate" event="load" delay="50"  />
        </p:messages>

        <p:panel header="#{myBundle.ListComptabiliteTitle}">
           
            <p:dataTable id="datalist1"
                         value="#{comptabiliteCtrl.comptabilites}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{comptabiliteCtrl.selectedComptabilite}">



                <p:ajax event="rowSelect"   update=":ComptabiliteListForm1, :actionsForm"/>
                <p:ajax event="rowUnselect" update=":ComptabiliteListForm1, :actionsForm"/>
                <p:ajax event="contextMenu" update=":ComptabiliteListForm1, :actionsForm"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('ComptabiliteListForm1:viewButton').click();"/>

                <p:column sortBy="#{item.etudiant.id}" filterBy="#{item.etudiant.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListComptabiliteTitle_etudiant}"/>
                    </f:facet>
                    <h:outputText value="#{item.etudiant.nom}"/>
                </p:column>

             

                <p:column sortBy="#{item.montanttotal}" filterBy="#{item.montanttotal}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListComptabiliteTitle_montanttotal}"/>
                    </f:facet>
                    <h:outputText value="#{item.montanttotal}"/>
                </p:column>


                 //nombre de mois solder

                <p:column sortBy="#{item.mois.id}" filterBy="#{item.mois.id}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListComptabiliteTitle_mois}"/>
                    </f:facet>
                    <h:outputText value="#{item.mois.nom}"/>
                </p:column>


            </p:dataTable>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>