<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ComptabiliteViewDlg" widgetVar="ComptabiliteViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewComptabiliteTitle}" closeOnEscape="true">

            <h:form id="ComptabiliteViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <h:outputText value="#{myBundle.ViewComptabiliteLabel_montant}"/>
                        <h:outputText value="#{comptabiliteCtrl.selectedComptabilite.montant}" title="#{myBundle.ViewComptabiliteTitle_montant}"/>

                        <h:outputText value="#{myBundle.ViewComptabiliteLabel_montanttotal}"/>
                        <h:outputText value="#{comptabiliteCtrl.selectedComptabilite.montanttotal}" title="#{myBundle.ViewComptabiliteTitle_montanttotal}"/>

                        <h:outputText value="#{myBundle.ViewComptabiliteLabel_dates}"/>
                        <h:outputText value="#{comptabiliteCtrl.selectedComptabilite.dates}" title="#{myBundle.ViewComptabiliteTitle_dates}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewComptabiliteLabel_etat}"/>
                        <p:selectBooleanCheckbox id="etat" value="#{comptabiliteCtrl.selectedComptabilite.etat}" title="#{myBundle.EditComptabiliteTitle_etat}" required="true" requiredMessage="#{myBundle.EditComptabiliteRequiredMessage_etat}"/>

                        <h:outputText value="#{myBundle.ViewComptabiliteLabel_etudiant}"/>
                        <h:outputText value="#{comptabiliteCtrl.selectedComptabilite.etudiant.nom}"/>

                        <h:outputText value="#{myBundle.ViewComptabiliteLabel_mois}"/>
                        <h:outputText value="#{comptabiliteCtrl.selectedComptabilite.mois.nom}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('ComptabiliteViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
