<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UeCreateDlg" widgetVar="UeCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateUeTitle}" closeOnEscape="true">

            <h:form id="UeCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        
                        <p:outputLabel value="#{myBundle.CreateUeLabel_libelleUe}" for="libelleUe" />
                        <p:inputText id="libelleUe" value="#{ueCtl.ue.libelleUe}" title="#{myBundle.CreateUeTitle_libelleUe}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateUeLabel_credit}" for="credit" />
                        <p:inputText id="credit" value="#{ueCtl.ue.credit}" title="#{myBundle.CreateUeTitle_credit}"/>

                        <p:outputLabel value="Semestre" for="codesemestre" />
                        <p:selectOneMenu id="codesemestre" value="#{ueCtl.ue.semestre}" required="true" requiredMessage="#{myBundle.CreateUeRequiredMessage_codesemestre}" converter="semestreConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{semestreCtl.semestres}"
                                           var="codesemestreItem"
                                           itemValue="#{codesemestreItem}"
                                           itemLabel="#{codesemestreItem.libelleSemestre.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{ueCtl.enregistrerUe()}" value="#{myBundle.Save}"
                                     update="display,:UeListForm:datalist,UeListForm:growl" 
                                     oncomplete="handleSubmit(xhr,status,args,PF('UeCreateDialog'));">
                        
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('UeCreateDialog').hide()"/>
                    
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
