<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="actionsForm1">
        <p:fieldset legend="Filtre Pour Impression" toggleable="true" toggleSpeed="300">
            <div class="footer-section">
                
                <p:outputLabel value="Classe" for="classe" />
                <p:selectOneMenu id="classe" value="#{ueCtl.selectedClasse}"
                                 required="true"
                                 requiredMessage="Veuillez selectionner la classe pour filtrer les maquettes correspondantes!!" 
                                 converter="classeConverter">
                    <f:selectItem itemValue="" itemLabel="" />
                    <f:selectItems value="#{ueCtl.classes}"
                                   var="classeItem"
                                   itemValue="#{classeItem}"
                                   itemLabel="#{classeItem.lbelleClasse}"
                                   />

                    <p:ajax listener="#{ueCtl.listeMaquetteClasse()}" update="maquette"/>
                </p:selectOneMenu> 
                
                 <p:outputLabel value="Maquette" for="maquette" />
                 <p:selectOneMenu id="maquette" value="#{ueCtl.selectedMaquette}"
                                 required="true"
                                 requiredMessage="#{myBundle.CreateUesRequiredMessage_maquette}" 
                                 converter="maquetteConverter">
                    <f:selectItem itemValue="" itemLabel="" />
                    <f:selectItems value="#{ueCtl.maquettes}"
                                   var="etablissementItem"
                                   itemValue="#{etablissementItem}"
                                   itemLabel="#{etablissementItem.codemaquette}"
                                   />

                    <p:ajax listener="#{ueCtl.listeSemestresMaquette()}" update="semestre"/>
                </p:selectOneMenu> 
                
                
                <p:outputLabel value="Semestre" for="semestre" />
                 <p:selectOneMenu id="semestre" value="#{ueCtl.selectedSemestre}"
                                 required="true"
                                 requiredMessage="vous devez choisir le semestre pour filtrer les unites d'enseignement" 
                                 converter="semestreConverter">
                    <f:selectItem itemValue="" itemLabel="" />
                    <f:selectItems value="#{ueCtl.semestres}"
                                   var="etablissementItem"
                                   itemValue="#{etablissementItem}"
                                   itemLabel="#{etablissementItem.libelleSemestre}"
                                   />

                    <p:ajax listener="#{ueCtl.listeUesSemestre()}" update="UeListForm"/>
                </p:selectOneMenu> 


                <p:commandButton id="imprimer" icon="ui-icon-print"  
                                 value="Imprimer" actionListener="#{ueCtl.imprimerUeHtml()}"
                                 update=":UeListForm:growl" disabled="#{ueCtl.imprimer}" 
                                 oncomplete="PF('UeImprimerDialog').show()"/>

            </div>
        </p:fieldset>
    </h:form>
</ui:composition>
