<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="UeListForm">
        
         <p:messages id="growl" closable="true">
            <p:effect type="pulsate" event="load" delay="50" />
        </p:messages>

        <p:panel header="#{myBundle.ListUeTitle}">
            <p:contextMenu id="UeDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('UeListForm:creer').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('UeListForm:details').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('UeListForm:modifier').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('UeListForm:supprimer').click();" icon="ui-icon-trash"/>
                <p:separator/>
                
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{ueCtl.ues}"
                         lazy="false"
                         rowKey="#{item.codeue}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{ueCtl.selectUe}"
                        >
                

                <p:ajax event="rowSelect"   update=":UeListForm:UeDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowUnselect" update=":UeListForm:UeDataTableContextMenu, :actionsForm"/>
                <p:ajax event="contextMenu" update=":UeListForm:UeDataTableContextMenu, :actionsForm"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('UeListForm:viewButton').click();"/>
                

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUeTitle_codeue}"/>
                    </f:facet>
                    <h:outputText value="#{item.codeue}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUeTitle_libelleUe}"/>
                    </f:facet>
                    <h:outputText value="#{item.libelleUe}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUeTitle_credit}"/>
                    </f:facet>
                    <h:outputText value="#{item.credit}"/>
                </p:column>


                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Semestre"/>
                    </f:facet>
                    <h:outputText value="#{item.semestre.libelleSemestre}"/>
                </p:column>


            </p:dataTable>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>