<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UeViewDlg" widgetVar="UeViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewUeTitle}" closeOnEscape="true">

            <h:form id="UeViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <h:outputText value="#{myBundle.ViewUeLabel_codeue}"/>
                        <h:outputText value="#{ueCtl.selectUe.codeue}" title="#{myBundle.ViewUeTitle_codeue}"/>

                        <h:outputText value="#{myBundle.ViewUeLabel_libelleUe}"/>
                        <h:outputText value="#{ueCtl.selectUe.libelleUe}" title="#{myBundle.ViewUeTitle_libelleUe}"/>

                        <h:outputText value="#{myBundle.ViewUeLabel_credit}"/>
                        <h:outputText value="#{ueCtl.selectUe.credit}" title="#{myBundle.ViewUeTitle_credit}"/>

                        <h:outputText value="#{myBundle.ViewUeLabel_codesemestre}"/>
                        <h:outputText value="#{ueCtl.selectUe.semestre.libelleSemestre}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('UeViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
