<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SemestreCreateDlg" widgetVar="SemestreCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateSemestreTitle}" closeOnEscape="true">

            <h:form id="SemestreCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        
                        <p:outputLabel value="#{myBundle.CreateSemestreLabel_libelleSemestre}" for="libelleSemestre" />
                        <p:inputText id="libelleSemestre" value="#{semestreCtl.semestre.libelleSemestre}" title="#{myBundle.CreateSemestreTitle_libelleSemestre}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateSemestreLabel_dateDebut}" for="dateDebut" />
                        <p:calendar id="dateDebut" pattern="MM/dd/yyyy" value="#{semestreCtl.semestre.dateDebut}" title="#{myBundle.CreateSemestreTitle_dateDebut}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateSemestreLabel_dateFin}" for="dateFin" />
                        <p:calendar id="dateFin" pattern="MM/dd/yyyy" value="#{semestreCtl.semestre.dateFin}" title="#{myBundle.CreateSemestreTitle_dateFin}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateSemestreLabel_codemaquette}" for="codemaquette" />
                        <p:selectOneMenu id="codemaquette" value="#{semestreCtl.semestre.maquette}" required="true" requiredMessage="#{myBundle.CreateSemestreRequiredMessage_codemaquette}" converter="maquetteConverter">
                            <f:selectItems value="#{maquetteCtl.maquettes}"
                                           var="codemaquetteItem"
                                           itemValue="#{codemaquetteItem}"
                                           itemLabel="#{codemaquetteItem.classe.lbelleClasse}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{semestreCtl.enregistrerSemestre()}" value="#{myBundle.Save}" 
                                     update="display,:SemestreListForm:datalist,:SemestreListForm:growl" 
                                     oncomplete="handleSubmit(xhr,status,args,PF('SemestreCreateDialog'));">
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('SemestreCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
