<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="SemestreEditDlg" widgetVar="SemestreEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditSemestreTitle}" closeOnEscape="true">

            <h:form id="SemestreEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column">


                        
                        <p:outputLabel value="#{myBundle.EditSemestreLabel_libelleSemestre}" for="libelleSemestre" />
                        <p:inputText id="libelleSemestre" value="#{semestreCtl.selectedSemestre.libelleSemestre}" title="#{myBundle.EditSemestreTitle_libelleSemestre}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditSemestreLabel_dateDebut}" for="dateDebut" />
                        <p:calendar id="dateDebut" pattern="MM/dd/yyyy" value="#{semestreCtl.selectedSemestre.dateDebut}" title="#{myBundle.EditSemestreTitle_dateDebut}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditSemestreLabel_dateFin}" for="dateFin" />
                        <p:calendar id="dateFin" pattern="MM/dd/yyyy" value="#{semestreCtl.selectedSemestre.dateFin}" title="#{myBundle.EditSemestreTitle_dateFin}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditSemestreLabel_codemaquette}" for="codemaquette" />
                        <p:selectOneMenu id="codemaquette" value="#{semestreCtl.selectedSemestre.maquette}" required="true" requiredMessage="#{myBundle.EditSemestreRequiredMessage_codemaquette}" converter="maquetteConverter">
                            <f:selectItems value="#{maquetteCtl.maquettes}"
                                           var="codemaquetteItem"
                                           itemValue="#{codemaquetteItem}"
                                           itemLabel="#{codemaquetteItem.classe.lbelleClasse.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{semestreCtl.modifierSemestre()}" 
                                     value="#{myBundle.Save}" update="display,:SemestreListForm:datalist,
                                     :SemestreListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('SemestreEditDialog'));">
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('SemestreEditDialog').hide()" />
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
