<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SemestreViewDlg" widgetVar="SemestreViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewSemestreTitle}" closeOnEscape="true">

            <h:form id="SemestreViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <h:outputText value="#{myBundle.ViewSemestreLabel_codesemestre}"/>
                        <h:outputText value="#{semestreCtl.selectedSemestre.codesemestre}" title="#{myBundle.ViewSemestreTitle_codesemestre}"/>

                        <h:outputText value="#{myBundle.ViewSemestreLabel_libelleSemestre}"/>
                        <h:outputText value="#{semestreCtl.selectedSemestre.libelleSemestre}" title="#{myBundle.ViewSemestreTitle_libelleSemestre}"/>

                        <h:outputText value="#{myBundle.ViewSemestreLabel_dateDebut}"/>
                        <h:outputText value="#{semestreCtl.selectedSemestre.dateDebut}" title="#{myBundle.ViewSemestreTitle_dateDebut}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewSemestreLabel_dateFin}"/>
                        <h:outputText value="#{semestreCtl.selectedSemestre.dateFin}" title="#{myBundle.ViewSemestreTitle_dateFin}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="Maquete"/>
                        <h:outputText value="#{semestreCtl.selectedSemestre.maquette.classe.lbelleClasse}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('SemestreViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
