<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templatemodel/templateParametrage.xhtml">

    <ui:define name="title">
        <h:outputText value="#{myBundle.EmploidetempsTitle}"/>
    </ui:define>

    <ui:define name="content">
        <h1> Emploi de Temps</h1>  <p:separator/>

        <h:form id="CalendrierCreateForm">

            <p:growl id="messages" showDetail="true" />

            <h:panelGrid columnClasses="value">
                <h3 style="margin-top: 0"> ici la classe</h3>
                <p:schedule id="schedule" value="#{gestionEmploiTpsCrtl.eventModel}" 
                            widgetVar="myschedule" timeZone="GMT+1" resizable="false" draggable="false" >

                    <p:ajax event="dateSelect" listener="#{gestionEmploiTpsCrtl.onDateSelect}" update="eventDetails" oncomplete="PF('eventDialog').show();" />
                    <p:ajax event="eventSelect" listener="#{gestionEmploiTpsCrtl.onEventSelect}" update=":formEditEvent:eventEditDetails" oncomplete="PF('eventEditDialog').show();" />
                </p:schedule>

                <!--                    <h3>Locale Support ( Example: Turkish )</h3>
                                    <p:schedule id="scheduleLocale" value="#{gestionEmploiTpsCrtl.eventModel}" locale="tr" />
                
                                    <h3>Lazy Schedule</h3>
                                    <p:schedule value="#{gestionEmploiTpsCrtl.lazyEventModel}" />-->
            </h:panelGrid>

            <p:dialog widgetVar="eventDialog" header="Event Details" showEffect="clip" hideEffect="clip">
                <p:panelGrid id="eventDetails" columns="2">
                    <p:outputLabel value="Enseignants:" for="enseignants" />
                    <p:selectOneMenu id="enseignants" converter="enseignantsConverter"
                                     value="#{gestionEmploiTpsCrtl.seancecours.enseignant}" 
                                     required="true" >
                        <!-- TODO: update below reference to list of available items-->
                        <f:selectItem itemLabel="" itemValue="" />
                        <f:selectItems value="#{gestionEmploiTpsCrtl.enseignants}" var="ens"
                                       itemLabel="#{ens.premon} #{ens.nom}"/>
                    </p:selectOneMenu>

                    <p:outputLabel for="from" value="From:" />
                    <p:calendar id="from" value="#{gestionEmploiTpsCrtl.seancecours.jour}"
                                timeZone="GMT+1" pattern="dd/MM/yyyy HH:mm"/>

                    <p:outputLabel value="Durée (minutes):" for="duree" />
                    <p:inputText value="#{gestionEmploiTpsCrtl.seancecours.duree}" id="duree" >
                        <f:convertNumber />
                    </p:inputText>

                    <p:outputLabel value="Matiersmodule:" for="matiersmodule" />
                    <p:selectOneMenu id="matiersmodule" converter="matiersmoduleConverter"
                                     value="#{gestionEmploiTpsCrtl.seancecours.matiere}" 
                                     required="true" >
                        <!-- TODO: update below reference to list of available items-->
                        <f:selectItem itemLabel="" itemValue="" />
                        <f:selectItems value="#{gestionEmploiTpsCrtl.matiersmodules}" var="mm"
                                       itemLabel="#{mm.nommatiere}"/>
                    </p:selectOneMenu>

                    <p:outputLabel value="Salles:" for="salles" />
                    <p:selectOneMenu id="salles" converter="sallesConverter"
                                     value="#{gestionEmploiTpsCrtl.seancecours.salle}" 
                                     required="true">
                        <!-- TODO: update below reference to list of available items-->
                        <f:selectItem itemLabel="" itemValue="" />
                        <f:selectItems value="#{gestionEmploiTpsCrtl.salles}" var="it"
                                       itemLabel="#{it.nomsalle}"/>
                    </p:selectOneMenu>

                    <p:outputLabel value="Nombre de séances:" for="nbreSeances" />
                    <p:inputText id="nbreSeances" value="#{gestionEmploiTpsCrtl.nombreSeances}" required="true">
                        <f:convertNumber />
                    </p:inputText>

                    <p:commandButton type="reset" value="Reset" />
                    <p:commandButton id="addButton" value="Save"
                                     actionListener="#{gestionEmploiTpsCrtl.addSeanceCours()}"
                                     oncomplete="PF('myschedule').update();PF('eventDialog').hide();" />
                </p:panelGrid>
            </p:dialog>    

        </h:form>

        <p:dialog widgetVar="eventEditDialog" header="Event Details" showEffect="fade" hideEffect="fade">
            <f:view>
                <h:form id="formEditEvent">
                    <p:panelGrid id="eventEditDetails" columns="2">
                        <p:outputLabel value="Enseignants:" for="enseignantsEdit" />
                        <p:selectOneMenu id="enseignantsEdit" converter="enseignantsConverter"
                                         value="#{gestionEmploiTpsCrtl.selectedSeance.enseignant}" 
                                         required="true" >
                            <!-- TODO: update below reference to list of available items-->
                            <f:selectItem itemLabel="" itemValue="" />
                            <f:selectItems value="#{gestionEmploiTpsCrtl.enseignants}" var="ens"
                                           itemLabel="#{ens.premon} #{ens.nom}"/>
                        </p:selectOneMenu>

                        <p:outputLabel for="fromEdit" value="From:" />
                        <p:calendar id="fromEdit" value="#{gestionEmploiTpsCrtl.selectedSeance.jour}"
                                    timeZone="GMT+1" pattern="dd/MM/yyyy HH:mm"/>

                        <p:outputLabel value="Durée (minutes):" for="dureeEdit" />
                        <p:inputText value="#{gestionEmploiTpsCrtl.selectedSeance.duree}" id="dureeEdit" >
                            <f:convertNumber />
                        </p:inputText>

                        <p:outputLabel value="Matiersmodule:" for="matiersmoduleEdit" />
                        <p:selectOneMenu id="matiersmoduleEdit" converter="matiersmoduleConverter"
                                         value="#{gestionEmploiTpsCrtl.selectedSeance.matiere}" 
                                         required="true" >
                            <!-- TODO: update below reference to list of available items-->
                            <f:selectItem itemLabel="" itemValue="" />
                            <f:selectItems value="#{gestionEmploiTpsCrtl.matiersmodules}" var="mm"
                                           itemLabel="#{mm.nommatiere}"/>
                        </p:selectOneMenu>

                        <p:outputLabel value="Salles:" for="sallesEdit" />
                        <p:selectOneMenu id="sallesEdit" converter="sallesConverter"
                                         value="#{gestionEmploiTpsCrtl.selectedSeance.salle}" 
                                         required="true">
                            <!-- TODO: update below reference to list of available items-->
                            <f:selectItem itemLabel="" itemValue="" />
                            <f:selectItems value="#{gestionEmploiTpsCrtl.salles}" var="it"
                                           itemLabel="#{it.nomsalle}"/>
                        </p:selectOneMenu>

                        <p:commandButton type="reset" value="Reset" />
                        <p:commandButton id="addButtonEdit" value="Save"
                                         actionListener="#{gestionEmploiTpsCrtl.editSeanceCours()}"
                                         oncomplete="PF('myschedule').update();PF('eventEditDialog').hide();" />
                    </p:panelGrid>
                </h:form>
            </f:view>
        </p:dialog>    


        <style type="text/css">
            .value {
                width: 1000px;
            }
        </style>

        <ui:include src="/WEB-INF/include/entity/emploidetemps/Action.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/emploidetemps/List.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/emploidetemps/View.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/emploidetemps/Edit.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/emploidetemps/Create.xhtml"/>

    </ui:define>

</ui:composition>