<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DepartementCreateDlg" widgetVar="DepartementCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateDepartementTitle}" closeOnEscape="true">

            <h:form id="DepartementCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateDepartementLabel_nomdepat}" for="nomdepat" />
                        <p:inputText id="nomdepat" value="#{departementCtrl.departement.nomdepat}" title="#{myBundle.CreateDepartementTitle_nomdepat}" required="true" requiredMessage="#{myBundle.CreateDepartementRequiredMessage_nomdepat}"/>

                        <p:outputLabel value="#{myBundle.CreateDepartementLabel_description}" for="description" />
                        <p:inputText id="description" value="#{departementCtrl.departement.description}" title="#{myBundle.CreateDepartementTitle_description}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.CreateDepartementLabel_etat}" for="etat" />
                        <p:selectBooleanCheckbox id="etat" value="#{departementCtrl.departement.etat}" required="true" requiredMessage="#{myBundle.CreateDepartementRequiredMessage_etat}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{departementCtrl.enregistrerDepartement()}" value="#{myBundle.Save}" update="display,:DepartementListForm:datalist,:DepartementListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('DepartementCreateDialog'));">
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('DepartementCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
