<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="DepartementEditDlg" widgetVar="DepartementEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditDepartementTitle}" closeOnEscape="true">

            <h:form id="DepartementEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.EditDepartementLabel_nomdepat}" for="nomdepat" />
                        <p:inputText id="nomdepat" value="#{departementCtrl.selectedDepartement.nomdepat}" title="#{myBundle.EditDepartementTitle_nomdepat}" required="true" requiredMessage="#{myBundle.EditDepartementRequiredMessage_nomdepat}"/>

                        <p:outputLabel value="#{myBundle.EditDepartementLabel_description}" for="description" />
                        <p:inputText id="description" value="#{departementCtrl.selectedDepartement.description}" title="#{myBundle.EditDepartementTitle_description}" size="30" maxlength="254"/>

                        <p:outputLabel value="#{myBundle.EditDepartementLabel_etat}" for="etat" />
                        <p:selectBooleanCheckbox id="etat" value="#{departementCtrl.selectedDepartement.etat}" required="true" requiredMessage="#{myBundle.EditDepartementRequiredMessage_etat}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{departementCtrl.modifier()}" value="#{myBundle.Save}" update="display,:DepartementListForm:growl" oncomplete="handleSubmit(xhr,status,args,PF('DepartementEditDialog'));">
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" onclick="PF('DepartementEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
