<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DepartementViewDlg" widgetVar="DepartementViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewDepartementTitle}" closeOnEscape="true">

            <h:form id="DepartementViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column">

                        <h:outputText value="#{myBundle.ViewDepartementLabel_nomdepat}"/>
                        <h:outputText value="#{departementCtrl.selectedDepartement.nomdepat}" title="#{myBundle.ViewDepartementTitle_nomdepat}"/>

                        <h:outputText value="#{myBundle.ViewDepartementLabel_description}"/>
                        <h:outputText value="#{departementCtrl.selectedDepartement.description}" title="#{myBundle.ViewDepartementTitle_description}"/>

                        <h:outputText value="#{myBundle.ViewDepartementLabel_etat}"/>
                        <p:selectBooleanCheckbox id="etat" value="#{departementCtrl.selectedDepartement.etat}" title="#{myBundle.EditDepartementTitle_etat}" required="true" requiredMessage="#{myBundle.EditDepartementRequiredMessage_etat}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('DepartementViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
