<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EnseignantViewDlg" widgetVar="EnseignantViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewEnseignantTitle}" closeOnEscape="true">

            <h:form id="EnseignantViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" >

                        <h:outputText value="#{myBundle.ViewEnseignantLabel_codeutilisateur}"/>
                        <h:outputText value="#{enseignantCtl.selectedEnseignant.codeutilisateur}" title="#{myBundle.ViewEnseignantTitle_codeutilisateur}"/>

                        <h:outputText value="#{myBundle.ViewEnseignantLabel_grade}"/>
                        <h:outputText value="#{enseignantCtl.selectedEnseignant.grade}" title="#{myBundle.ViewEnseignantTitle_grade}"/>

                        <h:outputText value="#{myBundle.ViewEnseignantLabel_status}"/>
                        <h:outputText value="#{enseignantCtl.selectedEnseignant.status}" title="#{myBundle.ViewEnseignantTitle_status}"/>
                        
                        <h:outputText value="#{myBundle.ViewUtilisateurLabel_nom}"/>
                        <h:outputText value="#{enseignantCtl.selectedEnseignant.utilisateur.nom}" title="#{myBundle.ViewUtilisateurTitle_nom}"/>

                         <h:outputText value="#{myBundle.ViewUtilisateurLabel_prenom}"/>
                        <h:outputText value="#{enseignantCtl.selectedEnseignant.utilisateur.prenom}" title="#{myBundle.ViewUtilisateurTitle_prenom}"/>

                        <h:outputText value="#{myBundle.ViewUtilisateurLabel_datedenaissance}"/>
                        <h:outputText value="#{enseignantCtl.selectedEnseignant.utilisateur.datedenaissance}" title="#{myBundle.ViewUtilisateurTitle_datedenaissance}"/>

                        <h:outputText value="#{myBundle.ViewUtilisateurLabel_situationMatrimonial}"/>
                        <h:outputText value="#{enseignantCtl.selectedEnseignant.utilisateur.situationMatrimonial}" title="#{myBundle.ViewUtilisateurTitle_situationMatrimonial}"/>

                        <h:outputText value="#{myBundle.ViewUtilisateurLabel_telephone}"/>
                        <h:outputText value="#{enseignantCtl.selectedEnseignant.utilisateur.telephone}" title="#{myBundle.ViewUtilisateurTitle_telephone}"/>

                        <h:outputText value="#{myBundle.ViewUtilisateurLabel_adresse}"/>
                        <h:outputText value="#{enseignantCtl.selectedEnseignant.utilisateur.adresse}" title="#{myBundle.ViewUtilisateurTitle_adresse}"/>

                        <h:outputText value="#{myBundle.ViewUtilisateurLabel_ville}"/>
                        <h:outputText value="#{enseignantCtl.selectedEnseignant.utilisateur.ville}" title="#{myBundle.ViewUtilisateurTitle_ville}"/>

                         <h:outputText value="#{myBundle.ViewUtilisateurLabel_pays}"/>
                        <h:outputText value="#{enseignantCtl.selectedEnseignant.utilisateur.pays}" title="#{myBundle.ViewUtilisateurTitle_pays}"/>

                         <h:outputText value="#{myBundle.ViewUtilisateurLabel_email}"/>
                         <h:outputText value="#{enseignantCtl.selectedEnseignant.utilisateur.email}" title="#{myBundle.ViewUtilisateurTitle_email}"/>

                         <h:outputText value="#{myBundle.ViewUtilisateurLabel_boitePostale}"/>
                        <h:outputText value="#{enseignantCtl.selectedEnseignant.utilisateur.boitePostale}" title="#{myBundle.ViewUtilisateurTitle_boitePostale}"/>

                         <h:outputText value="#{myBundle.ViewUtilisateurLabel_cin}"/>
                        <h:outputText value="#{enseignantCtl.selectedEnseignant.utilisateur.cin}" title="#{myBundle.ViewUtilisateurTitle_cin}"/>

                        <h:outputText value="#{myBundle.ViewUtilisateurLabel_login}"/>
                        <h:outputText value="#{enseignantCtl.selectedEnseignant.utilisateur.login}" title="#{myBundle.ViewUtilisateurTitle_login}"/>

                        <h:outputText value="#{myBundle.ViewUtilisateurLabel_password}"/>
                        <h:outputText value="#{enseignantCtl.selectedEnseignant.utilisateur.password}" title="#{myBundle.ViewUtilisateurTitle_password}"/>

                        <h:outputText value="#{myBundle.ViewEnseignantLabel_enseignantResponsable}"/>
                        <h:outputText value="#{enseignantCtl.selectedEnseignant.enseignantResponsable.codeutilisateur}"/>

                        <h:outputText value="#{myBundle.ViewEnseignantLabel_utilisateur}"/>
                        <h:outputText value="#{enseignantCtl.selectedEnseignant.utilisateur.codeutilisateur}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('EnseignantViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
