<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="../WEB-INF/template.xhtml">

   
    <ui:define name="title">Paramétrage </ui:define>
     
    <ui:define name="content">
         <h2> page de Paramétrage</h2>
    </ui:define>

</ui:composition>
